<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"><%= t('.col_date') %></th>
      <th class="govuk-table__header" scope="col"><%= t('.col_description') %></th>
      <th class="govuk-table__header" scope="col"><%= t('.col_amount') %></th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% bank_transactions.each do |bank_transaction| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= l(bank_transaction.happened_at.to_date, format: :short_date) %>
        </td>
        <td class="govuk-table__cell">
          <%= bank_transaction.description %>
        </td>
        <td class="govuk-table__cell">
          <%= value_with_currency_unit(bank_transaction.amount, bank_transaction.currency) %>
        </td>
        <td class="govuk-table__cell">
          <%= button_to_accessible(
                remove_transaction_type_providers_legal_aid_application_bank_transaction_path(@legal_aid_application, bank_transaction),
                method: :patch,
                class: 'button-as-link',
                form_class: 'remote-remove-transaction',
                remote: true
              ) do %>
                <%= t('.remove_link') %><span class="govuk-visually-hidden"> <%= bank_transaction.description %> <%= value_with_currency_unit(bank_transaction.amount, bank_transaction.currency) %></span>
              <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
