<% if @errors %>
  <%= page_template do %>
    <div class="govuk-error-summary" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title"><%= error_description %></h2>
    </div>
  <% end %>
<% else %>
  <div id="status" class="govuk-visually-hidden" role="status" data-status="<%= t('.status_message') %>"><%= t('.status_message') %></div>
  <div class="worker-waiter" data-worker-id="<%= session[:worker_id] %>" align="center">
    <%= image_tag('loading.gif',  alt: t('.page_loading')) %>
    <p class="govuk-body-l"><%= t '.retrieving_transactions' %></p>
  </div>
<% end %>
