<%= page_template page_title: t('.your_accounts') do %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% @applicant_banks.each do |applicant_bank| %>

      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row normal-word-break">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            <%= t '.account_holder_name_heading' %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= applicant_bank.main_account_holder_name %>
          </dd>
        </div>
        <div class="govuk-summary-list__row normal-word-break">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            <%= t '.account_holder_address_heading' %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= applicant_bank.main_account_holder_address %>
          </dd>
        </div>
      </dl>

      <table class="govuk-table">
         <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><%= t '.type_heading' %></th>
            <th class="govuk-table__header" scope="col"><%= t '.account_number_heading' %></th>
            <th class="govuk-table__header" scope="col"><%= t '.sort_code_heading' %></th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col"><%= t '.balance_heading' %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% applicant_bank.bank_accounts.each do |bank_account| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= bank_account.bank_and_account_name %></td>
              <td class="govuk-table__cell"><%= bank_account.account_number %></td>
              <td class="govuk-table__cell"><%= bank_account.sort_code %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= value_with_currency_unit(bank_account.balance, bank_account.currency) %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    <% end %>

    <p><%= link_to_accessible t('.link_other_account'), citizens_banks_path, class: 'govuk-link' %></p>

    <div class="govuk-!-padding-top-3">
      <%= next_action_link(continue_text: t('generic.continue')) %>
    </div>
  </div>
</div>
