<%= page_template page_title: t(".your_accounts") do %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% @applicant_banks.each do |applicant_bank| %>
      <%= govuk_summary_list(actions: false, classes: "govuk-!-padding-bottom-6") do |summary_list| %>
        <%= summary_list.with_row do |row| %>
          <%= row.with_key { t(".account_holder_name_heading") } %>
          <%= row.with_value { applicant_bank.main_account_holder_name } %>
        <% end %>
        <%= summary_list.with_row do |row| %>
          <%= row.with_key { t(".account_holder_address_heading") } %>
          <%= row.with_value { applicant_bank.main_account_holder_address } %>
        <% end %>
      <% end %>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden"><%= t(".table_caption") %></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><%= t ".type_heading" %></th>
            <th class="govuk-table__header" scope="col"><%= t ".account_number_heading" %></th>
            <th class="govuk-table__header" scope="col"><%= t ".sort_code_heading" %></th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col"><%= t ".balance_heading" %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% applicant_bank.bank_accounts.each do |bank_account| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= bank_account.bank_and_account_name %></td>
              <td class="govuk-table__cell"><%= bank_account.account_number %></td>
              <td class="govuk-table__cell"><%= bank_account.sort_code %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= value_with_currency_unit(bank_account.balance, bank_account.currency) %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    <% end %>

    <p><%= link_to_accessible t(".link_other_account"), citizens_banks_path, class: "govuk-link" %></p>

    <div class="govuk-!-padding-top-3">
      <%= next_action_link(continue_text: t("generic.continue")) %>
    </div>
  </div>
</div>
