<%= page_template(page_title: t(".h1-heading"), head_title: t(".h1-heading"), template: :basic, column_width: "full") do %>
  <%= interruption_card(heading: t(".h1-heading"), actions: -> { render "actions" }) do %>
    <p><%= t(".paragraph-1") %></p>
    <p><%= t(".paragraph-2") %></p>
    <p><%= t(".actions_text") %></p>

    <%= govuk_list(
          t(".actions_list_html",
            ccms_url: Rails.configuration.x.laa_landing_page_target_url,
            support_url: Rails.configuration.x.online_support),
          type: :bullet,
        ) %>
  <% end %>
<% end %>
