<% content_for :navigation do %>
  <%= link_to 'Back', new_providers_legal_aid_application_applicant_path, class: 'govuk-back-link' %>
<% end %>
<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What is your client's email address?
      </h1>
    </legend>

    <%= form_for(@form, url: providers_legal_aid_application_applicant_path(@legal_aid_application), method: 'put') do |form| %>

      <div class="govuk-!-padding-bottom-6"></div>

      <p class="govuk-body">
        Enter an email address where your client can receive a secure link to complete the online financial assessment.
      </p>

      <div class="govuk-!-padding-bottom-2"></div>

      <%= render partial: 'shared/forms/text_fields', locals: { field_name: :email_address, class: 'govuk-!-width-three-quarters', form: form }%>

      <%= form.submit "Continue", id: 'continue', class: "govuk-button" %>
    <% end %>
  </div>
</div>
