<% back_label = @legal_aid_application.checking_answers? ? 'generic.back' : 'generic.home' %>
<%= page_template(
      page_title: t('.page_title'),
      back_link: { text: t(back_label) },
      template: :form
    ) do %>

  <%= form_with(
        model: @form,
        url: providers_legal_aid_application_applicant_path,
        method: :patch,
        local: true
      ) do |form| %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= form.govuk_text_field :first_name, class: 'govuk-!-width-one-half' %>
    <%= form.govuk_text_field :last_name, class: 'govuk-!-width-one-half' %>

    <div class="govuk-!-padding-bottom-4"></div>

    <%= render partial: 'shared/forms/date_input_fields', locals: { prefix: :dob, field_name: :date_of_birth, form: form } %>

    <div class="govuk-!-padding-bottom-6"></div>

    <%= form.govuk_text_field :national_insurance_number, class: 'govuk-!-width-one-half' %>
    <%= form.govuk_text_field :email, class: 'govuk-!-width-three-quarters' %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
   </div>
  <% end %>
<% end %>
