<% content_for(:navigation) { provider_back_link } %>
<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<fieldset class="govuk-fieldset">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Enter your client's details
        </h1>
      </legend>
    </div>
  </div>

  <div class="govuk-!-padding-bottom-2"></div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: @form, url: providers_legal_aid_application_applicant_path, method: :patch, local: true) do |form| %>
        <div class="govuk-!-padding-bottom-2"></div>

        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :first_name, form: form, class: 'govuk-!-width-one-half' } %>
        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :last_name, form: form, class: 'govuk-!-width-one-half' } %>

        <div class="govuk-!-padding-bottom-4"></div>

        <%= render partial: 'shared/forms/date_input_fields', locals: { prefix: :dob, field_name: :date_of_birth, form: form } %>

        <div class="govuk-!-padding-bottom-6"></div>

        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :national_insurance_number, form: form, class: 'govuk-!-width-one-half' } %>

        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :email, class: 'govuk-!-width-three-quarters', form: form } %>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= form.submit 'Continue', id: 'continue', class: 'govuk-button govuk-button' %>
          <% end %>
         </div>
       </div>
    </div>
  </div>
</fieldset>
