<%= form_with(
      model: @form,
      url: providers_legal_aid_application_confirm_delegated_functions_date_path,
      method: :patch,
      local: true
    ) do |form| %>

  <%= page_template page_title: t('.heading'), template: :basic, form: form do %>
    <%= govuk_fieldset_header page_title %>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"><%= t(".warning_text") %></span>
        <%= t(".warning_text") %>
      </strong>
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Proceeding</th>
        <th scope="col" class="govuk-table__header">Date</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="proceeding_type_<%= @proceeding.ccms_code %>"><%= @proceeding.meaning %></th>
          <td class="govuk-table__cell" style="min-width: 9em"><%= @proceeding.used_delegated_functions_on.strftime('%-d %B %Y') %></td>
        </tr>
      </tbody>
    </table>

    <%= form.govuk_radio_buttons_fieldset :confirm_delegated_functions_date, legend: { text: t('.radios_heading'), tag: 'h2' } do %>
      <%= form.govuk_radio_button :confirm_delegated_functions_date, true, label: { text: t('generic.yes')}, link_errors: true %>
      <%= form.govuk_radio_button :confirm_delegated_functions_date, false, label: { text: t(".details_incorrect")} %>
    <% end %>

    <div class="govuk-!-padding-bottom-4"></div>
    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
