<%= citizen_page page_title: t('.field_set_header'), template: :form do %>

  <%= form_with(model: @form, scope: :legal_aid_application, url: citizens_consent_path, local: true) do |form| %>
    <%= govuk_form_group(
          input: :open_banking_consent
        ) do %>

      <p class="govuk-body govuk-!-margin-top-3"><%= t('.body') %></p>
      <%= render partial: 'shared/forms/detailed_list', locals: { translation_path: 'citizens.consents.show' } %>
      <%= render partial: 'shared/forms/check_boxes', locals: { field_name: :open_banking_consent, label: t('.open_banking_consent.label.html'), form: form, checked: 'true', unchecked: 'false' } %>
    <% end %>

    <%= govuk_submit_button t('generic.continue') %>

  <% end %>
<% end %>
