<%= form_with(
      model: @form,
      url: citizens_consent_path,
      method: :patch,
      local: true
    ) do |form| %>

    <%= page_template page_title: t('.title_html'), form: form do %>

      <div class="govuk-inset-text">
        <p class="govuk-body govuk-!-padding-bottom-2"><%= t('.inset_text') %></p>
      </div>
      <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text"
            title="<%= t('.summary_heading') %>"
            aria-label="<%= t('.summary_heading') %>">
            <%= t('.summary_heading') %>
          </span>
        </summary>

        <div class="govuk-details__text">
          <p><%= t(".able_to_see.heading") %></p>

          <ul class="govuk-list govuk-list--bullet">
            <% t(".able_to_see.list").each_line do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>

          <p><%= t(".unable_to_see.heading") %></p>

          <ul class="govuk-list govuk-list--bullet">
            <% t(".unable_to_see.list").each_line do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </div>
      </details>

      <%= form.govuk_collection_radio_buttons(
              :open_banking_consent,
              yes_no_options,
              :value,
              :label,
              legend: {
                  text: t('.title_html'),
                  hidden: true
              }
          ) %>

    <%= next_action_buttons(
      form: form,
      continue_button_text: t('generic.continue')
      ) %>
  <% end %>
<% end %>
