<%= page_template page_title: t('.field_set_header') do %>

  <%= form_with(model: @form, scope: :legal_aid_application, url: citizens_consent_path, local: true) do |form| %>
    <%= govuk_form_group(
          input: :open_banking_consent
        ) do %>

      <p class="govuk-body govuk-!-margin-top-3"><%= t('.body') %></p>
      <div class="govuk-checkboxes">
        <%= render partial: 'shared/forms/check_boxes', locals: { field_name: :open_banking_consent, label: t('.open_banking_consent.label.html'), govuk_hint: nil, form: form, checked: 'true', unchecked: 'false' } %>
      </div>
      <div class="govuk-!-padding-top-4"></div>

      <h2 class="govuk-heading-m"><%= t('.what_happens_next_header') %></h2>
      <p class="govuk-body govuk-!-margin-0"><%= t('.what_happens_next_text') %></p>
    <% end %>

    <%= next_action_buttons(form: form) %>
  <% end %>
<% end %>
