<%= form_with(
      model: @form,
      url: citizens_consent_path,
      method: :patch,
      local: true,
    ) do |form| %>

    <%= page_template page_title: t(".title_html"), form:, template: :basic do %>
      <%= form.govuk_collection_radio_buttons(
            :open_banking_consent,
            yes_no_options,
            :value,
            :label,
            legend: {
              text: t(".title_html"),
              tag: "h1",
              size: "xl",
            },
          ) do %>

        <%= govuk_inset_text do %>
          <p class="govuk-body govuk-!-padding-bottom-2"><%= t(".inset_text") %></p>
        <% end %>

        <%= govuk_details(summary_text: t(".summary_heading")) do %>
          <p><%= t(".able_to_see.heading") %></p>

          <ul class="govuk-list govuk-list--bullet">
            <% t(".able_to_see.list").each_line do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>

          <p><%= t(".unable_to_see.heading") %></p>

          <ul class="govuk-list govuk-list--bullet">
            <% t(".unable_to_see.list").each_line do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
          <p><%= t(".terms_of_service_html") %></p>
        <% end %>
      <% end %>
    <%= next_action_buttons(form:) %>
  <% end %>
<% end %>
