<%= page_template page_title: t('.heading'), template: :basic do %>
  <%= form_with(
        model: @form,
        url: providers_legal_aid_application_vehicles_regular_use_path,
        method: :patch,
        local: true
      ) do |form| %>
    <%= govuk_form_group show_error_if: @form.errors.present? do %>
      <%= govuk_fieldset_header page_heading, padding_below: 0 %>
      <%= govuk_hint t('.include_partner_use') %>
      <div class="govuk-radios govuk-radios--conditional govuk-!-padding-bottom-6 govuk-!-padding-top-2"
           data-module="radios">
        <%= form.govuk_radio_button :used_regularly, 'true', label: t('generic.yes') %>
        <%= form.govuk_radio_button :used_regularly, 'false', label: t('generic.no') %>
      </div>
      <%= next_action_buttons(show_draft: true, form: form) %>
    <% end %>
  <% end %>
<% end %>
