<%= page_template(
      page_title: t(".heading"),
      template: :basic,
      form:,
    ) do %>

      <h1 class="govuk-heading-xl"><%= page_title %></h1>

      <p class="govuk-body">
        <% if @form.model.building_number_name.present? %>
          <%= t(".addresses_found_long_html",
                number: @address_collection.count,
                postcode: @form.model.pretty_postcode,
                building_name_number: @form.model.building_number_name) %>
        <% else %>
          <%= t(".addresses_found_html",
                number: @address_collection.count,
                postcode: @form.model.pretty_postcode) %>
        <% end %>
      </p>

      <p class="govuk-body"><%= t(".paragraph_2") %></p>

      <p><%= govuk_link_to(t(".change_postcode"), location == "correspondence" ? providers_legal_aid_application_correspondence_address_lookup_path(@legal_aid_application) : providers_legal_aid_application_home_address_lookup_path(@legal_aid_application)) %></p>
      <p>
        <%= govuk_link_to(
              t(".manual_address"),
              location == "correspondence" ? providers_legal_aid_application_correspondence_address_manual_path(@legal_aid_application) : providers_legal_aid_application_home_address_manual_path(@legal_aid_application),
            ) %>
      </p>
      <p><%= govuk_button_link_to(t("generic.save_and_come_back_later"), submitted_providers_legal_aid_applications_path, secondary: true) %></p>
<% end %>
