<%
  empty_cfe_result = {result: 'nil'}
%>

<%= back_link() %>
<div class='govuk-body'>
  <h1 class="govuk-heading-l">Legal Aid Application</h1>
  <dl class="govuk-body kvp">
    <dt>Reference</dt>
    <dd><%= @legal_aid_application.application_ref %></dd>
    <dt>State</dt>
    <dd><%= @legal_aid_application.state %></dd>
  </dl>
  <h2 class="govuk-heading-m">Reports</h2>
  <dl class="govuk-body kvp">
    <% if @legal_aid_application&.means_report&.document.present? %>
      <dt>Means report</dt>
      <dd><%= link_to_accessible('Download means report', download_means_report_admin_legal_aid_applications_submission_path(@legal_aid_application)) %></dd>
    <% end %>
    <% if @legal_aid_application&.merits_report&.document.present? %>
      <dt>Merits report</dt>
      <dd><%= link_to_accessible('Download merits report', download_merits_report_admin_legal_aid_applications_submission_path(@legal_aid_application)) %>
    <% end %>
  </dl>
  <% if @legal_aid_application.cfe_submissions.present? %>
    <% @legal_aid_application.cfe_submissions.each do |cfe_submission| %>
      <h2 class="govuk-heading-m">CFE Submission (<%= cfe_submission.id %>)</h2>
      <dl class="govuk-body kvp">
        <dt>State</dt>
        <dd><%= cfe_submission.aasm_state %></dd>
        <dt>assessment_id</dt>
        <dd><%= cfe_submission.assessment_id %></dd>
        <dt>error message</dt>
        <dd><%= cfe_submission.error_message ||= 'N/A' %></dd>
      </dl>
      <details>
        <summary class="govuk-heading-m govuk-details__summary"
          title="CFE result"
          aria-label="CFE result">
          CFE result
        </summary>
        <section>
          <%= format_hash(JSON.parse(cfe_submission.result&.result || empty_cfe_result)) %>
        </section>
      </details>
    <% end %>
  <% end %>
</div>
<div class="govuk-body">
  <% if @legal_aid_application.ccms_submission.present? %>
    <h2 class="govuk-heading-m">CCMS Submission (<%= @legal_aid_application.ccms_submission.id %>)</h2>
    <section>
      <dl class="govuk-body kvp">
        <dt>State</dt>
        <dd><%= @legal_aid_application.ccms_submission.aasm_state %></dd>
        <dt>Case CCMS reference</dt>
        <dd><%= @legal_aid_application.ccms_submission.case_ccms_reference %></dd>
        <dt>Applicant CCMS reference</dt>
        <dd><%= @legal_aid_application.ccms_submission.applicant_ccms_reference %></dd>
        <dt>Applicant poll count</dt>
        <dd><%= @legal_aid_application.ccms_submission.applicant_poll_count ||= 'N/A' %></dd>
        <dt>Case poll count</dt>
        <dd><%= @legal_aid_application.ccms_submission.case_poll_count ||= 'N/A' %></dd>
      </dl>
    </section>
    <% if @legal_aid_application.ccms_submission.submission_history.present? %>
      <h2 class="govuk-heading-m">CCMS Submission histories</h2>
        <dl class="govuk-body kvp">
          <% @legal_aid_application.ccms_submission.submission_history.order(:created_at).each do |submission_history| %>
            <dt>Created <%= submission_history.created_at.strftime('%d %B %Y at %H:%M:%S') %></dt>
            <dd><%= submission_history.id %></dd>
            <dt>From state</dt>
            <dd><%= submission_history.from_state %></dd>
            <dt>To state</dt>
            <dd><%= submission_history.to_state %></dd>
            <dt>Success</dt>
            <dd><%= submission_history.success %></dd>
            <% if submission_history.details.present? %>
              <dt>Details</dt>
              <dd><%= submission_history.details %></dd>
            <% end %>
            <dt class="govuk-!-margin-bottom-5"></dt>
            <dd>
              <% if submission_history.request.present? %>
                <%= link_to_accessible 'Download XML Request', download_xml_request_admin_legal_aid_applications_submission_path(submission_history) %>
              <% end %>
              <br>
              <% if submission_history.response.present? %>
                <%= link_to_accessible 'Download XML Response', download_xml_response_admin_legal_aid_applications_submission_path(submission_history) %>
              <% end %>
            </dd>
        <% end %>
        </dl>
      <% end %>
    <% end %>
</div>
