<%= page_template page_title: t('.heading'), template: :basic do %>

  <%= form_with(
        model: @form,
        url: providers_legal_aid_application_used_delegated_functions_path,
        method: :patch,
        local: true
      ) do |form| %>

    <%= govuk_form_group show_error_if: @form.errors.present? do %>
      <%= govuk_fieldset_header page_title %>

      <%= render 'shared/show_errors' %>

      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <%= form.govuk_radio_button(
              :used_delegated_functions,
              true,
              label: t('generic.yes'),
              'data-aria-controls' => 'conditional-true'
            ) %>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-true">
          <%= date_input_fields prefix: :used_delegated_functions, field_name: :used_delegated_functions_on, form: form %>
        </div>

        <%= form.govuk_radio_button(
              :used_delegated_functions,
              false,
              label: t('generic.no')
            ) %>
      </div>
    <% end %>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
