<%= page_template page_title: t('.heading'), template: :basic do %>

  <%= form_with(
        builder: GOVUKDesignSystemFormBuilder::FormBuilder,
        model: @form,
        url: providers_legal_aid_application_used_delegated_functions_path,
        method: :patch,
        local: true
      ) do |form| %>

    <%= form.govuk_radio_buttons_fieldset(:used_delegated_functions, legend: { size: 'xl', text: t('.heading') }) do %>
      <%= form.govuk_radio_button(:used_delegated_functions, true, label: {text: t('generic.yes')} ) do %>
        <%= date_input_fields prefix: :used_delegated_functions, field_name: :used_delegated_functions_on, form: form, options: number_of_days_ago(5) %>
      <% end %>

      <%= form.govuk_radio_button(:used_delegated_functions, false, label: {text:  t('generic.no')} ) %>

    <% end %>

    <div class="govuk-!-padding-bottom-4"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
