<h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>
<div class="govuk-panel__body">
  <dl class="govuk-list inline-list">
    <dt>
      <strong><%= t('.applicant') %>:</strong>
    </dt>
    <dd><%= @legal_aid_application.applicant.full_name %></dd>

    <dt>
      <strong><%= t('.reference') %>:</strong>
    </dt>
    <dd><%= @legal_aid_application.application_ref %></dd>
  </dl>
</div>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"><%= t('.warning_assistive') %></span>
    <%= t('.warning') %>
  </strong>
</div>

<%= form_for(@legal_aid_application, url: providers_legal_aid_application_delete_path, method: :delete) do |form| %>
  <%= form.submit(
          t('.yes_button'),
          class: 'govuk-button govuk-button--warning',
      ) %>
  <%= link_to_accessible t('.no_button'), providers_legal_aid_applications_path, class: 'govuk-button' %>
<% end %>
