<%= form_with(
      model: @form,
      url: providers_legal_aid_application_emergency_level_of_service_path,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template template: :basic, form: do %>
    <span class="govuk-caption-xl"><%= position_in_array(@proceeding) %></span>
    <h1 class="govuk-heading-xl"><%= @proceeding.meaning %></h1>
    <% if form.object.levels_of_service.length > 1 %>
      <%= form.govuk_radio_buttons_fieldset(:emergency_level_of_service, legend: { text: t(".instruction"), tag: "h2", size: "m" }) do %>
        <% form.object.levels_of_service.each_with_index do |level, idx| %>
          <% hint = level["name"] == "Full Representation" ? t(".hint_text") : "" %>
          <%= form.govuk_radio_button :emergency_level_of_service, level["level"],
                                      link_errors: idx.zero?,
                                      label: { text: level["name"] },
                                      hint: { text: hint } %>
        <% end %>
      <% end %>
    <% else %>
      <%= form.hidden_field :emergency_level_of_service, value: form.object.levels_of_service[0]["level"] %>
      <p>
        <%= t(".cannot_change_default") %>
      </p>
      <p>
        <%= t(".continue_to_change_scope") %>
      </p>
    <% end %>
    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
