<%= form_with(
      model: @form,
      url: providers_legal_aid_application_opponent_name_path(@legal_aid_application),
      method: :patch,
      local: true
    ) do |form| %>
    <%= page_template(
            page_title: t('.h1-heading'),
            template: :basic,
            back_link: { path: providers_legal_aid_application_date_client_told_incident_path(@legal_aid_application) },
            form: form) do %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= form.govuk_fieldset legend: {size: 'xl', tag: 'h1', text: page_title} do %>
      <%= form.govuk_text_field :full_name, label: {text: "Full name"} , width: 'three-quarters' %>
    <% end %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
