<%= page_template page_title: t('.h1-heading') do %>
  <%= simple_format t('.text_1') %>

  <ul class="govuk-list govuk-list--bullet">
      <li><%= simple_format t('.leaflet_link') %></li>
  </ul>

  <%= simple_format t('.text_2') %>

  <%= list_from_translation_path 'providers.merits_declarations.show' %>

  <%= simple_format t('.text_3') %>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_merits_declaration_path,
        method: :patch,
        show_draft: true
      ) %>
<% end %>
