<% page_title = @legal_aid_application.applicant.has_partner_with_no_contrary_interest? ? t(".page_title_with_partner") : t(".page_title") %>
<%= form_with(
      url: providers_legal_aid_application_means_add_other_vehicles_path,
      model: @form,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template page_title:, form:, template: :basic do %>
    <h1 class="govuk-heading-xl"><%= t(".existing", count: pluralize(@vehicles.count, "vehicle").to_s) %></h1>
    <%= govuk_summary_list(classes: "summary_list_action_width_auto") do |summary_list| %>
      <% @vehicles.each_with_index do |vehicle, index| %>
        <%= summary_list.with_row(html_attributes: { id: "transaction_#{index}" }) do |row| %>
          <% if vehicle.complete?
               row.with_key { t(".vehicle_worth", amount: gds_number_to_currency(vehicle.estimated_value)) }
               row.with_value { "" }
             else
               row.with_key { t(".vehicle_incomplete_key") }
               row.with_value { t(".vehicle_incomplete_value") }
             end %>
          <%= row.with_action(
                text: t("generic.change"),
                href: providers_legal_aid_application_means_vehicle_detail_path(@legal_aid_application, vehicle),
                visually_hidden_text: t(".vehicle_worth", amount: gds_number_to_currency(vehicle.estimated_value)).downcase,
              ) %>
          <%= row.with_action(
                text: t(".remove"),
                href: providers_legal_aid_application_means_remove_vehicle_path(@legal_aid_application, vehicle),
                visually_hidden_text: t(".vehicle_worth", amount: gds_number_to_currency(vehicle.estimated_value)).downcase,
              ) %>
        <% end %>
      <% end %>
    <% end %>
    <%= form.govuk_collection_radio_buttons :add_another_vehicle,
                                            yes_no_options,
                                            :value,
                                            :label,
                                            legend: { text: content_for(:page_title), size: "m", tag: "h2" } %>

    <%= next_action_buttons(form:) %>
  <% end %>
<% end %>
