<% individual = "_with_partner" if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>

<%= page_template(
      page_title: t(".h1-heading"),
      back_link: { path: reset_providers_legal_aid_application_check_passported_answers_path(@legal_aid_application), method: :patch },
    ) do %>

  <h2 class="govuk-heading-l"><%= t(".h2-heading") %></h2>

  <%= render "shared/check_answers/assets", individual: %>

  <h3 class="govuk-heading-m"><%= t(".what_happens_next") %></h2>

  <p class="govuk-body"><%= t(".what_happens_next_body") %></p>

  <%= next_action_buttons_with_form(
        url: continue_providers_legal_aid_application_check_passported_answers_path(@legal_aid_application),
        method: :patch,
        show_draft: true,
      ) %>
<% end %>
