<%= page_template(
      page_title: t('.h1-heading'),
      back_link: { path: reset_providers_legal_aid_application_check_passported_answers_path(@legal_aid_application), method: :patch }
    ) do %>

  <h2 class="govuk-heading-m">
    <%= @legal_aid_application.savings_amount? && @legal_aid_application.other_assets? ? t('.property') : t('.assets.heading') %>
  </h2>

  <%= render 'shared/check_answers_assets', user_type: :providers, application: @legal_aid_application %>

  <h2 class="govuk-heading-m"><%= t('.merits_assessment_h2') %></h2>

  <p class="govuk-body"><%= t('.merits_assessment_body') %></p>

  <%= next_action_buttons_with_form(
        url: continue_providers_legal_aid_application_check_passported_answers_path(@legal_aid_application),
        method: :patch,
        show_draft: true
      ) %>
<% end %>
