<%= form_with(
      model: @form,
      url: providers_legal_aid_application_final_hearings_path(@legal_aid_application, @proceeding, params[:work_type]),
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template page_title: @proceeding.meaning, template: :basic, form: do %>
    <span class="govuk-caption-xl"><%= position_in_array(@proceeding) %></span>
    <h1 class="govuk-heading-xl"><%= page_title %></h1>
    <%= form.govuk_radio_buttons_fieldset(:listed,
                                          legend: { size: "m", tag: "h2", text: t(".question") }) do %>
      <%= form.govuk_radio_button :listed, true, link_errors: true, label: { text: t("generic.yes") } do %>
        <%= date_picker_field(
              form,
              :date,
              value: params.dig("final_hearing", "date") || form.object.model.date&.to_s(:date_picker),
              label: { text: t(".hearing"), class: "govuk-label govuk-date-input__label" },
              hint: { text: t("shared.forms.date_input_fields.date_hint", options: number_of_days_ago(5, Date::DATE_FORMATS[:date_picker])) },
            ) %>
      <% end %>
      <%= form.govuk_radio_button :listed, false, label: { text: t("generic.no") } do %>
        <%= form.govuk_text_area :details, label: { text: t(".details") }, rows: 5 %>
      <% end %>
    <% end %>
    <%= next_action_buttons(form:, show_draft: true) %>
  <% end %>
<% end %>
