
<%= form_with(
      model: @form,
      url: providers_legal_aid_application_link_application_confirm_link_path,
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template(
        page_title: "Search result",
        form:,
        template: :basic,
      ) do %>

    <h1 class="govuk-heading-xl"><%= page_title %></h1>

    <%= govuk_summary_list(
          classes: "govuk-summary-list govuk-summary-list--no-border",
          actions: false,
        ) do |summary_list| %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: "LAA reference", classes: "govuk-!-width-one-half") %>
        <%= row.with_value(text: @legal_aid_application.lead_application&.application_ref) %>
      <% end %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: "Client", classes: "govuk-!-width-one-half") %>
        <%= row.with_value(text: @legal_aid_application.lead_application&.applicant&.full_name) %>
      <% end %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: "Proceedings", classes: "govuk-!-width-one-half") %>
        <%= row.with_value(text: @legal_aid_application.lead_application&.proceedings&.map(&:meaning)&.join(", ")) %>
      <% end %>
    <% end %>

    <%= govuk_details(summary_text: "All applications with a family link to this one") do %>
      <%= sanitize(@all_linked_applications&.map { |application| "#{application.application_ref}, #{application.applicant.full_name}" }&.join("<br>")) %>
    <% end %>

    <%= form.govuk_radio_buttons_fieldset(:confirm_link, legend: { tag: "h2", size: "l", text: "Is this the application you want to link to?" }) do %>
      <%= form.govuk_radio_button :confirm_link, "Yes", label: { text: t("generic.yes") }, link_errors: true %>
      <%= form.govuk_radio_button :confirm_link, "No", label: { text: "No, I want to link to a different case" } %>
      <%= form.govuk_radio_button :confirm_link, false, label: { text: "No, carry on without linking" } %>

    <% end %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
