<%= form_with(
      model: @legal_aid_application,
      url: providers_legal_aid_application_means_identify_types_of_income_path(@legal_aid_application),
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template page_title: t(".page_heading"), template: :basic, form: do %>

    <%= form.govuk_check_boxes_fieldset(:transaction_type_ids,
                                        legend: { size: "xl", tag: "h1", text: page_title },
                                        caption: { text: t("generic.client_means_caption"), size: "xl" },
                                        classes: ["govuk-!-margin-bottom-5"],
                                        hint: { text: t("generic.select_all_that_apply") }) do %>
      <div class="deselect-group govuk-!-padding-bottom-1" data-deselect-ctrl="#legal-aid-application-none-selected-true-field">
        <% TransactionType.credits.not_children.each_with_index do |transaction_type, index| %>
          <%= form.govuk_check_box(
                :applicant_transaction_type_ids,
                transaction_type.id,
                link_errors: index.zero?,
                label: { text: t("transaction_types.names.providers.#{transaction_type.name}") },
                hint: { text: t(".hints.#{transaction_type.name}", default: "") },
              ) %>
        <% end %>
      </div>
      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box(
            :none_selected,
            true,
            "",
            multiple: false,
            label: { text: t(".none_of_these") },
          ) %>
    <% end %>

    <%= next_action_buttons(
          form:,
          show_draft: true,
        ) %>
  <% end %>
<% end %>
