<%= form_with(
      model: @form,
      url: providers_legal_aid_application_delegated_function_path,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template page_title: @proceeding.meaning, template: :basic, form: do %>
    <span class="govuk-caption-xl"><%= position_in_array(@proceeding) %></span>
    <h1 class="govuk-heading-xl"><%= page_title %></h1>
    <%= form.govuk_radio_buttons_fieldset(:used_delegated_functions,
                                          legend: { size: "m", tag: "h2", text: t(".question") },
                                          hint: { text: @proceeding.special_childrens_act? ? t(".sca_hint") : "" }) do %>
      <%= form.govuk_radio_button :used_delegated_functions, true, label: { text: t("generic.yes") } do %>
         <%= form.govuk_date_field :used_delegated_functions_on,
                                   legend: { text: t("shared.forms.date_input_fields.used_delegated_functions_on_label"), class: "govuk-label govuk-date-input__label" },
                                   hint: { text: t("shared.forms.date_input_fields.used_delegated_functions_on_hint", options: number_of_days_ago(5)) } %>
        <% end %>
      <%= form.govuk_radio_button :used_delegated_functions, false, label: { text: t("generic.no") } %>
    <% end %>

    <%= next_action_buttons(form:, show_draft: true) %>
  <% end %>
<% end %>
