<%= form_with(
      model: @form,
      url: providers_legal_aid_application_delegated_function_path,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template page_title: @proceeding.meaning, template: :basic, form: do %>
    <span class="govuk-caption-xl"><%= position_in_array(@proceeding) %></span>
    <h1 class="govuk-heading-xl"><%= page_title %></h1>
    <%= form.govuk_radio_buttons_fieldset(:used_delegated_functions,
                                          legend: { size: "m", tag: "h2", text: t(".question") }) do %>
      <%= form.govuk_radio_button :used_delegated_functions, true, link_errors: true, label: { text: t("generic.yes") } do %>

        <%= form.moj_date_picker_field(
              :used_delegated_functions_on,
              value: params.dig("proceeding", "used_delegated_functions_on") || @proceeding.used_delegated_functions_on&.to_s(:date_picker),
              label: { text: t("shared.forms.date_input_fields.used_delegated_functions_on_label"), class: "govuk-label govuk-date-input__label" },
              hint: { text: t("shared.forms.date_input_fields.used_delegated_functions_on_hint", options: number_of_days_ago(5, Date::DATE_FORMATS[:date_picker])) },
            ) %>

      <% end %>
      <%= form.govuk_radio_button :used_delegated_functions, false, label: { text: t("generic.no") } %>
    <% end %>

    <% if @proceeding.special_children_act? %>
      <%= govuk_warning_text do %>
        <p class="govuk-body">
          <strong><%= t(".sca_warning") %></strong>
        </p>
      <% end %>
    <% end %>
    <%= next_action_buttons(form:, show_draft: true) %>
  <% end %>
<% end %>
