<%= page_template(
      page_title: page_title || t('.page_title', number: @form.model.ordinal_number),
      page_heading_options: { margin_bottom: 3 }
    ) do %>

  <%= form_with(
        model: @form,
        url: form_url,
        method: form_method,
        local: true
      ) do |form| %>
    <div class="govuk-!-padding-bottom-2"></div>

    <% if other_dependants.any? %>
      <div class="govuk-!-padding-bottom-4"></div>
      <p class="govuk-body"><%= t('.you_already_told_about') %></p>
      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4">
        <% other_dependants.each do |dependant| %>
          <li><%= t('.dependant_list_item', name: dependant.name, date_of_birth: dependant.date_of_birth) %></li>
        <% end %>
      </ul>
    <% else %>
      <div class="govuk-inset-text"><%= t('.add_dependant_later') %></div>
    <% end %>

    <%= form.govuk_text_field :name, class: 'govuk-!-width-three-quarters', label: { size: :m } %>

    <%= date_input_fields prefix: :dob, field_name: :date_of_birth, form: form %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= next_action_buttons(form: form) %>
   </div>
  <% end %>
<% end %>
