<%= page_template(
      page_title: t('.page_title', name: @form.model.name),
      head_title: t('.head_title'),
      page_heading_options: { margin_bottom: 3 }
    ) do %>
  <%= form_with(
        model: @form,
        url: form_url,
        method: form_method,
        local: true
      ) do |form| %>
    <%= govuk_form_group show_error_if: @form.errors.present? do %>
      <%= govuk_hint t('.hint') %>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <%= form.govuk_radio_button(
              :has_income,
              true,
              label: t('generic.yes'),
              'data-aria-controls' => 'monthly_incomes'
            ) %>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="monthly_incomes">
          <%= form.govuk_text_field(
                :monthly_income,
                label: t('.enter_monthly_income'),
                value: number_to_currency_or_original_string(@form.monthly_income),
                input_prefix: t('currency.gbp'),
                class: 'govuk-!-width-one-third'
              ) %>
        </div>

        <%= form.govuk_radio_button(
              :has_income,
              false,
              label: t('generic.no')
            ) %>
      </div>
    <% end %>

    <%= next_action_buttons(
          show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
          form: form
        ) %>
  <% end %>
<% end %>
