<%= form_with(
      model: @form,
      url:,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template page_title:, template: :basic, form: do %>

    <%= form.govuk_fieldset legend: { size: "xl", tag: "h1", text: page_title } do %>
      <p class="govuk-body"><%= t(".multi_vehicle") %></p>

      <% if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
        <%= form.govuk_radio_buttons_fieldset(:owner, legend: { size: "m", text: t(".owner.question") }) do %>
          <% Vehicles::DetailsForm.radio_options.each_with_index do |f, index| %>
            <%= form.govuk_radio_button :owner, f.value, label: { text: f.label }, link_errors: index.zero? %>
          <% end %>
        <% end %>
      <% else # no partner present so default to client %>
        <%= form.hidden_field :owner, value: "client" %>
      <% end %>

      <%= form.govuk_text_field :estimated_value,
                                label: { text: t(".estimated_value.question"), tag: "h2", size: "m" },
                                hint: { text: t(".estimated_value.use_car_valuation_sites") },
                                value: number_to_currency_or_original_string(@form.model.estimated_value),
                                width: "one-third",
                                prefix_text: t("currency.gbp") %>

      <%= form.govuk_radio_buttons_fieldset(:payments_remain,
                                            legend: { text: t(".remaining_payments.question"), tag: "h2", size: "m" },
                                            hint: { text: t(".remaining_payments.detail_of_payments_to_include") }) do %>
        <%= form.govuk_radio_button(:payments_remain, true,
                                    link_errors: true,
                                    label: { text: t("generic.yes") },
                                    checked: @form.payments_remain? || (@form.payment_remaining.present? && @form.payment_remaining != 0)) do %>
          <%= form.govuk_text_field(
                :payment_remaining,
                label: { text: t(".remaining_payments.enter_amount_left_to_pay") },
                value: number_to_currency_or_original_string(@form.payment_remaining),
                prefix_text: t("currency.gbp"),
                width: "one-third",
              ) %>
        <% end %>
        <%= form.govuk_radio_button(:payments_remain, false,
                                    label: { text: t("generic.no") },
                                    checked: @form.no_payments_remain? || (@form.payment_remaining.present? && @form.payment_remaining.eql?(0))) %>
      <% end %>

      <%= form.govuk_collection_radio_buttons(
            :more_than_three_years_old,
            yes_no_options,
            :value,
            :label,
            legend: { text: t(".ages.question"), tag: "h2", size: "m" },
          ) %>

      <%= form.govuk_collection_radio_buttons(
            :used_regularly,
            yes_no_options,
            :value,
            :label,
            legend: { text: t(".regular_uses.question"), tag: "h2", size: "m" },
            hint: { text: t(".regular_uses.include_partner_use") },
          ) %>
    <% end %>

    <%= next_action_buttons(
          show_draft: true,
          form:,
        ) %>
  <% end %>
<% end %>
