<%= page_template page_title: "Sign in", back_link: :none do %>

  <% if @saml_idp_fail_msg %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert" aria-live="assertive">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div id="saml_idp_fail_msg" class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a data-turbo="false" href="#email">
                <%= @saml_idp_fail_msg %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <%= form_tag do %>
    <%= hidden_field_tag("SAMLRequest", params[:SAMLRequest]) %>

    <div class="govuk-form-group">
      <%= label_tag :email, nil, class: "govuk-label" %>
      <%= email_field_tag :email, params[:email], autocapitalize: "off", autocorrect: "off", spellcheck: "false", size: 30, autocomplete: "off", class: "govuk-input" %>
    </div>

    <div class="govuk-form-group">
      <%= label_tag :password, nil, class: "govuk-label" %>
      <%= password_field_tag :password, params[:password], autocapitalize: "off", autocorrect: "off", spellcheck: "false", size: 30, autocomplete: "off", class: "govuk-input" %>
    </div>

    <%= submit_tag "Sign in", class: "govuk-button" %>

  <% end %>

<% end %>
