<%= form_with(
        model: @form,
        url: providers_legal_aid_application_vehicles_estimated_value_path,
        method: :patch,
        local: true
    ) do |form| %>
  <%= page_template page_title: t('.heading'), template: :basic, form: form do %>

    <%= form.govuk_fieldset legend: { size: 'xl', tag: 'h1', text: page_title }  do %>
      <%= form.govuk_text_field(
              :estimated_value,
              value: number_to_currency_or_original_string(@form.model.estimated_value),
              label: {text: :estimated_value, hidden: true},
              hint: {text: t('.use_car_valuation_sites')},
              width: 'one-third',
              prefix_text: '£'
          ) %>
    <% end %>

    <div class="govuk-!-padding-bottom-4"></div>

    <%= next_action_buttons(
            show_draft: true,
            form: form
        ) %>
  <% end %>
<% end %>
