<%
success_message = success_message
%>

<table class="govuk-table <%= 'hidden' if attachments.empty? %>">
  <caption class="govuk-table__caption"><%= t('.title') %></caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col"><%= t('.filename') %></th>
    <th class="govuk-table__header" scope="col"><%= t('.size') %></th>
    <th class="govuk-table__header" scope="col"><%= t('.status') %></th>
    <th class="govuk-table__header" scope="col"></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">

  <span alert-live="assertive" class="govuk-visually-hidden"><%= success_message %></span>

  <% attachments.order(:created_at).each do |attachment| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= attachment.document.filename %></td>
      <td class="govuk-table__cell no-wrap"><%= number_to_human_size(attachment.document.blob.byte_size) %></td>
      <td class="govuk-table__cell"><span class="govuk-tag"><%= t('.uploaded') %></span></td>
      <td class="govuk-table__cell">
        <%= button_to_accessible(
              t('.delete'),
              providers_legal_aid_application_gateway_evidence_path(@legal_aid_application),
              method: :delete,
              class: 'button-as-link',
              params: { attachment_id: attachment.id },
              suffix: attachment.document.filename
            ) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
