<%= form_with(
      model: @form,
      url: providers_legal_aid_application_nature_of_urgencies_path,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template(page_title: t(".h1-heading"),
                    template: :basic,
                    back_link: {},
                    form:) do %>
    <%= form.govuk_fieldset legend: { size: "xl", tag: "h1", text: page_title } do %>
      <%= form.govuk_text_area :nature_of_urgency, label: { text: t(".no-hint") }, rows: 5 %>
      <%= form.govuk_radio_buttons_fieldset :hearing_date_set, legend: { size: "xl", tag: "h1", text: t(".hearing-date-set") } do %>
        <%= form.govuk_radio_button :hearing_date_set, true, link_errors: true, label: { text: t("generic.yes") } do %>
          <%= form.moj_date_picker_field(
                :hearing_date,
                value: params.dig("application_merits_task_urgency", "hearing_date") || form.object.model.hearing_date&.to_s(:date_picker),
                label: { text: t(".hearing-date"), class: "govuk-label govuk-date-input__label" },
                hint: { text: t(".hearing-date-hint", options: number_of_days_ago(0, Date::DATE_FORMATS[:date_picker])) },
              ) %>
        <% end %>
        <%= form.govuk_radio_button :hearing_date_set, false, label: { text: t("generic.no") } %>
      <% end %>
    <% end %>
    <div class="govuk-!-padding-bottom-4"></div>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
