<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          model: @form,
          scope: :address,
          url: providers_legal_aid_application_address_path(@legal_aid_application),
          method: :patch,
          local: true
        ) do |form| %>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        <% if form.object.lookup_error.present? %>
          <%= t('forms.address_lookup.heading') %>
        <% else %>
          <%= t('forms.address_manual.heading') %>
        <% end %>
      </h1>
    </legend>

      <% if form.object.lookup_postcode.present? %>
        <%= form.hidden_field :lookup_postcode %>
        <div class='govuk-form-group'>
          <%= label_tag 'postcode', class: 'govuk-label' do %>
            Postcode
            <p class='govuk-body govuk-!-font-weight-bold'>
              <%= form.object.lookup_postcode %>
              <%= link_to(
                    t('generic.change'),
                    providers_legal_aid_application_address_lookup_path(@legal_aid_application),
                    class: 'govuk-body change-link change-postcode-link'
                  ) %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% if form.object.lookup_error.present? %>
        <%= form.hidden_field :lookup_error %>
          <div class='govuk-inset-text'>
            <%= t("forms.address.errors.#{form.object.lookup_error}") %>
          </div>
      <% end %>

      <div class="govuk-!-padding-bottom-2"></div>

      <% group_error_class = @form.errors[:address_line_one].any? ? 'govuk-form-group--error' : '' %>
      <div class="govuk-form-group <%= group_error_class %>">
        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :address_line_one, form: form } %>
        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :address_line_two, field_with_error: :address_line_one, form: form } %>
      </div>

      <%= render partial: 'shared/forms/text_fields', locals: { field_name: :city, class: 'govuk-!-width-two-thirds', form: form } %>
      <%= render partial: 'shared/forms/text_fields', locals: { field_name: :county, class: 'govuk-!-width-two-thirds', form: form } %>
      <%= render partial: 'shared/forms/text_fields', locals: { field_name: :postcode, class: 'govuk-input--width-10', form: form, hide_hint?: true } %>

      <%= form.submit 'Continue', id: 'continue', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
