<%= form_with(model: @form,
              url: providers_legal_aid_application_restrictions_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>
  <%= page_template page_title: t('.h1-heading'), template: :basic, form: form do %>

    <%= form.govuk_radio_buttons_fieldset(:has_restrictions,
                                          legend: { size: 'xl', tag: 'h1', text: page_title}) do %>
      <p class="govuk-body"><%= t('.for_example') %></p>
      <%= list_from_translation_path(".restrictions.show.examples") %>
      <%= form.govuk_radio_button :has_restrictions, true, link_errors: true, label: { text: t('generic.yes') } do %>
        <%= form.govuk_text_area :restrictions_details,
                                 label: { text: t('.restrictions_details') }, rows: 5 %>
      <% end %>
      <%= form.govuk_radio_button :has_restrictions, false, label: { text: t('generic.no') } %>
    <% end %>

    <%= next_action_buttons(
            show_draft: true,
            form: form
        ) %>
  <% end %>
<% end %>
