<%= form_with(
      model: @form,
      url: providers_legal_aid_application_substantive_default_path,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template template: :basic, form: do %>
    <span class="govuk-caption-xl"><%= position_in_array(@proceeding) %></span>
    <h1 class="govuk-heading-xl"><%= @proceeding.meaning %></h1>

    <h2 class="govuk-heading-m"><%= t(".h2_header") %></h2>

    <p><strong><%= t(".los_header") %></strong> <%= form.object.default_level_of_service["name"] %></p>
    <p><strong><%= t(".scope_header") %></strong> <%= form.object.default_scope["meaning"] %></p>
    <p><strong><%= t(".scope_description_header") %></strong> <%= form.object.default_scope["description"] %></p>

    <% if !@proceeding.special_children_act? %>
      <%= form.govuk_radio_buttons_fieldset :accepted_substantive_defaults,
                                            inline: false,
                                            legend: { size: "m", tag: "h2", text: t(".question") } do %>

        <%= form.govuk_radio_button :accepted_substantive_defaults, true, label: { text: t("generic.yes") }, link_errors: true %>
        <%= form.govuk_radio_button :accepted_substantive_defaults, false, label: { text: t("generic.no") } %>
      <% end %>
    <% else %>
      <%= form.hidden_field :accepted_substantive_defaults, value: true %>
    <% end %>
    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
