<%= page_template page_title: t(".page_heading"), caption: t("generic.client_means_caption"), show_errors_for: @legal_aid_application do %>

  <% errors = @legal_aid_application.errors.messages %>

  <p class="govuk-body"><%= t(".subheading") %></p>

  <p class="govuk-body"><%= t(".you_need_to.text") %></p>
  <%= list_from_translation_path(".income_summary.index.you_need_to") %>

  <ol class="govuk-list govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <% index = 0 %>
    <% @legal_aid_application.transaction_types.credits.each do |transaction_type| %>
      <% index += 1 unless transaction_type.child? %>
      <%= render(
            "income_type_item",
            name: transaction_type.name,
            number: index,
            display_number: !transaction_type.child?,
            link_text: t(".select"),
            bank_transactions: @bank_transactions[transaction_type],
            error: errors[transaction_type.name.to_sym],
          ) %>
    <% end %>
    <% if @legal_aid_application.transaction_types.credits.count < TransactionType.credits.count %>
      <li class="display-table">
        <span class="sort-transactions__section-number">
          <%= image_tag("plus_icon.svg", alt: "") %>
        </span>
        <p class="govuk-body">
          <%= govuk_link_to(t(".add_other_income"), providers_legal_aid_application_means_identify_types_of_income_path(@legal_aid_application)) %>
        </p>
      </li>
    <% end %>
  </ol>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_income_summary_index_path,
        show_draft: true,
      ) %>
<% end %>
