<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

    <p class="govuk-body"><%= t(".intro") %></p>

    <div class="maximize-text-width">
      <p class="govuk-body"><%= t(".use_service.list_title") %></p>
      <ul class="govuk-list govuk-list--bullet">
        <% t(".use_service.list").each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>

      <p class="govuk-body"><%= t(".dont_use_service.list_title") %></p>
      <ul class="govuk-list govuk-list--bullet">
        <% if !Setting.partner_means_assessment? %>
          <li><%= t(".dont_use_service.partner_list_item") %></li>
        <% end %>
        <% if Setting.linked_applications? %>
          <% t(".dont_use_service.linked_applications_list").each do |item| %>
            <li><%= item %></li>
          <% end %>
        <% else t(".dont_use_service.list").each do |item| %>
            <li><%= item %></li>
        <% end %>
        <% end %>
      </ul>
    </div>

    <p class="govuk-body"><%= t(".use_ccms_para_html") %></p>
    <p class="govuk-body"><%= t(".progress_saved") %></p>

    <%= govuk_start_button(text: t("generic.sign_in"), href: providers_confirm_office_path, html_attributes: { id: "start" }) %>
  </div>
</div>
