<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".apply_for_legal_aid_heading") %></h1>

    <p class="govuk-body"><%= t(".must_be_provider") %></p>

    <h2 class="govuk-heading-m"><%= t(".when_not_to_use_service.heading") %></h2>

    <div class="maximize-text-width">
      <p class="govuk-body"><%= t ".when_not_to_use_service.list_title" %></p>
        <%= list_from_translation_path ".start.index.when_not_to_use_service.list_items" %>
    </div>

    <p class="govuk-body"><%= t(".use_ccms_para_html") %></p>

    <%= govuk_start_button(text: t("generic.start_now"), href: providers_legal_aid_applications_path, html_attributes: { id: "start" }) %>
  </div>
</div>
