<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

    <p class="govuk-body"><%= t(".intro") %></p>

    <p class="govuk-body"><%= t(".use_service.list_title") %></p>

    <%= govuk_list Setting.public_law_family? ? t(".use_service.with_plf_list") : t(".use_service.list"), type: :bullet %>

    <p class="govuk-body"><%= t(".dont_use_service.list_title") %></p>

    <%= govuk_list Setting.linked_applications? ? t(".dont_use_service.linked_applications_list") : t(".dont_use_service.list"), type: :bullet %>

    <p class="govuk-body"><%= t(".use_ccms_para_html") %></p>
    <p class="govuk-body"><%= t(".progress_saved") %></p>

    <%= govuk_start_button(text: t("generic.sign_in"), href: providers_confirm_office_path, html_attributes: { id: "start" }) %>
  </div>
</div>
