  <% content_for(:page_title) { t('.apply_for_legal_aid_heading') } %>
  <% content_for :navigation do %>
    <!-- no nav needed here -->
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"><%= content_for(:page_title) %></h1>
      <p class="govuk-body"><%= t('.apply_civil_legal_para') %></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><%= t('.apply_civil_legal_list.item_1') %></li>
        <li><%= t('.apply_civil_legal_list.item_2') %></li>
      </ul>

      <p class="govuk-body"><%= t('.use_ccms_para') %></p>

      <h2 class="govuk-heading-m"><%= t('.use_ccms_list.heading') %></h2>

      <p class="govuk-body"><%= t('.use_ccms_list.title') %></p>
      <ul class="govuk-list govuk-list--bullet">
        <li><%= t('.use_ccms_list.item_1') %></li>
        <li><%= t('.use_ccms_list.item_2') %></li>
        <li><%= t('.use_ccms_list.item_3') %></li>
      </ul>
      <p class="govuk-body"><%= t('.use_ccms_upload_document') %></p>

      <%= link_to t('generic.start'), providers_legal_aid_applications_path, class: 'govuk-button govuk-button--start', id: 'start' %>

    </div>

    <div class="govuk-grid-column-one-third">

    <div class="govuk-header__container govuk-width-container"></div>

    <div class="govuk-!-padding-bottom-4"></div>

    <h3 class="govuk-heading-m"><%= t('.related_content_list.title') %></h3>
    <ul class="govuk-list">
      <li>
        <a href="#" class="govuk-link govuk-body govuk-!-font-size-16"><%= t('.related_content_list.item_1') %></a>
      </li>
      <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold govuk-body govuk-!-font-size-16"><%= t('.related_content_list.item_2') %></a>
      </li>
    </ul>
    </div>
  </div>
