<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(partial: "layouts/flash") %>

    <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

    <p class="govuk-body"><%= t(".intro") %></p>

    <p class="govuk-body"><%= t(".use_service.list_title") %></p>

    <%= govuk_list t(".use_service.list"), type: :bullet %>

    <p class="govuk-body"><%= t(".dont_use_service.list_title") %></p>

    <%= govuk_list t(".dont_use_service.list"), type: :bullet %>

    <p class="govuk-body"><%= t(".use_ccms_para_html", url: Rails.configuration.x.laa_landing_page_target_url) %></p>
    <p class="govuk-body"><%= t(".progress_saved") %></p>
    <p class="govuk-body"><%= t(".opening_hours") %></p>

    <%= govuk_start_button(text: provider_signed_in? ? t("generic.start") : t("generic.sign_in"), href: providers_select_office_path, html_attributes: { id: "start" }) %>
  </div>
</div>
