<%= citizen_page page_title: t('.heading_1') do %>
  <p class="govuk-body"><%= t('.para_1') %></p>
  <p class="govuk-body govuk-!-padding-bottom-2"><%= t('.para_2') %></p>
  <h2 class="govuk-heading-m"><%= t('.list.title') %></h2>

  <p class="govuk-body">
    <%= render partial: 'shared/forms/list_items', locals: { translation_path: 'citizens.information.show.list' } %>
  </p>

  <%= link_to t('generic.continue'), citizens_consent_path, class: 'govuk-button govuk-button', id: 'continue' %>
<% end %>
