<% content_for :navigation do %>
  <%= link_to t('generic.back'), citizens_legal_aid_application_path(id: session[:current_application_ref]), class: 'govuk-back-link', id: 'back' %>
<% end %>

<% content_for(:page_title) { t('.h1-heading') } %>

<h1 class="govuk-heading-xl"><%= content_for(:page_title) %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body"><%= t('.para_1') %></p>
    <p class="govuk-body"><%= t('.para_2') %></p>
    <br />
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">i</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"><%= t('generic.information') %></span>
        <%= t('.list.title') %>
      </strong>
    </div>

    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li> <%= t('.list.item_1') %> </li>
        <li> <%= t('.list.item_2') %> </li>
        <li> <%= t('.list.item_3') %> </li>
      </ul>
    </p>

    <%= link_to t('generic.continue'), citizens_consent_path, class: 'govuk-button govuk-button', id: 'continue' %>

  </div>
</div>
