<%= page_template page_title: t('.heading') do %>
  <p class="govuk-body">
    <%= t('.secure_service_redirect_info') %>
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      <%= t('.what_will_need_to_be_shared') %>
    </p>
  </div>

  <h2 class="govuk-heading-m"><%= t('.online_banking_info_heading') %></h2>
  <p class="govuk-body">
    <%= t('.data_download_info') %>
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      <%= t('.banking_credentials_not_saved') %>
    </p>
  </div>
  <%= next_action_link %>
<% end %>
