  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col"><%= t('.done_eveything') %></th>
            <th class="govuk-table__header" scope="col"><%= t('.satisfaction') %></th>
            <th class="govuk-table__header" scope="col"><%= t('.suggestion') %></th>
            <th class="govuk-table__header" scope="col"><%= t('.source') %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @feedback.each do |feedback| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell feedback-done-all-needed">
                <%= feedback.done_all_needed.nil? ? t('generic.not_completed') : feedback.done_all_needed.to_s %>
              </td>
              <td class="govuk-table__cell feedback-satisfaction"><%= feedback.satisfaction&.humanize || t('generic.not_completed') %></td>
              <td class="govuk-table__cell feedback-improvement-suggestion">
                <%= feedback.improvement_suggestion.present? ? feedback.improvement_suggestion : t('generic.not_completed') %>
              </td>
              <td class="govuk-table__cell feedback-satisfaction"><%= feedback.source %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if local_assigns[:pagy] %>
        <div class="govuk-body pagination-container">
          <%== pagy_nav(pagy) if pagy.pages > 1 %>
          <span class="page-info"><%== pagy_info(pagy)&.chomp %></span>
        </div>
      <% end %>
    </div>
  </div>
