<details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text"
      title="<%= t('.disregarded_list') %>"
      aria-label="<%= t('.disregarded_list') %>">
      <%= t('.disregarded_list') %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul style="list-style: none; margin-left:-35px;">
      <% @categorised_benefits.each do |category, benefits| %>
        <li class="govuk-!-margin-top-2"><strong><%= t(".#{category}") %></strong></li>
        <% benefits.each do |benefit| %>
          <li style="list-style: none; margin-left:-2px;">
            <%= benefit["name"] %>
          </li>
        <% end %>

      <% end %>
    </ul>
  </div>
</details>
