<%= page_template page_title: t("transaction_types.page_titles.#{@transaction_type.name}"), column_width: 'full', template: :default do %>

  <div class="govuk-!-padding-bottom-4"></div>

  <%= form_with(method: :patch, local: true) do |form| %>

    <%= form.hidden_field :transaction_type, value: @transaction_type.name %>
    <div id="screen-reader-messages" class="govuk-visually-hidden" role="alert" aria-live="assertive"></div>
    <table class="govuk-table sortable table-merge_columns">
      <caption class="govuk-table__caption">
        <%= content_tag(:h3, t('date.date_period', from: date_from, to: date_to), class: 'govuk-heading-s') if @bank_transactions.any? %>
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th
            class="govuk-table__header select-clear-all"
            scope="col"
            data-copy-select="<%= t '.col_select_all' %>"
            data-copy-clear="<%= t '.col_clear_all' %>">
          </th>
          <th data-sort-type="date" class="govuk-table__header sort header-sort-desc table-combine_right_if_narrow narrow_555" scope="col">
            <span class="govuk-visually-hidden">Sort by </span>
            <span class="aria-sort-description"><%= t('.col_date') %></span><span class="table-hidden_right_title"> <%= t('.col_and_description') %></span><span class="sort-direction-indicator"><span class="screen-reader-sort-indicator govuk-visually-hidden"> (<%= t('.sorted_currently') %> <%= t('.sort_new_old_html') %>)</span></span>
          </th>
          <th data-sort-type="alphabetic" class="govuk-table__header sort" scope="col">
            <span class="govuk-visually-hidden">Sort by </span>
            <span class="aria-sort-description"><%= t('.col_description') %></span><span class="sort-direction-indicator"><span class="screen-reader-sort-indicator govuk-visually-hidden"></span></span>
          </th>
          <th class="nullcell">
          </th>
          <th data-sort-type="numeric" class="govuk-table__header sort govuk-table__header--numeric table-combine_right_if_narrow narrow_470" scope="col">
            <span class="govuk-visually-hidden">Sort by </span>
            <span class="aria-sort-description"><%= t('.col_amount') %></span><span class="table-hidden_right_title"> <%= t('.col_and_category') %></span><span class="sort-direction-indicator"><span class="screen-reader-sort-indicator govuk-visually-hidden"></span></span>
          </th>
          <th data-sort-type="alphabetic" class="govuk-table__header sort" scope="col">
            <span class="govuk-visually-hidden">Sort by </span>
            <span class="aria-sort-description"><%= t('.col_category') %></span><span class="sort-direction-indicator"><span class="screen-reader-sort-indicator govuk-visually-hidden"></span></span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%= form.collection_check_boxes :transaction_ids, @bank_transactions, :id, :description do |builder| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell tick-box-cell">
              <% if builder.object.transaction_type_id == nil || builder.object.transaction_type_id == @transaction_type.id %>
                <div class="govuk-checkboxes__item">
                  <% checked = builder.object.transaction_type_id == @transaction_type.id %>
                  <%= builder.check_box(class: 'govuk-checkboxes__input', checked: checked, 'aria-labelledby' => 'Date-' + builder.object.id + ' Description-' + builder.object.id + ' Amount-' + builder.object.id) %>
                  <label for="transaction_ids_<%= builder.object.id %>" class="govuk-label govuk-checkboxes__label table-checkbox_label"><span class="govuk-visually-hidden"><%= builder.object.description %>, <%= value_with_currency_unit(builder.object.amount, builder.object.currency) %> on <%= l(builder.object.happened_at.to_date, format: :long_date) %></span></label>
                </div>
              <% end %>
            </td>
            <td class="govuk-table__cell sortable-cell table-combine_right_if_narrow narrow_555" id="Date-<%= builder.object.id %>" data-sort-value="<%= "#{builder.object.happened_at.to_i}#{builder.object.description}" %>">
              <%= l(builder.object.happened_at.to_date, format: :short_date) %>
            </td>
            <td class="govuk-table__cell sortable-cell" id="Description-<%= builder.object.id %>">
              <%= builder.object.description %>
            </td>
            <td class="nullcell"></td>
            <td class="govuk-table__cell sortable-cell govuk-table__cell--numeric table-combine_right_if_narrow narrow_470" id="Amount-<%= builder.object.id %>" data-sort-value="<%= builder.object.amount %>" data-sort-type="number">
              <%= value_with_currency_unit(builder.object.amount, builder.object.currency) %>
            </td>
            <% if builder.object.transaction_type_id != nil && builder.object.transaction_type_id != @transaction_type.id %>
              <td class="govuk-table__cell sortable-cell tag-cell" id="Category-<%= builder.object.id %>" data-sort-value="<%= t("transaction_types.table_label.#{builder.object.transaction_type.name}") %>">
                <p class="table-category govuk-body-s govuk-tag">
                  <%= t("transaction_types.table_label.#{builder.object.transaction_type.name}") %>
                </p>
              </td>
            <% else %>
              <td class="govuk-table__cell sortable-cell tag-cell" id="Category-<%= builder.object.id %>" data-sort-value="ZZZ">
                <strong class="table-category table-category-vacant govuk-body-s govuk-tag">
                  <%= t("transaction_types.table_label.#{@transaction_type.name}") %>
                </strong>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
