<% content_for :navigation do %>
  <%= link_to 'Back', url_for(:back), class: 'govuk-back-link', id: 'back-top', method: 'get' %>
<% end %>
<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        <%= t('forms.address_lookup.heading').html_safe %>
      </h1>
    </legend>

    <%= form_with(model: @form, scope: :address_lookup, url: providers_applicant_address_lookups_path, local: true) do |form| %>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-!-padding-bottom-2"></div>

      <%= render partial: 'shared/forms/text_fields', locals: { field_name: :postcode,
                                                                class: 'govuk-input--width-10',
                                                                form: form,
                                                                hint: :postcode_hint } %>

      <%= form.submit "Find address", id: 'find-address', class: "govuk-button" %>

      <p><%= link_to 'Enter address manually', new_providers_applicant_addresses_path, class: 'govuk-link' %></p>
    <% end %>
  </div>
</div>
