<%= form_with(
      model: @form,
      scope: :address_lookup,
      url: providers_legal_aid_application_address_lookup_path(@legal_aid_application),
      method: :patch,
      local: true
    ) do |form| %>

    <%= page_template(
            page_title: t('forms.address_lookup.heading'),
            template: :basic,
            form: form,
        ) do %>

    <%= form.govuk_text_field :postcode, label: {text: page_title, tag: 'h1', size: 'xl'}, width: 10 %>

    <%= next_action_buttons(
          form: form,
          show_draft: true,
          continue_id: 'find-address',
          continue_button_text: t('forms.address_lookup.submit_button')
        ) %>

    <p><%= link_to_accessible t('forms.address_lookup.address_manual_link'), providers_legal_aid_application_address_path, class: 'govuk-link' %></p>
  <% end %>
<% end %>
