<% content_for(:page_title) { t('forms.address_lookup.h1-heading') } %>
<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading"><%= content_for(:page_title) %></h1>
    </legend>

    <%= form_with(
          model: @form,
          scope: :address_lookup,
          url: providers_legal_aid_application_address_lookup_path(@legal_aid_application),
          method: :patch,
          local: true
        ) do |form| %>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-!-padding-bottom-2"></div>

      <%= form.govuk_text_field :postcode, class: 'govuk-input--width-10' %>

      <%= form.submit t('forms.address_lookup.submit_button'), id: 'find-address', class: 'govuk-button' %>

      <p><%= link_to t('forms.address_lookup.address_manual_link'), providers_legal_aid_application_address_path, class: 'govuk-link' %></p>
    <% end %>
  </div>
</div>
