<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        <%= t('forms.address_lookup.heading') %>
      </h1>
    </legend>

    <%= form_with(
          model: @form,
          scope: :address_lookup,
          url: providers_legal_aid_application_address_lookups_path(@legal_aid_application),
          local: true
        ) do |form| %>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-!-padding-bottom-2"></div>

      <%= render partial: 'shared/forms/text_fields', locals: { field_name: :postcode,
                                                                form: form,
                                                                class: 'govuk-input--width-10' } %>

      <%= form.submit 'Find address', id: 'find-address', class: 'govuk-button' %>

      <p><%= link_to 'Enter address manually', edit_providers_legal_aid_application_address_path, class: 'govuk-link' %></p>
    <% end %>
  </div>
</div>
