<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    <% formatted_name = t(".#{name}") %>
    <% if status != :waiting_for_dependency %>
      <%= link_to_accessible formatted_name, url, aria_describedby: "#{name}-status" %>
    <% else %>
      <p><%= formatted_name %></p>
    <% end %>
  </span>
  <strong class="govuk-tag <%= tag_class %> app-task-list__tag" id="<%= name %>_status"><%= t(".states.#{status}") %></strong>
</li>
