<%= page_template(
      page_title: t(".page_heading"),
      back_link: back_button,
      show_errors_for: @merits_task_list,
    ) do %>

  <div id="task_list" class="<%= "govuk-form-group--error" if @merits_task_list&.errors&.any? && @merits_task_list.errors[:task_list].present? %>">

    <% if @merits_task_list&.errors&.any? && @merits_task_list.errors[:task_list].present? %>
      <p class="govuk-error-message" id="task-list-error">
        <span class="govuk-visually-hidden">Error: </span>
        <%= @merits_task_list.errors[:task_list].first %>
      </p>
    <% end %>

    <ol class="govuk-list govuk-list--number govuk-heading-m">
      <li>
        <h2 class="govuk-heading-m"><%= t(".application_section_heading") %></h2>

        <%= govuk_task_list(id_prefix: "task-list_case-details") do |task_list|
              @merits_tasks[:application].each do |task|
                next if task.state.eql?(:ignored)

                task_list.with_item(
                  title: t(".#{task.name}"),
                  href: _task_url(task.name, @legal_aid_application, task.state),
                  status: task.state == :complete ? t(".states.#{task.state}") : govuk_tag(text: t(".states.#{task.state}")),
                )
              end
            end %>
      </li>

      <% @merits_tasks[:proceedings].each_with_index do |(ccms_code, proceeding), index| %>
        <li>
          <h2 class="govuk-heading-m"><%= t(".proceeding_section_heading", proceeding: proceeding[:name]) %></h2>
          <% if proceeding[:tasks].present? %>
            <%= govuk_task_list(id_prefix: "task-list_#{(index + 1).ordinalize}-proceeding") do |task_list|
                  proceeding[:tasks].each do |task|
                    next if task.state.eql?(:ignored)

                    if task.state == :waiting_for_dependency
                      task_list.with_item(title: t(".#{task.name}_html", proceeding: proceeding[:name])) do |item|
                        item.with_status(text: t(".states.waiting_for_dependency"), classes: "govuk-task-list__status--cannot-start-yet")
                      end
                    else
                      task_list.with_item(
                        title: t(".#{task.name}_html", proceeding: proceeding[:name]),
                        href: ccms_code ? proceeding_task_url(task.name, @legal_aid_application, ccms_code) : _task_url(task.name, @legal_aid_application),
                        status: task.state == :complete ? t(".states.#{task.state}") : govuk_tag(text: t(".states.#{task.state}")),
                      )
                    end
                  end
                end %>
          <% else %>
            <p><%= t(".no_more_information_needed") %></p>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_merits_task_list_path,
        method: :patch,
        show_draft: true,
      ) %>
<% end %>
