<h1 class="govuk-heading-xl"><%= t(".page_title", proceeding: @proceeding.meaning) %></h1>

<p><%= t(".paragraph") %></p>

<ul class="govuk-list govuk-list--bullet">
  <% @legal_aid_application.related_proceedings.each do |proceeding| %>
    <li><%= proceeding.meaning %></li>
  <% end %>
</ul>

<%= govuk_warning_text(text: t(".warning")) %>

<div class='govuk-button-group'>
  <%= form_for(@legal_aid_application, url: providers_legal_aid_applications_path) do |form| %>
    <%= form.govuk_submit(
          t(".yes_button"),
          warning: true,
        ) %>
    <%= govuk_button_link_to t(".no_button"), providers_legal_aid_applications_path %>
  <% end %>
</div>
