<%= form_with(model: @form,
              url: providers_legal_aid_application_has_other_proceedings_path,
              method: :patch,
              local: true) do |form| %>
  <%= page_template page_title: t('.page_title'), template: :basic, form: form do %>

    <% if @legal_aid_application.proceeding_types.any? %>
      <h1 class="govuk-heading-xl"><%= t('.existing', count: "#{pluralize(@legal_aid_application.proceeding_types.count, 'proceeding')}") %></h1>
      <div class="govuk-summary-list">
        <% @legal_aid_application.proceeding_types.order(:created_at).each do |type| %>
          <dl class="govuk-summary-list__row" id="proceeding_type_<%= type.code %>">
            <dt class="govuk-summary-list__value"><%= type.meaning %></dt>
            <dd class="govuk-summary-list__actions">
              <%= link_to_accessible(
                    t('.remove'),
                    providers_legal_aid_application_has_other_proceedings_path(@legal_aid_application, id: type.code),
                    class: 'govuk-link change-link',
                    method: :delete,
                    suffix: type.meaning
                  ) %>
            </dd>
          </dl>
        <% end %>
      </div>
    <% end %>

    <%= form.govuk_collection_radio_buttons :has_other_proceeding, yes_no_options, :value, :label,
                                            legend: {text: content_for(:page_title), tag: 'h2', size: 'l'} %>

    <%= next_action_buttons(
            form: form,
            show_draft: true
        ) %>
  <% end %>
<% end %>
