<%= form_with(model: @form,
              url: providers_legal_aid_application_has_other_proceedings_path,
              method: :patch,
              local: true) do |form| %>
  <% page_title_prefix = @form.remaining_proceedings.zero? ? ".no_more_proceedings" : "" %>
  <%= page_template page_title: t("#{page_title_prefix}.page_title"), template: :basic, form: do %>
    <% if @legal_aid_application.proceedings.any? %>
      <h1 class="govuk-heading-xl"><%= t(".existing", count: pluralize(@legal_aid_application.proceedings.count, "proceeding").to_s) %></h1>
      <%= govuk_summary_list do |summary_list| %>
        <% @legal_aid_application.proceedings.order(:created_at).each do |proceeding| %>
          <%= summary_list.with_row(html_attributes: { id: "proceeding_type_#{proceeding.ccms_code}" }) do |row| %>
            <%= row.with_value do %>
              <%= proceeding.meaning %><br>
              <span class="govuk-hint"><%= proceeding.matter_type.humanize %>, <%= proceeding.category_of_law.downcase %></span>
            <% end %>
            <% if proceeding.sca_type == "core" && @legal_aid_application.related_proceedings.any? %>
              <%= row.with_action(
                    text: t(".remove"),
                    href: providers_legal_aid_application_confirm_delete_core_proceeding_path(@legal_aid_application, proceeding_id: proceeding.id),
                    html_attributes: {
                      "aria-label": "#{t('.remove')} #{proceeding.meaning}",
                    },
                  ) %>
            <% else %>
              <%= row.with_action(
                    text: t(".remove"),
                    href: providers_legal_aid_application_has_other_proceedings_path(@legal_aid_application, ccms_code: proceeding.ccms_code),
                    html_attributes: {
                      "data-method": "delete",
                      "aria-label": "#{t('.remove')} #{proceeding.meaning}",
                    },
                  ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @form.remaining_proceedings.zero? %>
      <h2 class="govuk-heading-l"><%= content_for(:page_title) %></h2>
      <p class="govuk-body"><%= t(".no_more_proceedings.caption") %></p>
    <% else %>
      <%= form.govuk_collection_radio_buttons :has_other_proceeding, yes_no_options, :value, :label,
                                              legend: { text: content_for(:page_title), tag: "h2", size: "m" } do %>
        <%= govuk_inset_text(text: t(".inset")) %>
      <% end %>
    <% end %>

    <%= next_action_buttons(form:, show_draft: true) %>
  <% end %>
<% end %>
