<%= form_with(model: model, scope: :legal_aid_application, url: url, method: :patch, local: true) do |form| %>

  <%= govuk_form_group(
        show_error_if: form.object.errors[:property_value].present?,
        input: :property_value
      ) do %>

    <h1 class="govuk-heading-xl"><%= content_for(:page_title) %></h1>

    <%= form.govuk_text_field :property_value,
                              label: controller_t('property_value'),
                              hint: controller_t('hint.property_value'),
                              value: number_to_currency(model.property_value, unit: ''),
                              input_prefix: t('currency.gbp'),
                              class: 'govuk-!-width-one-third' %>
  <% end %>

  <%= render partial: 'shared/forms/continue_and_draft_buttons',
             locals: {
               continue_id: 'continue',
               show_draft: show_draft,
               form: form
             } %>

<% end %>
