<% content_for :navigation do %>
    <%= link_to t('generic.back'), new_citizens_additional_account_path, class: 'govuk-back-link', id: 'back' %>
<% end %>

<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

  <%= form_with(model: @form, scope: :legal_aid_application, url: citizens_property_value_path, method: :post, local: true) do |form| %>

  <% error = form.object.errors[:property_value].first %>
  <% group_error_class = error ? 'govuk-form-group--error' : '' %>
  <% input_error_class = error ? 'govuk-input--error' : '' %>

    <%= govuk_form_group(
          input: :property_value
        ) do %>
      <%= govuk_fieldset_header t('.field_set_header'), padding_below: 6 %>
      <%= form.label :property_value, t('.label'), class: 'govuk-label' %>
      <%= govuk_hint t('.hint'), id: :property_value_hint %>
      <div class="govuk-currency-input">
        <div class="govuk-currency-input__inner">
          <span class="govuk-currency-input__inner__unit">£</span>
          <%= form.text_field :property_value, class: 'govuk-input govuk-currency-input__inner__input govuk-!-width-one-third' %>
        </div>
      </div>
    <% end %>

      <%= govuk_submit_button t('generic.continue') %>

  <% end %>
