<%= form_with(model: @form,
              url: providers_legal_aid_application_means_policy_disregards_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>
  <% individual = @legal_aid_application.applicant.has_partner_with_no_contrary_interest? ? "partner" : "client" %>
  <%= page_template page_title: t(".h1-heading"), template: :basic, form: do %>
    <h1 class="govuk-heading-xl"><%= page_title %></h1>
    <p class="govuk-body govuk-!-margin-bottom-6"><%= t(".paragraph.#{individual}") %></p>

    <%= form.govuk_check_boxes_fieldset :policy_disregards,
                                        legend: { text: t(".h2-heading.#{individual}"), size: "l", tag: "h1" },
                                        hint: { text: t(".hint-text_html") },
                                        form_group: { class: @form.errors[:backdated_benefits].any? ? "govuk-form-group--error" : "" } do %>
      <% if @form.errors[:england_infected_blood_support].any? %>
        <p class="govuk-error-message" id="savings-amount-cash-error">
          <span class="govuk-visually-hidden">Error: </span><%= @form.errors[:backdated_benefits].first %></p>
      <% end %>

      <div class="deselect-group" data-deselect-ctrl="#policy-disregards-none-selected-true-field">
        <% Providers::PolicyDisregardsForm::MANDATORY_DISREGARDS_ATTRIBUTES.each do |checkbox| %>
          <%= form.govuk_check_box checkbox, true, "", multiple: false, link_errors: true, label: { text: t(".#{checkbox}") } %>
        <% end %>
      </div>

      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box :none_selected, true, "", multiple: false, label: { text: t(".none_of_these") } %>

    <% end %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
