  <%= form_with(
      model: @form,
      url: form_path,
      method: :patch,
      local: true
  ) do |form| %>
    <%= form.hidden_field :id, value: @form.model.id %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= form.govuk_text_field :name, class: 'govuk-!-width-three-quarters', label: { size: :m } %>

    <%= date_input_fields prefix: :dob, field_name: :date_of_birth, form: form %>

    <%= govuk_form_group(input: :relationship, show_error_if: @form.errors.messages[:relationship].any?) do %>
      <fieldset class="govuk-fieldset">
        <div id='relationship'></div>
        <%= govuk_fieldset_header(size: 'm') { t('.relationship') } %>
        <%= govuk_error_message(form.object.errors[:relationship].first) %>

        <div class="govuk-!-padding-bottom-3"></div>

        <% Dependant.relationships.keys.each do |relationship_type| %>
          <div class="govuk-!-padding-bottom-3"></div>

          <%= form.govuk_radio_button(
                  :relationship,
                  relationship_type,
                  label: t(".option.#{relationship_type}"),
                  hint: t(".option.hint.#{relationship_type}"),
                  checked: @form.relationship.to_s == relationship_type.to_s
              ) %>
        <% end %>
      </fieldset>
    <% end %>
    <%
      options = [
          { value: true, label: t('generic.yes') },
          { value: false, label: t('generic.no') }
      ]
    %>

    <%= form.govuk_collection_radio_buttons(
            :in_full_time_education,
            options,
            :value,
            :label,
            title:  { text: t('.in_full_time_education'), size: :m, htag: :h2 }
        ) %>

    <%= govuk_form_group show_error_if: @form.errors.messages[:has_income].present? do %>
      <fieldset class="govuk-fieldset">
        <div id='has_income'></div>
        <%= govuk_fieldset_header(size: 'm') { t('.has_income.question') } %>
        <%= govuk_hint t('.has_income.hint') %>
        <%= govuk_error_message(form.object.errors[:has_income].first) %>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <%= form.govuk_radio_button(
                :has_income,
                true,
                label: t('generic.yes'),
                'data-aria-controls' => 'monthly_incomes'
            ) %>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="monthly_incomes">
          <%= form.govuk_text_field(
                  :monthly_income,
                  label: t('.has_income.enter_monthly_income'),
                  value: number_to_currency_or_original_string(@form.monthly_income),
                  input_prefix: t('currency.gbp'),
                  class: 'govuk-!-width-one-third'
              ) %>
        </div>

        <%= form.govuk_radio_button(
                :has_income,
                false,
                label: t('generic.no')
            ) %>
      </div>
      </fieldset>
    <% end %>

    <%= govuk_form_group show_error_if: @form.errors[:has_assets_more_than_threshold].present? do %>
      <fieldset class="govuk-fieldset">
        <div id='has_assets_more_than_threshold'></div>
        <%= govuk_fieldset_header(size: 'm') { t('.has_assets_more_than_threshold.question') } %>
        <%= govuk_error_message(form.object.errors[:has_assets_more_than_threshold].first) %>

        <%= govuk_hint t('.has_assets_more_than_threshold.hint') %>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <%= form.govuk_radio_button(
                :has_assets_more_than_threshold,
                true,
                label: t('generic.yes'),
                'data-aria-controls' => 'conditional-true',
                checked: @form.assets_more_than_threshold? || @form.model.assets_value?
            ) %>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-true">
          <%= form.govuk_text_field(
                  :assets_value,
                  label: t('.has_assets_more_than_threshold.enter_assets_value'),
                  value: number_to_currency_or_original_string(@form.assets_value),
                  input_prefix: t('currency.gbp'),
                  class: 'govuk-!-width-one-third'
              ) %>
        </div>

        <%= form.govuk_radio_button(
                :has_assets_more_than_threshold,
                false,
                label: t('generic.no'),
                checked: @form.has_assets_more_than_threshold == false
            ) %>
      </div>
      </fieldset>
    <% end %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= next_action_buttons(
            show_draft: true,
            form: form
        ) %>
    </div>
  <% end %>
