<%= page_template(
      page_title: t(".heading_1"),
      show_errors_for: @legal_aid_application,
      back_link: if @legal_aid_application.proceedings.empty? &&
                    @legal_aid_application.checking_answers? &&
                    URI(url_for(:back)).path.eql?(URI(providers_legal_aid_application_has_other_proceedings_url).path)
                   :none
                 else
                   {}
                 end,
    ) %>

<% error_message = @legal_aid_application.errors[:"proceeding-search-input"]&.to_sentence %>
<% form_group_error_class = error_message.present? ? "govuk-form-group--error" : "" %>
<% input_error_class = error_message.present? ? "govuk-input--error" : "" %>

<div id="search-field" class="govuk-form-group govuk-!-margin-top-0 govuk-!-margin-bottom-0 <%= form_group_error_class %>">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    <label class="govuk-heading-m govuk-!-margin-bottom-0" for="proceeding-search-input">
      <%= t ".heading_2" %>
      <div class="govuk-hint govuk-!-margin-top-0 govuk-!-width-two-thirds">
        <%= t(".search_help_example") %>
        <span class="govuk-visually-hidden">Enter search term, results will automatically return</span>
      </div>
    </label>
  </h2>

  <div class="govuk-grid-row search-field govuk-!-margin-top-0">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
      <%= govuk_error_message(error_message) %>
      <input class="govuk-input <%= input_error_class %>" id="proceeding-search-input" name="proceeding-search-input" type="text" autocomplete="off">
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-top-2 clear-search">
      <p><%= govuk_link_to t(".clear_search"), "#", class: "govuk-!-font-size-19", id: "clear-proceeding-search" %></p>
    </div>
  </div>
</div>

<input id="exclude_codes"
       class="hidden"
       data-uri="<%= Rails.configuration.x.legal_framework_api_host_for_js %>"
       value="<%= @excluded_codes %>">
<%= form_with(
      model: nil,
      url: providers_legal_aid_application_proceedings_types_path,
      local: true,
    ) do |form| %>
  <noscript>
  <div class="govuk-grid-row govuk-!-margin-top-0">
    <div id="proceeding-list" class="govuk-grid-column-two-thirds govuk-list govuk-!-margin-bottom-0">
        <label for="datalist">TEST using datalink. JavaScript is OFF</label>
        <input list="proceeding-types" name="proceeding" id="proceeding" class="govuk-input">
        <datalist id="proceeding-types">
          <% @proceeding_types.each do |proceeding_type| %>
            <option value="<%= proceeding_type.meaning %>">
              <%= proceeding_type.ccms_category_law %> (<%= proceeding_type.ccms_matter %>)
            </option>
          <% end %>
        </datalist>
      </div>
    </div>
  </noscript>
  <div class="govuk-grid-row no-proceeding-items" style="display: none;">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-body"><%= t ".no_results" %></span>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <%= next_action_buttons(form:, show_draft: true) %>
    </div>
  </div>
<% end %>
<div id="screen-reader-messages" class="govuk-visually-hidden" aria-live="polite" aria-atomic="true" role="alert"></div>
