<%
  content_for(:navigation) do
    back_label = @legal_aid_application.checking_answers? ? 'Back' : 'Home'
    provider_back_link(back_label)
  end
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t '.heading_1' %></h1>
  </div>
</div>

<div id="search-field" class="govuk-form-group govuk-!-margin-top-0 govuk-!-margin-bottom-0">
  <label class="govuk-heading-m govuk-!-margin-bottom-0" for="proceeding-search-input">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><%= t '.heading_2' %></h2>
      <span class="govuk-hint govuk-!-margin-top-0">
        <%= t '.search_help_example' %>
      </span>
  </label>

  <div class="govuk-grid-row search-field govuk-!-margin-top-0">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
      <input class="govuk-input" id="proceeding-search-input" name="proceeding-search-input" type="text" />
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-top-2 clear-search">
      <p><a id="clear-proceeding-search" href="#" class="govuk-link govuk-!-font-size-19"><%= t '.clear_search' %></a></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-0">
  <ul id="proceeding-list" class="govuk-grid-column-full govuk-list govuk-!-margin-bottom-0">
    <%= render partial: 'proceeding_type', collection: @proceeding_types %>
  </ul>
  <div class="govuk-grid-row no-proceeding-items" style="display: none;">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-body"><%= t '.no_results' %></span>
    </div>
  </div>
</div>
