<%= form_with(
        model: @form,
        url: form_url,
        method: form_method,
        local: true
    ) do |form| %>

  <%= page_template(
        page_title: t('.page_title'),
        back_link: { text: t('generic.back') },
        page_heading_options: { margin_bottom: 3 },
        form: form
      ) do %>

    <div class="govuk-!-padding-bottom-2"></div>
    <%= form.govuk_fieldset legend: {text: t('.full_name')} do %>
      <%= form.govuk_text_field :first_name, label: { text: 'First name' }, width: 'three-quarters' %>
      <%= form.govuk_text_field :last_name, label: { text: 'Last name'}, width: 'three-quarters' %>
    <% end %>

    <div class="govuk-!-padding-bottom-4"></div>
    <%= form.govuk_date_field :date_of_birth, legend: { text: t("shared.forms.date_input_fields.date_of_birth_label") },
                              hint: { text: t("shared.forms.date_input_fields.date_of_birth_hint")} %>

    <div class="govuk-!-padding-bottom-6"></div>
    <%= form.govuk_text_field(
          :national_insurance_number,
          label: { text: t('.nino_label'), size: 'm' },
          class: 'govuk-input govuk-input--width-10'
        ) %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
