<%= page_template(
      page_title: t('.page_title'),
      back_link: { text: t('generic.back') },
      page_heading_options: { margin_bottom: 3 }
    ) do %>

  <%= form_with(
        model: @form,
        url: form_url,
        method: form_method,
        local: true
      ) do |form| %>

    <div class="govuk-!-padding-bottom-2"></div>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><%= t('.full_name') %></legend>
      <%= form.govuk_text_field :first_name, class: 'govuk-!-width-three-quarters', 'aria-label' => 'first name' %>
      <%= form.govuk_text_field :last_name, class: 'govuk-!-width-three-quarters', 'aria-label' => 'last name' %>
    </fieldset>

    <div class="govuk-!-padding-bottom-4"></div>

    <%= date_input_fields prefix: :dob, field_name: :date_of_birth, form: form %>

    <div class="govuk-!-padding-bottom-6"></div>
    <%= form.govuk_text_field(
          :national_insurance_number,
          label: { text: t('.nino_label'), size: :m },
          class: 'govuk-input govuk-input--width-10'
        ) %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
   </div>
  <% end %>
<% end %>
