
<%= form_with(
      model: @form,
      url: form_url,
      method: form_method,
      local: true,
    ) do |form| %>

  <%= page_template(
        page_title: t(".page_title"),
        back_link: { text: t("generic.back") },
        page_heading_options: { margin_bottom: 3 },
        form:,
      ) do %>

    <div class="govuk-!-padding-bottom-2 govuk-hint">This branch it pointed at CCMS PRE_PROD (Staging) as the auto-grant rules do not run on UAT</div>
    <%= form.govuk_fieldset legend: { text: t(".name") } do %>
      <%= form.govuk_text_field :first_name, label: { text: "First name" }, width: "three-quarters", hint: { text: "If the first name starts with AUTO-GRANT the SCA_AUTO_GRANT flag will be set in the CCMS payload" } %>
      <%= form.govuk_text_field :last_name, label: { text: "Last name" }, width: "three-quarters" %>
    <% end %>
    <%= form.govuk_radio_buttons_fieldset :changed_last_name,
                                          legend: { text: t(".changed_last_name") },
                                          hint: { text: t(".changed_last_name_hint") } do %>
      <%= form.govuk_radio_button :changed_last_name, true, link_errors: true, label: { text: t("generic.yes") } do %>
        <%= form.govuk_text_field :last_name_at_birth, label: { text: t(".last_name_at_birth") }, hint: { text: t(".last_name_at_birth_hint") }, width: "three-quarters" %>
      <% end %>
      <%= form.govuk_radio_button :changed_last_name, false, label: { text: t("generic.no") } %>
    <% end %>
    <div class="govuk-!-padding-bottom-4"></div>
    <%= form.govuk_date_field :date_of_birth, legend: { text: t("shared.forms.date_input_fields.date_of_birth_label") },
                                              hint: { text: t("shared.forms.date_input_fields.date_of_birth_hint") } %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
