<div class="govuk-grid-row">
  <div class="govuk-grid-column-<%= width %>">
    <div class="govuk-form-group">
      <div class="govuk-date-input__item <%= group_error_class %>">

        <%= govuk_bold_label t(".#{field_name}_label"), default: '', id: "#{field_name}-label".dasherize %>
        <% hint = t(".#{field_name}_hint", default: '') %>
          <% if hint.present? %>
            <%= content_tag(:span, t(".#{field_name}_hint"), default: '', id: "#{field_name}-hint".dasherize, class: ['govuk-hint']) %>
        <% end %>

        <% form.object.errors[field_name].each do |message| %>
            <%= content_tag(:span, message, id: "#{field_name}-error".dasherize, class: 'govuk-error-message') if form.object.errors[field_name].any? %>
        <% end %>

        <fieldset class="govuk-fieldset">
          <div class="govuk-date-input">
            <%= render 'shared/forms/date_part_input_fields', parent_field: field_name, field_name: :"#{prefix}_day", form: form, use_parent_as_id: true %>
            <%= render 'shared/forms/date_part_input_fields', parent_field: field_name, field_name: :"#{prefix}_month", form: form %>
            <%= render 'shared/forms/date_part_input_fields', parent_field: field_name, field_name: :"#{prefix}_year", form: form %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
