<%
accessibility_error_notice = content_tag(:span, I18n.translate('helpers.accessibility.error'), class: 'govuk-visually-hidden')
%>

<div class="govuk-form-group">
  <div class="govuk-date-input__item <%= group_error_class %>">

    <% hint = t(".#{field_name}_hint", default: '') %>
    <% if hint.present? %>
      <fieldset class="govuk-fieldset" aria-describedby="<%= "#{field_name}-hint".dasherize %>" role="group">
    <% else %>
      <fieldset class="govuk-fieldset" role="group">
    <% end %>
      <% if label.present? %>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
          <h1 class="govuk-fieldset__heading"><%= label %></h1>
        </legend>
      <% else %>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <%= t(".#{field_name}_label") %>
        </legend>
      <% end %>

      <% if hint.present? %>
        <%= content_tag(:span, t(".#{field_name}_hint", options: options), id: "#{field_name}-hint".dasherize, class: ['govuk-hint']) %>
      <% end %>

      <% if form.object.errors[field_name].any? %>
          <%= content_tag(:span, class: 'govuk-error-message', id: "#{field_name}-error".dasherize) do %>
            <%= accessibility_error_notice + form.object.errors[field_name].first %>
          <% end %>
      <% end %>

      <div class="govuk-date-input">
        <%= render 'shared/forms/date_part_input_fields', parent_field: field_name, field_name: :"#{prefix}_day", form: form, use_parent_as_id: true %>
        <%= render 'shared/forms/date_part_input_fields', parent_field: field_name, field_name: :"#{prefix}_month", form: form %>
        <%= render 'shared/forms/date_part_input_fields', parent_field: field_name, field_name: :"#{prefix}_year", form: form %>
      </div>
    </fieldset>
  </div>
</div>
