<%= form_with(model: model, url: url, method: :patch, local: true) do |form| %>

  <%= govuk_form_group(
        show_error_if: form.object.errors[:estimated_legal_cost].present?,
        input: :estimated_legal_cost
      ) do %>

    <h1 class="govuk-heading-xl"><%= content_for(:page_title) %></h1>

    <%= form.govuk_text_field :estimated_legal_cost,
                              label: nil,
                              hint: t('helpers.hint.merits_assessment.estimated_legal_cost'),
                              value: number_to_currency(model.estimated_legal_cost, unit: ''),
                              input_prefix: t('currency.gbp'),
                              class: 'govuk-!-width-one-third' %>
  <% end %>

  <%= render partial: 'shared/forms/next_action_buttons',
             locals: {
               continue_id: 'continue',
               show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
               form: form
             } %>

<% end %>
