<%= form_with(
      model: @legal_aid_application,
      url: form_path,
      method: :patch,
      local: true
    ) do |form| %>

  <%= govuk_form_group show_error_if: @legal_aid_application.errors.present? do %>
    <%= govuk_fieldset_header page_title %>
    <h2 class="govuk-heading-m"><%= t('.sub_heading') %></h2>

    <div class="deselect-group" data-deselect-ctrl="#none_selected">
      <%= transaction_type_check_boxes(
            form: form,
            transaction_types: TransactionType.debits
          ) %>
    </div>

    <p class="govuk-!-padding-top-4"><%= t('generic.or') %></p>

    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <%= check_box_tag :none_selected, 'true', false, class: 'govuk-checkboxes__input' %>
        <%= label_tag :none_selected, t('.none_selected'), class: 'govuk-label govuk-checkboxes__label' %>
      </div>
    </div>

  <% end %>

  <%= next_action_buttons(
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
        form: form
      ) %>
<% end %>
