<%= form_with(
      model: @legal_aid_application,
      url: form_path,
      method: :patch,
      local: true
    ) do |form| %>

  <%= govuk_form_group show_error_if: @legal_aid_application.errors.present? do %>
    <fieldset class="govuk-fieldset" aria-describedby="select-all-that-apply-hint">
      <%= govuk_fieldset_header page_title %>
      <span id="select-all-that-apply-hint" class="govuk-hint"><%= t('generic.select_all_that_apply') %></span>
      <span class='govuk-error-message' id="base"><%= @legal_aid_application.errors.messages[:base][0] %></span>
      <div class="deselect-group" data-deselect-ctrl="#none_selected">
        <%= transaction_type_check_boxes(
              form: form,
              transaction_types: TransactionType.debits
            ) %>
      </div>

      <div class="govuk-radios__divider tickbox_divider"><%= t('generic.or') %></div>

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <%= check_box_tag :none_selected, 'true', @none_selected, class: 'govuk-checkboxes__input' %>
          <%= label_tag :none_selected, t('.none_selected'), class: 'govuk-label govuk-checkboxes__label' %>
        </div>
      </div>
    </fieldset>
  <% end %>

  <% if journey == :citizen %>
    <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"
          title="<%= t('.expanded_explanation.heading') %>"
          aria-label="<%= t('.expanded_explanation.heading') %>">
          <%= t('.expanded_explanation.heading') %>
        </span>
      </summary>

      <div class="govuk-details__text">
        <% t('.expanded_explanation.list').each_line do |para| %>
          <p>
            <%= para %>
        <% end %>
      </div>
    </details>
  <% end %>

  <%= next_action_buttons(
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
        form: form
      ) %>
<% end %>
