<%= render 'accounts_summary', bank_accounts: bank_accounts if bank_accounts.any? %>

<%= form_with(
        model: @form,
        url: form_path,
        method: :patch,
        local: true) do |form| %>

  <%= form.govuk_check_boxes_fieldset :savings_amount,
                                   legend: { text: page_title, size: "xl", tag: 'h1'},
                                   hint: { text: t('generic.select_all_that_apply')} do %>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="deselect-group" data-deselect-ctrl="#savings-amount-no-account-selected-true-field">
        <%= render partial: 'shared/forms/revealing_checkbox/attribute',
                   collection: attributes,
                   locals: { model: @form, form: form } %>
      </div>
    </div>
    <%= form.govuk_radio_divider %>
    <%= form.govuk_check_box :no_account_selected, true, '', multiple: false, label: {text: no_account_selected} %>

  <% end %>

  <div class="govuk-!-padding-bottom-4"></div>

  <%= next_action_buttons(
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
        form: form
      ) %>
<% end %>
