<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"><%= content_for(:page_title) %></h1>

    <%= render partial: 'accounts_summary', locals: { bank_accounts: bank_accounts } if bank_accounts.any? %>

    <%= form_with(model: @form,
                  url: form_path,
                  method: :patch,
                  local: true) do |form| %>

      <div class="govuk-checkboxes" data-module="checkboxes">
        <%= render(
              partial: 'shared/forms/revealing_checkbox/attribute',
              collection: attributes,
              locals: {
                model: @form,
                form: form
              }
            ) %>
      </div>

      <%= render partial: 'shared/forms/next_action_buttons',
                 locals: {
                   continue_id: 'continue',
                   show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
                   form: form
                 } %>

  <% end %>

  </div>
</div>
