<%= render 'accounts_summary', bank_accounts: bank_accounts if bank_accounts.any? %>

<%= form_with(builder: GOVUKDesignSystemFormBuilder::FormBuilder, model: @form, url: form_path, method: :patch, local: true) do |form| %>

  <%= govuk_form_group show_error_if: @form.errors.present? do %>
    <fieldset class="govuk-fieldset" aria-describedby="select-all-that-apply-hint">
      <%= govuk_fieldset_header page_title %>
      <span id="select-all-that-apply-hint" class="govuk-hint"><%= t('generic.select_all_that_apply') %></span>

      <%= render 'shared/show_errors' unless @form.any_checkbox_checked? %>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="deselect-group" data-deselect-ctrl="[name='savings_amount[none_selected]']">
          <%= render partial: 'shared/forms/revealing_checkbox/attribute',
                     collection: attributes,
                     locals: { model: @form, form: form } %>
        </div>
      </div>

      <div class="govuk-radios__divider tickbox_divider"><%= or_break %></div>

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <%= form.check_box :none_selected, { class: 'govuk-checkboxes__input' }, true, '' %>
          <%= form.label :none_selected, none_selected, class: 'govuk-label govuk-checkboxes__label' %>
        </div>
      </div>

    </fieldset>
  <% end %>

  <%= next_action_buttons(
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
        form: form
      ) %>
<% end %>
