<%= form_with(model: @form,
              scope: :legal_aid_application,
              url: form_path,
              method: :patch,
              local: true) do |form| %>
  <% error = form.object.errors[:shared_ownership].first %>
  <% input_error_class = error ? 'govuk-input--error' : '' %>

  <%= govuk_form_group show_error_if: error do %>
    <fieldset class="govuk-fieldset">
      <%= govuk_fieldset_header page_title %>

      <%= content_tag(:span, error, class: 'govuk-error-message', id: 'shared_ownership') if error %>

      <div class="govuk-radios govuk-!-padding-top-2">
        <%= render partial: 'shared/forms/shared_ownership_form/shared_ownership_item',
                   collection: LegalAidApplication::SHARED_OWNERSHIP_REASONS, as: :reason,
                   locals: { form: form,
                             input_error_class: input_error_class } %>

      </div>
    </fieldset>
  <% end %>

  <%= next_action_buttons(
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
        form: form
      ) %>
<% end %>
