<% group_error_class = form.object.errors[field_name].any? ? 'govuk-form-group--error': '' %>
<div class="govuk-form-group <%= group_error_class %>">
  <%= form.label field_name, class: ["govuk-label"] %>
  <% hint = t(".#{field_name}_hint", default: '') %>
    <% if hint.present? %>
      <%= content_tag(:span, hint, id: "#{field_name}-hint".dasherize, class: ["govuk-hint"]) %>
    <% end %>
  <% if form.object.errors[field_name].any? %>
    <%= content_tag(:span, form.object.errors[field_name].first, class: ["govuk-error-message"]) %>
  <% end %>
  <%= form.text_field field_name, id: field_name, class: ["govuk-input govuk-!-width-one-half"] %>
</div>
