<%= govuk_form_group do %>
  <div class="govuk-checkboxes">
    <%= form.collection_check_boxes :transaction_type_ids, transaction_types, :id, label_method do |transaction_type_form| %>
      <div class="govuk-checkboxes__item">
        <%= transaction_type_form.check_box(class: 'govuk-checkboxes__input') %>
        <%= transaction_type_form.label(class: 'govuk-label govuk-checkboxes__label') %>
        <%= hints[transaction_type_form.object.name.to_sym] %>
      </div>
    <% end %>
  </div>
<% end %>
