<%= form_with(
      model: @legal_aid_application,
      url: form_path,
      method: :patch,
      local: true
    ) do |form| %>

  <%= govuk_form_group show_error_if: @legal_aid_application.errors.present? do %>
    <fieldset class="govuk-fieldset" aria-describedby="select-all-that-apply-hint">
      <%= govuk_fieldset_header page_title %>
      <span id="select-all-that-apply-hint" class="govuk-hint"><%= t('generic.select_all_that_apply') %></span>

      <div class="deselect-group" data-deselect-ctrl="#none_selected">
        <%= transaction_type_check_boxes(
              form: form,
              transaction_types: TransactionType.credits.not_children,
              hints: {
                friends_or_family: t('.financial_help_examples'),
                benefits: t('.benefits_examples'),
                pension: t('.pension_examples')
              }
            ) %>
      </div>

      <div class="govuk-radios__divider tickbox_divider"><%= t('generic.or') %></div>

        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <%= check_box_tag :none_selected, 'true', @none_selected, class: 'govuk-checkboxes__input' %>
            <%= label_tag :none_selected, t('.none_selected'), class: 'govuk-label govuk-checkboxes__label' %>
          </div>
        </div>
    </fieldset>
  <% end %>

  <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
    <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('.expanded_explanation.heading') %>
          </span>
    </summary>

    <div class="govuk-details__text">
      <% t('.expanded_explanation.list').each_line do |para| %>
        <p>
        <%= para %>
      <% end %>
    </div>
  </details>

  <%= next_action_buttons(
        form: form,
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false
      ) %>
<% end %>
