<% content_for :navigation do %>
  <%= link_to 'Back', new_provider_legal_aid_application_applicant_path %>
<% end %>
<%= render partial: 'shared/forms/error_summary', locals: { model: @applicant } %>

<fieldset class="govuk-fieldset">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Enter your client's details
        </h1>
      </legend>
    </div>
  </div>

  <div class="govuk-!-padding-bottom-2"></div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: @applicant, url: provider_legal_aid_application_applicant_path, local: true) do |form| %>
        <div class="govuk-!-padding-bottom-2"></div>

        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :first_name, form: form } %>
        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :last_name, form: form } %>

        <div class="govuk-!-padding-bottom-4"></div>

        <%= render partial: 'shared/forms/date_input_fields', locals: { field_name: :dob, form: form } %>

        <div class="govuk-!-padding-bottom-6"></div>

        <%= render partial: 'shared/forms/text_fields', locals: { field_name: :national_insurance_number, form: form } %>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= form.submit "Continue", id: 'continue', :class=>"govuk-button govuk-button" %>
          <% end %>
         </div>
       </div>
    </div>
  </div>
</fieldset>

<fieldset class="govuk-fieldset">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= simple_form_for @applicant, url: provider_legal_aid_application_applicant_path do |f|  %>
        <div class="govuk-!-padding-bottom-2"></div>
        <%= f.input :first_name %>
        <div class="govuk-!-padding-bottom-1"></div>
        <%= f.input :last_name %>
        <div class="govuk-!-padding-bottom-4"></div>
        <%=
          f.input(
            :date_of_birth,
            order: [:day, :month, :year],
            start_year: Date.today.year,
            end_year: Date.today.year - 120,
            use_short_month: true,
            prompt: {day: 'DD', month: 'MMM', year: 'YYYY'},
            input_html: { class: 'govuk-input govuk-date-input__input govuk-input--width-3' }
          )
        %>
        <div class="govuk-!-padding-bottom-6"></div>
        <%= f.input :national_insurance_number %>
        <div class="govuk-!-padding-bottom-2"></div>
        <%= f.submit 'Continue', class: 'govuk-button' %>
      <% end %>
    </div>
  </div>
</fieldset>


