<div class="govuk-grid-row">
  <div class="govuk-grid-column-<%= column_width %>">
    <%= render(partial: "shared/forms/error_summary", locals: { model: show_errors_for }) if show_errors_for %>
    <%= form.govuk_error_summary if form %>
    <%= if notification_banner_title
          govuk_notification_banner(title_text: notification_banner_title, success: notification_banner_success) do |notification_banner| %>
            <% notification_banner.with_heading(text: notification_banner_text) %>
            <p class="govuk-body"><%= notification_banner_body %></p>
          <% end
        end %>
    <%= content %>
  </div>
</div>
