<%= render(partial: 'shared/forms/error_summary', locals: { model: show_errors_for }) if show_errors_for %>
<%= render(partial: 'shared/forms/success_message', locals: { success_message: success_message }) if success_message.present? %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-<%= column_width %>">
    <%= form.govuk_error_summary if form %>
    <% if content_for?(:panel) %>
      <%= content_for(:panel) %>
      <div class="govuk-!-padding-top-4"></div>
      <% if content_for(:page_title) %>
        <h2 class="govuk-heading-m">
          <%= content_for(:page_title) %>
        </h2>
      <% end %>
    <% else %>
      <%= page_heading **page_heading_options %>
    <% end %>
    <%= content %>
  </div>
</div>
