<%= form_with(
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      url: providers_legal_aid_application_applicant_bank_account_path,
      model: @form,
      method: :patch,
      local: true
    ) do |form| %>
  <%= page_template page_title: t('.heading'), template: :basic, form: form do %>

    <%= govuk_fieldset_header page_title %>

    <p class="govuk-body"><%= t('.previously_told') %></p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="govuk-list">
        <% @applicant_accounts.each do |applicant_account| %>
          <% applicant_account.bank_accounts.each do |bank_account| %>
              <li>
                <strong><%= t('.account') %>: </strong>
                <%= bank_account.bank_and_account_name %>
              </li>
              <li>
                <strong><%= t('.balance') %>: </strong>
                <%= value_with_currency_unit(bank_account.balance, bank_account.currency) %>
              </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="govuk-!-padding-bottom-4"></div>

    <%= form.govuk_collection_radio_buttons :applicant_bank_account,
                                            yes_no_options,
                                            :value,
                                            :label,
                                            hint: {text: t('.hints.offline_savings_accounts')},
                                            legend: {
                                              text: t('.offline_savings_accounts'),
                                              tag: 'h2',
                                              size: 'l'
                                            } %>

    <%= next_action_buttons(
            show_draft: true,
            form: form
        ) %>
  <% end %>
<% end %>
