<%= form_with(model: model, url: url, method: :patch, local: true) do |form| %>
  <%
    options = []
    Providers::ReceivedBenefitConfirmationForm::SINGLE_VALUE_ATTRIBUTES.each do |benefit|
      options << OpenStruct.new(value: benefit, label: t(".providers.received_benefit_confirmations.#{benefit}"))
    end
  %>

  <%= form.govuk_collection_radio_buttons(:passporting_benefit, options, :value, :label,
                                          legend: {size: 'xl', tag: 'h1', text: content_for(:page_title)}) %>

    <%= form.govuk_radio_divider %>
    <%= form.govuk_radio_button(:passporting_benefit, :none_selected, label: {text:  t('generic.none_selected')}) %>

  <div class="govuk-!-padding-bottom-3"></div>

  <%= next_action_buttons(
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
        form: form
      ) %>

<% end %>
