<%= page_template(
      page_title: t(".page_title"),
      back_link: :none,
    ) %>

<h2 class="govuk-heading-m"><%= t(".progress_queue.heading", count: @in_progress.size) %></h2>
<% if @in_progress.empty? %>
  <h3 class="govuk-heading-s"><%= t(".progress_queue.empty") %></h3>
<% else %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <%= govuk_table do |table|
            table.with_caption(html_attributes: { class: "govuk-visually-hidden" }, text: t(".page_title"))

            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(text: t("admin.ccms_queues.index.references"))
                row.with_cell(text: t("admin.ccms_queues.index.state"))
                row.with_cell(text: t("admin.ccms_queues.index.submission_at"))
                row.with_cell(text: t("admin.ccms_queues.index.state"))
              end
            end

            table.with_body do |body|
              @in_progress.each do |submission|
                body.with_row do |row|
                  row.with_cell do
                    govuk_link_to("#{submission.case_ccms_reference}, (#{submission.legal_aid_application.application_ref})", admin_ccms_queue_path(submission.id))
                  end
                  row.with_cell(text: submission.aasm_state)
                  row.with_cell(text: l(submission.created_at, format: :long_date_time))
                  row.with_cell(text: t("admin.ccms_queues.index.sidekiq.#{submission.sidekiq_status}"))
                end
              end
            end
          end %>

    </div>
  </div>

<% end %>

<h2 class="govuk-heading-m"><%= t(".paused_submission.heading", count: @paused.size) %></h2>
<% if @paused.empty? %>
  <h3 class="govuk-heading-s"><%= t(".paused_submission.empty") %></h3>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <%= govuk_table do |table|
            table.with_caption(html_attributes: { class: "govuk-visually-hidden" }, text: t(".page_title"))

            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(text: t("admin.ccms_queues.index.case_reference"))
                row.with_cell(text: t("admin.ccms_queues.index.state"))
                row.with_cell(text: t("admin.ccms_queues.index.submission_at"))
              end
            end

            table.with_body do |body|
              @paused.each do |application|
                body.with_row do |row|
                  row.with_cell do
                    govuk_link_to(application.application_ref, admin_legal_aid_applications_submission_path(application))
                  end
                  row.with_cell(text: application.state.humanize)
                  row.with_cell(text: l(application.merits_submitted_at, format: :long_date_time))
                end
              end
            end
          end %>

    </div>
  </div>

<% end %>
