<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= govuk_link_to("CCMS Queue", admin_ccms_queues_path, class: "govuk-breadcrumbs__link") %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= @legal_aid_application.application_ref %>
    </li>
  </ol>
</div>

<h2 class="govuk-heading-l"><%= t(".submission") %></h2>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= @legal_aid_application.application_ref %> (<%= @submission.case_ccms_reference %>)</h2>
  </div>
  <div class="govuk-summary-card__content">
    <%= govuk_summary_list(actions: false) do |summary_list|
          summary_list.with_row do |row|
            row.with_key { t("admin.ccms_queues.show.created_at") }
            row.with_value { l(@submission.created_at, format: :long_date_time) }
          end
          summary_list.with_row do |row|
            row.with_key { t("admin.ccms_queues.show.updated_at") }
            row.with_value { l(@submission.updated_at, format: :long_date_time) }
          end
          summary_list.with_row do |row|
            row.with_key { t("admin.ccms_queues.show.status") }
            row.with_value { @submission.aasm_state }
          end
          summary_list.with_row do |row|
            row.with_key { t("admin.ccms_queues.show.applicant_poll_count") }
            row.with_value { @submission.applicant_poll_count.to_s }
          end
          summary_list.with_row do |row|
            row.with_key { t("admin.ccms_queues.show.case_poll_count") }
            row.with_value { @submission.case_poll_count.to_s }
          end
          summary_list.with_row do |row|
            row.with_key { t("admin.ccms_queues.show.sidekiq_argument") }
            row.with_value { @submission.id }
          end
        end %>
  </div>
</div>

<div class="govuk-!-padding-bottom-6">
  <h2 class="govuk-heading-l"><%= t(".actions") %></h2>
  <% if @submission.sidekiq_running? %>
    <p>The original job is still pending in sidekiq</p>
  <% else %>
    <%= govuk_details(summary_text: t(".restart")) do %>
      <p><%= t(".restart_details") %></p>
      <p><%= govuk_link_to t(".restart"), restart_current_submission_admin_ccms_queue_path(@submission.id), class: "govuk-button govuk-!-margin-bottom-0" %></p>
    <% end %>
    <%= govuk_details(summary_text: t(".reset")) do %>
      <p><%= t(".reset_details") %></p>
      <p><%= govuk_link_to t(".reset"), reset_and_restart_admin_ccms_queue_path(@submission.id), class: "govuk-button govuk-!-margin-bottom-0" %></p>
    <% end %>
  <% end %>
</div>

<h2 class="govuk-heading-l"><%= t(".submission_histories") %></h2>
<% @submission.submission_history.order(:created_at).each do |history| %>
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title"><%= history.id %> (<%= history.from_state %> > <%= history.to_state %>)</h2>
    </div>
    <div class="govuk-summary-card__content">
      <%= govuk_summary_list(actions: false) do |summary_list|
            summary_list.with_row do |row|
              row.with_key { t("admin.ccms_queues.show.from_state") }
              row.with_value { history.from_state }
            end
            summary_list.with_row do |row|
              row.with_key { t("admin.ccms_queues.show.to_state") }
              row.with_value { history.to_state }
            end
            summary_list.with_row do |row|
              row.with_key { t("generic.success") }
              row.with_value { history.success.to_s }
            end
            summary_list.with_row do |row|
              row.with_key { t("admin.ccms_queues.show.request") }
              row.with_value do
                if history.request.nil?
                  t("admin.ccms_queues.show.request_is_nil")
                else
                  govuk_details(summary_text: t("admin.ccms_queues.show.expand")) do
                    history.request
                  end
                end
              end
            end
            summary_list.with_row do |row|
              row.with_key { t("admin.ccms_queues.show.response") }
              row.with_value do
                if history.response.nil?
                  t("admin.ccms_queues.show.response_is_nil")
                else
                  govuk_details(summary_text: t("admin.ccms_queues.show.expand")) do
                    history.response
                  end
                end
              end
            end
          end %>
    </div>
  </div>
<% end %>
