<%= form_with(model: @form,
              url: providers_legal_aid_application_limitations_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>
  <%= page_template(page_title: t(".h1-heading"), template: :basic, form:) do %>
  <h1 class="govuk-heading-xl"><%= t(".h1-heading") %></h1>
  <h2 class="govuk-heading-l">
    <%= t(".proceedings_heading") %>
  </h2>

  <dl class="govuk-summary-list govuk-!-padding-bottom-4">
    <%= render partial: "providers/limitations/proceeding_type",
               collection: @legal_aid_application.proceedings.in_order_of_addition, as: :proceeding,
               locals: { translation_path: "providers.limitations.show" } %>
  </dl>

    <%= render partial: "providers/limitations/cost_limits",
               locals: { title_translation_path: ".cost_heading", form: } %>
    <div class="govuk-!-padding-bottom-6"></div>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
