<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m"><%= proceeding.meaning %></h3>
  </div>
  <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
    <%= govuk_link_to(
          t("generic.change"),
          providers_legal_aid_application_has_other_proceedings_path,
          class: "govuk-!-font-size-19",
        ) %>
  </div>
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-s">
      <%= t(".client_role") %>
      <span class="govuk-!-font-weight-regular">
        <%= proceeding.client_involvement_type_description %>
      </span>
    </h3>
    <%= govuk_details(summary_text: t(".details_heading")) do %>
      <% if proceeding.non_sca_used_delegated_functions? %>
        <h4 class="govuk-heading-m"><%= t(".emergency_certificate") %></h4>
        <p><strong><%= t(".form_of_service") %></strong>
          <%= proceeding.emergency_level_of_service_name %>
        </p>
        <p><strong><%= t(".allowable_work") %></strong>
          <%= scope_limits(proceeding, "emergency") %>
        </p>
      <% end %>
      <h4 class="govuk-heading-m"><%= t(".substantive_certificate") %></h4>
      <p><strong><%= t(".form_of_service") %></strong>
        <%= proceeding.substantive_level_of_service_name %>
      </p>
      <p><strong><%= t(".allowable_work") %></strong>
        <%= scope_limits(proceeding, "substantive") %>
      </p>
    <% end %>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>
