<div id="files-errors-container" role="alert" tabindex="-1"></div>

<%= page_template(
      page_title: t('.h1-heading'),
      head_title: t('.tab_title'),
      template: :basic,
      back_link: { path: providers_legal_aid_application_evidence_upload_path(@legal_aid_application) }
    ) do %>

  <%= form_with(
          model: @form,
          url: providers_legal_aid_application_gateway_evidence_path,
          method: :patch,
          local: true
      ) do |form| %>

    <%#= form.govuk_error_summary %>

    <%= form.govuk_fieldset legend: {text: page_title, tag: 'h1', size: 'xl'} do %>

      <div class="govuk-inset-text"><%= t('.hint_text') %></div>

    <% end %>
  <% end %>

    <%= form_with(
          model: @form,
          url: providers_legal_aid_application_gateway_evidence_path,
          method: :patch,
          local: true
      ) do |form| %>

    <div class="govuk-!-padding-bottom-6"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
