<%= form_with(model: @form,
              url: providers_legal_aid_application_other_assets_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>
  <%= page_template page_title: t('.h1-heading'), template: :basic, form: form do %>

    <%= form.govuk_check_boxes_fieldset :other_assets,
                                        legend: { text: page_title, size: "xl", tag: 'h1'},
                                        hint: { text: t('generic.select_all_that_apply')} do %>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="deselect-group" data-deselect-ctrl="#other-assets-declaration-none-selected-true-field">
          <%= render partial: '/shared/forms/revealing_checkbox/attribute',
                     collection: Citizens::OtherAssetsForm::VALUABLE_ITEMS_VALUE_ATTRIBUTE,
                     locals: { model: @form, form: form } %>
          <%= render partial: '/providers/other_assets/second_home_conditional_checkbox', locals: { model: @form, form: form } %>
          <%= render partial: '/shared/forms/revealing_checkbox/attribute',
                     collection: Citizens::OtherAssetsForm::SINGLE_VALUE_ATTRIBUTES,
                     locals: { model: @form, form: form } %>
        </div>
      </div>

      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box :none_selected, true, '', multiple: false, label: {text: t('generic.none_selected')} %>

    <% end %>

    <div class="govuk-!-padding-bottom-4"></div>

    <%= next_action_buttons(
            show_draft: true,
            form: form
        ) %>
  <% end %>
<% end %>
