<%= page_template page_title: t(".h1-heading") do %>

  <div class="app-counter-list">
    <h2 class="govuk-heading-m app-counter"><%= t(".capital_list_heading") %></h2>
    <div class="govuk-!-padding-left-4">
      <p class="govuk-body"><%= t(".capital_text") %></p>
      <%= list_from_translation_path ".capital_introductions.show.capital_items" %>
    </div>

    <h2 class="govuk-heading-m app-counter"><%= t(".merits_list_heading") %></h2>
    <div class="govuk-!-padding-left-4 govuk-!-margin-bottom-6">
      <p class="govuk-body"><%= t(".merits_text") %></p>
      <%= list_from_translation_path ".capital_introductions.show.merits_items" %>

      <% if @legal_aid_application.section_8_proceedings? %>
          <%= list_from_translation_path ".capital_introductions.show.section_8_items" %>
      <% end %>
    </div>
  </div>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_capital_introduction_path,
        method: :patch,
        continue_button_text: t("generic.continue"),
        show_draft: true,
      ) %>

<% end %>
