<div id="files-errors-container"></div>
<%= page_template page_title: t('.h1-heading'), template: :basic do %>

  <%= govuk_form_group(
        input: :proceedings_before_the_court,
        show_error_if: @form.errors.any?
      ) do %>
    <%= govuk_fieldset_header page_heading, padding_below: 0 %>

    <label class="govuk-label" for="more-detail">
      <p class="govuk-body-l"><%= t('.instructions') %></p>
      <h2 class="govuk-heading-m"><%= t('.h2-heading') %></h2>
      <ul class="govuk-list govuk-list--bullet">
        <% (1..6).each do |bullet_number| %>
          <li><%= t(".bullet-#{bullet_number}") %></li>
        <% end %>
      </ul>
    </label>

    <div class="govuk-!-padding-bottom-2"></div>

    <div id="uploaded-files-table-container">
      <%= render partial: 'uploaded_files', locals: { original_files: @form.model.original_files } %>
    </div>

    <%# Note this form needs to start after the list of original files to avoid nesting forms %>
    <%= form_with(
          model: @form,
          url: providers_legal_aid_application_statement_of_case_path,
          method: :patch,
          local: true
        ) do |form| %>

      <label class="govuk-heading-m" for="original_files"><%= t('generic.upload_file') %></label>
      <%= form.govuk_file_field :original_files, multiple: true, label: nil %>

      <noscript>
        <%= form.submit(
              t('.upload'),
              id: 'upload',
              name: 'upload_button',
              class: 'govuk-button form-button'
            ) %>
      </noscript>

      <div class="govuk-!-padding-bottom-2"></div>

      <%= form.govuk_text_area :statement, label: nil, rows: 15 %>

      <div class="govuk-!-padding-bottom-2"></div>

      <%= next_action_buttons(show_draft: true, form: form) %>
    <% end %>
  <% end %>
<% end %>

<script>
  window.LAA_VARS = {
    images: {
      loading_small: <%= image_path('loading-small.gif').to_json.html_safe %>
    },
    locales: {
      generic: {
        uploading: <%= t('generic.uploading').to_json.html_safe %>
      }
    }
  };
</script>
