<div id="files-errors-container"></div>
<%= page_template page_title: t('.h1-heading'), template: :basic do %>

  <%= govuk_form_group(
        input: :proceedings_before_the_court,
        show_error_if: @form.errors.any?
      ) do %>
    <%= govuk_fieldset_header page_title, padding_below: 7 %>

    <p class="govuk-body"><%= t('generic.tell_us') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-2">
      <% (1..6).each do |bullet_number| %>
        <li><%= t(".bullet-#{bullet_number}") %></li>
      <% end %>
    </ul>

    <div id="uploaded-files-table-container">
      <%= render partial: 'uploaded_files', locals: { attachments: @form.model.original_attachments } %>
    </div>

    <%# Note this form needs to start after the list of original files to avoid nesting forms %>
    <%= form_with(
          model: @form,
          url: providers_legal_aid_application_statement_of_case_path,
          method: :patch,
          local: true
        ) do |form| %>

      <label class="govuk-heading-m" for="original_files"><%= t('generic.upload_file') %></label>
      <%= form.govuk_file_field :original_files, multiple: true, label: nil %>

      <noscript>
        <%= form.submit(
              t('generic.upload'),
              id: 'upload',
              name: 'upload_button',
              class: 'govuk-button form-button'
            ) %>
      </noscript>

      <div class="govuk-radios__divider"><%= t('generic.or') %></div>

      <label class="govuk-heading-m" for="statement"><%= t('generic.enter_text') %></label>
      <%= form.govuk_text_area :statement, label: nil, rows: 15 %>

      <%= next_action_buttons(show_draft: true, form: form) %>
    <% end %>
  <% end %>
<% end %>

<script>
  window.LAA_VARS = {
    images: {
      loading_small: <%= image_path('loading-small.gif').to_json.html_safe %>
    },
    locales: {
      generic: {
        uploading: <%= t('generic.uploading').to_json.html_safe %>
      }
    }
  };
</script>
