<%= page_template page_title: t('.heading'), back_link: :none do %>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t('.apply_ref') %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @legal_aid_application.application_ref %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t('.ccms_ref') %>
      </dt>
      <dd class="govuk-summary-list__value">
      </dd>
    </div>
  </dl>

  <h2 class="govuk-heading-m"><%= t('.client_details') %></h2>
  <%= render 'client_details', applicant: @legal_aid_application.applicant %>

  <h2 class="govuk-heading-m"><%= t('.applying_for') %></h2>

  <%= render(
        'shared/check_answers/proceedings_details',
        legal_aid_application: @legal_aid_application,
        read_only: true,
        show_client_involvment_type: true
      ) %>

  <%= render(
        'shared/check_answers/merits',
        incident: @legal_aid_application.latest_incident,
        statement_of_case: @legal_aid_application.statement_of_case,
        respondent: @legal_aid_application.respondent,
        merits_assessment: @legal_aid_application.merits_assessment,
        read_only: true
      ) %>
<% end %>
