<%= page_template page_title: t('.heading'), back_link: :none do %>

  <%= render 'shared/application_ref', legal_aid_application: @legal_aid_application %>

  <%= render 'shared/client_details_v2', applicant: @legal_aid_application.applicant %>

  <h2 class="govuk-heading-m"><%= t('.applying_for') %></h2>

  <%= render(
        'shared/check_answers/proceedings_details',
        legal_aid_application: @legal_aid_application,
        read_only: true,
        show_client_involvment_type: true
      ) %>

  <%= render(
        'shared/check_answers/merits',
        incident: @legal_aid_application.latest_incident,
        statement_of_case: @legal_aid_application.statement_of_case,
        respondent: @legal_aid_application.respondent,
        merits_assessment: @legal_aid_application.merits_assessment,
        read_only: true
      ) %>
<% end %>
