<%= page_template page_title: t(".heading"), back_link: :none do %>
  <% @legal_aid_application = legal_aid_application if @legal_aid_application.nil? %>

  <%= render "shared/application_ref", legal_aid_application: @legal_aid_application %>

  <h2 class="govuk-heading-m"><%= t(".client_details_heading") %></h2>

  <%= render(
        "shared/check_answers/client_details",
        attributes: %i[first_name last_name date_of_birth age means_test national_insurance_number],
        applicant: @legal_aid_application.applicant,
        read_only: true,
      ) %>

  <h2 class="govuk-heading-m"><%= t(".applying_for") %></h2>

  <%= render(
        "shared/check_answers/proceedings_details",
        legal_aid_application: @legal_aid_application,
        read_only: true,
        show_client_involvment_type: true,
      ) %>

  <h2 class="govuk-heading-m"><%= t ".delegated_functions" %></h2>

  <%= render(
        "shared/check_answers/delegated_functions",
        legal_aid_application: @legal_aid_application,
        read_only: true,
      ) %>

  <% if @legal_aid_application.used_delegated_functions? %>
    <h2 class="govuk-heading-m"><%= t ".emergency_cost_limit" %></h2>

    <%= render(
          "shared/check_answers/emergency_costs",
          legal_aid_application: @legal_aid_application,
          read_only: true,
        ) %>
  <% end %>

  <% if @legal_aid_application.substantive_cost_overridable? %>
    <h2 class="govuk-heading-m"><%= t ".substantive_cost_limit" %></h2>

    <%= render(
          "shared/check_answers/substantive_costs",
          legal_aid_application: @legal_aid_application,
          read_only: true,
        ) %>
  <% end %>

  <%= render(
        "shared/check_answers/merits",
        incident: @legal_aid_application.latest_incident,
        statement_of_case: @legal_aid_application.statement_of_case,
        opponent: @legal_aid_application.opponent,
        gateway_evidence: @legal_aid_application&.gateway_evidence,
        allegation: @legal_aid_application&.allegation,
        undertaking: @legal_aid_application&.undertaking,
        urgency: @legal_aid_application&.urgency,
        read_only: true,
      ) %>
<% end %>
