<%= page_template page_title: t(".heading"), back_link: :none do %>
  <% @legal_aid_application = legal_aid_application if @legal_aid_application.nil? %>

  <%= render "shared/application_ref", legal_aid_application: @legal_aid_application %>

  <h2 class="govuk-heading-m"><%= t(".client_details_heading") %></h2>
  <%= render(
        "shared/check_answers/client_details",
        attributes: %i[first_name last_name last_name_at_birth changed_last_name date_of_birth age means_test national_insurance_number has_partner],
        applicant: @legal_aid_application.applicant,
        read_only: true,
      ) %>

  <% if @legal_aid_application.applicant_has_partner? %>
    <h2 class="govuk-heading-m"><%= t(".partner_details_heading") %></h2>
    <%= render(
          "shared/check_answers/partner_details",
          attributes: %i[first_name last_name date_of_birth national_insurance_number],
          partner: @legal_aid_application.partner,
          read_only: true,
        ) %>
  <% end %>

  <h2 class="govuk-heading-m"><%= t(".previous_legal_aid") %></h2>

  <%= govuk_summary_list(card: { title: t(".previous_legal_aid") },
                         html_attributes: { id: "previous-legal-aid-question" }) do |summary_list| %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__applied_previously" }) do |row| %>
        <%= row.with_key(text: t(".has_applied_before"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value(text: yes_no(@legal_aid_application.applicant.applied_previously)) %>
      <% end %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__applied_previously" }) do |row| %>
      <%= row.with_key(text: t(".previous_application_reference"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value(text: @legal_aid_application.applicant.previous_reference.presence || "-") %>
    <% end %>
  <% end %>

  <h2 class="govuk-heading-m"><%= t(".applying_for") %></h2>

  <%= render(
        "shared/check_answers/proceedings_details",
        legal_aid_application: @legal_aid_application,
        read_only: true,
        show_client_involvment_type: true,
      ) %>

  <h2 class="govuk-heading-m"><%= t ".delegated_functions" %></h2>

  <%= render(
        Reports::Merits::DelegatedFunctionsComponent.with_collection(
          @legal_aid_application.proceedings.in_order_of_addition,
        ),
      ) %>

  <% if @legal_aid_application.non_sca_used_delegated_functions? %>
    <h2 class="govuk-heading-m"><%= t ".emergency_cost_limit" %></h2>

    <%= render(
          "shared/check_answers/emergency_costs",
          legal_aid_application: @legal_aid_application,
          read_only: true,
        ) %>
  <% end %>

  <% if @legal_aid_application.substantive_cost_overridable? %>
    <h2 class="govuk-heading-m"><%= t ".substantive_cost_limit" %></h2>

    <%= render(
          "shared/check_answers/substantive_costs",
          legal_aid_application: @legal_aid_application,
          heading: t(".substantive_cost_limit"),
          read_only: true,
        ) %>
  <% end %>

  <%= render(
        "shared/check_answers/merits",
        incident: @legal_aid_application.latest_incident,
        statement_of_case: @legal_aid_application.statement_of_case,
        opponents: @legal_aid_application.opponents,
        parties_mental_capacity: @legal_aid_application.parties_mental_capacity,
        domestic_abuse_summary: @legal_aid_application.domestic_abuse_summary,
        allegation: @legal_aid_application&.allegation,
        undertaking: @legal_aid_application&.undertaking,
        urgency: @legal_aid_application&.urgency,
        matter_opposition: @legal_aid_application&.matter_opposition,
        read_only: true,
      ) %>
<% end %>
