<%= page_template page_title: t('.heading'), back_link: :none do %>

  <%= render 'shared/application_ref', legal_aid_application: @legal_aid_application %>

  <h2 class="govuk-heading-m"><%= t('.client_details_heading') %></h2>

  <%= render(
        'shared/check_answers/client_details',
        attributes: %i[first_name last_name date_of_birth age national_insurance_number],
        applicant: @legal_aid_application.applicant,
        read_only: true
      ) %>

  <h2 class="govuk-heading-m"><%= t('.applying_for') %></h2>

  <%= render(
        'shared/check_answers/proceedings_details',
        legal_aid_application: @legal_aid_application,
        read_only: true,
        show_client_involvment_type: true
      ) %>

  <h2 class="govuk-heading-m"><%= t '.delegated_functions' %></h2>

  <%= render(
          'shared/check_answers/delegated_functions',
          legal_aid_application: @legal_aid_application,
          read_only: true,
      ) %>

  <%= render(
        "shared/check_answers/#{Setting.allow_multiple_proceedings? ? :merits: :merits_orig}",
        incident: @legal_aid_application.latest_incident,
        statement_of_case: @legal_aid_application.statement_of_case,
        opponent: @legal_aid_application.opponent,
        chances_of_success: @application_proceeding_type.chances_of_success,
        read_only: true
      ) %>
<% end %>
