<% bank_statement_upload = @legal_aid_application.uploading_bank_statements? %>

<h2 class="govuk-heading-l govuk-!-margin-bottom-8"><%= t(".income-heading") %></h2>

<% if bank_statement_upload %>
  <%= render("shared/check_answers/bank_statements", bank_statements: @legal_aid_application.attachments.bank_statement_evidence, read_only: false) %>
<% end %>

<% if @legal_aid_application.hmrc_employment_income? %>
  <% if @legal_aid_application.has_multiple_employments? %>
    <%= render "shared/check_answers/full_employment_details", read_only: false %>
  <% else %>
    <%= render "shared/check_answers/employed_income", read_only: false %>
  <% end %>
<% elsif @legal_aid_application.applicant_employed? %>
  <%= render "shared/check_answers/full_employment_details", read_only: false %>
<% end %>

<% if bank_statement_upload %>
  <%= render("shared/check_answers/benefits_income",
             transactions_for: "applicant",
             individual: @legal_aid_application.applicant,
             state_benefits: @legal_aid_application.applicant.state_benefits) %>
<% end %>

<%= render(
      "shared/check_answers/income_summary",
      income_type: t(".credits-section-heading"),
      url: @legal_aid_application.uploading_bank_statements? ? :regular_incomes : :identify_types_of_incomes,
      transaction_types: @credit_transaction_types,
    ) %>

<%= render("shared/check_answers/income_cash_payments", read_only: false) if @legal_aid_application.uploading_bank_statements? %>

<%= render "shared/check_answers/student_finance", read_only: false %>

<h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-8"><%= t(".outgoings-heading") %></h2>

<%= render(
      "shared/check_answers/income_summary",
      income_type: t(".debits-section-heading"),
      url: @legal_aid_application.uploading_bank_statements? ? :regular_outgoings : :identify_types_of_outgoings,
      transaction_types: @debit_transaction_types,
    ) %>

<%= render("shared/check_answers/housing_benefit", read_only: false) if @legal_aid_application.housing_benefit_regular_transaction_applicable? %>

<%= render("shared/check_answers/outgoings_cash_payments", read_only: false) if @legal_aid_application.uploading_bank_statements? %>

<h2 class="govuk-heading-l"><%= t("providers.means.check_income_answers.dependants.heading") %></h2>

<%= render "shared/check_answers/dependants" %>
