<% read_only = false unless local_assigns.key?(:read_only) %>

<section class="partner">
  <h2 class="govuk-heading-l"><%= t(".income-heading") %></h2>

  <%= render("shared/check_answers/bank_statements", bank_statements: @legal_aid_application.attachments.part_bank_state_evidence, read_only:, partner: true) %>

  <% if @legal_aid_application.partner.hmrc_employment_income? %>
    <% if @legal_aid_application.partner.has_multiple_employments? %>
      <%= render(
            "shared/check_answers/full_employment_details",
            individual: t("generic.partner"),
            read_only:,
            partner: true,
          ) %>
    <% else %>
      <%= render "shared/check_answers/employed_income", partner: true, read_only: %>
    <% end %>
  <% elsif @legal_aid_application.partner.employed? %>
    <%= render(
          "shared/check_answers/full_employment_details",
          individual: t("generic.partner"),
          read_only:,
          partner: true,
        ) %>
  <% end %>

  <%= render("shared/check_answers/benefits_income",
             transactions_for: "partner",
             individual: @legal_aid_application.partner,
             state_benefits: @legal_aid_application.partner.state_benefits,
             version: "partners",
             read_only:) %>

  <%= render(
        "shared/check_answers/payments_summary",
        payment_type: t(".credits-section-heading"),
        url: providers_legal_aid_application_partners_regular_incomes_path(@legal_aid_application),
        transaction_types: @credit_transaction_types,
        individual: "Partner",
        read_only:,
      ) %>

  <%= render(
        "shared/check_answers/cash_payments",
        url: providers_legal_aid_application_partners_cash_income_path,
        individual: "Partner",
        individual_with_determiner: t("generic.partner"),
        type: :income,
        read_only:,
      ) %>

  <%= render(
        "shared/check_answers/student_finance",
        individual: "Partner",
        individual_with_determiner: t("generic.partner"),
        model: @legal_aid_application.partner,
        url: providers_legal_aid_application_partners_student_finance_path(@legal_aid_application),
        read_only:,
      ) %>

  <h2 class="govuk-heading-l"><%= t(".outgoings-heading") %></h2>

  <%= render(
        "shared/check_answers/payments_summary",
        payment_type: t(".debits-section-heading"),
        url: providers_legal_aid_application_partners_regular_outgoings_path(@legal_aid_application),
        transaction_types: @debit_transaction_types,
        individual: "Partner",
        read_only:,
      ) %>

  <%= render(
        "shared/check_answers/cash_payments",
        url: providers_legal_aid_application_partners_cash_outgoing_path,
        individual: "Partner",
        individual_with_determiner: t("generic.partner"),
        type: :outgoings,
        read_only:,
      ) %>
</section>
