<% individual = if @legal_aid_application.applicant.has_partner_with_no_contrary_interest?
                  "your client or their partner"
                else
                  "your client"
                end %>

<%= page_template(page_title: t(".h1-heading")) do %>

  <%= render "providers/means/check_income_answers/applicant_income_assessment" %>

  <%= render "providers/means/check_income_answers/partner_income_assessment" if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>

  <% if @legal_aid_application.housing_payments? %>
    <%= render(
          "shared/check_answers/housing_benefit",
          read_only: false,
          individual:,
        ) %>
  <% end %>

  <h2 class="govuk-heading-l"><%= t("providers.means.check_income_answers.dependants.heading") %></h2>

  <%= render "shared/check_answers/dependants", individual: %>

  <h3 class="govuk-heading-m"><%= t(".what_happens_next.heading") %></h3>
  <p class="govuk-body govuk-!-margin-bottom-8"><%= t(".what_happens_next.text", individual:) %></p>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_means_check_income_answers_path,
        method: :patch,
        show_draft: true,
      ) %>
<% end %>
