<%= page_template(page_title: t('.h1-heading')) do %>

  <h2 class="govuk-heading-l"><%= t('.h2-heading') %></h2>

  <%= render(
         'shared/check_answers/income_summary',
         name: t('.credits-section-heading'),
          transaction_types: TransactionType.credits
      ) %>

  <%= render(
          'shared/check_answers/income_summary',
          name: t('.debits-section-heading'),
          transaction_types: TransactionType.debits
      ) %>

  <h2 class="govuk-heading-l"><%= t('.dependants.heading') %></h2>

  <%= render 'shared/check_answers/dependants' %>

  <h2 class="govuk-heading-l"><%= t('.capital-section-heading') %></h2>

  <%= render 'shared/check_answers/assets' %>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_means_summary_path,
        method: :patch,
        show_draft: true
      ) %>

<% end %>
