<%= page_template(page_title: t('.h1-heading')) do %>

  <p class="govuk-body govuk-!-margin-bottom-0">
    <%= t('.client') %>:
    <strong><%= @legal_aid_application.applicant.full_name %></strong>
  </p>
  <p class="govuk-body">
    <%= t('.case-reference') %>:
    <strong><%= @legal_aid_application.application_ref %></strong>
  </p>

  <p class="govuk-body"><%= t('.review-advice') %></p>

  <%= render(
        'bank_transaction_table',
        section_heading: t('.credits-section-heading'),
        transaction_types: TransactionType.credits
      ) %>

  <p class="align-text-right">
    <%= link_to(
          t('.change_declared_income'),
          Flow::KeyPoint.path_for(
            journey: :providers,
            key_point: :start_income_update,
            legal_aid_application: @legal_aid_application
          )
        ) %>
  </p>

  <div class="govuk-!-padding-bottom-8"></div>

  <%= render(
        'bank_transaction_table',
        section_heading: t('.debits-section-heading'),
        transaction_types: TransactionType.debits
      ) %>

  <p class="align-text-right">
    <%= link_to(
          t('.change_declared_outgoings'),
          '#'
        ) %>
  </p>

  <div class="govuk-!-padding-bottom-8"></div>

  <h2 class="govuk-heading-l"><%= t('.captial-section-heading') %></h2>

  <%= render 'shared/check_answers_assets', user_type: :providers, application: @legal_aid_application %>

    <%= next_action_buttons_with_form(
          url: providers_legal_aid_application_means_summary_path,
          method: :patch,
          show_draft: true
        ) %>

<% end %>
