<%= page_template(page_title: t('.h1-heading')) do %>

  <h2 class="govuk-heading-l"><%= t('.credits-section-heading') %></h2>
  <%= render(
        'shared/check_answers/bank_transaction_table',
        transaction_types: TransactionType.credits
      ) %>

  <p class="align-text-right">
    <%= link_to(
          t('.change_declared_income'),
          check_answer_url_for(:providers, :income_summary, @legal_aid_application)
        ) %>
  </p>

  <div class="govuk-!-padding-bottom-8"></div>

  <h2 class="govuk-heading-l"><%= t('.debits-section-heading') %></h2>
  <%= render(
        'shared/check_answers/bank_transaction_table',
        transaction_types: TransactionType.debits
      ) %>

  <p class="align-text-right">
    <%= link_to(
          t('.change_declared_outgoings'),
          check_answer_url_for(:providers, :outgoings_summary, @legal_aid_application)
        ) %>
  </p>

  <div class="govuk-!-padding-bottom-8"></div>

  <h2 class="govuk-heading-l"><%= t('.capital-section-heading') %></h2>

  <%= render 'shared/check_answers/assets' %>

    <%= next_action_buttons_with_form(
          url: providers_legal_aid_application_means_summary_path,
          method: :patch,
          show_draft: true
        ) %>

<% end %>
