<li>
  <h2 class="app-task-list__section" id="<%= "outgoing-type-#{name}" %>">
    <span class="app-task-list__section-number"><%= number %>. </span>
    <%= t("transaction_types.names.#{name}") %>
    <% if I18n.exists? "transaction_types.hints.#{name}" %>
      <span class="govuk-hint" style="margin-bottom: 0px">
        <%= t("transaction_types.hints.#{name}") %>
      </span>
    <% end %>
  </h2>
  <%= content_tag(:div, class: 'app-task-list__items', id: "list-item-#{name}") do %>
    <% if bank_transactions.present? %>
      <%= render 'citizens/bank_transactions/list_selected', bank_transactions: bank_transactions %>
    <% end %>

    <%= link_to link_text, citizens_outgoing_transactions_path(transaction_type: name), class: 'govuk-body transaction-type-link' %>
  <% end %>
</li>
