<%= page_template(page_title: t(".title_html"), template: :basic, column_width: "full") do %>
  <%= interruption_card(heading: t(".title_html"), actions: -> { render "actions" }) do %>
    <p><%= t(".body_text") %></p>
    <p><%= t(".options") %></p>

    <%= govuk_list t(".option_bullets"), type: :bullet %>
  <% end %>
<% end %>
