<%= page_template(
      page_title: t('.h1-heading'),
      back_link: {
        path: reset_citizens_check_answers_path,
        method: :patch
      }
    ) do %>

  <h2 class="govuk-heading-m">
    <%= t('.assets.heading') %>
  </h2>

  <%= render partial: 'shared/check_answers_assets', locals: { user_type: :citizen } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m"><%= t('.merits.heading') %></h2>

      <p><%= t('.merits.text') %></p>

      <%= button_to(
            t('generic.submit'),
            continue_citizens_check_answers_path,
            class: 'govuk-button',
            method: :patch
          ) %>

    </div>
  </div>
<% end %>
