<%= page_template(
        page_title: t('.h1-heading'),
        back_link: {
            path: reset_citizens_check_answers_path,
            method: :patch
        }
    ) do %>

  <%= render 'bank_accounts' %>

  <h2 class="govuk-heading-l"><%= t('.income_outgoings') %></h2>

  <%= check_long_questions_single_change_link(
          name: :incomings,
          url: citizens_identify_types_of_income_path,
          question: t('.payments_receive_heading'),
          answer_hash: incomings_list(
              @legal_aid_application.transaction_types.credits,
              locale_namespace: "transaction_types.names.citizens"
          ),
          read_only: false) %>

  <%= render partial: 'cash_transactions', locals: {
    operation: :credits,
    transaction_types: @legal_aid_application.transaction_types.not_children.credits,
    url: citizens_cash_income_path,
    read_only: false,
    question: 'cash_income'
  } %>

  <%= render 'student_finance' %>

  <%= check_long_questions_single_change_link(
          name: :payments,
          url: citizens_identify_types_of_outgoing_path,
          question: t('.payments_make_heading'),
          answer_hash: payments_list(
              @legal_aid_application.transaction_types.debits,
              locale_namespace: "transaction_types.names.citizens"
          ),
          read_only: false) %>

  <%= render partial: 'cash_transactions', locals: {
    operation: :debits,
    transaction_types: @legal_aid_application.transaction_types.not_children.debits,
    url: citizens_cash_outgoing_path,
    read_only: false,
    question: 'cash_outgoing'
  } %>

  <%= render 'shared/applicant_declaration' %>

  <%= next_action_buttons_with_form(
          url: continue_citizens_check_answers_path,
          method: :patch,
          continue_button_text: t('.submit_button')
      ) %>
<% end %>
