
<%= form_with(model: @provider, url: admin_providers_path, method: :post, local: true) do |form| %>

  <%= form.govuk_fieldset legend: {text: label_tag(t('.heading_1', username: @provider.username), page_title)} do %>
    <br>
    <h2 class="govuk-heading-l">User is in firm <%= @firm_name %></h2>
    <br>
    <p>Press continue to create user and firm if it doesn't already exist.</p>

    <%= form.hidden_field :username %>
  <% end %>

  <%= next_action_buttons(
          show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
          form: form,
          continue_button_text: t('generic.continue')
      ) %>

<% end %>
