<%= page_template page_title: t('.h1-heading') do %>
  <h2 class="govuk-heading-m"><%= t('.using_service') %></h2>

  <p class="govuk-body"><%= t('.responsibility') %></p>

  <p class="govuk-body"><%= t('.we_want.heading') %></p>

  <ul class="govuk-list govuk-list--bullet">
    <% t('.we_want.list').each_line do |item| %>
     <li><%= item %></li>
    <% end %>
  </ul>

  <p class="govuk-body"><%= link_to_accessible t('.ability_net.prefix'), "https://mcmw.abilitynet.org.uk/" %><%= t('.ability_net.suffix') %></p>

  <h2 class="govuk-heading-m"><%= t('.no_access') %></h2>

  <p class="govuk-body"><%= t('.contact') %></p>

  <h2 class="govuk-heading-m"><%= t('.accessibility.problems') %></h2>

  <p class="govuk-body"><%= t('.accessibility.contact') %></p>

  <h2 class="govuk-heading-m"><%= t('.enforcement') %></h2>

  <p class="govuk-body"><%= t('.ehrc.heading') %><%= link_to_accessible t('.ehrc.link_text'), "https://www.equalityadvisoryservice.com/" %></p>

  <h2 class="govuk-heading-m"><%= t('.accessibility.info_1') %></h2>

  <p class="govuk-body"><%= t('.accessibility.info_2') %></p>

  <h2 class="govuk-heading-m"><%= t('.accessibility.compliance.status') %></h2>

  <p class="govuk-body"><%= t('.accessibility.compliance.info_prefix') %><%= link_to_accessible t('.accessibility.compliance.link_text'), "https://www.w3.org/TR/WCAG21/" %><%= t('.accessibility.compliance.info_suffix') %></p>

  <h2 class="govuk-heading-m"><%= t('.burden.heading') %></h2>

  <p class="govuk-body"><%= t('.burden.info') %></p>

  <h2 class="govuk-heading-m"><%= t('.accessibility.not_in_scope.heading') %></h2>

  <p class="govuk-body"><%= t('.accessibility.not_in_scope.info_1') %></p>

  <p class="govuk-body"><%= t('.accessibility.not_in_scope.info_2') %></p>

  <h2 class="govuk-heading-m"><%= t('.third_party.heading') %></h2>

  <p class="govuk-body"><%= t('.third_party.info_1') %></p>

  <p class="govuk-body"><%= t('.third_party.info_2') %></p>

  <h2 class="govuk-heading-m"><%= t('.testing.heading') %></h2>

  <p class="govuk-body"><%= t('.testing.info_1') %></p>

  <h2 class="govuk-heading-m"><%= t('.accessibility.improvements.heading') %></h2>

  <p class="govuk-body"><%= t('.accessibility.improvements.info') %></p>

  <p class="govuk-body"><%= t('.preparation_date') %></p>

<% end %>
