<%= form_with(model: @form,
              url: providers_legal_aid_application_means_payments_to_review_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>
  <%= page_template page_title: t(".h1-heading"), template: :basic, form: do %>
    <h1 class="govuk-heading-xl"><%= page_title %></h1>
    <p><%= t(".details") %></p>
    <%= form.govuk_check_boxes_fieldset :discretionary_disregards,
                                        legend: { text: t(".h2-heading"), size: "l", tag: "h2" },
                                        form_group: { class: @form.errors.any? ? "govuk-form-group--error" : "" } do %>
      <div class="govuk-hint"><%= t(".hint") %></div>
      <div class="govuk-hint"><%= t("generic.select_all_that_apply") %></div>
      <div class="deselect-group" data-deselect-ctrl="#discretionary-disregards-none-selected-true-field">
        <% Providers::DiscretionaryDisregardsForm::SINGLE_VALUE_ATTRIBUTES.each do |checkbox| %>
          <%= form.govuk_check_box checkbox, true, "", multiple: false, link_errors: true, label: { text: t(".#{checkbox}") }, hint: { text: t(".#{checkbox}_hint", default: "") } %>
        <% end %>
      </div>

      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box :none_selected, true, "", multiple: false, label: { text: t(".none_of_these") } %>
    <% end %>

  <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
