<%= form_with(
      model: @aggregated_cash_income,
      url: form_path,
      method: :patch,
      local: true
    ) do |form| %>

    <%= page_template page_title: page_title, template: :basic, form: form do %>

    <%= form.govuk_check_boxes_fieldset :cash_income, legend: {size: 'xl', tag: 'h1', text: page_title} do %>
      <p><%= t('.info') %></p>
      <span id="select-all-that-apply-hint" class="govuk-hint"><%= t('generic.select_all_that_apply') %></span>
      <div class="deselect-group" data-deselect-ctrl="#aggregated-cash-income-none-selected-true-field">
        <% @legal_aid_application.transaction_types.not_children.credits.each do |transaction_type| %>
          <%= render(
                'shared/partials/revealing_checkbox',
                name: transaction_type.name,
                form: form,
                number_of_fields: AggregatedCashIncome::NUMBER_OF_FIELDS,
                model: @aggregated_cash_income,
                input_prefix: t('currency.gbp')
              ) %>
        <% end %>
      </div>

      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box :none_selected, true, '', multiple: false, label: {text: t('.none_selected')} %>
    <% end %>

    <%= next_action_buttons(
          form: form,
          show_draft: false
        ) %>
  <% end %>
<% end %>
