<%= page_template page_title: nil do %>
  <h1 class="govuk-heading-xl">Review your client's previous eligibility check</h1>

  <h2 class="govuk-heading-m">Your savings</h2>
  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Savings amount" }
          row.with_value { number_to_currency_or_na(sprintf("%.2f", @body["savings_amount"].to_f / 100)) }
        end
      end %>

  <h2 class="govuk-heading-m">Your money coming in</h2>
  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Employment income amount" }
          row.with_value { number_to_currency_or_na(sprintf("%.2f", @body["employment_income_amount"].to_f / 100)) }
        end
        summary_list.with_row do |row|
          row.with_key { "Employment income frequency" }
          row.with_value { @body["employment_income_frequency"] }
        end
      end %>

  <h2 class="govuk-heading-m">Your outgoings</h2>
  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Housing amount" }
          row.with_value { number_to_currency_or_na(sprintf("%.2f", @body["housing_amount"].to_f / 100)) }
        end
        summary_list.with_row do |row|
          row.with_key { "Housing frequency" }
          row.with_value { @body["housing_frequency"] }
        end
      end %>

  <%= govuk_button_link_to "Populate fields and continue", new_providers_applicant_path %>

<% end %>
