<%= page_template page_title: t('.heading'), back_link: :none do %>
  <div class="print-header-wrapper">
    <dl class="govuk-list inline-list print-header">
      <dt>
        <strong><%= t('.client_name') %>:</strong>
      </dt>
      <dd><%= @legal_aid_application.applicant_full_name %></dd>

      <dt>
        <strong><%= t('.case_reference_html') %>:</strong>
      </dt>
      <dd><%= @legal_aid_application.application_ref %></dd>

      <dt>
        <strong><%= t('.ccms_reference_html') %>:</strong>
      </dt>
      <dd><%= @legal_aid_application.case_ccms_reference %></dd>

    </dl>
  </div>

  <%= print_button t('.print_button') %>

  <div class="print-position-correction">
    <section class="client_details print-no-break">
      <h2 class="govuk-heading-l"><%= t('.client_details_heading') %></h2>
      <%= render(
            'shared/check_answers/client_details',
            attributes: %i[first_name last_name date_of_birth national_insurance_number email address],
            applicant: @legal_aid_application.applicant,
            address: @legal_aid_application.applicant.address,
            read_only: true
          ) %>
    </section>

    <section class="proceeding_details print-no-break">
      <h2 class="govuk-heading-m"><%= t('.proceedings_details_heading') %></h2>
      <%= render(
            'shared/check_answers/proceedings_details',
            proceeding_types: @legal_aid_application.proceeding_types,
            legal_aid_application: @legal_aid_application,
            read_only: true
          ) %>
    </section>

    <% if Setting.allow_multiple_proceedings? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m"><%= t '.section_delegated.heading' %></h2>
        </div>
      </div>
    <% else %>
      <h2 class="govuk-heading-m"><%= t '.section_delegated.heading' %></h2>
    <% end %>

    <%= render(
          'shared/check_answers/delegated_functions',
          legal_aid_application: @legal_aid_application,
          read_only: true
        ) %>

    <% if @legal_aid_application.used_delegated_functions? %>
      <h2 class="govuk-heading-m"><%= t '.section_emergency.heading' %></h2>
      <%= render(
            'shared/check_answers/emergency_limitations',
            legal_aid_application: @legal_aid_application
          ) %>
    <% end %>

    <h2 class="govuk-heading-m"><%= t('.section_substantive.heading') %></h2>
    <%= render(
          'shared/check_answers/substantive_limitations',
          legal_aid_application: @legal_aid_application
        ) %>

    <% if Setting.allow_multiple_proceedings? %>
      <% if @legal_aid_application.used_delegated_functions? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m"><%= t '.emergency_cost_limit' %></h2>
          </div>
        </div>
        <%= render(
              'shared/check_answers/emergency_costs',
              legal_aid_application: @legal_aid_application,
              read_only: true
            ) %>
      <% end %>
    <% end %>

    <section class="income_payments_and_assets page_break_before">
      <div class="govuk-!-padding-bottom-6"></div>
      <h2 class="govuk-heading-l"><%= t('.income_payments_and_assets_heading') %></h2>
      <section class="print-no-break">
        <h3 class="govuk-heading-m"><%= t('.income') %></h3>
        <% if @legal_aid_application.applicant_receives_benefit? %>
            <strong class="govuk-tag app-tag--capitalize">
              <%= t('.passported') %>
            </strong>
        <% else %>
          <%= render(
                'shared/check_answers/bank_transaction_table',
                transaction_types: TransactionType.credits,
                read_only: true
              ) %>
        <% end %>
      </section>
      <section class="print-no-break">
        <h3 class="govuk-heading-m govuk-!-padding-top-8"><%= t('.payments') %></h3>
        <% if @legal_aid_application.applicant_receives_benefit? %>
          <strong class="govuk-tag app-tag--capitalize">
            <%= t('.passported') %>
          </strong>
        <% else %>
          <%= render(
                'shared/check_answers/bank_transaction_table',
                transaction_types: TransactionType.debits,
                read_only: true
              ) %>
        <% end %>
      </section>
      <section class="print-no-break">
        <h2 class="govuk-heading-m govuk-!-padding-top-8"><%= t('.property') %></h2>
        <%= render 'shared/check_answers/assets', read_only: true %>
      </section>
    </section>

    <section class="merits page_break_before">
      <%= render(
        "shared/check_answers/#{Setting.allow_multiple_proceedings? ? :merits: :merits_orig}",
        incident: @legal_aid_application.latest_incident,
        statement_of_case: @legal_aid_application.statement_of_case,
        opponent: @legal_aid_application.opponent,
        chances_of_success: @application_proceeding_type.chances_of_success,
        application_proceeding_type: @legal_aid_application.lead_application_proceeding_type,
        read_only: true
      ) %>
    </section>

    <section id="client-declaration" class="only-print print-no-break page_break_before">
      <div class="govuk-!-padding-bottom-6"></div>
      <h2 class="govuk-heading-l"><%= t('.client_declaration.heading') %></h2>

      <%= render 'shared/applicant_declaration' %>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key print-bottom-gap">
            <%= t('.client_declaration.signature') %>
          </dt>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('.client_declaration.date') %>
          </dt>
        </div>
      </dl>
    </section>
  </div>
  <div class="govuk-!-padding-bottom-6"></div>
  <div class="no-print">
    <%= print_button t('.print_button') %>

    <%= next_action_link continue_text: t('.back_home'), html_class: 'govuk-button--secondary' %>
  </div>

<% end %>
