<%= page_template page_title: t('.heading'), back_link: :none do %>
  <dl class="govuk-list inline-list">
    <dt><%= t('.client_name') %>:</dt>
    <dd>
      <strong><%= @legal_aid_application.applicant_full_name %></strong>
    </dd>

    <dt><%= t('.case_reference') %>:</dt>
    <dd>
      <strong><%= @legal_aid_application.application_ref %></strong>
    </dd>
  </dl>

  <button class="govuk-button" type="button">
    <%= t('.print_button') %>
  </button>

  <section class="client_details">
    <h2 class="govuk-heading-l"><%= t('.client_details_heading') %></h2>
    <%= render(
          'shared/check_answers/client_details',
          applicant: @legal_aid_application.applicant,
          address: @legal_aid_application.applicant.address,
          read_only: true
        ) %>
  </section>

  <section class="proceeding_details">
    <h2 class="govuk-heading-m"><%= t('.proceedings_details_heading') %></h2>
    <%= render(
          'shared/check_answers/proceedings_details',
          proceeding_types: @legal_aid_application.proceeding_types,
          legal_aid_application: @legal_aid_application,
          read_only: true
        ) %>
  </section>

  <section class="income_payments_and_assets">
    <h2 class="govuk-heading-l"><%= t('.income_payments_and_assets_heading') %></h2>

    <h3 class="govuk-heading-m"><%= t('.income') %></h3>
    <%= render(
          'shared/check_answers/bank_transaction_table',
          transaction_types: TransactionType.credits,
          read_only: true
        ) %>

    <h3 class="govuk-heading-m govuk-!-padding-top-8"><%= t('.payments') %></h3>
    <%= render(
          'shared/check_answers/bank_transaction_table',
          transaction_types: TransactionType.debits,
          read_only: true
        ) %>

    <h3 class="govuk-heading-m govuk-!-padding-top-8"><%= t('.property') %></h3>
    <%= render 'shared/check_answers/assets', read_only: true %>
  </section>

  <section class="merits">
    <%= render(
      'shared/check_answers/merits',
      incident: @legal_aid_application.latest_incident,
      statement_of_case: @legal_aid_application.statement_of_case,
      respondent: @legal_aid_application.respondent,
      merits_assessment: @legal_aid_application.merits_assessment,
      read_only: true
    ) %>
  </section>

  <button class="govuk-button" type="button">
    <%= t('.print_button') %>
  </button>

  <%= next_action_link continue_text: t('.back_home'), html_class: 'govuk-button--secondary' %>
<% end %>
