<% if @legal_aid_application.associated_linked_applications.any?
     notification_banner_title = t("generic.important")
     notification_banner_text = link_banner_display
   end %>

<%= page_template page_title: t(".heading"),
                  back_link: :none,
                  notification_banner_title:,
                  notification_banner_text:,
                  column_width: "full" do %>

  <%= render "shared/review_application/application_details" %>

  <%= print_button t(".print_button"), primary: true %>

  <%= render "shared/review_application/questions_and_answers" %>

  <div class="govuk-button-group">
    <%= print_button t(".print_button"), primary: true %>

    <% if Rails.env.development? %>
        <%= govuk_button_link_to(
              "Submit to datastore (ensure no PII present)",
              test_datastore_payloads_submit_path(@legal_aid_application),
              warning: true,
            ) %>
    <% end %>

    <%= govuk_link_to(t(".back_home"), forward_path, class: "no-print") %>
  </div>

<% end %>
