<%= page_template(
      page_title: t(".heading", location:),
      template: :basic,
      form:,
    ) do %>

  <%= form.govuk_fieldset legend: { size: "xl", tag: "h1", text: t(".heading", location:) }  do %>
    <%= form.govuk_text_field :postcode, label: { text: t(".label.postcode"), tag: "h2", size: "m" }, width: 10 %>
    <%= form.govuk_text_field :building_number_name, label: { text: t(".label.building_number_name"), tag: "h2", size: "m" }, width: 10 %>
    <%= govuk_warning_text(text: t(".helper_text.#{location}")) %>
  <% end %>

  <% if location.eql?("home") && !@correspondence_address_choice.eql?("home") %>
    <p class="govuk-body"><%= govuk_link_to t(".non_uk_address_link"), providers_legal_aid_application_home_address_non_uk_home_address_path %></p>
  <% end %>
  <p class="govuk-body"><%= govuk_link_to t(".address_manual_link"), location == "correspondence" ? providers_legal_aid_application_correspondence_address_manual_path : providers_legal_aid_application_home_address_manual_path %></p>

  <%= next_action_buttons(
        form:,
        show_draft: true,
        continue_id: "find-address",
        continue_button_text: t(".submit_button"),
      ) %>
<% end %>
