<% new_head_title = if @successfully_deleted
                      @successfully_deleted
                    elsif @error_message || @successful_upload
                      "#{@successful_upload} #{@error_message}"
                    else
                      heading
                    end
   form_error_class = @form.errors.any? ? "govuk-form-group--error" : "" %>

<% if @successfully_deleted %>
  <% notification_banner_title = t("generic.success") %>
  <% notification_banner_text = @successfully_deleted %>
<% end %>

<%= page_template(
      page_title: heading,
      head_title: new_head_title,
      template: :basic,
      notification_banner_title:,
      notification_banner_text:,
      back_link: {},
    ) do %>

  <%= form_with(
        model: @form,
        url:,
        method: :patch,
        local: true,
        html: { id: "file-upload-form" },
      ) do |form| %>

    <% if @form.errors.any? %>
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            <%= t("generic.errors.problem_text") %>
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <% @form.errors.each do |error| %>
                <li>
                  <%= govuk_link_to error.message, "#dropzone-form" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <%= render partial: "shared/forms/error_summary_hidden" %>

    <%= form.govuk_fieldset legend: { text: page_title, tag: "h1", size: "xl" },
                            caption: { text: caption, size: "l" } do %>

      <% t(".info", individual:).each do |item| %>
        <p class="govuk-body"><%= item %></p>
      <% end %>

      <%= govuk_warning_text(text: warning) if local_assigns[:warning] %>

      <div class="dropzone__upload">
        <div class="govuk-form-group script hidden <%= form_error_class %>" id="dropzone-form-group" aria-labelledby="dropzone-label">
          <label class="govuk-label govuk-label--m" id="dropzone-label">
            <%= t(".upload_file") %>
          </label>
          <p><%= t(".upload_paragraph") %></p>
          <div class="govuk-hint"><%= t(".size_hint") %></div>
          <% if @form.errors %>
            <p id="dropzone-mandatory-error" class="govuk-error-message dropzone-error govuk-!-margin-bottom-1">
              <% @form.errors.errors.each do |error| %>
                <span class="govuk-visually-hidden">Error:</span>
                <%= error.message %>
              <% end %>
            </p>
          <% end %>

          <span class="hidden" aria-hidden="true" id="application-id"><%= @form.legal_aid_application_id %></span>
          <span class="hidden" aria-hidden="true" id="dropzone-url" data-url="<%= data_url %>"></span>
          <p id="dropzone-file-error" class="govuk-error-message dropzone-error hidden">
            <span class="govuk-visually-hidden">Error:</span>
          </p>
          <div class="dropzone" id="dropzone-form">
            <div class="dz-message" data-dz-message>
              <p class="govuk-body govuk-!-padding-top-2 script"><%= t(".dropzone_message") %></p>
              <button id="dz-upload-button" class="govuk-button govuk-button--secondary script" tabindex="0"><%= t(".choose_files_btn") %></button>
            </div>
          </div>
        </div>

        <div class="fallback no-script">
          <%= form.govuk_file_field :original_file, name: :original_file, label: { text: t("generic.attach_file"), size: "m" },
                                                    hint: { text: t(".size_hint") },
                                                    classes: ["govuk-file-upload moj-multi-file-upload__input"] %>
          <%= form.govuk_submit(
                t("generic.upload"),
                id: "upload",
                name: "upload_button",
                value: "Upload",
                secondary: true,
              ) %>
        </div>
      </div>

      <div aria-live="assertive" class="govuk-visually-hidden" id="file-upload-status-message"></div>

      <% if @successfully_deleted %>
        <span role="alert" class="govuk-visually-hidden"><%= @successfully_deleted %></span>
      <% end %>
      <% if @error_message || @successful_upload %>
        <span role="alert" class="govuk-visually-hidden"><%= @successful_upload %><%= @error_message %></span>
      <% end %>

    <% end %>
  <% end %>

  <h2 class="govuk-heading-m"><%= t(".h2-heading") %></h2>
  <div id="uploaded-files-table-container" data-uploading="<%= t("generic.uploading") %>">
    <%= render partial: "shared/uploaded_files", locals: { attachments:, url: } %>
  </div>

  <%= form_with(
        model: @form,
        url:,
        method: :patch,
        local: true,
      ) do |form| %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
