<% @cash_transaction_types.each do |type| %>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m"><%= t('.cash_heading') %> <%= t(".#{type}").downcase %></h2>

  <span class="govuk-hint"><% t('.cash_hint') %></span>

  <table class="govuk-table" style="margin-bottom:0px;">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"><%= t('.month') %></th>
      <th class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold" scope="col"><%= t('.amount') %></th>
    </tr>
    </thead>

    <tbody class="govuk-table__body">
    <% @cash_transactions.select {|i| i.transaction_type.name == type}.each do |transaction| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= l(transaction.transaction_date, format: '%B %Y') %></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><%= gds_number_to_currency(transaction.amount) %></td>
      </tr>
    <% end %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><strong><%= t('.total') %></strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong>
        <%= gds_number_to_currency CashTransaction.amounts_for_application(@legal_aid_application.id).fetch(type, 0) %>
      </strong></td>
    </tr>
    </tbody>
  </table>
<% end %>
