<%= form_with(model: @form, url:, method: :post, local: true) do |form| %>
  <%= page_template(
        page_title: t(".heading_1", heading_individual:),
        template: :basic,
        form:,
        back_link: { text: t("generic.back") },
      ) do %>

    <%= form.govuk_check_boxes_fieldset individual,
                                        legend: { text: page_title, size: "xl", tag: "h1" },
                                        caption: { text: t("generic.#{caption_individual}_means_caption"), size: "l" },
                                        hint: { text: t("generic.select_all_that_apply") },
                                        form_group: { class: @form.errors.any? ? "govuk-form-group--error" : "" } do %>

      <% if @form.errors[:employed].any? %>
        <p class="govuk-error-message" id="employment-type-error">
          <span class="govuk-visually-hidden">Error: </span><%= @form.errors[:employed].first %></p>
      <% end %>
      <div class="deselect-group govuk-!-margin-bottom-2" data-deselect-ctrl="#<%= individual %>-none-selected-true-field">
        <% BaseEmployedForm::EMPLOYMENT_TYPES.each do |employment_type| %>
          <%= form.govuk_check_box employment_type,
                                   true,
                                   "",
                                   multiple: false,
                                   link_errors: true,
                                   label: { text: t(".#{employment_type}") } %>
        <% end %>
      </div>

      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box :none_selected,
                               true,
                               "",
                               multiple: false,
                               label: { text: t(".not_employed") } %>
    <% end %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
