<h2 class="govuk-heading-l"><%= t(".confirm_following") %></h2>

<p class="govuk-body"><%= t(".declaration_list_title") %></p>

<%= bullet_list_from_translation_array(
      "shared.printable_over_18_declaration.declaration_list",
      params: { firm: @legal_aid_application.provider.firm_name, privacy_policy_url: privacy_policy_index_url },
    ) %>

<%= govuk_warning_text do %>
  <p class="govuk-body">
    <strong><%= t(".warning_list_summary") %>:</strong>
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <% t(".warning_list").each_line do |warning| %>
      <li><strong><%= warning %></strong></li>
    <% end %>
  </ul>
<% end %>
