<% if @cfe_result.liquid_capital_items.any? %>
  <div class="govuk-accordion__section-content">
    <h2 class="govuk-heading-m"><%= t('.savings_and_investments') %></h2>
    <p>Savings accounts</p>
    <%= @legal_aid_application.online_savings_accounts_balance %>
    <p>Current accounts</p>
    <%= @legal_aid_application.online_current_accounts_balance %>
    <p>All accounts</p>
    <%= @legal_aid_application.online_accounts_balance %>
    <table class="govuk-table">
      <tbody>
        <% @cfe_result.liquid_capital_items.each do |item| %>
          <%= render partial: 'shared/results_detail_row', locals: { caption: item[:description], value: number_to_currency(item[:value]) } %>
        <% end %>
        <%= render partial: 'shared/results_total_row', locals: { caption: t('.assessed_amount'), value: number_to_currency(@cfe_result.total_savings) } %>
      </tbody>
    </table>
  </div>
<% end %>
