<%= form_with(model: @form,
              url:,
              method: :patch, local: true) do |form| %>

  <%= page_template page_title: t(".page_title", individual:), form:, template: :basic do %>
    <%= form.govuk_radio_buttons_fieldset :student_finance,
                                          hint: -> do
                                            t(".hint", individual:).each do |hint_line| %>
                                              <p class="govuk-hint"><%= hint_line %></p>
                                            <% end
                                          end,
                                          caption: { text: t("generic.#{client_or_partner}_means_caption"), size: "xl" },
                                          legend: { text: content_for(:page_title), tag: "h1", size: "xl" } do %>

      <%= form.govuk_radio_button(
            :student_finance,
            true,
            label: { text: t("generic.yes") },
            link_errors: true,
          ) do %>
        <%= form.govuk_text_field(
              :student_finance_amount,
              label: { text: t(".amount_label") },
              hint: { text: t(".amount_hint", individual:) },
              value: number_to_currency_or_original_string(@form.model.student_finance_amount),
              prefix_text: t("currency.gbp"),
              width: "one-quarter",
            ) %>
      <% end %>

      <%= form.govuk_radio_button(
            :student_finance,
            false,
            label: { text: t("generic.no") },
          ) %>
    <% end %>
    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
