<% transaction_link = govuk_link_to(
     link_text,
     url,
     class: "govuk-body transaction-type-link",
     "aria-label": "for #{t "transaction_types.names.providers.#{name}"}",
   ) %>
<% form_group_error_class = error.present? ? "govuk-form-group--error" : "" %>
<% error_message = error.present? ? error.first : "" %>

<li id="<%= name.to_s %>" class="<%= form_group_error_class %>">
  <h2 class="display-table govuk-heading-m">
    <span class="sort-transactions__section-number">
      <%= display_number ? "#{number}." : "" %>
    </span>

    <%= t("transaction_types.names.providers.#{name}") %>
    <% if error_message %>
      <p id="<%= "error-#{name}" %>" class="govuk-error-message govuk-!-padding-top-2"><%= error_message %></p>
    <% end %>
  </h2>
  <div class="sort-transactions__items" id="list-item-<%= name %>">
    <% if bank_transactions.present? %>
      <%= render "providers/bank_transactions/list_selected", category: name, bank_transactions: %>
      <%= transaction_link %>
    <% else %>
      <p class="sort-transactions__item">
        <%= transaction_link %>
      </p>
    <% end %>
  </div>
</li>
