<% if @cfe_result.vehicles? %>
  <div class="govuk-accordion__section-content">
    <h2 class="govuk-heading-m"><%= t('.vehicles') %></h2>
    <table class="govuk-table" >
      <tbody>
      <%= render partial: 'shared/results_detail_row', locals: { caption: t('.value'), value: gds_number_to_currency(@cfe_result.vehicle_value) } %>
      <%= render partial: 'shared/results_detail_row', locals: { caption: t('.oustanding_payments'), value: gds_number_to_currency(@cfe_result.vehicle_loan_amount_outstanding) } %>
      <%= render partial: 'shared/results_detail_row', locals: { caption: t('.disregards'), value: gds_number_to_currency(@cfe_result.vehicle_disregard) } %>
      <%= render partial: 'shared/results_total_row', locals: { caption: t('.assessment_amount'), value: gds_number_to_currency(@cfe_result.total_vehicles) } %>
      </tbody>
    </table>
  </div>
<% end %>
