<% if @legal_aid_application.cfe_result.assessment_result == 'eligible' %>
  <p><%= t(".line1_eligible") %></p>
<% elsif @details.length > 1 %>
  <p><%= t(".line1_multi") %></p>
  <% @details.each do |detail| %>
    <p><%= t(".detail", detail:) %></p>
  <% end %>
<% else %>
  <p><%= t(".line1", detail: @details[0]) %></p>
<% end %>
<p><%= t(".line2") %></p>
<p><%= t(".line3") %></p>
