<%= page_template page_title: t('.h1-heading', client_name: @legal_aid_application.applicant.full_name) do %>

  <p class="govuk-body-l"><%= t('.what_to_do') %></p>

  <h2 class="govuk-heading-m"><%= t('.point_1_heading') %></h2>
  <p class="govuk-body"><%= t('.point_1_text') %></p>

  <h2 class="govuk-heading-m"><%= t('.point_2_heading') %></h2>
  <p class="govuk-body"><%= t('.point_2_text') %></p>

  <h2 class="govuk-heading-m"><%= t('.point_3_heading') %></h2>
  <p class="govuk-body"><%= t('.point_3_text') %></p>

  <h2 class="govuk-heading-m"><%= t('.point_4_heading') %></h2>
  <p class="govuk-body"><%= t('.point_4_text') %></p>

  <div class="govuk-!-padding-bottom-4"></div>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_client_completed_means_path,
        method: :patch,
        continue_button_text: t('generic.continue')
      ) %>
<% end %>
