<%= page_template page_title: t(".h1-heading", client_name: @legal_aid_application.applicant.full_name) do %>

  <p class="govuk-body-l"><%= t(".what_to_do") %></p>

  <% @action_list.each_with_index do |action, index| %>

    <h2 class="govuk-heading-m"><%= "#{index + 1}. #{t(".#{action}_heading")}" %> </h2>
    <p class="govuk-body"><%= t(".#{action}_text") %></p>
    <% if action == 'income_outgoings' %>
      <%= list_from_translation_path(".client_completed_means.show.#{action}") %>
    <% end %>
  <% end %>

  <div class="govuk-!-padding-bottom-4"></div>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_client_completed_means_path,
        method: :patch,
        continue_button_text: t("generic.continue"),
      ) %>
<% end %>
