<%
  check_box_attribute = "check_box_#{attribute}"
  conditional_div_id = "conditional_#{attribute}"
  hint = controller_t "hint.#{check_box_attribute}", default: ''
  value = model.send(attribute)
  checked = value.present? || model.send(check_box_attribute).present? ? 'checked' : ''
%>

<div class="govuk-checkboxes__item revealing-checkbox">
  <%= form.check_box check_box_attribute, { class: 'govuk-checkboxes__input', 'data-aria-controls' => conditional_div_id, checked: checked }, 'true', '' %>
  <%= form.label check_box_attribute, controller_t(check_box_attribute), class: 'govuk-label govuk-checkboxes__label' %>
  <%= govuk_hint(hint, class: 'govuk-checkboxes__hint') if hint.present? %>
</div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="<%= conditional_div_id %>">
  <%= form.govuk_text_field attribute, label: controller_t(attribute), input_prefix: t('currency.gbp'), value: number_to_currency_or_original_string(value), class: 'govuk-!-width-one-third' %>
</div>
