<% suppress_border ||= false %>
<% css_border_klass = suppress_border ? "govuk-summary-list__row--no-border" : "" %>
<div class="govuk-summary-list__row  normal-word-break" id="<%= "means-merits-report__#{name}" %>">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    <%= t(".#{scope}.client.#{name}") %>
  </dt>
  <!--  in-line styling due to issues around pdf generation in our production envs -->
  <dd class="govuk-summary-list__value govuk-!-text-align-right">
    <%= gds_number_to_currency(@cfe_result.__send__(value_method)) %>
  </dd>
</div>
<% if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
  <% unless partner_exclude_items.include?(value_method) %>
    <div class="<%= "govuk-summary-list__row  normal-word-break #{css_border_klass}" %>" id="<%= "means-merits-report__partner_#{name}" %>">
      <dt class="<%= "govuk-summary-list__key govuk-!-width-one-half" %>">
        <%= t(".#{scope}.partner.#{name}") %>
      </dt>
      <!--  in-line styling due to issues around pdf generation in our production envs -->
      <dd class="govuk-summary-list__value govuk-!-text-align-right">
        <%= gds_number_to_currency(@cfe_result.__send__(value_method, partner: true)) %>
      </dd>
    </div>
  <% end %>
<% end %>
