<%= page_template(
      page_title: t('.h1-heading'),
      back_link: { path: reset_providers_legal_aid_application_check_merits_answers_path(@legal_aid_application), method: :patch }
    ) do %>

  <%= render(
        "shared/check_answers/#{Setting.allow_multiple_proceedings? ? 'merits': 'merits_orig'}",
        incident: @legal_aid_application.latest_incident,
        statement_of_case: @legal_aid_application.statement_of_case,
        opponent: @legal_aid_application.opponent,
        chances_of_success: @application_proceeding_type.chances_of_success,
        gateway_evidence: @legal_aid_application.gateway_evidence,
        read_only: false
      ) %>

  <div class="govuk-!-padding-bottom-6"></div>

    <p class="govuk-heading-l"><%= t('.sub-heading') %></p>

    <p class="govuk-body"><%= t('.text') %></p>

    <% params = { provider_firm_name: @legal_aid_application.provider.firm.name } %>
    <%= list_from_translation_path '.check_merits_answers.show', params: params %>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon govuk_two_line_warning" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"><%= t('.sign_app_text') %></span>
        <%= t('.sign_app_text') %>
      </strong>
      <strong class="govuk-warning-text__text">
        <%= list_from_translation_path '.check_merits_answers.show.warning' %>
      </strong>
    </div>

  <%= next_action_buttons_with_form(
          url: continue_providers_legal_aid_application_check_merits_answers_path(@legal_aid_application),
          method: :patch,
          show_draft: true,
          continue_button_text: t('generic.submit_and_continue')
      ) %>

<% end %>
