<%= page_template(
      page_title: t('.h1-heading'),
      back_link: { path: reset_providers_legal_aid_application_check_merits_answers_path(@legal_aid_application), method: :patch }
    ) do %>

  <h2 class="govuk-heading-m">
    <%= t '.latest-incident-heading' %>
  </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_link(
          name: :notification_of_latest_incident,
          url: providers_legal_aid_application_date_client_told_incident_path,
          question: t('.items.notification_of_latest_incident'),
          answer: @incident&.told_on
        ) %>
  </dl>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
  <%= check_answer_link(
        name: :date_of_latest_incident,
        url: providers_legal_aid_application_date_client_told_incident_path,
        question: t('.items.date_of_latest_incident'),
        answer: @incident&.occurred_on
      ) %>
  </dl>

  <%# <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_link(
          name: :details_of_latest_incident,
          url: providers_legal_aid_application_details_latest_incident_path,
          question: t('.items.details_of_latest_incident'),
          answer: nil
        ) %>
  </dl> --> %>

  <div class='govuk-body'><%= simple_format @incident&.details %></div>

  <div class="govuk-!-padding-bottom-6"></div>

    <%= check_answer_change_link(
          name: :respondent_details,
          url: providers_legal_aid_application_respondent_path,
          question: t('.respondent-heading')
        ) %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2" id="THISONE">
    <%= check_answer_no_link_bold(
          name: :understands_terms_of_court_order,
          question: t('.items.understands_terms_of_court_order'),
          answer: yes_no(@respondent.understands_terms_of_court_order)
        ) %>
  </dl>

  <div class='govuk-body'><%= simple_format @respondent.understands_terms_of_court_order_details %></div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link_bold(
          name: :warning_letter_sent,
          question: t('.items.warning_letter_sent'),
          answer: yes_no(@respondent.warning_letter_sent)
        ) %>
  </dl>
  <div class='govuk-body'><%= simple_format @respondent.warning_letter_sent_details %></div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link_bold(
          name: :police_notified,
          question: t('.items.police_notified'),
          answer: yes_no(@respondent.police_notified)
        ) %>
  </dl>
  <div class='govuk-body'><%= simple_format @respondent.police_notified_details %></div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link_bold(
          name: :bail_conditions_set,
          question: t('.items.bail_conditions_set'),
          answer: yes_no(@respondent.bail_conditions_set)
        ) %>
  </dl>
  <div class='govuk-body'><%= simple_format @respondent.bail_conditions_set_details %></div>

  <div class="govuk-!-padding-bottom-6"></div>

  <h2 class="govuk-heading-m">
    <%= t '.merits-heading' %>
  </h2>

  <div class='govuk-body'><%= simple_format @merits.details_of_proceedings_before_the_court %></div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_link(
          name: :statement_of_case,
          url: providers_legal_aid_application_statement_of_case_path,
          question: t('.items.statement_of_case'),
          answer: nil
        ) %>
  </dl>

  <div class='govuk-body'><%= simple_format @statement_of_case.statement %></div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_link(
          name: :prospects_of_success,
          url: providers_legal_aid_application_success_likely_index_path,
          question: t('.items.prospects_of_success'),
          answer: t("shared.forms.success_prospect.success_prospect_item.#{@merits.success_prospect}")
        ) %>
  </dl>

  <div class='govuk-body'><%= simple_format @merits.success_prospect_details %></div>

  <div class="govuk-!-padding-bottom-6"></div>

  <%= next_action_buttons_with_form(
        url: continue_providers_legal_aid_application_check_merits_answers_path(@legal_aid_application),
        method: :patch,
        show_draft: true
      ) %>

<% end %>
