<%= form_with(
      url: providers_legal_aid_application_means_has_other_dependants_path,
      model: @form,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template page_title: t(".page_title"), head_title: t(".existing", count: pluralize(@legal_aid_application.dependants.count, "dependant").to_s), form:, template: :basic do %>
    <% if @legal_aid_application.has_dependants? %>
      <h1 class="govuk-heading-xl"><%= t(".existing", count: pluralize(@legal_aid_application.dependants.count, "dependant").to_s) %></h1>
      <%= govuk_summary_list(classes: "has_other_dependants") do |summary_list| %>
        <% @legal_aid_application.dependants.order(:created_at, :number).each do |dependant| %>
          <%= summary_list.with_row(html_attributes: { id: "dependant_#{dependant.number}" }) do |row| %>
            <%= row.with_value { dependant.name } %>
            <%= row.with_action(
                  text: t("generic.change"),
                  href: providers_legal_aid_application_means_dependant_path(@legal_aid_application, dependant),
                  visually_hidden_text: dependant.name.downcase,
                ) %>
            <%= row.with_action(
                  text: t(".remove"),
                  href: providers_legal_aid_application_means_remove_dependant_path(@legal_aid_application, dependant),
                  visually_hidden_text: dependant.name.downcase,
                ) %>
          <% end %>
        <% end %>
      <% end %>
      <%= form.govuk_collection_radio_buttons :has_other_dependant,
                                              yes_no_options,
                                              :value,
                                              :label,
                                              legend: { text: content_for(:page_title), size: "m", tag: "h2" } %>

      <%= next_action_buttons(form:) %>
    <% end %>
  <% end %>
<% end %>
