<% content_for(:panel) do %>
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      <%= t '.application_created' %>
    </h1>
    <div class="govuk-panel__body">
    <%= t '.sub_title' %>
    <br>
    <strong><%= @legal_aid_application.application_ref %></strong>
    </div>
  </div>
<% end %>

<%= page_template page_title: nil, back_link: :none do %>

  <p class="govuk-body"><%= t '.sent_email_text', email: @legal_aid_application.applicant.email %></p>
  <h2 class="govuk-heading-m"><%= t '.happen_next_heading' %></h2>
  <p class="govuk-body">
   <%= t '.happen_next_text' %>
  </p>
  <p class="govuk-body">
    <%= t '.let_you_know_text' %>
  </p>
  <%= link_to_accessible(
        t('.back_button'),
        providers_legal_aid_applications_path,
        class: 'govuk-button govuk-button',
        id: 'continue',
        role: 'button'
      ) %>
<% end %>
