<%= page_template page_title: nil, column_width: "full" do %>
  <h1 class="no-print govuk-heading-xl">
    <%= t(".heading") %>
  </h1>

  <h1 class="only-print govuk-heading-xl">
    <%= t(".print_heading") %>
  </h1>

  <%= render "shared/review_application/application_details" %>
  <%= render "shared/review_application/questions_and_answers" %>

  <div class="no-print govuk-!-padding-top-6">
    <h2 class="govuk-heading-l"><%= t(".print_your_application") %></h2>

    <p class="govuk-body">
      <% if @legal_aid_application.applicant&.no_means_test_required? || @legal_aid_application.plf_non_means_tested_proceeding? %>
        <%= t(".print_the_application.non_means_tested", applicant_name: @legal_aid_application.applicant_full_name) %>
      <% elsif @legal_aid_application&.applicant&.has_partner_with_no_contrary_interest? %>
        <%= t(".print_the_application.means_tested_with_partner") %>
      <% elsif !@legal_aid_application.special_children_act_proceedings? %>
        <%= t(".print_the_application.means_tested") %>
      <% end %>
    </p>

    <p class="govuk-body">
      <% if @legal_aid_application.special_children_act_proceedings? %>
        <%= t(".keep_a_copy.special_children_act") %>
      <% elsif @legal_aid_application.non_means_tested? %>
        <%= t(".keep_a_copy.non_means_tested") %>
      <% else %>
        <%= t(".keep_a_copy.means_tested") %>
      <% end %>
    </p>

    <p class="govuk-body"><%= t(".audit") %></p>

    <%= print_button t(".print_button") %>

    <%= next_action_buttons_with_form(
          url: continue_providers_legal_aid_application_review_and_print_application_path(@legal_aid_application),
          method: :patch,
          continue_button_text: t("generic.submit_and_continue"),
          additional_link: { text: t(".back_to_your_applications"), url: home_path },
        ) %>
  </div>

<% end %>
