<%= page_template page_title: nil do %>
  <h1 class="no-print govuk-heading-xl">
    <%= t(".heading") %>
  </h1>

  <h1 class="only-print govuk-heading-xl">
    <%= t(".print_heading") %>
  </h1>

  <%= render "shared/review_application/questions_and_answers" %>

  <div class="no-print govuk-!-padding-top-6">
    <h1 class="govuk-heading-l"><%= t(".print_your_application") %></h1>

    <p class="govuk-body"><%= t(".print_the_application") %></p>

    <p class="govuk-body"><%= t(".keep_a_copy") %></p>

    <p class="govuk-body"><%= t(".audit") %></p>

    <br>

    <%= print_button t(".print_button") %>

    <%= next_action_buttons_with_form(
          url: continue_providers_legal_aid_application_review_and_print_application_path(@legal_aid_application),
          method: :patch,
          show_draft: true,
          continue_button_text: t("generic.submit_and_continue"),
        ) %>
  </div>

<% end %>
