<div class="app-check-your-answers__contents" id="app-check-your-answers__<%= name %>">
  <dt class="app-check-your-answers__question">
    <%= question %>
  </dt>
  <dd class="app-check-your-answers__answer">
    <%= answer %>
  </dd>
  <dd class="app-check-your-answers__change">
    <%= link_to(url) do %>
      <%= t('generic.change') %><span class="govuk-visually-hidden"><%= question %></span>
    <% end %>
  </dd>
</div>
