<p class="govuk-body"><%= t ".sent_email_text", email: @legal_aid_application.applicant.email %></p>

  <%= govuk_button_link_to t(".change_email_button"),
                           providers_legal_aid_application_email_address_path,
                           role: "button",
                           secondary: true,
                           id: "change-email" %>

  <%= page_template(
        page_title: t(".title"),
        notification_banner_title: t("generic.important"),
        notification_banner_text: t(".banner.your_client_needs_to"),
        back_link: {
          path: providers_legal_aid_applications_path,
          text: t("generic.home"),
          method: :get,
        },
      ) do %>

    <%= render("providers/check_provider_answers/shared",
               applicant: @applicant,
               address: @address,
               read_only: @read_only) %>
    <%= next_action_buttons_with_form(
          url: providers_legal_aid_applications_path,
          method: :get,
          show_draft: false,
          continue_button_text: t("generic.back_to_your_applications"),
        ) %>
<% end %>
