  <h2 class="govuk-heading-m"><%= t '.section_client.heading' %></h2>

  <%= render(
          'shared/check_answers/client_details',
          attributes: %i[first_name last_name date_of_birth national_insurance_number address],
          applicant: @applicant,
          address: @address,
          read_only: @read_only
      ) %>

  <h2 class="govuk-heading-m"><%= t '.section_proceeding.heading' %></h2>

  <%= render(
          'shared/check_answers/proceedings_details',
          legal_aid_application: @legal_aid_application,
          read_only: @read_only
      ) %>

  <h2 class="govuk-heading-m"><%= t '.section_delegated.heading' %></h2>

  <%= render(
          'shared/check_answers/delegated_functions',
          legal_aid_application: @legal_aid_application,
          read_only: @read_only
      ) %>

  <% if @legal_aid_application.used_delegated_functions? %>
    <h2 class="govuk-heading-m"><%= t '.section_emergency.heading' %></h2>
    <%= render(
            'shared/check_answers/emergency_limitations',
            legal_aid_application: @legal_aid_application
        ) %>
  <% end %>

  <h2 class="govuk-heading-m"><%= t('.section_substantive.heading') %></h2>
  <%= render(
          'shared/check_answers/substantive_limitations',
          legal_aid_application: @legal_aid_application
      ) %>
