  <h2 class="govuk-heading-m"><%= t '.section_client.heading' %></h2>

  <%= render(
          'shared/check_answers/client_details',
          attributes: %i[first_name last_name date_of_birth national_insurance_number address],
          applicant: @applicant,
          address: @address,
          read_only: @read_only
      ) %>

  <% if Setting.allow_multiple_proceedings? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t '.section_proceeding.heading' %></h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><%= link_to_accessible t('.change'), providers_legal_aid_application_has_other_proceedings_path(@legal_aid_application), class: 'govuk-link govuk-link-right' %></p>
      </div>
    </div>
  <% else %>
    <h2 class="govuk-heading-m"><%= t '.section_proceeding.heading' %></h2>
  <% end %>

  <%= render(
          'shared/check_answers/proceedings_details',
          legal_aid_application: @legal_aid_application,
          read_only: @read_only
      ) %>

  <% if Setting.allow_multiple_proceedings? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t '.section_delegated.heading' %></h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><%= link_to_accessible t('.change'), providers_legal_aid_application_used_multiple_delegated_functions_path(@legal_aid_application), class: 'govuk-link govuk-link-right' %></p>
      </div>
    </div>
  <% else %>
    <h2 class="govuk-heading-m"><%= t '.section_delegated.heading' %></h2>
  <% end %>

  <%= render(
          'shared/check_answers/delegated_functions',
          legal_aid_application: @legal_aid_application,
          read_only: @read_only
      ) %>

  <% if @legal_aid_application.used_delegated_functions? %>
    <h2 class="govuk-heading-m"><%= t '.section_emergency.heading' %></h2>
    <%= render(
            'shared/check_answers/emergency_limitations',
            legal_aid_application: @legal_aid_application
        ) %>
  <% end %>

  <h2 class="govuk-heading-m"><%= t('.section_substantive.heading') %></h2>
  <%= render(
          'shared/check_answers/substantive_limitations',
          legal_aid_application: @legal_aid_application
      ) %>

  <% if Setting.allow_multiple_proceedings? %>
    <% if @legal_aid_application.used_delegated_functions? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m"><%= t '.emergency_cost_limit' %></h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><%= link_to_accessible t('.change'), providers_legal_aid_application_limitations_path(@legal_aid_application), class: 'govuk-link govuk-link-right' %></p>
        </div>
      </div>
      <%= render(
            'shared/check_answers/emergency_costs',
            legal_aid_application: @legal_aid_application,
            read_only: @read_only
          ) %>
    <% end %>
  <% end %>
