<% content_for :navigation do %>
  <%= link_to 'Back', edit_providers_legal_aid_application_applicant_path, class: 'govuk-back-link' %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t '.title' %>
    </h1>

    <h2 class="govuk-heading-m">
      <%= t '.section_1.heading' %>
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          <%= t '.section_1.proceeding' %>
        </dt>
        <dd class="app-check-your-answers__answer">
          <%= @proceeding.meaning %>
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"><%= t '.section_1.proceeding' %></span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      <%= t '.section_2.heading' %>
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          <%= t '.section_2.first_name' %>
        </dt>
        <dd class="app-check-your-answers__answer">
          <%= @applicant.first_name %>
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"><%= t '.section_2.first_name' %></span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          <%= t '.section_2.last_name' %>
        </dt>
        <dd class="app-check-your-answers__answer">
          <%= @applicant.last_name %>
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"><%= t '.section_2.last_name' %></span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          <%= t '.section_2.dob' %>
        </dt>
        <dd class="app-check-your-answers__answer">
          <%= @applicant.date_of_birth.strftime('%d/%m/%Y') %>
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"><%= t '.section_2.dob' %></span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          <%= t '.section_2.nino' %>
        </dt>
        <dd class="app-check-your-answers__answer">
          <%= @applicant.national_insurance_number %>
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"><%= t '.section_2.nino' %></span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          <%= t '.section_2.address' %>
        </dt>
        <dd class="app-check-your-answers__answer">
          <%= @address %>
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"><%= t '.section_2.address' %></span>
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          <%= t '.section_2.email' %>
        </dt>
        <dd class="app-check-your-answers__answer">
          <%= @applicant.email %>
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="#">
            Change<span class="govuk-visually-hidden"><%= t '.section_2.email' %></span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      <%= t '.section_3.heading' %>
    </h2>

    <p>
      <%= t '.section_3.text' %>
    </p>

  </div>
</div>

<%= button_to 'Submit', confirm_providers_legal_aid_application_check_provider_answers_path(@legal_aid_application), class: 'govuk-button' %>
