<% if @read_only
     notification_banner_title = t("generic.important")
     notification_banner_text = t(".banner.your_client_needs_to")
   end %>
<% if @legal_aid_application.copy_case? && flash[:hash].nil?
     notification_banner_title = t("generic.important")
     notification_banner_text = t(".copy_case.heading", application_ref: application_ref_non_breaking(@source_application.application_ref))
   end %>

<% if @read_only %>
  <% content_for(:before_page_title) do %>
    <p class="govuk-body"><%= t(".sent_email_text", email: @legal_aid_application.applicant.email) %></p>

    <%= govuk_button_link_to t(".change_email_button"),
                             providers_legal_aid_application_email_address_path,
                             role: "button",
                             secondary: true,
                             id: "change-email" %>
  <% end %>
<% end %>

<%= page_template(
      page_title: @read_only ? t(".title_truelayer") : t(".title"),
      caption: @read_only ? nil : t(".caption"),
      notification_banner_title:,
      notification_banner_text:,
      column_width: "full",
      back_link: {
        path: @read_only ? home_path : reset_providers_legal_aid_application_check_provider_answers_path,
        text: @read_only ? t("generic.home") : t("generic.back"),
        method: @read_only ? :get : :post,
      },
    ) do %>

  <h2 class="govuk-heading-l"><%= t(".section_client.heading") %></h2>
  <%= render("shared/check_answers/client_details",
             attributes: %i[first_name last_name last_name_at_birth applied_previously date_of_birth national_insurance_number employment_status correspondence_choice address care_of home_address has_partner],
             applicant: @applicant,
             address: @address,
             read_only: @read_only) %>

  <% if @legal_aid_application.applicant_has_partner? %>
    <h2 class="govuk-heading-l"><%= t(".section_partner.heading") %></h2>
    <%= render("shared/check_answers/partner_details",
               attributes: %i[contrary_interest first_name last_name date_of_birth national_insurance_number],
               partner: @partner,
               read_only: @read_only) %>
  <% end %>

  <h2 class="govuk-heading-l"><%= t(".section_linking_and_copying.heading") %></h2>
  <%= render("shared/check_answers/linking_and_copying", read_only: @read_only) %>

  <h2 class="govuk-heading-l"><%= t(".section_proceeding.heading") %></h2>
  <%= render("shared/check_answers/proceedings") %>
  <%= render("shared/check_answers/proceeding_details", read_only: @read_only) %>

  <% unless @read_only %>
    <%= if @legal_aid_application&.lead_linked_application&.confirm_link == true && @legal_aid_application&.lead_linked_application&.link_type_code == "FC_LEAD"
          govuk_inset_text(text: t(".copy_case.family_warning"))
        end %>

    <% if @applicant.national_insurance_number? %>
      <h2 class="govuk-heading-m"><%= t(".section_next.heading") %></h2>

      <p class="govuk-body">
        <%= t(".section_next.content") %>
      </p>
    <% end %>
  <% end %>

  <% unless @read_only %>
    <%= govuk_warning_text(text: t("generic.cya_warning_text")) %>
  <% end %>

  <% if @read_only %>
    <%= next_action_buttons_with_form(
          url: home_path,
          method: :get,
          show_draft: false,
          continue_button_text: t("generic.back_to_your_applications"),
        ) %>
  <% else %>
    <%= next_action_buttons_with_form(
          url: continue_providers_legal_aid_application_check_provider_answers_path,
          method: :patch,
          show_draft: true,
        ) %>
  <% end %>
<% end %>
