<% content_for :navigation do %>
  <%= link_to (t 'generic.back'), edit_providers_legal_aid_application_applicant_path, class: 'govuk-back-link' %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t '.title' %>
    </h1>

    <h2 class="govuk-heading-m">
      <%= t '.section_1.heading' %>
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
      <%= render partial: 'check_your_answers_item', locals: { question: (t '.section_1.proceeding'), answer: @proceeding.meaning } %>
    </dl>

    <h2 class="govuk-heading-m">
      <%= t '.section_2.heading' %>
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
      <%= render partial: 'check_your_answers_item', locals: { question: (t '.section_2.first_name'), answer: @applicant.first_name } %>
      <%= render partial: 'check_your_answers_item', locals: { question: (t '.section_2.last_name'), answer: @applicant.last_name } %>
      <%= render partial: 'check_your_answers_item', locals: { question: (t '.section_2.dob'), answer: @applicant.date_of_birth.strftime('%d/%m/%Y') } %>
      <%= render partial: 'check_your_answers_item', locals: { question: (t '.section_2.nino'), answer: @applicant.national_insurance_number } %>
      <%= render partial: 'check_your_answers_item', locals: { question: (t '.section_2.address'), answer: address_with_line_breaks(@address) } %>
      <%= render partial: 'check_your_answers_item', locals: { question: (t '.section_2.email'), answer: @applicant.email } %>
    </dl>

    <h2 class="govuk-heading-m">
      <%= t '.section_3.heading' %>
    </h2>

    <p>
      <%= t '.section_3.text' %>
    </p>

  </div>
</div>

<%= button_to (t 'generic.submit'), confirm_providers_legal_aid_application_check_provider_answers_path(@legal_aid_application), class: 'govuk-button' %>
