<%= form_with(model: @form,
              url: providers_legal_aid_application_home_address_status_path,
              method: :patch,
              local: true) do |form| %>
  <%= page_template page_title: t(".heading"), template: :basic, form: do %>

    <%= form.govuk_collection_radio_buttons(
          :no_fixed_residence,
          [[false, t("generic.yes")], [true, t(".no_fixed_residence")]],
          :first,
          :second,
          legend: { size: "xl", tag: "h1", text: t(".heading") },
        ) do %>
          <p class="govuk-body"><%= t(".paragraph") %></p>
    <% end %>

    <%= next_action_buttons(
          show_draft: true,
          form:,
        ) %>
  <% end %>
<% end %>
