<% content_for :navigation do %>
  <%= provider_back_link text: t('generic.back') %>
<% end %>

<% content_for(:page_title) { t('.h1-heading') } %>

<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with(
          model: @form,
          url: providers_legal_aid_application_proceedings_before_the_court_path,
          method: :patch,
          local: true
        ) do |form| %>

      <%= govuk_form_group(
            input: :proceedings_before_the_court,
            show_error_if: @form.errors.any?
          ) do %>

        <%= govuk_fieldset_header(content_for(:page_title)) %>

        <%= govuk_error_message(form.object.errors[:proceedings_before_the_court].first) %>

        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
          <%= form.govuk_radio_button(:proceedings_before_the_court, true, 'data-aria-controls' => 'conditional-true') %>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-true">
            <%= form.govuk_text_area :details_of_proceedings_before_the_court, rows: 5 %>
          </div>
          <%= form.govuk_radio_button(:proceedings_before_the_court, false) %>
        </div>

      <% end %>

      <div class="govuk-!-padding-bottom-2"></div>

      <%= render partial: 'shared/forms/next_action_buttons', locals: { continue_id: 'continue', show_draft: true, form: form } %>

    <% end %>
  </div>
</div>
