<% if attachments.empty? %>
  <p class="govuk-body govuk-!-padding-bottom-4">
     <%= t(".no_files") %>
  </p>
<% else %>
  <%= form_with(
        model: @form,
        url: providers_legal_aid_application_bank_statements_path,
        method: :delete,
        local: true,
        html: { id: "file-delete-form" },
      ) do |form| %>

    <table class="govuk-table <%= "hidden" if attachments.empty? %>">
      <caption class="govuk-table__caption govuk-visually-hidden"><%= t(".title") %></caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t(".filename") %></th>
        <th class="govuk-table__header" scope="col"><%= t(".status") %></th>
        <td class="govuk-table__header" scope="col"></td>
      </tr>
      </thead>
      <tbody class="govuk-table__body">

      <% attachments.order(:created_at).each do |attachment| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= attachment.document.filename %></td>
          <td class="govuk-table__cell"><%= govuk_tag(text: t(".uploaded")) %></td>
          <td class="govuk-table__cell">
            <%= button_to_accessible(
                  t(".delete"),
                  providers_legal_aid_application_bank_statements_path(@legal_aid_application),
                  method: :delete,
                  class: "button-as-link",
                  params: { attachment_id: attachment.id },
                  suffix: attachment.document.filename,
                ) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
