<%= form_with(
      model: @form,
      scope: :non_uk_home_address,
      url: providers_legal_aid_application_home_address_non_uk_home_address_path(@legal_aid_application),
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template(
        page_title: t(".heading"),
        form:,
      ) do %>

    <%= hidden_field_tag "legal-framework-api-host", nil, { "data-uri": Rails.configuration.x.legal_framework_api_host_for_js } %>

    <div class="govuk-grid-row autocomplete-component">
      <div class="govuk-visually-hidden screen-reader-messages" aria-live="polite" aria-atomic="true" role="alert"></div>
      <div class="govuk-grid-column-two-thirds govuk-list">
        <%= form.govuk_collection_select :country_code,
                                         @form.countries,
                                         :code,
                                         :description,
                                         class: "country-select",
                                         options: { include_blank: t(".select_country") },
                                         label: { text: "Country", size: "m" } %>
      </div>
      <div class="govuk-grid-column-one-third clear-search hidden">
        <p class="govuk-body"><%= govuk_link_to t(".clear_search"), "#" %></p>
      </div>
    </div>

    <%= form.govuk_fieldset legend: { text: t(".address") } do %>
      <%= form.govuk_text_field :address_line_one, label: { text: t(".address_line_one") } %>
      <%= form.govuk_text_field :address_line_two, label: { text: t(".address_line_two") } %>
      <%= form.govuk_text_field :city, label: { text: t(".address_line_three") } %>
      <%= form.govuk_text_field :county, label: { text: t(".address_line_four") } %>
    <% end %>

    <%= next_action_buttons(form:, show_draft: true) %>
  <% end %>
<% end %>
