<%= render(partial: 'shared/forms/error_summary', locals: { model: show_errors_for }) if show_errors_for %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-<%= column_width %>">
    <% if content_for?(:panel) %>
      <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">
          <%= content_for(:panel) %>
        </h2>
      </div>
      <div class="govuk-!-padding-top-4"></div>
      <h3 class="govuk-heading-m">
        <%= content_for(:page_title) %>
      </h3>
    <% else %>
      <h1 class="govuk-heading-xl"><%= content_for(:page_title) %></h1>
    <% end %>
    <%= content %>
  </div>
</div>
