<%= form_with(model: [:admin, benefit_type], local: true) do |form| %>
  <% unless benefit_type.persisted? %>
    <%= form.govuk_text_field :label, label: { text: BenefitType.human_attribute_name(:label), size: :m } %>
  <% end %>

  <%= form.govuk_text_field :description, label: { text: BenefitType.human_attribute_name(:description), size: :m } %>

  <%= form.govuk_collection_radio_buttons(
        :exclude_from_gross_income,
        [
          { code: 'true', label: t('generic.yes') },
          { code: 'false', label: t('generic.no') }
        ],
        :code,
        :label,
        title: { text: BenefitType.human_attribute_name(:exclude_from_gross_income), size: :m }
      ) %>

  <div class="actions">
    <%= form.submit class: 'govuk-button' %>
  </div>
<% end %>
