<%= form_with(
      model: @form,
      url: providers_legal_aid_application_dwp_partner_override_path,
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template(
        page_title: t(".title"),
        template: :basic,
        column_width: :full,
        form:,
      ) do %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= form.govuk_radio_buttons_fieldset(:confirm_dwp_result,
                                              legend: { size: "l", tag: "h1", text: t(".title") },
                                              classes: "govuk-!-margin-bottom-6") do %>

          <%= form.govuk_radio_button :confirm_dwp_result, "benefit_received", label: { text: t(".option_no") } %>
          <%= form.govuk_radio_button :confirm_dwp_result, "joint_benefit_with_partner", label: { text: t(".option_partner") } %>
        <% end %>
      </div>
    </div>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
