<div class="interruption-panel">
  <%= page_template(page_title: t('.tab_title'), column_width: :full, template: :basic) do %>

    <%= form_with(
          model: @form,
          url: providers_legal_aid_application_confirm_dwp_non_passported_applications_path,
          method: :patch,
          local: true
        ) do |form| %>

      <%= form.govuk_collection_radio_buttons :correct_dwp_result,
                                              [OpenStruct.new(value: true, label: t('generic.yes')),
                                               OpenStruct.new(value: false, label: t('.no'))],
                                              :value,
                                              :label,
                                              legend: {text: content_for(:page_title), tag: 'h1', size: 'l'} %>

      <% if @form.errors.any? %>
        <%= link_to_accessible @form.errors.map { |error| error.message }.first, "#correct_dwp_result-true-field", class: 'govuk-heading-s' %>
      <% end %>

      <div class="govuk-!-padding-bottom-4"></div>

      <%= next_action_buttons_with_form(
            url: providers_legal_aid_application_confirm_dwp_non_passported_applications_path,
            method: :patch,
            show_draft: true,
            continue_button_text: t('generic.continue')
          ) %>
    <% end %>
  <% end %>
</div>
