<% error_class = @form.errors.any? ? 'alternative-error-style' : '' %>

<div class="interruption-panel">
  <%= page_template(page_title: t('.tab_title'), column_width: :full, show_errors_for: nil, template: :basic) do %>

    <!-- duplicate the model but remove errors so original error styling is removed-->
    <%
      model = @form.dup
      model.errors.delete(:confirm_dwp_non_passported_application)
    %>

    <%= form_with(
          builder: GOVUKDesignSystemFormBuilder::FormBuilder,
          model: model,
          url: providers_legal_aid_application_confirm_dwp_non_passported_applications_path,
          method: :patch,
          local: true
        ) do |form| %>

      <div class="<%= "#{error_class}" %>">
        <%= form.govuk_radio_buttons_fieldset(:confirm_dwp_non_passported_application, legend: {text: t('.title'), tag: 'h1', size: 'l'} ) do %>
          <%= form.govuk_radio_button(:confirm_dwp_non_passported_application, true, label: {text: t('generic.yes')} ) %>
          <%= form.govuk_radio_button(:confirm_dwp_non_passported_application, false, label: {text:  t('.no')} ) %>
        <% end %>
      </div>

      <% if @form.errors.any? %>
        <%= link_to_accessible @form.errors.values.first, "#confirm_dwp_non_passported_application-true-field", class: 'govuk-heading-s' %>
      <% end %>

      <div class="govuk-!-padding-bottom-4"></div>

      <%= next_action_buttons_with_form(
            url: providers_legal_aid_application_confirm_dwp_non_passported_applications_path,
            method: :patch,
            show_draft: true,
            continue_button_text: t('generic.continue')
          ) %>
    <% end %>
  <% end %>
</div>
