<%= form_with(
      model: @form,
      url: providers_legal_aid_application_confirm_dwp_non_passported_applications_path,
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template(
        page_title: t(".tab_title"),
        template: :basic,
        column_width: :full,
        form:,
      ) do %>

    <%= render MojComponent::InterruptionCardComponent.new(heading: t(".title_html")) %>

    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-two-thirds">
        <%= form.govuk_radio_buttons_fieldset(:confirm_dwp_result,
                                              legend: { size: "l", tag: "h2", text: t(".is_this_correct") },
                                              classes: "govuk-!-margin-bottom-6") do %>

          <% if display_hmrc_text? %>
            <p class="govuk-body"><%= t(".hmrc_text") %></p>
          <% end %>

          <%= form.govuk_radio_button :confirm_dwp_result, "dwp_correct", link_errors: true, label: { text: t("generic.yes") } %>
          <%= form.govuk_radio_button :confirm_dwp_result, "joint_with_partner_false", label: { text: t(".option_no") } %>
          <% if @legal_aid_application.applicant.has_partner? %>
            <%= form.govuk_radio_button :confirm_dwp_result, "joint_with_partner_true", label: { text: t(".option_partner") } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
