<%= form_with(
      model: @form,
      url: providers_legal_aid_application_confirm_dwp_non_passported_applications_path,
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template(
        page_title: t(".tab_title"),
        template: :basic,
        column_width: :full,
        form:,
      ) do %>

    <div class="interruption-panel govuk-!-margin-bottom-6">
      <h1 class="govuk-heading-l"><%= t(".title_html") %></h1>
    </div>

    <%= form.govuk_fieldset legend: { size: "l", tag: "h2", text: t(".is_this_correct") }, class: "govuk-!-margin-bottom-6" do %>

      <% if display_hmrc_text? %>
        <p class="govuk-body"><%= t(".hmrc_text") %></p>
      <% end %>

      <%= form.govuk_radio_button :correct_dwp_result, true, link_errors: true, label: { text: t("generic.yes") } %>
      <%= form.govuk_radio_button :correct_dwp_result, false, label: { text: t(".option_no") } %>

    <% end %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
