<div class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
    <h1 class="govuk-heading-m">
      <%= t('.client_eligibility_calculation') %>
    </h1>

  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-breakdown">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-capital-calculation">
          <%= t('.capital_calculation') %>
        </span>
        </h2>
      </div>
        <%= render 'property_results' %>
        <%= render 'vehicle_results' %>
        <%= render 'savings_and_investments' %>
        <%= render 'other_assets' %>
        <%= render 'total_capital' %>
        <%= render 'restrictions' %>
    </div>
  </div>
</div>
