<details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= t('.client_eligibility_calculation') %>
    </span>
  </summary>

  <%= render 'property_results' %>
  <%= render 'vehicle_results' %>
  <%= render 'savings_and_investments' %>
  <%= render 'other_assets' %>
  <%= render 'total_capital' %>
  <%= render 'restrictions' %>
</details>
