<div class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
  <h2 class="govuk-heading-l">
    <%= t(".client_eligibility_calculation") %>
  </h2>

  <%= govuk_accordion do |accordion| %>
    <% accordion.with_section(heading_text: t(".capital_calculation")) do %>
      <%= render "shared/property_results" %>
      <%= render "shared/vehicle_results" %>
      <%= render "shared/savings_and_investments" %>
      <%= render "shared/other_assets" %>
      <%= render "shared/total_capital" %>
    <% end %>
  <% end %>
</div>
