<% content_for :navigation do %>
  <%# TODO: set correct back when Citizen journey set %>
  <%= link_to t('generic.back'), '#', class: 'govuk-back-link', id: 'back' %>
<% end %>

<fieldset class="govuk-fieldset">
  <div class="govuk-!-padding-bottom-2"></div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= t('.h1-heading') %></h1>

      <%= form_with(
            model: @legal_aid_application,
            url: citizens_restrictions_path,
            method: :post,
            local: true
          ) do |form| %>
        <%= govuk_form_group do %>
          <div class="govuk-checkboxes">
            <%= form.collection_check_boxes :restriction_ids, Restriction.all, :id, :label_name do |restriction_form| %>
              <div class="govuk-checkboxes__item">
                <%= restriction_form.check_box(class: 'govuk-checkboxes__input') %>
                <%= restriction_form.label(class: 'govuk-label govuk-checkboxes__label') %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= form.submit t('generic.continue'), class: 'govuk-button' %>
      <% end %>
    </div>
  </div>
</fieldset>
