<%= form_with(
      model: @form,
      url: providers_legal_aid_application_date_client_told_incident_path,
      method: :patch,
      local: true
    ) do |form| %>
    <%= page_template(page_title: t('.h1-heading'),
                      template: :basic,
                      back_link: Setting.allow_multiple_proceedings? ? {} : { path: providers_legal_aid_application_start_chances_of_success_path(@legal_aid_application) },
                      form: form) do %>

    <%= form.govuk_fieldset legend: {size: 'xl', tag: 'h1', text: page_title} do %>
      <%= form.govuk_date_field :told_on, legend: { text: t("shared.forms.date_input_fields.told_on_label") },
                                hint: { text: t("shared.forms.date_input_fields.told_on_hint")} %>
      <%= form.govuk_date_field :occurred_on, legend: { text: t("shared.forms.date_input_fields.occurred_on_label") } %>
    <% end %>

    <div class="govuk-!-padding-bottom-4"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
