<div class="govuk-accordion__section-content">
  <h2 class="govuk-heading-m"><%= t('.title') %></h2>
  <table class="govuk-table">
    <tbody>
    <%= render partial: 'results_detail_row', locals: { caption: t('.benefits'), value: number_to_currency(@cfe_result.monthly_state_benefits) } %>
    <%= render partial: 'results_detail_row', locals: { caption: t('.friends_or_family'), value: number_to_currency(@cfe_result) } %>
    <%= render partial: 'results_detail_row', locals: { caption: t('.maintenance'), value: number_to_currency(@cfe_result.maintenance_per_month) } %>
    <%= render partial: 'results_detail_row', locals: { caption: t('.property_or_lodger'), value: number_to_currency(@cfe_result) } %>
    <%= render partial: 'results_detail_row', locals: { caption: t('.student_loan_or_grant'), value: number_to_currency(@cfe_result) } %>
    <%= render partial: 'results_detail_row', locals: { caption: t('.pension'), value: number_to_currency(@cfe_result) } %>
    <%= render partial: 'results_total_row', locals: { caption: t('.total_income'), value: number_to_currency(@cfe_result.total_gross_income) } %>
    </tbody>
  </table>
</div>
