<div class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
  <h2 class="govuk-heading-l">
    <%= t(".client_eligibility_calculation") %>
  </h2>

  <%= govuk_accordion do |accordion| %>
    <% accordion.with_section(heading_text: t(".income_calculation")) do %>
      <p class="govuk-hint"><%= t(".income_hint_text") %></p>

      <% if @legal_aid_application.client_uploading_bank_statements? %>
        <%= render("bank_statements", bank_statements: @legal_aid_application.attachments.bank_statement_evidence, individual: "Client", read_only: true) %>
      <% end %>

      <% if @cfe_result.jobs? %>
        <%= render("employment_income", individual: "Client") %>
      <% end %>

      <%= render("other_income", individual: "Client") %>
      <%= render("outgoings", individual: "Client") %>

      <% if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
        <%= render("bank_statements", bank_statements: @legal_aid_application.attachments.part_bank_state_evidence, individual: "Partner", read_only: true) %>

        <% if @cfe_result.partner_jobs? %>
          <%= render("employment_income", individual: "Partner") %>
        <% end %>

        <%= render("other_income", individual: "Partner") %>
        <%= render("outgoings", individual: "Partner") %>

        <%= render "deductions" %>
        <%= render("disposable_income", individual: "Partner") %>
      <% else %>

        <%= render "deductions" %>
        <%= render("disposable_income", individual: "Client") %>
      <% end %>
    <% end %>

    <%= accordion.with_section(heading_text: t(".capital_calculation")) do %>
      <% if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
        <p class="govuk-hint"><%= t(".capital_hint_text") %></p>
      <% end %>
      <%= render "shared/property_results" %>
      <%= render "shared/vehicle_results" %>
      <%= render "shared/savings_and_investments" %>
      <%= render "shared/other_assets" %>
      <%= render "shared/total_capital" %>
    <% end %>
  <% end %>
</div>
