<%= form_with(model: @form,
              url: providers_legal_aid_application_means_employment_income_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>

  <%= govuk_notification_banner(title_text: "Important") { |nb| nb.with_heading(text: t(".hmrc-information")) } %>

  <% if @eligible_employment_payments.any? && @applicant.not_employed? %>
    <% page_heading = "not_employed" %>
  <% else %>
    <% page_heading = "employed" %>
  <% end %>

  <span class="govuk-caption-xl"><%= t("providers.means.client_caption") %></span>
  <%= page_template page_title: t(".#{page_heading}", name: @applicant.full_name), template: :basic, form: do %>

    <%= form.govuk_radio_buttons_fieldset(:has_extra_employment_information,
                                          legend: { size: "xl", tag: "h1", text: page_title }) do %>

      <%= govuk_inset_text(text: t(".inset_text")) %>

      <% if @eligible_employment_payments.any? && @applicant.not_employed? %>
          <p class="govuk-body-l"> <%= t(".hmrc_not_employed") %> </p>
      <% end %>

      <%= govuk_table do |table|
            table.with_colgroup do |colgroup|
              colgroup.with_col(span: 1)
              colgroup.with_col(span: 2)
              colgroup.with_col(span: 2)
            end

            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(text: t(".date"))
                row.with_cell(text: t(".income"), colspan: 2)
                row.with_cell(text: t(".deductions"), colspan: 2)
              end
            end

            @employments.each do |employment|
              employment.employment_payments.each do |payment|
                table.with_body do |body|
                  body.with_row do |row|
                    row.with_cell(text: l(payment.date, format: :short_date), rowspan: 2)
                    row.with_cell(text: t(".gross"), classes: "govuk-!-font-weight-bold", rowspan: 2)
                    row.with_cell(text: gds_number_to_currency(payment.gross), numeric: true, rowspan: 2)
                    row.with_cell(text: t(".tax"), classes: "govuk-!-font-weight-bold no-border-bottom")
                    row.with_cell(text: gds_number_to_currency(payment.tax), numeric: true, classes: "no-border-bottom")
                  end

                  body.with_row do |row|
                    row.with_cell(text: t(".ni"), classes: "govuk-!-font-weight-bold")
                    row.with_cell(text: gds_number_to_currency(payment.national_insurance), numeric: true)
                  end
                end
              end
            end
          end %>

      <%= form.govuk_radio_buttons_fieldset :extra_employment_information, legend: { text: t(".supplementary_question") }, hint: { text: t(".employment_hint") } do %>
        <%= form.govuk_radio_button :extra_employment_information, true, link_errors: true, label: { text: t("generic.yes") } do %>
        <%= form.govuk_text_area :extra_employment_information_details,
                                 label: { text: t(".enter_details") },
                                 hint: { text: t(".details_hint") },
                                 rows: 5 %>
        <% end %>
        <%= form.govuk_radio_button :extra_employment_information, false, label: { text: t("generic.no") } %>
      <% end %>
    <% end %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
