<%= form_with(model: @form,
              url: providers_legal_aid_application_means_employment_income_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>

  <%= govuk_notification_banner(title_text: t(".notification_banner_title")) { |nb| nb.with_heading(text: t(".hmrc-information")) } %>

  <%= page_template page_title: t(".page_title", name: @applicant.full_name), template: :basic, form: do %>

    <span class="govuk-caption-l"><%= t("providers.means.client_caption") %></span>
    <%= form.govuk_radio_buttons_fieldset(:has_extra_employment_information,
                                          legend: { size: "xl", tag: "h1", text: page_title }) do %>

      <%= render "shared/means/employment_income_table" %>

      <%= form.govuk_radio_buttons_fieldset :extra_employment_information, legend: { text: t(".supplementary_question") }, hint: { text: t(".employment_hint") } do %>
        <%= form.govuk_radio_button :extra_employment_information, true, link_errors: true, label: { text: t("generic.yes") } do %>
          <%= form.govuk_text_area :extra_employment_information_details,
                                   label: { text: t(".enter_details") },
                                   hint: { text: t(".details_hint") },
                                   rows: 5 %>
        <% end %>
        <%= form.govuk_radio_button :extra_employment_information, false, label: { text: t("generic.no") } %>
      <% end %>
    <% end %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
