<%= page_template page_title: "Guidance for submitting delegated functions applications after service downtime" do %>
  <p class="govuk-body">
    Use this guidance if you’re inputting a civil legal aid delegated functions application for a case you took on when the service was unavailable.
  </p>
  <div>
    <h2 class="govuk-heading-l">Help with questions that may be confusing</h2>
    <p class="govuk-body">
      Some questions may be confusing because the case was taken when the service was unavailable. Follow the guidance to help you answer them correctly.
    </p>
  </div>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">Do you want to request a higher emergency cost limit?</h2>
    <p class="govuk-body">
      You do not need to request the extended emergency time and cost limitations. Use the default limit. We will increase this from £2250 to £9000 on your behalf to reflect the contingency arrangements when we issue the certificate.
    </p>
    <p class="govuk-body">
      Only request a higher emergency cost limit if you would have done so at the time you took the case. Enter the amount you would have requested at the time.
    </p>
    <img src="<%= image_path "downtime_help/request_higher_emergency_cost_limit.png" %>" alt="">
  </div>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">Do you want to make a substantive application now?</h2>
    <p class="govuk-body">
      Ignore the deadline date quoted in the service. You must submit the substantive application within one month of inputting the delegated functions details.
    </p>
    <img src="<%= image_path "downtime_help/make_a_substantive_application_now.png" %>" alt="">
  </div>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">Which bank accounts does your client have?</h2>
    <p class="govuk-body">
      Enter the amounts that were in the accounts at the time you used delegated functions.
    </p>
    <img src="<%= image_path "downtime_help/which_bank_accounts_does_client_have.png" %>" alt="">
  </div>
  <div class="govuk-!-padding-bottom-4">
    <h3 class="govuk-heading-m">Has a date been set for the hearing?</h2>
    <p class="govuk-body">
      Use the initial hearing date and confirm all delegations made since the outage in the Statement of case.
    </p>
    <p class="govuk-body">
      We will make sure the certificate reflects any amendments, such as separate hearings or any other proceedings added.
    </p>
    <img src="<%= image_path "downtime_help/has_a_date_been_set_for_hearing.png" %>" alt="">
  </div>
<% end %>
