<%= form_with(
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      model: @form,
      url: providers_merits_task_list_attempts_to_settle_path(@application_proceeding_type),
      method: :patch,
      local: true
    ) do |form| %>
    <%= page_template(
            page_title: t('.h1-heading'),
            template: :basic,
            form: form
        ) do %>

    <%= form.govuk_fieldset legend: {size: 'xl', tag: 'h1', text: page_title},
                            caption: { text: @application_proceeding_type.proceeding_type.meaning, size: 'xl' } do %>
      <%= form.govuk_text_area(
          :attempts_made,
          label: nil,
          hint: { text: t('.hint-text') },
          legend: {text: content_for(:page_title), tag: 'h1', size: 'xl'},
          rows: 8
        ) %>
    <% end %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
