<% individual = "_with_partner" if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>

<%= page_template(page_title: t(".h1-heading"), caption: t(".caption"), column_width: "full") do %>

  <h2 class="govuk-heading-l"><%= t(".capital-section-heading#{individual}") %></h2>

  <%= render "shared/check_answers/assets", individual: %>

  <h2 class="govuk-heading-m"><%= t(".what_happens_next.heading") %></h2>
  <p class="govuk-body govuk-!-margin-bottom-7"><%= t(".what_happens_next.text") %></p>

  <%= govuk_warning_text(text: t("generic.cya_warning_text")) %>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_check_capital_answers_path,
        method: :patch,
        show_draft: true,
      ) %>

<% end %>
