<% page_title = @legal_aid_application.shared_benefit_with_applicant? ? t(".partner_title") : t(".client_only_title")
   checking_details_for_dwp = true %>
<%= page_template page_title:, template: :basic do %>

    <h1 class="govuk-heading-xl"><%= page_title %></h1>

    <h2 class="govuk-heading-m"><%= t(".h2_client") %></h2>

    <%= govuk_summary_list do |summary_list| %>
      <% summary_list.with_row do |row| %>
        <% row.with_key { t("generic.name") } %>
        <% row.with_value { "#{@applicant.first_name} #{@applicant.last_name}" } %>
        <% row.with_action(text: t("generic.change"), visually_hidden_text: t("providers.check_client_details.show.client_name"),
                           href: providers_legal_aid_application_applicant_details_path(@legal_aid_application, checking_details_for_dwp)) %>
      <% end %>
      <% summary_list.with_row do |row| %>
        <% row.with_key { t("generic.date_of_birth") } %>
        <% row.with_value { @applicant.date_of_birth.strftime("%e %B %Y") } %>
        <% row.with_action(text: t("generic.change"), visually_hidden_text: t("providers.check_client_details.show.client_date_of_birth"),
                           href: providers_legal_aid_application_applicant_details_path(@legal_aid_application, checking_details_for_dwp)) %>
      <% end %>
      <% summary_list.with_row do |row| %>
        <% row.with_key { t("generic.national_insurance_number") } %>
        <% row.with_value { @applicant.national_insurance_number || t("generic.not_provided") } %>
        <% row.with_action(text: t("generic.change"), visually_hidden_text: t("providers.check_client_details.show.client_national_insurance_number"),
                           href: providers_legal_aid_application_has_national_insurance_number_path(@legal_aid_application, checking_details_for_dwp)) %>
      <% end %>
    <% end %>

    <% if @legal_aid_application.shared_benefit_with_applicant? %>
      <h2 class="govuk-heading-m"><%= t(".h2_partner") %></h2>

      <p><%= t(".partner_text") %></p>

      <%= govuk_summary_list(classes: "govuk-!-margin-bottom-9") do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key { t("generic.name") } %>
          <% row.with_value { "#{@partner.first_name} #{@partner.last_name}" } %>
          <% row.with_action(text: t("generic.change"), visually_hidden_text: t("providers.check_client_details.show.partner_name"),
                             href: providers_legal_aid_application_partners_details_path(@legal_aid_application)) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key { t("generic.date_of_birth") } %>
          <% row.with_value { @partner.date_of_birth.strftime("%e %B %Y") } %>
          <% row.with_action(text: t("generic.change"), visually_hidden_text: t("providers.check_client_details.show.partner_date_of_birth"),
                             href: providers_legal_aid_application_partners_details_path(@legal_aid_application)) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key { t("generic.national_insurance_number") } %>
          <% row.with_value { @partner.national_insurance_number || t("generic.not_provided") } %>
          <% row.with_action(text: t("generic.change"), visually_hidden_text: t("providers.check_client_details.show.partner_national_insurance_number"),
                             href: providers_legal_aid_application_partners_details_path(@legal_aid_application)) %>
        <% end %>
      <% end %>
    <% end %>

    <%= next_action_buttons_with_form(
          url: providers_legal_aid_application_check_client_details_path,
          method: :patch,
          continue_button_text: t("generic.save_and_continue"),
          show_draft: true,
        ) %>
<% end %>
