<%= page_template page_title: t('.h1-heading') do %>
  <h2 class="govuk-heading-l"><%= t('.purpose.header') %></h2>
  <p class="govuk-body"><%= t('.purpose.info_1') %></p>
  <p class="govuk-body"><%= t('.purpose.info_2') %></p>

  <h2 class="govuk-heading-l"><%= t('.about_personal_information.header') %></h2>
  <p class="govuk-body"><%= t('.about_personal_information.info_1') %></p>
  <p class="govuk-body"><%= t('.about_personal_information.info_2') %></p>

  <h2 class="govuk-heading-l"><%= t('.types_of_personal_data_we_process.header') %></h2>
  <p class="govuk-body"><%= t('.types_of_personal_data_we_process.info_1') %></p>

  <h2 class="govuk-heading-l"><%= t('.purpose_of_processing.header') %></h2>
  <p class="govuk-body"><%= t('.purpose_of_processing.info_1') %></p>
  <%= list_from_translation_path 'privacy_policy.index.purpose_of_processing' %>
  <p class="govuk-body"><%= t('.purpose_of_processing.info_2') %></p>
  <p class="govuk-body"><%= t('.purpose_of_processing.info_3') %></p>
  <p class="govuk-body"><%= t('.purpose_of_processing.info_4') %></p>

  <h2 class="govuk-heading-l"><%= t('.who_the_information_may_be_shared_with.header') %></h2>
  <p class="govuk-body"><%= t('.who_the_information_may_be_shared_with.info_1') %></p>
  <%= list_from_translation_path 'privacy_policy.index.who_the_information_may_be_shared_with' %>
  <p class="govuk-body"><%= t('.who_the_information_may_be_shared_with.info_2') %></p>

  <h2 class="govuk-heading-l"><%= t('.data_processors.header') %></h2>
  <p class="govuk-body"><%= t('.data_processors.info_1') %></p>
  <p class="govuk-body"><%= t('.data_processors.info_2') %></p>

  <h2 class="govuk-heading-l"><%= t('.details_of_transfer.header') %></h2>
  <p class="govuk-body"><%= t('.details_of_transfer.info_1') %></p>
  <p class="govuk-body"><%= t('.details_of_transfer.info_2') %></p>

  <h2 class="govuk-heading-l"><%= t('.retention_period.header') %></h2>
  <p class="govuk-body"><%= t('.retention_period.info_1') %></p>
  <p class="govuk-body"><%= t('.retention_period.link_html') %></p>
  <p class="govuk-body"><%= t('.retention_period.info_2') %></p>
  <p class="govuk-body"><%= t('.retention_period.info_3') %></p>

  <h2 class="govuk-heading-l"><%= t('.access_to_personal_information.header') %></h2>
  <p class="govuk-body"><%= t('.access_to_personal_information.info_1') %></p>
  <p class="govuk-body">
    <% t('.access_to_personal_information.address').each do |address_lines| %>
      <%= address_lines[-1] %><br>
    <% end %>
  </p>
  <p class="govuk-body"><%= t('.access_to_personal_information.email_address_html') %></p>

  <h2 class="govuk-heading-l"><%= t('.when_we_ask_you_for_personal_data.header') %></h2>
  <p class="govuk-body"><%= t('.when_we_ask_you_for_personal_data.info_1') %></p>
  <p class="govuk-body"><%= t('.when_we_ask_you_for_personal_data.info_2') %></p>
  <%= list_from_translation_path 'privacy_policy.index.when_we_ask_you_for_personal_data' %>

  <h2 class="govuk-heading-l"><%= t('.more_details.header') %></h2>
  <%= list_from_translation_path 'privacy_policy.index.more_details' %>
  <p class="govuk-body"><%= t('.more_details.info_1') %></p>
  <p class="govuk-body">
    <% t('.more_details.address').each do |address_lines| %>
      <%= address_lines[-1] %><br>
    <% end %>
  </p>
  <p class="govuk-body"><%= t('.more_details.email_address_html') %></p>
  <p class="govuk-body"><%= t('.more_details.info_2') %></p>

  <h2 class="govuk-heading-l"><%= t('.complaints.header') %></h2>
  <p class="govuk-body"><%= t('.complaints.info_1') %></p>
  <p class="govuk-body">
    <% t('.complaints.address').each do |address_lines| %>
      <%= address_lines[-1] %><br>
    <% end %>
    <%= t('.complaints.link_html') %>
  </p>
<% end %>
