<details class="govuk-details" data-module="govuk-details">
  <summary style="color:white" class="govuk-details__summary">
   <span class="govuk-details__summary-text" id="checked-status">
    <%= t '.how_we_checked' %>
   </span>
  </summary>
  <p><%= t '.details_used' %></p>

  <p>
    <strong><%= t 'citizens.legal_aid_applications.index.name' %></strong> <%= @applicant.full_name %><br>
    <strong><%= t 'shared.forms.date_input_fields.date_of_birth_label' %>:</strong> <%= @applicant.date_of_birth %><br>
    <strong> <%= t 'shared.forms.applicant_form.nino_label' %>:</strong> <%= @applicant.national_insurance_number %></p>

  <p id='change-client-link'><%= t '.change_client_details_html' %></p>
</details>
