<% content_for :navigation do %>
  <%= link_to 'Back', new_providers_legal_aid_application_address_lookups_path(@legal_aid_application), class: 'govuk-back-link' %>
<% end %>

<%
  result_namespace = @legal_aid_application.applicant_receives_benefit? ? '.positive_result' : '.negative_result'
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h2 class="govuk-panel__title">
        <%= @legal_aid_application.applicant.full_name %>
        <br />
        <%= t "#{result_namespace}.title" %>
      </h2>
    </div>

    <div class="govuk-!-padding-top-4"></div>

    <h3 class="govuk-heading-m">
      <%= t '.heading_1' %>
    </h3>

    <p class="govuk-body">
      <%= t "#{result_namespace}.body" %>
    </p>

    <h3 class="govuk-heading-m">
      <%= t '.heading_2' %>
    </h3>

    <p class="govuk-body">
      <%= t "#{result_namespace}.next" %>
    </p>

    <%= button_to 'Continue', @next_step_link, class: 'govuk-button govuk-button', id: 'continue', method: 'get' %>
  </div>
</div>
