<div class="interruption-panel">
  <%= page_template(page_title: t("#{result_namespace}.title", name: @legal_aid_application.applicant.full_name), column_width: 'full', template: :basic) do %>
    <%= page_heading(size: 'l') %>
    <div class="govuk-grid-column-two-thirds">
      <% if result_namespace == '.negative_result' %>
        <p class="govuk-body">
          <%= t '.central_paragraph' %>
        </p>
      <% end %>
      <h2 class="govuk-heading-m">
        <%= t '.next_heading' %>
      </h2>
      <% if result_namespace == '.positive_result' %>
        <p class="govuk-body">
          <%= t '.list_intro' %>
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li><%= t "#{result_namespace}.next_1" %></li>
          <li><%= t "#{result_namespace}.next_2" %></li>
        </ul>
      <% else %>
        <p class="govuk-body"><%= t "#{result_namespace}.next_1" %></p>
        <p class="govuk-body"><%= t "#{result_namespace}.next_2" %></p>
      <% end %>
    </div>
    <%= next_action_buttons_with_form(
          url: providers_legal_aid_application_check_benefit_path,
          method: :patch,
          show_draft: true,
          continue_button_text: t('generic.continue')
        ) %>
  <% end %>
</div>
