<%= form_with(
      model: @form,
      url: providers_legal_aid_application_opponent_path,
      method: :patch,
      local: true
    ) do |form| %>
    <%= page_template(
            page_title: t('.h1-heading'),
            back_link: Setting.allow_multiple_proceedings? ? {} : { path: providers_legal_aid_application_date_client_told_incident_path(@legal_aid_application) },
            form: form) do %>

    <%= form.govuk_text_field(
          :full_name,
          label: { text: t('.opponent_name'), size: 'm' },
          class: 'govuk-input govuk-input--width-20'
        ) %>

    <div class="govuk-!-padding-bottom-2"></div>

    <%
      questions = %i[understands_terms_of_court_order warning_letter_sent].map do |attr|
        OpenStruct.new(
          title: t(".#{attr}"),
          attribute: attr,
          attribute_details: "#{attr}_details".to_sym,
        )
      end
      questions += %i[police_notified].map do |attr|
        OpenStruct.new(
            title: t(".#{attr}"),
            attribute: attr,
            attribute_details_true: "#{attr}_details_true".to_sym,
            attribute_details_false: "#{attr}_details_false".to_sym
            )
      end
      questions += %i[bail_conditions_set].map do |attr|
        OpenStruct.new(
            title: t(".#{attr}"),
            attribute: attr,
            attribute_details: "#{attr}_details".to_sym,
            )
      end
      police_notified_titles = {
          yes: t('.police_notified_yes'),
          no: t('.police_notified_no'),
        }
    %>

    <% questions.each do |question| %>
      <%= form.govuk_radio_buttons_fieldset question.attribute, legend: {text: question.title} do %>
        <% if question.attribute == :police_notified %>
          <%= form.govuk_radio_button question.attribute, true, link_errors: true, label: {text: t('generic.yes')} do %>
            <%= form.govuk_text_area question.attribute_details_true, label: {text: police_notified_titles[:yes]}, rows: 5 %>
          <% end %>
          <%= form.govuk_radio_button question.attribute, false, label: {text: t('generic.no')} do %>
            <%= form.govuk_text_area question.attribute_details_false, label: {text: police_notified_titles[:no]}, rows: 5 %>
          <% end %>
        <% elsif question.attribute == :bail_conditions_set %>
          <%= form.govuk_radio_button question.attribute, true, link_errors: true, label: {text: t('generic.yes')} do %>
            <%= form.govuk_text_area question.attribute_details, rows: 5 %>
          <% end %>
          <%= form.govuk_radio_button question.attribute, false, label: {text: t('generic.no')} %>
        <% else %>
          <%= form.govuk_radio_button question.attribute, true, link_errors: true, label: {text: t('generic.yes')} %>
          <%= form.govuk_radio_button question.attribute, false, label: {text: t('generic.no')} do %>
            <%= form.govuk_text_area question.attribute_details, rows: 5 %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
