<% content_for :navigation do %>
  <%#= link_to 'Back', path-to-be-determined, class: 'govuk-back-link', id: 'back' %>
<% end %>

  <%= form_tag(citizens_additional_accounts_path) do %>

    <%= govuk_form_group do %>
      <%= govuk_fieldset_header 'Do you have accounts with other banks?', padding_below: 6 %>
      <%= govuk_hint 'Share details of any accounts you have with another bank or building society' %>
      <%= govuk_radio_inputs :additional_account, yes: 'Yes', no: 'No' %>
    <% end %>

    <%= govuk_submit_button 'Continue' %>

  <% end %>

  </div>
</div>
