<%= page_template page_title: t('.field_set_header'), template: :form do %>
  <%= form_tag(citizens_additional_accounts_path) do %>

    <%= govuk_form_group(
          show_error_if: @error,
          hint_id: :additional_account_hint,
          input: :additional_account
        ) do %>
      <div class="govuk-!-padding-bottom-4"></div>
      <%= govuk_hint t('.hint'), id: :additional_account_hint %>
      <%= govuk_error_message @error %>
      <%= govuk_radio_inputs :additional_account, yes: t('generic.yes'), no: t('generic.no') %>
    <% end %>

    <%= govuk_submit_button t('generic.continue') %>

  <% end %>
<% end %>
