<% content_for :navigation do %>
  <%#= link_to 'Back', path-to-be-determined, class: 'govuk-back-link', id: 'back' %>
<% end %>

  <%= form_tag(citizens_additional_account_path(id: :update), method: :patch) do %>

    <%= govuk_form_group do %>
      <%= govuk_fieldset_header 'Do you have online access to your accounts with other banks?', padding_below: 6 %>
      <%= govuk_hint 'If you do not, you will need to provide paper evidence for these accounts.' %>
      <%= govuk_radio_inputs :has_offline_accounts, yes: 'Yes', no: 'No' %>
    <% end %>

    <%= govuk_submit_button 'Continue' %>

  <% end %>

  </div>
</div>
