<%= form_with(model: @form,
              url: providers_legal_aid_application_home_address_different_address_path,
              method: :patch,
              local: true) do |form| %>
  <%= page_template page_title: t(".heading"), template: :basic, form: do %>

    <%= form.govuk_collection_radio_buttons(
          :same_correspondence_and_home_address,
          yes_no_options,
          :value,
          :label,
          legend: { size: "xl", tag: "h1", text: t(".heading") },
        ) do %>
          <p class="govuk-body"><%= t(".paragraph") %></p>
          <p class="govuk-body">
            <%= address_one_line(@correspondence_address) %>.
            <%= govuk_link_to(t("generic.search_again"), providers_legal_aid_application_address_lookup_path) %>
          </p>
        <% end %>

    <%= next_action_buttons(
          show_draft: true,
          form:,
        ) %>
  <% end %>
<% end %>
