<%= page_template(page_title: t(".#{@type}.title_html"), template: :basic, column_width: "full") do %>

  <%= interruption_card(heading: t(".#{@type}.title_html"), actions: -> { render "actions" }) do %>
      <% if I18n.exists?("providers.proceedings_sca.interrupts.show.#{@type}.paragraph") %>
        <p><%= t(".#{@type}.paragraph") %></p>
      <% end %>

      <p><%= t(".#{@type}.options") %></p>
      <%= govuk_list(t(".#{@type}.option_bullets_html", url: Rails.configuration.x.laa_landing_page_target_url), type: :bullet) %>
  <% end %>
<% end %>
