<div class="interruption-panel">
  <%= page_template(page_title: t(".#{@type}.title_html"), column_width: "full", template: :basic) do %>
    <%= page_heading(size: "l") %>

    <div class="maximize-text-width">
      <% if I18n.exists?("providers.proceedings_sca.interrupts.show.#{@type}.paragraph") %>
        <p class="govuk-body"><%= t(".#{@type}.paragraph") %></p>
      <% end %>
      <p class="govuk-body"><%= t(".#{@type}.options") %></p>
      <%= govuk_list t(".#{@type}.option_bullets_html"), type: :bullet %>
    </div>

    <div class='govuk-button-group'>
      <%= govuk_button_link_to t(".#{@type}.applications"), submitted_providers_legal_aid_applications_path, inverse: true, role: "button" %>
    </div>
  <% end %>
</div>
