<div class="moj-interruption-card">
  <div class="moj-interruption-card__content">
    <%= page_template(page_title: t(".#{@type}.title_html"), column_width: "full", template: :basic) do %>
      <%= page_heading(size: "l", classes: "moj-interruption-card__heading") %>

      <% if I18n.exists?("providers.proceedings_sca.interrupts.show.#{@type}.paragraph") %>
        <p class="govuk-body moj-interruption-card__body"><%= t(".#{@type}.paragraph") %></p>
      <% end %>
      <p class="govuk-body moj-interruption-card__body"><%= t(".#{@type}.options") %></p>
      <%= govuk_list t(".#{@type}.option_bullets_html"), type: :bullet, classes: "moj-interruption-card__body" %>

      <div class='govuk-button-group'>
        <%= govuk_button_link_to t(".#{@type}.proceedings"), providers_legal_aid_application_sca_interrupt_path(@legal_aid_application, @type), method: :delete, inverse: true, role: "button" %>
      </div>
    <% end %>
  </div>
</div>
