<%= page_template page_title: t(".heading"), template: :basic, back_link: :none do %>

  <%= govuk_panel(title_text: "Application complete") do %>
    <%= t(".your_case_reference_number") %><br>
    <strong><%= @legal_aid_application.application_ref %></strong>
  <% end %>

  <p class="govuk-body govuk-!-padding-top-4"><%= t(".confirmation_email_sent") %></p>

  <h2 class="govuk-heading-m"><%= t(".need_to_do") %></h2>

  <p class="govuk-body">
    <% if @legal_aid_application.special_children_act_proceedings? %>
      <%= t(".print_application.special_children_act") %>
    <% elsif @legal_aid_application.non_means_tested? %>
      <%= t(".print_application.under_18", applicant_name: @legal_aid_application.applicant_full_name) %>
    <% elsif @legal_aid_application&.applicant&.has_partner_with_no_contrary_interest? %>
      <%= t(".print_application.with_partner") %>
    <% else %>
      <%= t(".print_application.over_18") %>
    <% end %>
  </p>

  <% unless @legal_aid_application.special_children_act_proceedings? %>
    <p class="govuk-body"><%= t(".keep_file") %></p>
    <%= govuk_list t(".keep_bullets"), type: :bullet %>
  <% end %>

  <p class="govuk-body"><%= t(".audit") %></p>

  <h2 class="govuk-heading-m"><%= t(".what_next") %></h2>

  <p class="govuk-body"><%= t(".application_to_be_checked") %></p>
  <p class="govuk-body"><%= t(".decision_in_ccms_html") %></p>

  <%= govuk_inset_text do %>
    <p class="govuk-body govuk-!-padding-bottom-2"><%= govuk_link_to t(".feedback_prefix"), new_feedback_path %><%= t(".feedback_suffix") %></p>
  <% end %>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_end_of_application_path,
        method: :patch,
        continue_button_text: t(".view_completed_application"),
        additional_link: { text: t(".back_to_your_applications"), url: home_path },
      ) %>
<% end %>
