<h2 class="govuk-heading-m"><%= t(".heading") %></h2>
<%= govuk_summary_list(
      card: { title: t(".heading") },
      actions: false,
      html_attributes: { id: "app-check-your-answers__capital_disregards" },
    ) do |summary_list| %>

  <%= summary_list.with_row(html_attributes: { id: "app-check-your-mandatory_capital_disregards" }) do |row| %>
    <%= row.with_key(text: t(".mandatory.heading"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { @legal_aid_application.mandatory_capital_disregards.any? ? mandatory_capital_disregards_detailed_list(@legal_aid_application) : t("generic.none") } %>
  <% end %>

  <%= summary_list.with_row(html_attributes: { id: "app-check-your-discretionary_capital_disregards" }) do |row| %>
    <%= row.with_key(text: t(".discretionary.heading"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value(text: @legal_aid_application.discretionary_capital_disregards.any? ? discretionary_capital_disregards_detailed_list(@legal_aid_application) : t("generic.none")) %>
  <% end %>
<% end %>
