<h2 class="govuk-heading-m print-no-break-after"><%= t("providers.means_reports.proceeding_eligibility") %></h2>

<%= govuk_summary_list(card: { title: t("providers.means_reports.proceeding_eligibility") }, actions: false, html_attributes: { id: "proceeding-eligibility-questions" }) do |summary_list| %>
  <% results.each do |proceeding_type, result| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: proceeding_type, classes: "govuk-!-width-one-third") %>
      <%= row.with_value(text: result) %>
    <% end %>
  <% end %>
<% end %>
