<% if @legal_aid_application.cfe_result.version >= 4 %>
  <%= render "proceeding_eligibility", results: @legal_aid_application.cfe_result.results_by_proceeding_type %>
<% end %>

<%= render "receives_benefits" %>

<% if @legal_aid_application.non_passported? %>
  <h2 class="govuk-heading-m">
    <%= t(".income_result_heading") %>
  </h2>

  <%= render "shared/check_answers/income_result", read_only: true, heading: t(".income_result_heading") %>

  <% if @legal_aid_application.applicant.state_benefits.any? %>
    <section class="print-no-break">
      <%= render "shared/check_answers/benefits_breakdown", partner: false %>
    </section>
  <% end %>

  <% if @legal_aid_application.partner&.state_benefits&.any? %>
    <section class="print-no-break">
      <%= render "shared/check_answers/benefits_breakdown", partner: true %>
    </section>
  <% end %>

  <section class="print-no-break">
    <h2 class="govuk-heading-m">
      <%= t(".income_details_heading") %>
    </h2>
    <%= render "shared/means_report/income_details", heading: t(".income_details_heading") %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.applicant.extra_employment_information? %>
      <%= render "shared/check_answers/employed_income", partner: false, read_only: true %>
    <% end %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.full_employment_details? %>
      <%= render "shared/check_answers/full_employment_details", individual: "Your client", read_only: true, partner: false %>
    <% end %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.partner&.extra_employment_information? %>
      <%= render "shared/check_answers/employed_income", partner: true, read_only: true %>
    <% end %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.partner&.full_employment_details? %>
      <%= render "shared/check_answers/full_employment_details", individual: "The partner", read_only: true, partner: true %>
    <% end %>
  </section>

  <section class="print-no-break">
    <h2 class="govuk-heading-l"><%= t(".debits-section-heading") %></h2>
    <%= render "shared/means_report/outgoings_details", heading: t(".debits-section-heading") %>
  </section>

  <section class="print-no-break">
    <h2 class="govuk-heading-l"><%= t(".deductions-section-heading") %></h2>
    <%= render "shared/means_report/deductions_details", heading: t(".deductions-section-heading") %>
  </section>

  <%= render "caseworker_review" %>
<% end %>

<section class="print-no-break">
  <h2 class="govuk-heading-m">
    <%= t(".capital_result_heading") %>
  </h2>

  <%= render "shared/check_answers/capital_result", heading: t(".capital_result_heading") %>
</section>

<h2 class="govuk-heading-m">
  <%= t(".assets_heading") %>
</h2>
<% individual = "_with_partner" if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
<%= render "shared/check_answers/assets", read_only: true, individual: %>

<% if @legal_aid_application.passported? && @manual_review_determiner.manual_review_required? %>
    <%= render "caseworker_review" %>
<% end %>

<% if @legal_aid_application.uploading_bank_statements? %>
<div class="govuk-!-padding-bottom-8"></div>

<section class="print-no-break">
  <h3 class="govuk-heading-m"><%= t(".bank_statement_heading") %></h3>
  <% if @legal_aid_application.uploading_bank_statements? %>
    <% has_partner = @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
    <%= govuk_summary_list(card: { title: t(".bank_statement_heading") }, actions: false, classes: "govuk-!-margin-bottom-9") do |summary_list| %>
      <% if @legal_aid_application.client_uploading_bank_statements? %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__bank_statements_client" }) do |row| %>
          <%= row.with_key(text: has_partner ? t(".bank_statement_question_with_partner") : t(".bank_statement_question"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value do %>
            <ul class="govuk-list">
              <% attachments_with_size(@legal_aid_application.attachments.bank_statement_evidence).each do |answer| %>
                <li><%= answer %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
      <% if has_partner && @legal_aid_application.partner_uploading_bank_statements? %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__bank_statements_partner" }) do |row| %>
          <%= row.with_key(text: t(".partner_bank_statement_question"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value do %>
            <ul class="govuk-list">
              <% attachments_with_size(@legal_aid_application.attachments.part_bank_state_evidence).each do |answer| %>
                <li><%= answer %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
<% end %>
