<%= render "receives_benefits" %>

<% if @legal_aid_application.non_passported? %>
  <section class="print-no-break">
    <%= render("income_categories", read_only: true) %>
  </section>

  <section class="print-no-break">
    <%= render("student_finance", read_only: true) %>
  </section>

  <section class="print-no-break">
    <%= render("income_cash_payments", read_only: true) %>
  </section>

  <section class="print-no-break">
    <%= render("dependants", read_only: true) %>
  </section>

  <section class="print-no-break">
    <%= render("outgoings_categories", read_only: true) %>
  </section>

  <section class="print-no-break">
    <%= render("outgoings_cash_payments", read_only: true) %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.applicant.extra_employment_information? %>
      <%= render "shared/check_answers/employed_income", partner: false, read_only: true %>
    <% end %>
  </section>

  <h2 class="govuk-heading-m">
    <%= t(".income_result_heading") %>
  </h2>

  <section class="print-no-break">
    <%= render "shared/check_answers/income_result", read_only: true %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.full_employment_details? %>
      <%= render "shared/check_answers/full_employment_details", individual: "Your client", read_only: true, partner: false %>
    <% end %>
  </section>

  <div class="govuk-!-padding-bottom-8"></div>

  <%= render "caseworker_review" %>
<% end %>

<h2 class="govuk-heading-m">
  <%= t(".assets_heading") %>
</h2>

<%= render "shared/check_answers/assets", read_only: true, individual: "" %>

<% if @legal_aid_application.passported? && @manual_review_determiner.manual_review_required? %>
    <div class="govuk-!-padding-bottom-8"></div>
    <%= render "caseworker_review" %>
<% end %>

<section class="print-no-break">
  <%= render("shared/check_answers/bank_statements", bank_statements: @legal_aid_application.attachments.bank_statement_evidence, read_only: true) %>
</section>
