<% if @legal_aid_application.cfe_result.version >= 4 %>
  <%= render "proceeding_eligibility", results: @legal_aid_application.cfe_result.results_by_proceeding_type %>
<% end %>

<%= render "receives_benefits" %>

<% if @legal_aid_application.non_passported? %>
  <%= render "income_result" %>

  <% if @legal_aid_application.applicant.state_benefits.any? %>
    <%= render "benefits_breakdown", partner: false %>
  <% end %>

  <% if @legal_aid_application.partner&.state_benefits&.any? %>
    <%= render "benefits_breakdown", partner: true %>
  <% end %>

  <%= render "income_details" %>

  <section class="print-no-break">
    <% if @legal_aid_application.applicant.extra_employment_information? %>
      <%= render "shared/check_answers/employed_income", partner: false, read_only: true %>
    <% end %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.full_employment_details? %>
      <%= render "shared/check_answers/full_employment_details", individual: "Your client", read_only: true, partner: false %>
    <% end %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.partner&.extra_employment_information? %>
      <%= render "shared/check_answers/employed_income", partner: true, read_only: true %>
    <% end %>
  </section>

  <section class="print-no-break">
    <% if @legal_aid_application.partner&.full_employment_details? %>
      <%= render "shared/check_answers/full_employment_details", individual: "The partner", read_only: true, partner: true %>
    <% end %>
  </section>

  <%= render "outgoings_and_deductions_details" %>

  <div class="govuk-!-padding-bottom-8"></div>

  <% individual_text = if @legal_aid_application.applicant.has_partner_with_no_contrary_interest?
                         "your client or their partner"
                       else
                         "your client"
                       end %>
  <section class="print-no-break">
    <h2 class="govuk-heading-l"><%= t("providers.means.check_income_answers.dependants.heading-h2") %></h2>
    <%= render "shared/check_answers/dependants", individual: individual_text, read_only: true, means_report: true %>
  </section>

  <%= render "caseworker_review" %>
<% end %>

<%= render "capital_result" %>

<h2 class="govuk-heading-m"><%= t(".assets_heading") %></h2>
<% individual = "_with_partner" if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
<%= render "shared/check_answers/assets", means_report: true, read_only: true, individual: %>

<% if @legal_aid_application.passported? && @manual_review_determiner.manual_review_required? %>
    <div class="govuk-!-padding-bottom-8"></div>
    <%= render "caseworker_review" %>
<% end %>

<% if @legal_aid_application.uploading_bank_statements? %>
  <%= render "uploaded_bank_statements" %>
<% end %>
