<%= page_template page_title: t('.heading'), back_link: :none do %>

  <%= render 'shared/application_ref', legal_aid_application: @legal_aid_application %>

  <h2 class="govuk-heading-m"><%= t('.client_details_heading') %></h2>

  <%= render(
        'shared/check_answers/client_details',
        attributes: %i[first_name last_name date_of_birth age national_insurance_number],
        applicant: @legal_aid_application.applicant,
        read_only: true
      ) %>

  <h2 class="govuk-heading-m">
    <%= t('.benefit_check_heading') %>
  </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <%= check_answer_link(
          name: :receives_benefit,
          question: t('.question_receives_benefit'),
          answer: yes_no(@legal_aid_application.applicant_receives_benefit?),
          read_only: true
        ) %>
  </dl>

  <% if @legal_aid_application.non_passported? %>
    <h2 class="govuk-heading-m">
      <%= t('.income_result_heading') %>
    </h2>

    <%= render 'shared/check_answers/income_result', read_only: true %>

    <section class="print-no-break">
      <h2 class="govuk-heading-m">
        <%= t('.income_details_heading') %>
      </h2>
      <%= render 'shared/check_answers/income_details' %>
    </section>

    <div class="govuk-!-padding-bottom-8"></div>

    <section class="print-no-break">
      <h2 class="govuk-heading-l"><%= t('.debits-section-heading') %></h2>
      <%= render 'shared/check_answers/outgoings_details' %>
    </section>

    <div class="govuk-!-padding-bottom-8"></div>

    <section class="print-no-break">
      <h2 class="govuk-heading-l"><%= t('.deductions-section-heading') %></h2>
      <%= render 'shared/check_answers/deductions_details' %>
    </section>

    <div class="govuk-!-padding-bottom-8"></div>

    <section class="print-no-break">
      <h2 class="govuk-heading-l"><%= t('.caseworker-review-section-heading') %></h2>
      <%= render partial: 'caseworker_review', locals: {manual_review_determiner: @manual_review_determiner } %>
    </section>

  <% end %>

  <h2 class="govuk-heading-m">
    <%= t('.capital_result_heading') %>
  </h2>

  <%= render 'shared/check_answers/capital_result', read_only: true %>

  <h2 class="govuk-heading-m">
    <%= t('.assets_heading') %>
  </h2>

  <%= render 'shared/check_answers/assets', read_only: true %>

  <% if @legal_aid_application.passported? && @manual_review_determiner.manual_review_required? %>
    <section class="print-no-break">
      <h2 class="govuk-heading-l"><%= t('.caseworker-review-section-heading') %></h2>
      <%= render partial: 'caseworker_review', locals: { manual_review_determiner: @manual_review_determiner } %>
    </section>
  <% end %>
<% end %>
