<%= page_template page_title: t(".heading"), back_link: :none do %>
  <% @legal_aid_application = legal_aid_application if @legal_aid_application.nil? %>
  <% @cfe_result = cfe_result if @cfe_result.nil? %>
  <% @manual_review_determiner = manual_review_determiner if @manual_review_determiner.nil? %>

  <%= render "shared/application_ref", legal_aid_application: @legal_aid_application %>

  <h2 class="govuk-heading-m"><%= t(".client_details_heading") %></h2>
  <%= render(
        "shared/check_answers/client_details",
        attributes: %i[first_name last_name last_name_at_birth changed_last_name date_of_birth age means_test national_insurance_number care_of home_address],
        applicant: @legal_aid_application.applicant,
        read_only: true,
      ) %>

  <% if @legal_aid_application.applicant_has_partner? %>
    <h2 class="govuk-heading-m"><%= t(".partner_details_heading") %></h2>
    <%= render(
          "shared/check_answers/partner_details",
          attributes: %i[first_name last_name date_of_birth national_insurance_number],
          partner: @legal_aid_application.partner,
          read_only: true,
        ) %>
  <% end %>

  <%= render "with_cfe_result_details" unless @legal_aid_application.non_means_tested? %>

<% end %>
