<%
  check_box_attribute = "check_box_#{attribute}"
  conditional_div_id = "conditional_#{attribute}"
  hint = I18n.translate("helpers.hint.#{check_box_attribute}", default: nil)
  value = model.send(attribute)
  checked = value.present? || model.send(check_box_attribute).present? ? 'checked' : ''
%>

<div class="govuk-checkboxes__item">
  <%= form.check_box check_box_attribute, { class: 'govuk-checkboxes__input', 'data-aria-controls' => conditional_div_id, checked: checked }, 'true', '' %>
  <%= form.label check_box_attribute, class: 'govuk-label govuk-checkboxes__label' %>
  <%= govuk_hint(hint, class: 'govuk-checkboxes__hint') if hint %>
</div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="<%= conditional_div_id %>">
  <%= form.govuk_text_field attribute, input_prefix: t('currency.gbp'), value: number_to_currency(value, unit: ''), class: 'govuk-!-width-one-third' %>
</div>
