<% content_for(:panel) do %>
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title govuk-!-padding-top-4">
      <%= t('.completed_financial_assessment') %>
    </h1>
    <div class="govuk-panel__body">
      <dl class="govuk-list inline-list">
        <dt>
          <strong><%= t('.name') %>:</strong>
        </dt>
        <dd><%= @applicant.full_name %></dd>

        <dt>
          <strong><%= t('.reference_number') %>:</strong>
        </dt>
        <dd><%= @legal_aid_application.application_ref %></dd>
      </dl>
    </div>
  </div>
<% end %>

<%= page_template page_title: t('.page-heading'), back_link: :none do %>
  <p class="govuk-body"><%= t('.solicitors-actions') %></p>
  <p class="govuk-body"><%= t('.what-happens-next') %></p>
<% end %>

<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-padding-bottom-2"><%= link_to_accessible t('.feedback_prefix'), new_feedback_path %><%= t('.feedback_suffix') %></p>
</div>
