<% content_for(:panel) do %>
  <%= govuk_panel(title_text: t(".completed_financial_assessment")) do %>
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-list inline-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".name") %>:
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.full_name %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".reference_number") %>:
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @legal_aid_application.application_ref %>
        </dd>
      </div>
    </dl>
  <% end %>
<% end %>

<%= page_template page_title: t(".page-heading"), head_title: t(".completed_financial_assessment"), back_link: :none do %>
  <p class="govuk-body"><%= t(".solicitors-actions") %></p>
  <p class="govuk-body"><%= t(".what-happens-next") %></p>
<% end %>

<%= govuk_inset_text do %>
  <p class="govuk-body govuk-!-padding-bottom-2"><%= govuk_link_to t(".feedback_prefix"), new_feedback_path %><%= t(".feedback_suffix") %></p>
<% end %>
