<% content_for(:panel) do %>
  <%= govuk_panel(title_text: t(".completed_financial_assessment")) do %>
    <strong><%= t(".name") %></strong>: <%= @applicant.full_name %><br>
    <strong><%= t(".reference_number") %></strong>: <%= @legal_aid_application.application_ref %>
  <% end %>
<% end %>

<%= page_template page_title: t(".page-heading"), head_title: t(".completed_financial_assessment"), back_link: :none do %>
  <p class="govuk-body"><%= t(".solicitors-actions") %></p>
  <p class="govuk-body"><%= t(".what-happens-next") %></p>
<% end %>

<%= govuk_inset_text do %>
  <p class="govuk-body govuk-!-padding-bottom-2"><%= govuk_link_to t(".feedback_prefix"), new_feedback_path %><%= t(".feedback_suffix") %></p>
<% end %>
