<%= form_with(
      model: @form,
      url: providers_legal_aid_application_used_multiple_delegated_functions_path,
      method: :patch,
      local: true
    ) do |form| %>
    <%= page_template page_title: t('.heading'), template: :basic, form: form do %>

      <%= form.govuk_check_boxes_fieldset :delegated_functions, legend: {size: 'xl', tag: 'h1', text: page_title} do %>
      <span id="select-all-that-apply-hint" class="govuk-hint"><%= t('generic.select_all_that_apply') %></span>

      <div class="deselect-group govuk-!-padding-bottom-1" data-deselect-ctrl="#legal-aid-applications-used-multiple-delegated-functions-form-none-selected-true-field">
        <% @application_proceedings_by_name.each_with_index do |proceeding, index| %>
          <% attribute_name = proceeding.name
             @form.__send__("#{attribute_name}=", @form.send(attribute_name).present?)
             link_errors_value = index == 0 ? true : false %>

          <%= form.govuk_check_box attribute_name, true, '', multiple: false, link_errors: link_errors_value, label: {text: proceeding.meaning} do %>
            <%= form.govuk_date_field :"#{attribute_name}_used_delegated_functions_on",
                                      legend: { text: t("shared.forms.date_input_fields.used_delegated_functions_on_label"), class: 'govuk-label govuk-date-input__label' },
                                      hint: { text: t("shared.forms.date_input_fields.used_delegated_functions_on_hint", options: number_of_days_ago(5))} %>
          <% end %>
        <% end %>
      </div>

      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box :none_selected, true, '', multiple: false, label: {text: t('.none_selected')} %>
    <% end %>

    <%= next_action_buttons(
          form: form,
          show_draft: true
        ) %>
  <% end %>
<% end %>
