<%= page_template page_title: t('.heading_1'), back_link: :none do %>
  <p class="govuk-body">
    <b> <%= t('.name') %></b>
    <%= current_applicant.first_name %>
    <%= current_applicant.last_name %>
    <br>
    <b><%= t('.case_reference') %></b>
    <%= current_applicant.legal_aid_application.application_ref %>
    <br>
    <b><%= t('.your_solicitor') %></b>
    <%= current_applicant.legal_aid_application.provider.firm.name %>
  </p>

  <p class="govuk-body"><%= t('.we_need_to_check') %></p>

  <h2 class="govuk-heading-m"><%= t('.how_we_do_this_heading') %></h2>

  <% (1..4).each do |number| %>
    <p class="govuk-body"><%= t(".how_we_do_this_body_#{number}") %></p>
  <% end %>

  <h2 class="govuk-heading-m"><%= t('.what_you_will_need') %></h2>

  <p class="govuk-body"><%= t('.online_banking_details') %></p>

  <%= link_to_accessible start_button_label(:start_now),
              forward_path,
              class: 'govuk-button govuk-button--start govuk-!-margin-top-2',
              role: 'button',
              id: 'start' %>

<% end %>
