<%= page_template page_title: t('.heading_1'), back_link: :none do %>
  <p class="govuk-body">
    <%= t('.name') %>
    <b><%= current_applicant.first_name %></b>
    <b><%= current_applicant.last_name %></b>
    <br>
    <%= t('.case_reference') %>
    <b><%= current_applicant.legal_aid_application.application_ref %></b>
    <br>
    <%= t('.your_solicitor') %>
  </p>

  <p class="govuk-body"><%= t('.you_need_to_answer') %></p>

  <%= list_from_translation_path 'citizens.legal_aid_applications.index' %>

  <p class="govuk-body"><%= t('.legal_cost_para') %></p>

  <h2 class="govuk-heading-m"><%= t('.what_you_will_need') %></h2>

  <p class="govuk-body"><%= t('.online_banking_details') %></p>

  <%= link_to t('generic.start'), forward_path, class: 'govuk-button govuk-button--start govuk-!-margin-top-2', id: 'start' %>
<% end %>
