<section class="income_payments_and_assets page_break_before">
  <div class="govuk-!-padding-bottom-6"></div>
  <h2 class="govuk-heading-l"><%= t(".heading") %></h2>

<!-- EMPLOYMENT INCOME -->

  <% if display_employment_income? %>
    <%= render "shared/employment_income_table" %>
  <% end %>

<!-- INCOME -->

  <section class="print-no-break">
    <h3 class="govuk-heading-m govuk-!-padding-top-8"><%= display_employment_income? ? t(".other_income") : t(".income") %></h3>
    <% if @legal_aid_application.applicant_receives_benefit? %>
      <%= govuk_tag(text: t(".passported")) %>
    <% else %>
      <%= render(
            "shared/check_answers/bank_transaction_table",
            transaction_types: TransactionType.credits.without_housing_benefits,
            read_only: true,
          ) %>
    <% end %>
  </section>

<!-- STUDENT FINANCE -->

  <%= render(
        "shared/check_answers/student_finance",
        individual: "Client",
        individual_with_determiner: t("generic.client"),
        model: @legal_aid_application.applicant,
        url: providers_legal_aid_application_means_student_finance_path(@legal_aid_application),
        read_only: false,
      ) %>

<!-- OUTGOINGS -->

  <section class="print-no-break">
    <h3 class="govuk-heading-m govuk-!-padding-top-8"><%= t(".payments") %></h3>
    <% if @legal_aid_application.applicant_receives_benefit? %>
      <%= govuk_tag(text: t(".passported")) %>
    <% else %>
      <%= render(
            "shared/check_answers/bank_transaction_table",
            transaction_types: TransactionType.debits,
            read_only: true,
          ) %>
    <% end %>
  </section>

<!-- HOUSING BENEFIT -->

  <section class="print-no-break govuk-!-padding-top-8">
    <% if @legal_aid_application.housing_payments? %>
      <% individual = @legal_aid_application.applicant.has_partner_with_no_contrary_interest? ? t("generic.client_or_partner") : t("generic.client") %>
      <%= render(
            "shared/check_answers/housing_benefit",
            read_only: true,
            partner: @legal_aid_application.applicant.has_partner_with_no_contrary_interest?,
          ) %>
    <% end %>
  </section>

<!--  PARTNER INCOME -->

  <% if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? && !@legal_aid_application.applicant_receives_benefit? %>
    <%= render(
          "shared/review_application/partner_income",
          read_only: true,
        ) %>
  <% end %>

<!-- CAPITAL -->

  <section class="print-no-break">
    <% individual = @legal_aid_application.applicant.has_partner_with_no_contrary_interest? ? "_with_partner" : nil %>
    <%= render "shared/check_answers/assets", read_only: true, individual: %>
  </section>
</section>
