<h2 class="govuk-heading-l"><%= t(".income-heading") %></h2>

<!-- UPLOADED BANK STATEMENTS -->

<% if @legal_aid_application.partner_uploading_bank_statements? %>
  <%= render("shared/check_answers/bank_statements", bank_statements: @legal_aid_application.attachments.part_bank_state_evidence, read_only: true, partner: true) %>
<% end %>

<!-- EMPLOYMENT INCOME -->

<section class="print-no-break">
  <% if @legal_aid_application.partner.hmrc_employment_income? %>
    <% if @legal_aid_application.partner.has_multiple_employments? %>
      <%= render("shared/check_answers/full_employment_details", read_only: true, partner: true,) %>
    <% else %>
      <%= render "shared/check_answers/employed_income", read_only: true, partner: true %>
    <% end %>
  <% elsif @legal_aid_application.partner.employed? %>
    <%= render("shared/check_answers/full_employment_details", read_only: true, partner: false,) %>
  <% end %>
</section>

<!-- BENEFITS -->

<% if @legal_aid_application.uploading_bank_statements? %>
  <%= render("shared/check_answers/benefits_income",
             transactions_for: "partner",
             individual: @legal_aid_application.partner,
             state_benefits: @legal_aid_application.partner.state_benefits,
             read_only: true) %>
<% end %>

<!-- INCOME -->

<section class="print-no-break">
  <%= render(
        "shared/check_answers/payments_summary",
        payment_type: t(".credits-section-heading"),
        url: @legal_aid_application.partner_uploading_bank_statements? ? :regular_incomes : :identify_types_of_incomes,
        transaction_types: TransactionType.credits.without_disregarded_benefits.without_benefits,
        read_only: true,
        individual: "Partner",
      ) %>
</section>

<!-- CASH INCOME -->

<section class="print-no-break">
  <%= render(
        "shared/check_answers/cash_payments",
        read_only: true,
        individual: "Partner",
        individual_with_determiner: t("generic.partner"),
        type: :income,
      ) %>
</section>

<!-- STUDENT FINANCE -->

<%= render(
      "shared/check_answers/student_finance",
      individual_text: t("generic.partner"),
      individual: @legal_aid_application.partner,
      read_only: true,
    ) %>

<!-- OUTGOINGS -->

<section class="print-no-break">
  <h2 class="govuk-heading-l"><%= t(".outgoings-heading") %></h2>

  <%= render(
        "shared/check_answers/payments_summary",
        payment_type: t(".debits-section-heading"),
        url: @legal_aid_application.partner_uploading_bank_statements? ? :regular_outgoings : :identify_types_of_outgoings,
        transaction_types: TransactionType.debits,
        read_only: true,
        individual: "Partner",
        ) %>
</section>

<!-- CASH PAYMENTS -->

<section class="print-no-break">
  <%= render(
        "shared/check_answers/cash_payments",
        read_only: true,
        url: providers_legal_aid_application_means_cash_outgoing_path,
        individual: "Partner",
        individual_with_determiner: t("generic.partner"),
        type: :outgoings,
        ) %>
</section>
