<div class="print-header-wrapper">
  <dl class="govuk-list inline-list print-header">
    <dt>
      <strong><%= t(".client_name") %>:</strong>
    </dt>
    <dd><%= @legal_aid_application.applicant_full_name %></dd>

    <dt>
      <strong><%= t(".case_reference_html") %>:</strong>
    </dt>
    <dd><%= @legal_aid_application.application_ref %></dd>

    <% if @legal_aid_application.case_ccms_reference %>
      <dt>
        <strong><%= t(".ccms_reference_html") %>:</strong>
      </dt>
      <dd><%= @legal_aid_application.case_ccms_reference %></dd>
    <% end %>
  </dl>
</div>

<div class="print-position-correction">
  <section class="client_details print-no-break">
    <h2 class="govuk-heading-l"><%= t(".client_details_heading") %></h2>
    <%= render(
          "shared/check_answers/client_details",
          attributes: %i[first_name last_name last_name_at_birth changed_last_name date_of_birth applied_previously national_insurance_number email correspondence_choice address care_of home_address],
          applicant: @legal_aid_application.applicant,
          address: @legal_aid_application.applicant.address,
          read_only: true,
        ) %>
  </section>

  <% if @legal_aid_application.applicant_has_partner? %>
    <h2 class="govuk-heading-l"><%= t(".partner_details_heading") %></h2>
    <%= render(
          "shared/check_answers/partner_details",
          attributes: %i[contrary_interest first_name last_name date_of_birth national_insurance_number],
          partner: @legal_aid_application.partner,
          read_only: true,
        ) %>
  <% end %>

  <% if Setting.linked_applications? %>
    <h2 class="govuk-heading-l"><%= t(".linking_and_copying_heading") %></h2>
    <%= render("shared/check_answers/linking_and_copying", read_only: true) %>
  <% end %>

  <section class="proceeding_details print-no-break">
    <h2 class="govuk-heading-l"><%= t(".proceeding_details_section_heading") %></h2>
    <%= render("shared/check_answers/proceeding_details_section") %>
  </section>

  <% if @legal_aid_application.non_sca_used_delegated_functions? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t ".emergency_cost_limit" %></h2>
      </div>
    </div>
    <%= render(
          "shared/check_answers/emergency_costs",
          legal_aid_application: @legal_aid_application,
          read_only: true,
        ) %>
  <% end %>

  <% if @legal_aid_application.substantive_cost_overridable? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t ".substantive_cost_limit" %></h2>
      </div>
    </div>
    <%= render(
          "shared/check_answers/substantive_costs",
          legal_aid_application: @legal_aid_application,
          heading: t(".substantive_cost_limit"),
          read_only: true,
        ) %>
  <% end %>

  <% if @legal_aid_application.non_means_tested? %>
    <section class="print-no-break govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-l"><%= t(".no_means_test_income_heading") %></h2>
      <%= govuk_tag(text: t(".non_means_tested"), classes: ["govuk-!-margin-bottom-4"]) %>
    </section>
  <% elsif @legal_aid_application.uploading_bank_statements? %>
    <%= render "shared/review_application/income_payments_and_assets_for_bank_statement_upload" %>
  <% else %>
    <%= render "shared/review_application/income_payments_and_assets" %>
  <% end %>

  <section class="merits page_break_before">
    <%= render(
          "shared/check_answers/merits",
          incident: @legal_aid_application.latest_incident,
          statement_of_case: @legal_aid_application.statement_of_case,
          opponents: @legal_aid_application.opponents,
          parties_mental_capacity: @legal_aid_application.parties_mental_capacity,
          domestic_abuse_summary: @legal_aid_application.domestic_abuse_summary,
          allegation: @legal_aid_application&.allegation,
          undertaking: @legal_aid_application&.undertaking,
          urgency: @legal_aid_application&.urgency,
          matter_opposition: @legal_aid_application&.matter_opposition,
          read_only: true,
        ) %>
  </section>

  <section id="client-declaration" class="app-print-only govuk-!-padding-top-6">
    <h2 class="govuk-heading-l"><%= t(".client_declaration.heading") %></h2>

    <%= render "shared/applicant_declaration" %>

    <p class="govuk-body govuk-!-font-weight-bold">
      <%= t(".client_declaration.signature") %>
    </p>
    <p class="govuk-body govuk-!-font-weight-bold">
      <%= t(".client_declaration.date") %>
    </p>
  </section>

  <%= render "shared/partner_declaration" if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
</div>
