<div class="print-position-correction">
  <section class="client_details print-no-break">
    <h2 class="govuk-heading-l"><%= t(".client_details_heading") %></h2>
    <%= render(
          "shared/check_answers/client_details",
          attributes: %i[first_name last_name last_name_at_birth changed_last_name date_of_birth applied_previously national_insurance_number email correspondence_choice address care_of home_address],
          applicant: @legal_aid_application.applicant,
          address: @legal_aid_application.applicant.address,
          read_only: true,
        ) %>
  </section>

  <% if @legal_aid_application.applicant_has_partner? %>
    <h2 class="govuk-heading-l"><%= t(".partner_details_heading") %></h2>
    <%= render(
          "shared/check_answers/partner_details",
          attributes: %i[contrary_interest first_name last_name date_of_birth national_insurance_number],
          partner: @legal_aid_application.partner,
          read_only: true,
        ) %>
  <% end %>

  <h2 class="govuk-heading-l"><%= t(".linking_and_copying_heading") %></h2>
  <%= render("shared/check_answers/linking_and_copying", read_only: true) %>

  <section class="proceeding_details print-no-break">
    <h2 class="govuk-heading-l"><%= t(".proceeding_details_section_heading") %></h2>
    <%= render("shared/check_answers/proceeding_details") %>
  </section>

  <% unless @legal_aid_application.non_means_tested? || @legal_aid_application.passported? %>
    <%= render("providers/means/check_income_answers/applicant_income_assessment", read_only: true) %>

    <%= render("providers/means/check_income_answers/partner_income_assessment", read_only: true) if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>

    <% if @legal_aid_application.housing_payments? %>
      <%= render("shared/check_answers/housing_benefit", read_only: true, partner: @legal_aid_application.applicant.has_partner_with_no_contrary_interest?) %>
    <% end %>

    <h2 class="govuk-heading-l"><%= t("providers.means.check_income_answers.dependants.heading-h2") %></h2>
    <%= render "shared/check_answers/dependants", read_only: true %>
  <% end %>

  <% unless @legal_aid_application.non_means_tested? %>
    <% individual = @source_application.applicant.has_partner_with_no_contrary_interest? ? "_with_partner" : nil %>
    <h2 class="govuk-heading-l"><%= t(".capital-section-heading#{individual}") %></h2>

    <%= render "shared/check_answers/assets", read_only: true, individual: %>
  <% end %>

  <section class="merits page_break_before">
    <%= render(
          "shared/check_answers/merits",
          incident: @legal_aid_application.latest_incident,
          statement_of_case: @legal_aid_application.statement_of_case,
          opponents: @legal_aid_application.opponents,
          parties_mental_capacity: @legal_aid_application.parties_mental_capacity,
          domestic_abuse_summary: @legal_aid_application.domestic_abuse_summary,
          allegation: @legal_aid_application&.allegation,
          undertaking: @legal_aid_application&.undertaking,
          urgency: @legal_aid_application&.urgency,
          matter_opposition: @legal_aid_application&.matter_opposition,
          read_only: true,
        ) %>
  </section>

  <% unless @legal_aid_application.special_children_act_proceedings? %>
    <section id="client-declaration" class="app-print-only govuk-!-padding-top-6">
      <h2 class="govuk-heading-l"><%= t(".client_declaration.heading") %></h2>

      <%= render "shared/applicant_declaration" %>

      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".client_declaration.signature") %>
      </p>
      <p class="govuk-body govuk-!-font-weight-bold">
        <%= t(".client_declaration.date") %>
      </p>
    </section>

    <%= render "shared/partner_declaration" if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
  <% end %>
</div>
