<%= form_with(
        url: providers_legal_aid_application_has_other_dependants_path,
        model: @form,
        method: :patch,
        local: true
    ) do |form| %>

  <%= page_template page_title: t('.page_title'), form: form, template: :basic do %>

  <% if @legal_aid_application.has_dependants? %>
    <h1 class="govuk-heading-xl"><%= t('.existing', count: "#{pluralize(@legal_aid_application.dependants.count, 'dependant')}") %></h1>
    <div class="govuk-summary-list">
      <% @legal_aid_application.dependants.order(:created_at, :number).each do |dependant| %>
        <dl class="govuk-summary-list__row" id="dependant_<%= dependant.number %>">
          <dt class="govuk-summary-list__value"><%= dependant.name %></dt>
          <dt class="govuk-summary-list__actions">
            <%= link_to_accessible(
                  t('generic.change'),
                  providers_legal_aid_application_dependant_path(@legal_aid_application, dependant),
                  class: 'govuk-link change-link',
                  suffix: dependant.name
                ) %>
          </dt>
          <dt class="govuk-summary-list__actions">
            <dd class="govuk-summary-list__actions">
              <%= link_to_accessible(
                      t('.remove'),
                      providers_legal_aid_application_remove_dependant_path(@legal_aid_application, dependant),
                      class: 'govuk-link change-link',
                      suffix: dependant.name
                  ) %>
            </dd>
          </dt>
        </dl>
      <% end %>
    </div>
  <% end %>

  <%= form.govuk_collection_radio_buttons :has_other_dependant,
                                          yes_no_options,
                                          :value,
                                          :label,
                                          legend: {text: content_for(:page_title), size: 'l', tag: 'h2'} %>

  <%= next_action_buttons(form: form) %>
  <% end %>
<% end %>
