<%= page_template page_title: t('.page_title'), template: :basic do %>
  <% if @legal_aid_application.has_dependants? %>
    <%= govuk_fieldset_header(size: 'm') { t('.existing', count: "#{pluralize(@legal_aid_application.dependants.count, 'dependant')}")} %>
    <div class="govuk-summary-list">
      <% @legal_aid_application.dependants.order(:created_at, :number).each do |dependant| %>
        <dl class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value"><%= dependant.name %></dt>
          <dt class="govuk-summary-list__actions">
            <a class="govuk-link" href="<%= providers_legal_aid_application_dependant_path(@legal_aid_application, dependant) %>"><%= t('.change') %><span class="govuk-visually-hidden"> name</span></a></dt>
          <dt class="govuk-summary-list__actions">
            <dd class="govuk-summary-list__actions">
              <%= button_to(
                t('.remove'),
                destroy_providers_legal_aid_application_has_other_dependants_path(@legal_aid_application, dependant),
                method: :delete,
                class: 'button-as-link',
                params: { id: dependant.id },
                data: { confirm: "Are you sure you want to remove #{dependant.name}" }
              ) %>
            </dd>
          </dt>
        </dl>
      <% end %>
    </div>
  <% end %>

  <%= form_with(url: providers_legal_aid_application_has_other_dependants_path, method: :patch, local: true) do |form| %>

    <%= govuk_form_group(
            show_error_if: @error,
            input: :other_dependant
        ) do %>

      <%
        options = [
            { value: :yes, label: t('generic.yes') },
            { value: :no,  label: t('generic.no') }
        ]
      %>

      <%= form.govuk_collection_radio_buttons :other_dependant, options, :value, :label, error: @error, title: content_for(:page_title) %>

    <% end %>

    <%= next_action_buttons(form: form) %>
  <% end %>
<% end %>
