<%= page_template page_title: t('.page_title'), template: :basic do %>

  <%= render partial: 'shared/error' if @error %>

  <% if @legal_aid_application.has_dependants? %>
    <%= govuk_fieldset_header(size: 'm') { t('.existing', count: "#{pluralize(@legal_aid_application.dependants.count, 'dependant')}")} %>
    <div class="govuk-summary-list">
      <% @legal_aid_application.dependants.order(:created_at, :number).each do |dependant| %>
        <dl class="govuk-summary-list__row" id="dependant_<%= dependant.number %>">
          <dt class="govuk-summary-list__value"><%= dependant.name %></dt>
          <dt class="govuk-summary-list__actions">
            <%= link_to_accessible(
                  t('generic.change'),
                  providers_legal_aid_application_dependant_path(@legal_aid_application, dependant),
                  class: 'govuk-link change-link',
                  suffix: dependant.name
                ) %>
          </dt>
          <dt class="govuk-summary-list__actions">
            <dd class="govuk-summary-list__actions">
              <%= link_to_accessible(
                      t('.remove'),
                      providers_legal_aid_application_remove_dependant_path(@legal_aid_application, dependant),
                      class: 'govuk-link change-link',
                      suffix: dependant.name
                  ) %>
            </dd>
          </dt>
        </dl>
      <% end %>
    </div>
  <% end %>

  <%= form_with(url: providers_legal_aid_application_has_other_dependants_path, method: :patch, local: true) do |form| %>

    <%= govuk_form_group(
            show_error_if: @error,
            input: :other_dependant
        ) do %>

      <%= form.govuk_collection_radio_buttons :other_dependant, form.yes_no_radio_button_array, :value, :label, error: @error&.values&.first, title: content_for(:page_title) %>

    <% end %>

    <%= next_action_buttons(form: form) %>
  <% end %>
<% end %>
