<%= form_with(
      model: @form,
      url: providers_legal_aid_application_confirm_client_declaration_path(@legal_aid_application),
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template page_title: t(".h1-heading"), form: do %>

    <% provider_firm_name = @legal_aid_application.provider.firm.name %>
    <% if @legal_aid_application.non_means_tested? %>
      <% i18n_prefix = "non_means_tested" %>
    <% elsif @legal_aid_application&.applicant&.has_partner_with_no_contrary_interest? %>
      <% i18n_prefix = "means_tested" %>
      <% individual = "they and their partner have" %>
    <% else %>
      <% i18n_prefix = "means_tested" %>
      <% individual = "they've" %>
    <% end %>

    <p class="govuk-body">
      <%= t(".#{i18n_prefix}.text", applicant_name: @legal_aid_application.applicant_full_name) %>
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <% t(".#{i18n_prefix}.list_html", provider_firm_name:, individual:).each do |bullet| %>
        <li><%= bullet %></li>
      <% end %>
    </ul>

    <% if @legal_aid_application&.applicant&.has_partner_with_no_contrary_interest? %>
      <p class="govuk-body govuk-!-padding-top-4">
        <%= t(".means_tested_with_partner.partner_text", partner_name: @legal_aid_application.partner.full_name) %>
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <% t(".means_tested_with_partner.partner_list_html", provider_firm_name:).each do |bullet| %>
          <li><%= bullet %></li>
        <% end %>
      </ul>
    <% end %>

    <%= govuk_warning_text do %>
      <%= t(".#{i18n_prefix}.sign_app_text", applicant_name: @legal_aid_application.applicant_full_name) %>
      <ul class="govuk-list--bullet">
        <% t(".warning").each do |bullet| %>
          <li><%= bullet %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form.govuk_check_boxes_fieldset :client_declaration_confirmed, legend: nil do %>
      <%= form.govuk_check_box(
            :client_declaration_confirmed,
            true,
            "",
            link_errors: true,
            multiple: false,
            label: { text: t(".#{i18n_prefix}.confirmation_checkbox", applicant_name: @legal_aid_application.applicant_full_name) },
          ) %>
    <% end %>

    <%= next_action_buttons(form:, show_draft: true) %>
  <% end %>
<% end %>
