<%= form_with(
      model: @form,
      url: providers_legal_aid_application_confirm_client_declaration_path(@legal_aid_application),
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template page_title: t(".h1-heading"), form: do %>

    <% params = { provider_firm_name: @legal_aid_application.provider.firm.name } %>

    <% if @legal_aid_application.non_means_tested? %>
      <% i18n_prefix = "non_means_tested" %>
    <% else %>
      <% i18n_prefix = "means_tested" %>
    <% end %>

    <p class="govuk-body">
      <%= t(".#{i18n_prefix}.text", applicant_name: @legal_aid_application.applicant_full_name) %>
    </p>

    <%= bullet_list_from_translation_array(
          "providers.confirm_client_declarations.show.#{i18n_prefix}.list",
          params:,
        ) %>

    <%= govuk_warning_text do %>
      <%= t(".#{i18n_prefix}.sign_app_text", applicant_name: @legal_aid_application.applicant_full_name) %>
      <%= list_from_translation_path ".confirm_client_declarations.show.warning" %>
    <% end %>

    <%= form.govuk_check_boxes_fieldset :client_declaration_confirmed, legend: nil do %>
      <%= form.govuk_check_box(
            :client_declaration_confirmed,
            true,
            "",
            link_errors: true,
            multiple: false,
            label: { text: t(".#{i18n_prefix}.confirmation_checkbox", applicant_name: @legal_aid_application.applicant_full_name) },
          ) %>
    <% end %>

    <%= next_action_buttons(form:, show_draft: true) %>
  <% end %>
<% end %>
