<%= page_template page_title: t('.page_title') do %>
  <h1 class="govuk-heading-l"><%= t('.page_title') %></h1>

  <p class="govuk-body"><%= t('.cookies_are_files') %></p>
  <p class="govuk-body"><%= t('.we_use_cookies') %></p>

  <h2 class="govuk-heading-m"><%= t('.heading_2') %></h2>
  <p class="govuk-body"><%= t('.we_use_ga') %></p>
  <p class="govuk-body"><%= t('.we_do_not_allow') %></p>
  <p class="govuk-body"><%= t('.google_analytics') %></p>

  <%= list_from_translation_path('cookies.index') %>

  <h2 class="govuk-heading-m"><%= t('.heading_3') %></h2>
  <p class="govuk-body"><%= t('.these_essential_cookies') %></p>
  <p class="govuk-body"><%= t('.they_always_need') %></p>

  <%= link_to_accessible(t('.find_out_more_link'), 'https://www.gov.uk/help/cookie-details', class: 'govuk-link govuk-body') %>

<% end %>
