<% read_only = false unless local_assigns.key?(:read_only) %>
<% online_savings_accounts = @legal_aid_application.online_savings_accounts_balance %>
<% online_current_accounts = @legal_aid_application.online_current_accounts_balance %>
<% individual = if @legal_aid_application.applicant.has_partner_with_no_contrary_interest?
                  "your client or their partner"
                else
                  "your client"
                end %>

<section class="print-no-break">
  <%= render "shared/check_answers/property", read_only: %>
</section>

<section class="print-no-break">
  <%= render "shared/check_answers/vehicles", read_only:, individual: %>

  <% if @legal_aid_application.non_passported? && !@legal_aid_application.uploading_bank_statements? %>
    <!-- non-passported truelayer only -->

    <% if read_only %>
      <h2 class="govuk-heading-m"><%= t(".assets.bank_accounts") %></h2>

      <%= govuk_summary_list(classes: "govuk-!-margin-bottom-9", html_attributes: { "data-test": "applicant-bank-accounts" }) do |summary_list| %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__online_current_accounts" }) do |row| %>
          <%= row.with_key(text: t(".assets.current_account"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { online_current_accounts.present? ? gds_number_to_currency(online_current_accounts) : t("generic.none_declared") } %>
        <% end %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__online_savings_accounts" }) do |row| %>
          <%= row.with_key(text: t(".assets.savings_account"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { online_savings_accounts.present? ? gds_number_to_currency(online_savings_accounts) : t("generic.none_declared") } %>
        <% end %>
      <% end %>
    <% end %>

    <%= render "shared/check_answers/offline_savings_accounts", read_only: %>
  <% else %>
    <!-- passported and non-passported bank statement uploaded -->
    <%= render(
          "shared/check_answers/one_link_section",
          name: :bank_accounts,
          url: check_answer_url_for(journey_type, :offline_accounts, @legal_aid_application),
          question: t(".assets.bank_accounts"),
          answer_hash: capital_accounts_list(
            @legal_aid_application.savings_amount,
            locale_namespace: "shared.forms.revealing_checkbox.attribute.#{journey_type}.bank_accounts.check_box_",
          ),
          read_only:,
        ) %>
  <% end %>

  <% if @legal_aid_application&.partner&.has_offline_savings? %>
    <div class="govuk-grid-row" id="app-check-your-answers__partner_offline_savings_accounts">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m"><%= t(".assets.partner_bank_accounts") %></h3>
      </div>
      <% if read_only == false %>
        <div class="govuk-grid-column-one-third align-text-right">
          <p>
            <%= govuk_link_to(
                  t("generic.change"),
                  check_answer_url_for(journey_type, :partner_bank_accounts, @legal_aid_application),
                  "aria-label": "#{t('generic.change')} #{t('.assets.partner_bank_accounts')}",
                ) %>
          </p>
        </div>
      <% end %>
    </div>
    <%= govuk_summary_list(classes: "govuk-!-margin-bottom-9", html_attributes: { "data-test": "partner-bank-accounts" }) do |summary_list| %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__partner_online_current_accounts" }) do |row| %>
        <%= row.with_key(text: t(".assets.current_account"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { @legal_aid_application.savings_amount.partner_offline_current_accounts.present? ? gds_number_to_currency(@legal_aid_application.savings_amount.partner_offline_current_accounts) : t("generic.none_declared") } %>
      <% end %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__partner_online_savings_accounts" }) do |row| %>
        <%= row.with_key(text: t(".assets.savings_account"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { @legal_aid_application.savings_amount.partner_offline_savings_accounts.present? ? gds_number_to_currency(@legal_aid_application.savings_amount.partner_offline_savings_accounts) : t("generic.none_declared") } %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(
        "shared/check_answers/one_link_section",
        name: :savings_and_investments,
        url: check_answer_url_for(journey_type, :savings_and_investments, @legal_aid_application),
        question: t(".assets.savings_and_investments"),
        answer_hash: capital_assets_list(
          @legal_aid_application.savings_amount,
          locale_namespace: "shared.forms.revealing_checkbox.attribute.#{journey_type}.savings_and_investments.check_box_",
        ),
        read_only:,
      ) %>

  <%= render(
        "shared/check_answers/one_link_section",
        name: :other_assets,
        url: check_answer_url_for(journey_type, :other_assets, @legal_aid_application),
        question: t(".assets.other_assets"),
        answer_hash: capital_amounts_list(
          @legal_aid_application.other_assets_declaration,
          locale_namespace: "shared.forms.revealing_checkbox.attribute.#{journey_type}.other_assets.check_box_",
          percentage_values: [:second_home_percentage],
        ),
        read_only:,
      ) %>

  <%= render("shared/check_answers/restrictions", read_only:) if @legal_aid_application.own_capital? %>

  <section class="print-no-break">
    <% if @legal_aid_application.policy_disregards.present? %>
      <%= render(
            "shared/check_answers/one_link_section",
            name: :policy_disregards,
            url: check_answer_url_for(journey_type, :policy_disregards, @legal_aid_application),
            question: t(".assets.policy_disregards"),
            answer_hash: policy_disregards_list(@legal_aid_application.policy_disregards),
            read_only:,
          ) %>
    <% end %>
  </section>
</section>
