<% read_only = false unless local_assigns.key?(:read_only) %>
<% means_report = false unless local_assigns.key?(:means_report) %>

<%= render "shared/check_answers/property", read_only:, individual: %>

<%= render "shared/check_answers/vehicles", read_only:, individual: %>

<h2 class="govuk-heading-l print-no-break-after"><%= t(".bank_accounts_heading") %></h2>

<% if @legal_aid_application.non_passported? && !@legal_aid_application.client_uploading_bank_statements? %>
  <!-- non-passported truelayer only -->

  <!--
  These are only here because on the Review & Print page and/or means report (i.e. read-only) they
  need to be in this position, which is amongst the answers to the capital questions, even though
  they are asked in the income and outgoings section of the flow.
  -->
  <% if read_only %>
    <%= render "shared/check_answers/client_online_bank_accounts", read_only: %>

    <h2 class="govuk-heading-l print-no-break-after"><%= t(".total_in_online_bank_accounts_heading") %></h3>
    <%= render "shared/check_answers/total_in_online_bank_accounts", read_only: %>
  <% end %>

<% else %>
  <!-- passported or non-passported bank statement uploaded -->

  <%# current and savings accounts balances for client %>
  <%= render "shared/check_answers/client_bank_accounts", read_only: %>
<% end %>

<% if @legal_aid_application&.partner %>

    <%# current and savings account balances for partner %>
    <%= render "shared/check_answers/partner_bank_accounts", read_only: %>

    <%# joint current and savings account balances for clients with partners %>
    <% if @legal_aid_application.uploading_bank_statements? || !@legal_aid_application.non_passported? %>
      <%= render "shared/check_answers/joint_bank_accounts", read_only: %>
    <% end %>
<% end %>

<%#  offline savings accounts for non-passported truelayer %>
<% if @legal_aid_application.non_passported? && !@legal_aid_application.uploading_bank_statements? %>
  <%= render "shared/check_answers/offline_savings_accounts", read_only: %>
<% end %>

<h2 class="govuk-heading-l print-no-break-after"><%= t(".savings_and_assets_heading") %></h2>

<%#  savings and investments %>
<%= render("shared/check_answers/savings_and_investments", read_only:, individual:) %>

<%#  other assets %>
<%= render("shared/check_answers/other_assets", read_only:, individual:) %>

<%#  asset restrictions %>
<%= render("shared/check_answers/restrictions", read_only:, individual:) if @legal_aid_application.own_capital? %>

<%#  TODO: legacy policy disregards - to be removed as part of AP-5510 when there are no applications with policy disregards %>
<% if @legal_aid_application.policy_disregards.present? %>
  <%= render(
        "shared/check_answers/one_link_section",
        name: :policy_disregards,
        url: check_answer_url_for(journey_type, :policy_disregards, @legal_aid_application),
        question: t(".policy_disregards_legacy.question#{individual}"),
        answer_hash: policy_disregards_list(@legal_aid_application.policy_disregards),
        read_only:,
      ) %>
<% end %>

<%#  capital disregards %>
<% if means_report %>
  <%= render("providers/means_reports/capital_disregards", read_only:, individual:) %>
<% else %>
  <%= render("shared/check_answers/capital_disregards", read_only:, individual:) %>
<% end %>
