<%
  read_only = false unless local_assigns.key?(:read_only)
  online_savings_accounts = @legal_aid_application.online_savings_accounts_balance
  online_current_accounts = @legal_aid_application.online_current_accounts_balance
%>
<section class="print-no-break">
  <%= render 'shared/check_answers/property', read_only: read_only %>
</section>
<section class="print-no-break">
  <%= render 'shared/check_answers/vehicles', read_only: read_only %>

  <% if @legal_aid_application.non_passported? %>
    <% if read_only %>
      <h2 class="govuk-heading-m"><%= t('.assets.bank_accounts') %></h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <%= check_answer_link(
              name: :online_current_accounts,
              url: check_answer_url_for(journey_type, :applicant_bank_accounts, @legal_aid_application),
              question: t('.assets.current_account'),
              answer: online_current_accounts ? gds_number_to_currency(online_current_accounts) : t('generic.none_declared'),
              read_only: read_only,
            ) %>
        <%= check_answer_link(
              name: :online_savings_accounts,
              url: check_answer_url_for(journey_type, :applicant_bank_accounts, @legal_aid_application),
              question: t('.assets.savings_account'),
              answer: online_savings_accounts ? gds_number_to_currency(online_savings_accounts) : t('generic.none_declared'),
              read_only: read_only,
            ) %>
      </dl>
    <% end %>

    <div class="govuk-grid-row" id="app-check-your-answers__has_offline_savings_account_header">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t('.assets.has_offline_savings_account') %></h2>
      </div>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <%= check_answer_link(
          name: :has_offline_savings_account,
          url: check_answer_url_for(journey_type, :applicant_bank_accounts, @legal_aid_application),
          question: t('.assets.has_offline_savings_account'),
          answer: yes_no(@legal_aid_application.offline_savings?),
          read_only: read_only,
        ) %>
    </dl>

    <% if @legal_aid_application.offline_savings? %>
      <div class="govuk-grid-row" id="app-check-your-answers__offline_savings_account_header">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m"><%= t('.assets.offline_savings') %></h2>
        </div>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <%= check_answer_link(
              name: :offline_savings_accounts,
              url: check_answer_url_for(journey_type, :offline_savings_accounts, @legal_aid_application),
              question: t('.assets.offline_savings'),
              answer: gds_number_to_currency(@legal_aid_application.offline_savings_value),
              read_only: read_only,
            ) %>
      </dl>
    <% end %>
  <% else %>

    <%= check_answer_one_change_link(
          name: :bank_accounts,
          url: check_answer_url_for(journey_type, :offline_accounts, @legal_aid_application),
          question: t('.assets.bank_accounts'),
          answer_hash: capital_accounts_list(
            @legal_aid_application.savings_amount,
            locale_namespace: "shared.forms.revealing_checkbox.attribute.#{journey_type}.savings_and_investments.check_box_"
          ),
          read_only: read_only
        ) %>

  <% end %>

  <%= check_answer_one_change_link(
        name: :savings_and_investments,
        url: check_answer_url_for(journey_type, :savings_and_investments, @legal_aid_application),
        question: t('.assets.savings_and_investments'),
        answer_hash: capital_assets_list(
          @legal_aid_application.savings_amount,
          locale_namespace: "shared.forms.revealing_checkbox.attribute.#{journey_type}.savings_and_investments.check_box_"
        ),
        read_only: read_only
      ) %>

  <%= check_answer_one_change_link(
        name: :other_assets,
        url: check_answer_url_for(journey_type, :other_assets, @legal_aid_application),
        question: t('.assets.other_assets'),
        answer_hash: capital_amounts_list(
          @legal_aid_application.other_assets_declaration,
          locale_namespace: "shared.forms.revealing_checkbox.attribute.#{journey_type}.other_assets.check_box_",
          percentage_values: [:second_home_percentage]
        ),
        read_only: read_only
      ) %>
  <% if @legal_aid_application.policy_disregards.present? %>
    <%= check_answer_one_change_link(
          name: :policy_disregards,
          url: check_answer_url_for(journey_type, :policy_disregards, @legal_aid_application),
          question: t('.assets.policy_disregards'),
          answer_hash: policy_disregards_hash(@legal_aid_application.policy_disregards),
          read_only: read_only
        ) %>
  <% end %>
  <%= render('shared/check_answers/restrictions', read_only: read_only) if @legal_aid_application.own_capital? %>
</section>
