<% read_only = false unless local_assigns.key?(:read_only) %>
<% means_report = false unless local_assigns.key?(:means_report) %>
<% online_savings_accounts = @legal_aid_application.online_savings_accounts_balance %>
<% online_current_accounts = @legal_aid_application.online_current_accounts_balance %>
<% showing_bank_accounts = @legal_aid_application.partner_uploading_bank_statements? ||
     (@legal_aid_application.applicant.bank_accounts.empty? && read_only) ||
     @legal_aid_application&.savings_amount&.offline_savings_accounts.present? ||
     @legal_aid_application&.savings_amount&.offline_current_accounts.present? %>

<section class="print-no-break">
  <%= render "shared/check_answers/property", read_only:, individual: %>
</section>

<section class="print-no-break">
  <%= render "shared/check_answers/vehicles", read_only:, individual: %>

  <% if showing_bank_accounts %>
    <h2 class="govuk-heading-m"><%= t(".assets.bank_accounts") %></h2>
  <% end %>

  <% if @legal_aid_application.non_passported? && !@legal_aid_application.client_uploading_bank_statements? %>
    <!-- non-passported truelayer only -->

    <% if read_only %>
      <h3 class="govuk-heading-m"><%= t(".assets.clients_bank_accounts") %></h3>

      <%= govuk_table(classes: "govuk-!-margin-bottom-9", html_attributes: { id: "applicant-bank-accounts-details" }) do |table|
            table.with_body do |body|
              @legal_aid_application&.applicant&.bank_accounts&.each do |account|
                body.with_row do |row|
                  row.with_cell(header: true, text: "#{account.name}, #{account.account_number}, #{account.sort_code}")
                  row.with_cell(numeric: true, text: gds_number_to_currency(account.balance).to_s)
                end
              end
            end
          end %>

      <h3 class="govuk-heading-m"><%= t(".assets.money_in_bank_accounts") %></h3>

      <%= govuk_summary_list(card: { title: t(".assets.money_in_bank_accounts") }, classes: "govuk-!-margin-bottom-9", html_attributes: { "data-test": "applicant-bank-accounts" }) do |summary_list| %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__online_current_accounts" }) do |row| %>
          <%= row.with_key(text: @legal_aid_application&.applicant&.has_partner? ? t(".assets.client_current_account") : t(".assets.current_accounts"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { online_current_accounts.present? ? gds_number_to_currency(online_current_accounts) : t("generic.none") } %>
        <% end %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__online_savings_accounts" }) do |row| %>
          <%= row.with_key(text: @legal_aid_application&.applicant&.has_partner? ? t(".assets.client_savings_account") : t(".assets.savings_accounts"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { online_savings_accounts.present? ? gds_number_to_currency(online_savings_accounts) : t("generic.none") } %>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <!-- passported and non-passported bank statement uploaded -->
    <div class="govuk-grid-row" id="app-check-your-answers__offline_accounts_link">
      <% if read_only == false %>
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m"><%= t(".assets.client_bank_accounts") %></h3>
        </div>
        <div class="govuk-grid-column-one-third align-text-right">
          <p>
            <%= govuk_link_to(
                  t("generic.change"),
                  check_answer_url_for(journey_type, :offline_accounts, @legal_aid_application),
                  "aria-label": "#{t('generic.change')} #{t('.assets.client_bank_accounts')} values",
                ) %>
          </p>
        </div>
      <% end %>
    </div>
    <%= govuk_summary_list(
          card: { title: t(".assets.client_bank_accounts") },
          classes: "govuk-!-margin-bottom-9",
          html_attributes: { id: "app-check-your-answers__bank_accounts_items", "data-test": "applicant-bank-accounts" },
        ) do |summary_list| %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__offline_current_accounts" }) do |row| %>
        <%= row.with_key(text: @legal_aid_application&.applicant&.has_partner? ? t(".assets.client_current_account") : t(".assets.current_accounts"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { @legal_aid_application&.savings_amount&.offline_current_accounts.present? ? gds_number_to_currency(@legal_aid_application.savings_amount.offline_current_accounts) : t("generic.none") } %>
      <% end %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__offline_savings_accounts" }) do |row| %>
        <%= row.with_key(text: @legal_aid_application&.applicant&.has_partner? ? t(".assets.client_savings_account") : t(".assets.savings_accounts"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { @legal_aid_application&.savings_amount&.offline_savings_accounts.present? ? gds_number_to_currency(@legal_aid_application.savings_amount.offline_savings_accounts) : t("generic.none") } %>
      <% end %>
    <% end %>
  <% end %>

  <% if @legal_aid_application&.partner %>
    <% change_url = if @legal_aid_application.non_passported? && !@legal_aid_application.uploading_bank_statements?
                      :partner_bank_accounts
                    else
                      :offline_accounts
                    end %>

    <%#  offline savings accounts for partner %>
    <div class="govuk-grid-row" id="app-check-your-answers__partner_offline_accounts_link">
      <% if read_only == false %>
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m"><%= t(".assets.partner_bank_accounts") %></h3>
        </div>
        <div class="govuk-grid-column-one-third align-text-right">
          <p>
            <%= govuk_link_to(
                  t("generic.change"),
                  check_answer_url_for(journey_type, change_url, @legal_aid_application),
                  "aria-label": "#{t('generic.change')} #{t('.assets.partner_bank_accounts')}",
                ) %>
          </p>
        </div>
      <% end %>
    </div>
    <%= govuk_summary_list(card: { title: t(".assets.partner_bank_accounts") }, classes: "govuk-!-margin-bottom-9", html_attributes: { "data-test": "partner-bank-accounts" }) do |summary_list| %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__partner_offline_current_accounts" }) do |row| %>
        <%= row.with_key(text: t(".assets.partner_current_account"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { @legal_aid_application.savings_amount.partner_offline_current_accounts.present? ? gds_number_to_currency(@legal_aid_application.savings_amount.partner_offline_current_accounts) : t("generic.none") } %>
      <% end %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__partner_offline_savings_accounts" }) do |row| %>
        <%= row.with_key(text: t(".assets.partner_savings_account"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { @legal_aid_application.savings_amount.partner_offline_savings_accounts.present? ? gds_number_to_currency(@legal_aid_application.savings_amount.partner_offline_savings_accounts) : t("generic.none") } %>
      <% end %>
    <% end %>

    <%#  offline savings accounts for bank statement uploads or passported %>
    <% if @legal_aid_application.uploading_bank_statements? || !@legal_aid_application.non_passported? %>
      <div class="govuk-grid-row" id="app-check-your-answers__joint_offline_accounts_link">
        <% if read_only == false %>
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m"><%= t(".assets.joint_bank_accounts") %></h3>
          </div>
          <div class="govuk-grid-column-one-third align-text-right">
            <p>
              <%= govuk_link_to(
                    t("generic.change"),
                    check_answer_url_for(journey_type, :offline_accounts, @legal_aid_application),
                    "aria-label": "#{t('generic.change')} #{t('.assets.joint_bank_accounts')} values",
                  ) %>
            </p>
          </div>
        <% end %>
      </div>
      <%= govuk_summary_list(card: { title: t(".assets.joint_bank_accounts") }, classes: "govuk-!-margin-bottom-9", html_attributes: { "data-test": "joint-bank-accounts" }) do |summary_list| %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__joint_offline_current_accounts" }) do |row| %>
          <%= row.with_key(text: t(".assets.joint_current_account"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { @legal_aid_application.savings_amount.joint_offline_current_accounts.present? ? gds_number_to_currency(@legal_aid_application.savings_amount.joint_offline_current_accounts) : t("generic.none") } %>
        <% end %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__joint_offline_savings_accounts" }) do |row| %>
          <%= row.with_key(text: t(".assets.joint_savings_account"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { @legal_aid_application.savings_amount.joint_offline_savings_accounts.present? ? gds_number_to_currency(@legal_aid_application.savings_amount.joint_offline_savings_accounts) : t("generic.none") } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%#  offline savings accounts for non-passpoted truelayer %>
  <% if @legal_aid_application.non_passported? && !@legal_aid_application.uploading_bank_statements? %>
    <div class="govuk-!-padding-bottom-9">
      <%= render "shared/check_answers/offline_savings_accounts", read_only: %>
    </div>
  <% end %>

  <%#  savings and investments %>
  <div class="govuk-!-padding-bottom-9">
    <%= render(
          "shared/check_answers/one_link_section",
          name: :savings_and_investments,
          url: check_answer_url_for(journey_type, :savings_and_investments, @legal_aid_application),
          question: t(".assets.savings_and_investments#{individual}"),
          answer_hash: capital_assets_list(
            @legal_aid_application,
            locale_namespace: "shared.forms.revealing_checkbox.attribute.#{journey_type}.savings_and_investments.check_box_",
          ),
          read_only:,
        ) %>
  </div>

  <%#  other assets %>
  <%= render(
        "shared/check_answers/one_link_section",
        name: :other_assets,
        url: check_answer_url_for(journey_type, :other_assets, @legal_aid_application),
        question: t(".assets.other_assets#{individual}"),
        answer_hash: capital_amounts_list(
          @legal_aid_application,
          locale_namespace: "shared.forms.revealing_checkbox.attribute.#{journey_type}.other_assets.check_box_",
          percentage_values: [:second_home_percentage],
        ),
        read_only:,
      ) %>

  <%#  asset restrictions %>
  <%= render("shared/check_answers/restrictions", read_only:, individual:) if @legal_aid_application.own_capital? %>

  <%#  policy disregards %>
  <section class="print-no-break">
    <% if @legal_aid_application.policy_disregards.present? %>
      <%= render(
            "shared/check_answers/one_link_section",
            name: :policy_disregards,
            url: check_answer_url_for(journey_type, :policy_disregards, @legal_aid_application),
            question: t(".assets.policy_disregards#{individual}"),
            answer_hash: policy_disregards_list(@legal_aid_application.policy_disregards),
            read_only:,
          ) %>
    <% end %>
  </section>

  <%#  capital disregards %>
  <section class="print-no-break">
    <% if Setting.means_test_review_a? %>
      <% if means_report %>
        <%= render("providers/means_reports/capital_disregards", read_only:, individual:) %>
      <% else %>
        <%= render("shared/check_answers/capital_disregards", read_only:, individual:) %>
      <% end %>
    <% end %>
  </section>
</section>
