<% read_only = false unless local_assigns.key?(:read_only) %>
<div class="govuk-grid-row" id="app-check-your-answers__<%= individual.to_s.downcase %>__cash_<%= type.to_s.downcase %>">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><%= t(".#{type}_heading", individual_with_determiner:) %></h3>
  </div>
  <% unless read_only %>
    <div class="govuk-grid-column-one-third align-text-right">
      <p><%= govuk_link_to(t("generic.change"), url, "aria-label": "#{t('generic.change')} #{t(".#{type}_heading", individual_with_determiner:)}") %></p>
    </div>
  <% end %>
</div>

<% cash_transaction_types = if type.eql?(:income)
                              @legal_aid_application.income_cash_transaction_types_for(individual)
                            elsif type.eql?(:outgoings)
                              @legal_aid_application.outgoing_cash_transaction_types_for(individual)
                            end %>

<% if cash_transaction_types.none? %>
  <div class="govuk-body"><%= t("generic.none") %></div>
<% end %>

<% cash_transactions = @legal_aid_application.cash_transactions.where(owner_type: individual) %>

<%= govuk_summary_list(
      actions: false,
      classes: "govuk-!-margin-bottom-9",
      html_attributes: { "data-check-your-answers-section": t(".#{type}_heading", individual_with_determiner:).parameterize },
    ) do |summary_list| %>
  <% cash_transaction_types.each do |category| %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{category.label_name.parameterize}-cash-#{type}-#{individual.downcase}" }) do |row| %>
      <%= row.with_key(text: category.label_name, classes: "govuk-!-width-one-half") %>
      <%= row.with_value do %>
        <% if cash_transactions.for_transaction_type(category.id).any? %>
          <% cash_transactions.for_transaction_type(category.id).each do |ctx| %>
            <strong><%= ctx.transaction_date.strftime("%B") %></strong>: <%= gds_number_to_currency(ctx.amount, precision: 2) %><br>
          <% end %>
        <% else %>
          <%= t("generic.none") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
