<section class="print-no-break govuk-!-padding-top-6">
  <%= govuk_summary_card(title: t(".involved-children-heading"), html_attributes: { id: "app-check-your-answers__children_involved" }, heading_level: 3) do |card| %>
    <% unless read_only %>
      <% card.with_action do %>
        <%= govuk_link_to(t("generic.change"),
                          providers_legal_aid_application_has_other_involved_children_path(@legal_aid_application), visually_hidden_text: t(".involved-children-heading")) %>
      <% end %>
    <% end %>
    <%= card.with_summary_list(actions: false) do |summary_list| %>
      <% @legal_aid_application.involved_children.each_with_index do |child, i| %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__involved_child_name_#{i + 1}" }) do |row| %>
          <%= row.with_key(text: t(".child_name", number: i + 1).to_s, classes: "govuk-!-width-one-half") %>
          <%= row.with_value(text: child.full_name.to_s) %>
        <% end %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__involved_child_date_of_birth_#{i + 1}" }) do |row| %>
          <%= row.with_key(text: t(".child_date_of_birth", number: i + 1).to_s, classes: "govuk-!-width-one-half") %>
          <%= row.with_value(text: child.date_of_birth.strftime("%e %B %Y").to_s) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
