<% url = if @legal_aid_application.has_dependants?
           providers_legal_aid_application_means_has_other_dependants_path
         else
           providers_legal_aid_application_means_has_dependants_path
         end %>

<%= govuk_summary_list(card: { title: t("providers.means.check_income_answers.dependants.heading") }, classes: "govuk-!-margin-bottom-9") do |summary_list| %>
  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__dependants" }) do |row| %>
    <%= row.with_key(text: t("shared.check_answers.dependants.has_dependants", individual:), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { yes_no(@legal_aid_application.has_dependants) } %>
    <%= row.with_action(
          text: t("generic.change"),
          href: url,
          html_attributes: { "aria-label": "#{t('generic.change')} #{t('shared.check_answers.dependants.has_dependants', individual:)}" },
        ) %>
  <% end %>
<% end %>

<% if @legal_aid_application.dependants %>
  <% @legal_aid_application.dependants.each_with_index do |dependant, index| %>
    <div class="govuk-grid-row" id="app-check-your-answers__dependants_<%= index + 1 %>">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Dependant <%= index + 1 %>: <%= dependant.name %></h2>
      </div>

      <div class="govuk-grid-column-one-third align-text-right">
        <p>
          <%= govuk_link_to(
                t("generic.change"),
                providers_legal_aid_application_means_dependant_path(@legal_aid_application, dependant),
                "aria-label": "#{t('generic.change')} Dependant #{index + 1}: #{dependant.name}",
              ) %>
        </p>
      </div>
    </div>

    <%= govuk_summary_list(
          card: { title: "Dependant #{index + 1}: #{dependant.name}" },
          actions: false,
          classes: "govuk-!-margin-bottom-9",
          html_attributes: { id: "app-check-your-answers__dependants_#{index + 1}_items" },
        ) do |summary_list| %>
      <% dependant_hash(dependant)&.fetch(:items, [])&.each_with_index do |item, index| %>
        <% name = item.name || "dependants_#{index + 1}_#{index}" %>
        <%= summary_list.with_row do |row| %>
          <%= row.with_key(text: item.label, classes: "govuk-!-width-one-half") %>
          <%= row.with_value { safe_yes_or_no(item.amount_text) } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
