<% if partner
     individual = "partner"
     model = @legal_aid_application.partner
     change_url = providers_legal_aid_application_partners_employment_income_path(@legal_aid_application)
   else
     individual = "client"
     model = @legal_aid_application.applicant
     change_url = providers_legal_aid_application_means_employment_income_path(@legal_aid_application)
   end %>
<div class="govuk-grid-row" id="app-check-your-answers__#{individual}_employment">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><%= t(".employment") %></h3>
  </div>
  <div class="govuk-grid-column-one-third govuk-summary-list--no-border align-text-right">
    <% unless read_only %>
      <p>
        <%= govuk_link_to(
              t("generic.change"), change_url,
              class: "change-link"
            ) %>
      </p>
    <% end %>
  </div>
</div>
<dl id="employment-<%= individual %>-notes-questions" class="govuk-summary-list govuk-!-margin-bottom-9">

  <%= check_answer_no_link(
        name: :extra_employment_information,
        question: t(".#{individual}.employment_question"),
        answer: safe_yes_or_no(model.extra_employment_information?),
        read_only:,
      ) %>

  <% if model.extra_employment_information? %>
    <%= check_long_question_no_link(
          name: :extra_employment_information_details,
          question: t(".#{individual}.employment_details"),
          answer: model.extra_employment_information_details,
        ) %>
  <% end %>
</dl>
