<section class="print-no-break govuk-!-padding-top-6">
  <h2 class="govuk-heading-m"><%= t(".heading") %></h2>
  <%= govuk_summary_list(actions: !read_only) do |summary_list| %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__gateway_evidence" }) do |row| %>
      <%= row.with_key(text: t(".gateway_evidence"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value do %>
        <ul class="govuk-list">
          <% attachments_with_size(gateway_evidence&.original_attachments).each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      <% end %>
      <%= row.with_action(
            text: t("generic.change"),
            href: providers_legal_aid_application_gateway_evidence_path(@legal_aid_application),
            visually_hidden_text: t(".gateway_evidence"),
          ) %>
    <% end %>
  <% end %>
</section>
