<div class="govuk-grid-row" id="app-check-your-answers__<%= income_type.downcase %>">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m"><%= income_type %></h3>
    </div>
    <div class="govuk-grid-column-one-third govuk-summary-list--no-border align-text-right">
        <p>
            <%= link_to_accessible(t('generic.change'), check_answer_url_for(:providers, url, @legal_aid_application),
                                           class: 'govuk-link change-link', suffix: income_type) %>
        </p>
    </div>
</div>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <% transaction_types.each do |transaction_type| %>
    <div class="govuk-summary-list__row normal-word-break" id="app-check-your-answers__<%= transaction_type.label_name %>">
      <dt class="govuk-summary-list__key">
        <%= transaction_type.label_name %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= number_to_currency @legal_aid_application.transactions_total_by_category(transaction_type.id) %>
      </dd>
    </div>
    <% end %>

</dl>
