<section class="print-no-break">
  <% read_only = false unless local_assigns.key?(:read_only) %>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <%= check_answer_link(
            name: :total_gross_income_assessed,
            question: t('.total_gross_income'),
            answer: gds_number_to_currency(@legal_aid_application.cfe_result.total_gross_income_assessed),
            read_only: read_only
        ) %>

    <%= check_answer_link(
            name: :total_disposable_income_assessed,
            question: t('.total_disposable_income'),
            answer: gds_number_to_currency(@legal_aid_application.cfe_result.total_disposable_income_assessed),
            read_only: read_only
        ) %>

    <%= check_answer_link(
            name: :gross_income_limit,
            question: t('.gross_income_limit'),
            answer: number_to_currency_or_na(@legal_aid_application.cfe_result.gross_income_upper_threshold),
            read_only: read_only
        ) %>

    <%= check_answer_link(
            name: :disposable_income_lower_limit,
            question: t('.disposable_income_lower_limit'),
            answer: gds_number_to_currency(@legal_aid_application.cfe_result.disposable_income_lower_threshold),
            read_only: read_only
        ) %>

    <%= check_answer_link(
            name: :disposable_income_upper_limit_limit,
            question: t('.disposable_income_upper_limit'),
            answer: number_to_currency_or_na(@legal_aid_application.cfe_result.disposable_income_upper_threshold),
            read_only: read_only
        ) %>

    <%= check_answer_link(
            name: :disposable_income_contribution,
            question: t('.disposable_income_contribution'),
            answer: gds_number_to_currency(@legal_aid_application.cfe_result.income_contribution),
            read_only: read_only
        ) %>
  </dl>
</section>
