<% read_only = false unless local_assigns.key?(:read_only) %>

<div class="govuk-grid-row" id="app-check-your-answers__<%= income_type.parameterize(separator: "_") %>">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m"><%= income_type %></h3>
    </div>
    <% unless read_only %>
      <div class="govuk-grid-column-one-third align-text-right">
        <p>
            <%= link_to_accessible(
                  t("generic.change"),
                  check_answer_url_for(:providers, url, @legal_aid_application),
                  class: "govuk-link change-link",
                  suffix: income_type,
                ) %>
        </p>
      </div>
    <% end %>
</div>

<%= govuk_summary_list(
      actions: false,
      classes: "govuk-!-margin-bottom-9",
      html_attributes: { "data-check-your-answers-section": income_type.parameterize },
    ) do |summary_list| %>
  <% transaction_types.each do |transaction_type| %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{transaction_type.label_name.parameterize}" }) do |row| %>
      <%= row.with_key(text: transaction_type.label_name, classes: "govuk-!-width-one-half") %>
      <%= row.with_value do %>
        <% regular_transaction_amount, regular_transaction_frequency = regular_transaction_answer_by_type(
             legal_aid_application: @legal_aid_application,
             transaction_type:,
           ) %>
        <% if @legal_aid_application.uploading_bank_statements? %>
          <p><%= regular_transaction_amount %></p>
          <p><%= regular_transaction_frequency %></p>
        <% else %>
          <%= answer_for_transaction_type(legal_aid_application:, transaction_type:) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
