<% read_only = false unless local_assigns.key?(:read_only) %>

<div class="govuk-grid-row" id="app-check-your-answers__<%= income_type.parameterize(separator: "_") %>">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m"><%= income_type %></h3>
    </div>
    <div class="govuk-grid-column-one-third govuk-summary-list--no-border align-text-right">
      <% unless read_only %>
        <p>
            <%= link_to_accessible(
                  t("generic.change"),
                  check_answer_url_for(:providers, url, @legal_aid_application),
                  class: "govuk-link change-link",
                  suffix: income_type,
                ) %>
        </p>
      <% end %>
    </div>
</div>

<% if @legal_aid_application.using_enhanced_bank_upload? %>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9" data-check-your-answers-section="<%= income_type.parameterize %>">
    <% transaction_types.each do |transaction_type| %>
      <%= check_answer_for_regular_transactions(
            name: transaction_type.label_name,
            question: transaction_type.label_name,
            legal_aid_application: @legal_aid_application,
            transaction_type:,
          ) %>
    <% end %>
  </dl>
<% else %>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9" data-check-your-answers-section="<%= income_type.parameterize %>">
      <% transaction_types.each do |transaction_type| %>
        <%= check_answer_for_transaction_types(
              name: transaction_type.label_name,
              question: transaction_type.label_name,
              legal_aid_application: @legal_aid_application,
              transaction_type:,
            ) %>
      <% end %>
  </dl>
<% end %>
