<div class="app-check-your-answers" id="app-check-your-answers__<%= name %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <%= question %>
    </div>
    <div class="govuk-grid-column-one-half">
      <%= answer.present? ? answer : '-' %>
    </div>
    <div class="govuk-grid-column-one-quarter align_right">
      <%= link_to(url) do %>
        <%= t('generic.change') %><span class="govuk-visually-hidden"><%= question %></span>
      <% end %>
    </div>
  </div>
</div>
