<h2 class="govuk-heading-m" id="app-check-your-answers__<%= name %>"><%= question %></h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <% answers.each_with_index do |answer, index| %>
    <%= content_tag(:div, class: 'govuk-summary-list__row', id: "app-check-your-answers__#{name}_#{index}") do %>
      <div class="govuk-summary-list__key"></div>
      <div class="govuk-summary-list__value">
        <%= answer %>
      </div>
      <div class="govuk-summary-list__actions">
        <%= link_to(url, class: 'govuk-link') do %>
          <%= t('generic.change') %><span class="govuk-visually-hidden"><%= question %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</dl>
