<%
read_only = local_assigns[:read_only] ? read_only : false
no_border = no_border ? '--no-border' : ''
%>

<div class="govuk-summary-list__row<%= no_border %> normal-word-break" id="app-check-your-answers__<%= name %>">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    <%= question %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= answer.present? ? answer : '-' %>
  </dd>
  <% unless read_only %>
    <dd class="govuk-summary-list__actions">
      <%= link_to(url, class: 'govuk-link change-link') do %>
        <%= t('generic.change') %><span class="govuk-visually-hidden"><%= question %></span>
      <% end %>
    </dd>
  <% end %>
</div>
