<% read_only = false unless local_assigns[:read_only] %>
<% no_border = no_border ? "govuk-summary-list__row--no-border" : "" %>

<div class="govuk-summary-list__row <%= no_border %> normal-word-break" id="app-check-your-answers__<%= name %>">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    <%= question %>
  </dt>
  <!--  in-line styling due to issues around pdf generation in our production envs -->
  <dd class="govuk-summary-list__value" style="<%= "text-align: right;" if read_only %>">
    <% if answer.present? %>
      <% if answer.kind_of?(Array) %>
        <ul class="govuk-list">
          <% answer.each do |ans| %>
            <li>
              <%= ans %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= answer %>
      <% end %>
    <% else %>
      -
    <% end %>
  </dd>
  <% unless read_only %>
    <dd class="govuk-summary-list__actions">
      <% unless url == :show_blank_action %>
        <%= govuk_link_to(t("generic.change"), url, class: "change-link", "aria-label": question) %>
      <% end %>
    </dd>
  <% end %>
</div>
