<%
  read_only = local_assigns[:read_only] ? read_only : false
  no_border = no_border ? 'govuk-summary-list--no-border' : ''
%>

<div class="govuk-summary-list__row <%= no_border %> normal-word-break" id="app-check-your-answers__<%= name %>">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    <%= question %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= answer.present? ? answer : '-' %>
  </dd>
  <% unless read_only %>
    <dd class="govuk-summary-list__actions">
      <% unless read_only %>
        <%= link_to_accessible(t('generic.change'), url, class: 'govuk-link change-link', suffix: question) %>
      <% end %>
    </dd>
  <% end %>
</div>
