<h2 class="govuk-heading-l"><%= t(".case-details-heading") %></h2>

<%= render("shared/check_answers/latest_incident_details", read_only:, incident:) %>

<%= render(
      "shared/check_answers/opponent_details",
      allegation:,
      domestic_abuse_summary:,
      opponents:,
      parties_mental_capacity:,
      read_only:,
      statement_of_case:,
    ) %>

<%= render("shared/check_answers/undertaking", read_only:, undertaking:) if @legal_aid_application.undertaking %>

<%= render("shared/check_answers/urgency", read_only:, urgency:) if @legal_aid_application.urgency %>

<% if @legal_aid_application.involved_children.any? %>
  <%= render("shared/check_answers/children_involved", read_only:) %>

  <% if @legal_aid_application.section_8_proceedings? %>
    <%= render("shared/check_answers/laspo", read_only:) %>
  <% end %>
<% end %>

<% if @legal_aid_application.legal_framework_merits_task_list.includes_task?(:application, :second_appeal) %>
  <%= render("shared/check_answers/second_appeal", read_only:) %>
<% end %>

<%= render("shared/check_answers/matter_opposition", read_only:) if @legal_aid_application.matter_opposition %>

<%= render("shared/check_answers/plf_court_order", read_only:) %>

<%= render("shared/check_answers/merits_proceeding_section", read_only:) %>

<%= render("shared/check_answers/supporting_evidence", read_only:) %>

<!--This is to prevent the separate representation section from showing up anywhere other than the merits report -->
<% if controller_name == 'merits_reports' && @legal_aid_application.special_children_act_proceedings? %>
  <%= render("shared/check_answers/separate_representation") %>
<% end %>
