<h2 class="govuk-heading-l"><%= t(".case-details-heading") %></h2>

<%= render("shared/check_answers/merits/latest_incident_details", read_only:, incident:) if incident %>

<%= render("shared/check_answers/merits/opponents", opponents:, read_only:) %>

<%= render("shared/check_answers/merits/parties_mental_capacity", parties_mental_capacity:, read_only:) if parties_mental_capacity %>

<%= render("shared/check_answers/merits/domestic_abuse_summary", domestic_abuse_summary:, read_only:) if task_list_includes?(@legal_aid_application, :domestic_abuse_summary) %>

<%= render("shared/check_answers/merits/children_involved", read_only:) if @legal_aid_application.involved_children.any? %>

<%= render("shared/check_answers/merits/urgency", read_only:, urgency:) if @legal_aid_application.urgency %>

<% if @legal_aid_application.legal_framework_merits_task_list.includes_task?(:application, :second_appeal) %>
  <%= render("shared/check_answers/merits/second_appeal", read_only:) %>
<% end %>

<%= render("shared/check_answers/plf_court_order", read_only:) if [true, false].include?(@legal_aid_application.plf_court_order) %>

<%= render("shared/check_answers/merits/matter_opposition", read_only:) if matter_opposition && matter_opposition.reason.present? %>

<%= render("shared/check_answers/merits/is_matter_opposed", read_only:) if matter_opposition && [true, false].include?(matter_opposition.matter_opposed) %>

<%= render("shared/check_answers/merits/allegation", allegation:, read_only:) if @legal_aid_application.allegation %>

<%= render("shared/check_answers/merits/laspo", read_only:) if @legal_aid_application.section_8_proceedings? && @legal_aid_application.involved_children.any? %>

<%= render("shared/check_answers/merits/undertaking", read_only:, undertaking:) if @legal_aid_application.undertaking %>

<%= render("shared/check_answers/merits/statement_of_case", read_only:, statement_of_case:) unless @legal_aid_application.special_children_act_proceedings? %>

<%= render("shared/check_answers/relationship_to_children", read_only:, relationship_to_children: @legal_aid_application.applicant.relationship_to_children, first_column_width: "one-third") if @legal_aid_application.applicant.relationship_to_children? %>

<% @legal_aid_application.proceedings.each do |proceeding| %>
  <% next if merits_task_list_empty_for?(@legal_aid_application, proceeding) %>

  <h2 class="govuk-heading-l"><%= proceeding.meaning %></h2>
  <%= render("shared/check_answers/merits/merits_proceeding_section", read_only:, proceeding:) %>
<% end %>

<% if @legal_aid_application.uploaded_evidence_collection %>
  <section class="print-no-break">
    <h2 class="govuk-heading-l"><%= t(".evidence_upload_heading") %></h2>
    <%= render("shared/check_answers/merits/supporting_evidence", read_only:) %>
  </section>
<% end %>

<!--This is to prevent the separate representation section from showing up anywhere other than the merits report -->
<% if controller_name == 'merits_reports' && @legal_aid_application.special_children_act_proceedings? %>
  <%= render("shared/check_answers/merits/separate_representation") %>
<% end %>
