<h2 class="govuk-heading-l"><%= t(".case-details-heading") %></h2>

<%= render("shared/check_answers/latest_incident_details", read_only:, incident:) %>

<%= render(
      "shared/check_answers/opponent_details",
      domestic_abuse_summary:,
      opponents:,
      parties_mental_capacity:,
      read_only:,
      statement_of_case:,
    ) %>

<% if @legal_aid_application.allegation %>
  <div class="govuk-!-padding-bottom-6"></div>
  <section class="print-no-break">
    <h2 class="govuk-heading-m"><%= t(".client_denial_of_allegation_heading") %></h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <%= check_answer_link(
            name: :allegation_denies_all,
            url: providers_legal_aid_application_client_denial_of_allegation_path(@legal_aid_application),
            question: t(".items.allegation_denies_all"),
            answer: yes_no(allegation.denies_all),
            no_border: true,
            read_only:,
          ) %>
    </dl>
    <div class='govuk-body'><%= allegation.additional_information %></div>
    <%= render "shared/check_answers/section_break" if allegation.additional_information %>
  </section>
<% end %>

<% if @legal_aid_application.undertaking %>
  <div class="govuk-!-padding-bottom-6"></div>
  <section class="print-no-break">
    <h2 class="govuk-heading-m"><%= t(".client_offer_of_undertakings_heading") %></h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <%= check_answer_link(
            name: :undertaking_offered,
            url: providers_legal_aid_application_client_offered_undertakings_path(@legal_aid_application),
            question: t(".items.undertaking_offered"),
            answer: yes_no(undertaking.offered),
            no_border: true,
            read_only:,
          ) %>
    </dl>
    <div class='govuk-body'><%= undertaking.additional_information %></div>
    <%= render "shared/check_answers/section_break" if undertaking.additional_information %>
  </section>
<% end %>

<% if @legal_aid_application.urgency %>
  <div class="govuk-!-padding-bottom-6"></div>
  <section class="print-no-break">
    <%= check_answer_change_link(
          name: :nature_of_urgency_heading,
          url: providers_legal_aid_application_nature_of_urgencies_path(@legal_aid_application),
          question: t(".nature_of_urgency_heading"),
          read_only:,
        ) %>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <%= check_answer_no_link(
            name: :nature_of_urgency,
            question: t(".items.nature_of_urgency"),
            answer: urgency.nature_of_urgency,
            read_only:,
          ) %>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <%= check_answer_no_link(
            name: :hearing_date_set,
            question: t(".items.hearing_date_set"),
            answer: sanitize("#{yes_no(urgency.hearing_date_set)}<br>#{urgency.hearing_date}#{urgency.additional_information}"),
            read_only:,
          ) %>
    </dl>
  </section>
<% end %>

<% if @legal_aid_application.section_8_proceedings? %>
  <%= render(
        "shared/check_answers/children_involved",
        read_only:,
      ) %>

  <%= render(
        "shared/check_answers/laspo",
        read_only:,
      ) %>
<% end %>

<%= render(
      "shared/check_answers/matter_opposition",
      read_only:,
    ) %>

<%# TODO: The gateway evidence may not exist for an application transitioning to MP feature %>
<% if gateway_evidence %>
  <div class="govuk-!-padding-bottom-6"></div>

  <section class="print-no-break">
    <h2 class="govuk-heading-m">
      <%= t ".gateway-evidence-heading" %>
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-2 print-remove-border">
    <%= check_answer_link(
          name: :gateway_evidence,
          url: providers_legal_aid_application_gateway_evidence_path(@legal_aid_application),
          question: t(".items.gateway_evidence"),
          answer: attachments_with_size(gateway_evidence&.original_attachments),
          read_only:,
        ) %>
    </dl>
  </section>
<% end %>

<% @legal_aid_application.proceedings.each do |proceeding| %>
  <div class="govuk-!-padding-bottom-6"></div>
  <section class="print-no-break">
    <h2 class="govuk-heading-l"><%= proceeding.meaning %></h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <%= check_answer_link(
            name: "#{proceeding.id}_success_likely".to_sym,
            url: providers_merits_task_list_chances_of_success_index_path(proceeding),
            question: t(".items.prospects_of_success"),
            answer: yes_no(proceeding.chances_of_success.success_likely),
            read_only:,
          ) %>

      <% unless proceeding.chances_of_success.success_likely? %>
        <%= check_answer_link(
              name: "#{proceeding.id}_success_prospect".to_sym,
              url: providers_merits_task_list_success_prospects_path(proceeding),
              question: t(".items.success_prospect"),
              answer: t("shared.forms.success_prospect.#{proceeding.chances_of_success.success_prospect}"),
              read_only:,
            ) %>
      <% end %>
    </dl>

    <% if proceeding.chances_of_success.success_prospect_details %>
      <div class='govuk-body'><%= proceeding.chances_of_success.success_prospect_details %></div>
      <hr>
    <% end %>

    <% if proceeding.attempts_to_settle %>
      <dl class="govuk-summary-list govuk-!-margin-bottom-2">
        <%= check_answer_link(
              name: "#{proceeding.id}_attempts_to_settle".to_sym,
              url: providers_merits_task_list_attempts_to_settle_path(proceeding),
              question: t(".items.attempts_to_settle"),
              answer: proceeding.attempts_to_settle.attempts_made,
              read_only:,
            ) %>
      </dl>
    <% end %>
    <% if proceeding.section8? %>
      <dl class="govuk-summary-list govuk-!-margin-bottom-2">
        <%= check_answer_link(
              name: "#{proceeding.id}_linked_children".to_sym,
              url: providers_merits_task_list_linked_children_path(proceeding),
              question: t(".items.linked_children"),
              answer: linked_children_names(proceeding),
              read_only:,
            ) %>
      </dl>
    <% end %>
    <% if proceeding.specific_issue %>
      <dl class="govuk-summary-list govuk-!-margin-bottom-2">
        <%= check_answer_link(
              name: "#{proceeding.id}_specific_issue".to_sym,
              url: providers_merits_task_list_specific_issue_path(proceeding),
              question: t(".items.specific_issue"),
              answer: proceeding.specific_issue.details,
              read_only:,
            ) %>
      </dl>
    <% end %>
    <% if proceeding.prohibited_steps %>
      <dl class="govuk-summary-list govuk-!-margin-bottom-0 print-remove-border">
        <%= check_answer_link(
              name: "#{proceeding.id}_prohibited_steps".to_sym,
              url: providers_merits_task_list_prohibited_steps_path(proceeding),
              question: t(".items.prohibited_steps"),
              answer: yes_no(proceeding.prohibited_steps.uk_removal),
              read_only:,
              no_border: true,
            ) %>
      </dl>
      <% unless proceeding.prohibited_steps.uk_removal %>
        <div class="govuk-body"><%= proceeding.prohibited_steps.details %></div>
      <% end %>
      <%= render "shared/check_answers/section_break" %>
    <% end %>
    <% if proceeding.vary_order %>
      <dl class="govuk-summary-list govuk-!-margin-bottom-2">
        <%= check_answer_link(
              name: "#{proceeding.id}_vary_order".to_sym,
              url: providers_merits_task_list_vary_order_path(proceeding),
              question: t(".items.vary_order"),
              answer: proceeding.vary_order.details,
              read_only:,
            ) %>
      </dl>
    <% end %>
    <% if proceeding.opponents_application %>
      <dl class="govuk-summary-list govuk-!-margin-bottom-2 govuk-!-margin-top-2">
        <%= check_answer_link(
              name: "#{proceeding.id}_opponents_application".to_sym,
              url: providers_merits_task_list_opponents_application_path(proceeding),
              question: t(".items.opponents_application_question"),
              answer: yes_no(proceeding.opponents_application.has_opponents_application),
              read_only:,
            ) %>
        <% if proceeding.opponents_application.reason_for_applying %>
          <%= check_answer_link(
                name: "#{proceeding.id}_opponents_application".to_sym,
                url: providers_merits_task_list_opponents_application_path(proceeding),
                question: t(".items.opponents_application_reason"),
                answer: proceeding.opponents_application.reason_for_applying,
                read_only:,
              ) %>
        <% end %>
      </dl>
    <% end %>
  </section>
<% end %>

<%= render("shared/check_answers/supporting_evidence", read_only:) %>
