<section class="print-no-break">
  <%= check_answer_change_link(
        name: :incident_details,
        url: providers_legal_aid_application_date_client_told_incident_path(@legal_aid_application),
        question: t('.latest-incident-heading'),
        read_only: read_only
      ) %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link(
          name: :notification_of_latest_incident,
          question: t('.items.notification_of_latest_incident'),
          answer: incident&.told_on
        ) %>

    <%= check_answer_no_link(
          name: :date_of_latest_incident,
          question: t('.items.date_of_latest_incident'),
          answer: incident&.occurred_on
        ) %>
  </dl>

</section>

<div class="govuk-!-padding-bottom-6"></div>
<section class="print-no-break">

  <%= check_answer_change_link(
        name: :respondent_name_change,
        url: providers_legal_aid_application_respondent_name_path(@legal_aid_application),
        question: t('.items.respondent_name_title'),
        read_only: read_only
      ) %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link(
          name: :respondent_name,
          question: t('.items.respondent_name'),
          answer: respondent.full_name
        ) %>
  </dl>
</section>

<div class="govuk-!-padding-bottom-6"></div>
<section class="print-no-break">

  <%= check_answer_change_link(
        name: :respondent_details,
        url: providers_legal_aid_application_respondent_path(@legal_aid_application),
        question: t('.respondent-heading'),
        read_only: read_only
      ) %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link(
          name: :understands_terms_of_court_order,
          question: t('.items.understands_terms_of_court_order'),
          answer: yes_no(respondent.understands_terms_of_court_order),
          no_border: !respondent.understands_terms_of_court_order
        ) %>
  </dl>
  <div class='govuk-body'><%= respondent.understands_terms_of_court_order_details %></div>

  <%= render 'shared/check_answers/section_break' unless respondent.understands_terms_of_court_order %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link(
          name: :warning_letter_sent,
          question: t('.items.warning_letter_sent'),
          answer: yes_no(respondent.warning_letter_sent),
          no_border: !respondent.warning_letter_sent
        ) %>
  </dl>
  <div class='govuk-body'><%= respondent.warning_letter_sent_details %></div>

  <%= render 'shared/check_answers/section_break' unless respondent.warning_letter_sent %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link(
          name: :police_notified,
          question: t('.items.police_notified'),
          answer: yes_no(respondent.police_notified),
          no_border: true
        ) %>
  </dl>
  <div class='govuk-body'><%= respondent.police_notified_details %></div>

  <%= render 'shared/check_answers/section_break' %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_no_link(
          name: :bail_conditions_set,
          question: t('.items.bail_conditions_set'),
          answer: yes_no(respondent.bail_conditions_set),
          no_border: respondent.bail_conditions_set
        ) %>
  </dl>
  <div class='govuk-body'><%= respondent.bail_conditions_set_details %></div>

  <%= render 'shared/check_answers/section_break' if respondent.bail_conditions_set %>
</section>
<div class="govuk-!-padding-bottom-6"></div>
<section class="print-no-break">
  <h2 class="govuk-heading-m">
    <%= t '.case-details-heading' %>
  </h2>

  <div class='govuk-body'><%= merits_assessment.details_of_proceedings_before_the_court %></div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2 print-remove-border">
    <%= check_answer_link(
          name: :statement_of_case,
          url: providers_legal_aid_application_statement_of_case_path(@legal_aid_application),
          question: t('.items.statement_of_case'),
          answer: nil,
          read_only: read_only,
          no_border: statement_of_case.statement.present?
        ) %>
  </dl>

  <div class="govuk-body"><%= statement_of_case.statement %></div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_link(
          name: :success_likely,
          url: providers_legal_aid_application_success_likely_index_path(@legal_aid_application),
          question: t('.items.prospects_of_success'),
          answer: yes_no(merits_assessment.success_likely),
          read_only: read_only,
          align_right: read_only
        ) %>
  </dl>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <%= check_answer_link(
          name: :success_prospect,
          url: providers_legal_aid_application_success_likely_index_path(@legal_aid_application),
          question: t('.items.success_prospect'),
          answer: t("shared.forms.success_prospect.success_prospect_item.#{merits_assessment.success_prospect}"),
          read_only: read_only,
          align_right: read_only
        ) unless merits_assessment.success_likely? %>
  </dl>

  <div class='govuk-body'><%= merits_assessment.success_prospect_details %></div>
</section>
