<div class="govuk-summary-list__row" id="app-check-your-answers__<%= name.parameterize %>">
  <dt class="govuk-summary-list__key">
    <%= question %>
  </dt>
  <dd class="govuk-summary-list__value">
    <% if legal_aid_application.cash_transactions.for_transaction_type(transaction_type.id).any? %>
      <% legal_aid_application.cash_transactions.for_transaction_type(transaction_type.id).each do |ctx| %>
        <strong><%= ctx.transaction_date.strftime("%B") %></strong>: <%= gds_number_to_currency(ctx.amount, precision: 2) %><br>
      <% end %>
    <% else %>
      <%= t("generic.none") %>
    <% end %>
  </dd>
</div>
