<% no_border = no_border ? 'govuk-summary-list--no-border' : '' %>
<div class="govuk-summary-list__row <%= no_border %>" id="app-check-your-answers__<%= name %>">
  <dt class="govuk-summary-list__key">
    <%= question %>
  </dt>
  <dd class="govuk-summary-list__value">
    <% if legal_aid_application.cash_transactions.for_transaction_type(transaction_type.id).any? %>
      <% legal_aid_application.cash_transactions.for_transaction_type(transaction_type.id).each do |ctx| %>
        <%= ctx.transaction_date.strftime('%B') %>: <strong><%= gds_number_to_currency(ctx.amount) %></strong><br>
      <% end %>
    <% else %>
      <%= t('.no_transactions') %>
    <% end %>
  </dd>
</div>
