<% read_only = false unless local_assigns[:read_only] %>

<div class="govuk-grid-row" id="app-check-your-answers__<%= name %><%= answer_hash.present? ? "" : "_header" %>">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= question %></h2>
  </div>
  <% if answer_hash.present? && !read_only %>
    <div class="govuk-grid-column-one-third govuk-summary-list--no-border align-text-right">
      <p>
        <%= govuk_link_to(t("generic.change"), url, class: "change-link", "aria-label": question) %>
      </p>
    </div>
  <% end %>
</div>

<%= govuk_summary_list(
      card: { title: question },
      actions: !read_only,
      html_attributes: { id: "app-check-your-answers__#{name}_items" },
    ) do |summary_list| %>
  <% if answer_hash.present? %>
    <% answer_hash&.fetch(:items, [])&.each_with_index do |item, index| %>
      <% name = item.name || "#{name}_#{index}" %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{name}" }) do |row| %>
        <%= row.with_key(text: item.label, classes: "govuk-!-width-one-half") %>
        <%= row.with_value { safe_yes_or_no(item.amount_text) } %>
      <% end %>
    <% end %>
  <% else %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{name}" }) do |row| %>
      <%= row.with_key(text: question, classes: "govuk-!-width-one-half") %>
      <%= row.with_value { t("generic.none_declared") } %>
      <%= row.with_action(
            text: t("generic.change"),
            href: url,
            visually_hidden_text: question,
          ) %>
    <% end %>
  <% end %>
<% end %>
