<% read_only = false unless local_assigns.key?(:read_only) %>

<div class="govuk-grid-row" id="app-check-your-answers__<%= payment_type.parameterize(separator: "_") %>">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><%= payment_type %></h3>
  </div>
  <% unless read_only %>
    <div class="govuk-grid-column-one-third align-text-right">
      <p><%= govuk_link_to(t("generic.change"), url, "aria-label": "#{t('generic.change')} #{payment_type}") %></p>
    </div>
  <% end %>
</div>

<%= govuk_summary_list(
      card: { title: payment_type },
      actions: false,
      html_attributes: { "data-check-your-answers-section": payment_type.parameterize },
    ) do |summary_list| %>
  <% transaction_types.each do |transaction_type| %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{transaction_type.label_name.parameterize}-#{individual.downcase}" }) do |row| %>
      <%= row.with_key(text: transaction_type.label_name, classes: "govuk-!-width-one-half") %>
      <%= row.with_value do %>
        <% regular_transaction_amount, regular_transaction_frequency = regular_transaction_answer_by_type(
             legal_aid_application: @legal_aid_application,
             transaction_type:,
             owner_type: individual,
           ) %>
        <% if @legal_aid_application.client_uploading_bank_statements? || individual.eql?("Partner") %>
          <p><%= regular_transaction_amount %></p>
          <% unless regular_transaction_amount.eql?("None") %>
            <p><%= regular_transaction_frequency %></p>
          <% end %>
        <% else %>
          <%= answer_for_transaction_type(legal_aid_application: @legal_aid_application, transaction_type:, owner_type: individual) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
