<% read_only = false unless local_assigns.key?(:read_only) %>
<div class="govuk-grid-row" id="app-check-your-answers__delegated_functions">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m"><%= proceeding.meaning %></h2>
  </div>
</div>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <%= render(
        'shared/check_answers/delegated_function_details',
        proceeding: proceeding,
        read_only: read_only
      ) %>
  <%= render(
        'shared/check_answers/client_involvement_type_details',
        proceeding: proceeding,
        read_only: read_only
      ) %>
  <% if proceeding.used_delegated_functions? %>
    <%= render(
          'shared/check_answers/level_of_service',
          proceeding: proceeding,
          level_of_service: :emergency,
          read_only: read_only
        ) %>
    <%= render(
          'shared/check_answers/final_hearing',
          proceeding: proceeding,
          level_of_service: :emergency,
          read_only: read_only
        ) %>
    <%= render(
          'shared/check_answers/scope_limits',
          proceeding: proceeding,
          level_of_service: :emergency,
          read_only: read_only
        ) %>
  <% end %>
  <%= render(
        'shared/check_answers/level_of_service',
        proceeding: proceeding,
        level_of_service: :substantive,
        read_only: read_only
      ) %>
  <%= render(
        'shared/check_answers/final_hearing',
        proceeding: proceeding,
        level_of_service: :substantive,
        read_only: read_only
      ) %>
  <%= render(
        'shared/check_answers/scope_limits',
        proceeding: proceeding,
        level_of_service: :substantive,
        read_only: read_only
      ) %>
</dl>
