<div class="govuk-grid-row" id="app-check-your-answers__proceeding_<%= proceeding.meaning.parameterize(separator: "_") %>">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m"><%= proceeding.meaning %> <%= t(".description") %></h2>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <% unless @read_only || @show_linked_proceedings %>
      <%= govuk_link_to(
            t("generic.change"),
            providers_legal_aid_application_client_involvement_type_path(@legal_aid_application, proceeding),
            visually_hidden_suffix: "#{proceeding.meaning} #{t('.description')}",
            class: "govuk-link-right",
          ) %>
    <% end %>
  </div>
</div>

<%= govuk_summary_list(actions: false, classes: "govuk-!-margin-bottom-9") do |summary_list| %>
  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{proceeding.name}_client_involvement_type" }) do |row| %>
    <%= row.with_key(text: t(".client_involvement_type_details.question"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { proceeding.client_involvement_type_description } %>
  <% end %>

  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{proceeding.name}_used_delegated_functions_on" }) do |row| %>
    <%= row.with_key(text: t(".delegated_function_details.question"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { proceeding.used_delegated_functions_on&.strftime("%-d %B %Y") || t(".delegated_function_details.not_used") } %>
  <% end %>

  <% if proceeding.used_delegated_functions? %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{proceeding.name}_emergency_level_of_service_#{proceeding.id}" }) do |row| %>
      <%= row.with_key(text: t(".level_of_service.emergency.question"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { proceeding.send(:emergency_level_of_service_name) } %>
    <% end %>

    <%= render(
          "shared/check_answers/final_hearing",
          proceeding:,
          level_of_service: :emergency,
          read_only:,
          summary_list:,
        ) %>

    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{proceeding.name}_emergency_scope_limitations_#{proceeding.id}" }) do |row| %>
      <%= row.with_key(text: t(".level_of_service.emergency.question"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { scope_limits(proceeding, "emergency") } %>
    <% end %>
  <% end %>

  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{proceeding.name}_substantive_level_of_service_#{proceeding.id}" }) do |row| %>
    <%= row.with_key(text: t(".level_of_service.substantive.question"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { proceeding.send(:substantive_level_of_service_name) } %>
  <% end %>

  <%= render(
        "shared/check_answers/final_hearing",
        proceeding:,
        level_of_service: :substantive,
        read_only:,
        summary_list:,
      ) %>

  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{proceeding.name}_substantive_scope_limitations_#{proceeding.id}" }) do |row| %>
    <%= row.with_key(text: t(".level_of_service.substantive.question"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { scope_limits(proceeding, "substantive") } %>
  <% end %>
<% end %>
