<% read_only = false unless local_assigns.key?(:read_only) %>
<div class="govuk-grid-row" id="app-check-your-answers__proceeding_<%= proceeding.meaning.parameterize(separator: "_") %>">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m"><%= proceeding.meaning %> proceeding details</h2>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p><%= link_to_accessible t("providers.check_provider_answers.shared.change"),
                              providers_legal_aid_application_client_involvement_type_path(@legal_aid_application, proceeding),
                              class: "govuk-link govuk-link-right" %></p>
  </div>
</div>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <%= render(
        "shared/check_answers/client_involvement_type_details",
        proceeding:,
        read_only:,
      ) %>
  <%= render(
        "shared/check_answers/delegated_function_details",
        proceeding:,
        read_only:,
      ) %>
  <% if Setting.enable_loop? %>
    <% if proceeding.used_delegated_functions? %>
      <%= render(
            "shared/check_answers/level_of_service",
            proceeding:,
            level_of_service: :emergency,
            read_only:,
          ) %>
      <%= render(
            "shared/check_answers/final_hearing",
            proceeding:,
            level_of_service: :emergency,
            read_only:,
          ) %>
      <%= render(
            "shared/check_answers/scope_limits",
            proceeding:,
            level_of_service: :emergency,
            read_only:,
          ) %>
    <% end %>
    <%= render(
          "shared/check_answers/level_of_service",
          proceeding:,
          level_of_service: :substantive,
          read_only:,
        ) %>
    <%= render(
          "shared/check_answers/final_hearing",
          proceeding:,
          level_of_service: :substantive,
          read_only:,
        ) %>
    <%= render(
          "shared/check_answers/scope_limits",
          proceeding:,
          level_of_service: :substantive,
          read_only:,
        ) %>
  <% end %>
</dl>
