<% @legal_aid_application.proceedings.each_with_index do |proceeding, index| %>
  <h2 class="govuk-heading-m"><%= proceeding.meaning %></h2>
  <%= govuk_summary_list(card: { title: proceeding.meaning }, actions: false) do |summary_list| %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__client_role-#{index}" }) do |row| %>
      <%= row.with_key(text: t(".client_role"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { proceeding.client_involvement_type_description } %>
    <% end %>
    <% if proceeding.used_delegated_functions %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__delegated_functions_date-#{index}" }) do |row| %>
        <%= row.with_key(text: t(".delegated_functions"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { proceeding.used_delegated_functions_on&.strftime("%-d %B %Y") } %>
      <% end %>
      <% if @legal_aid_application.non_sca_used_delegated_functions? %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__emergency_level_of_service-#{index}" }) do |row| %>
          <%= row.with_key(text: t(".emergency_level_of_service"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { proceeding.emergency_level_of_service_name } %>
        <% end %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__emergency_scope_limits-#{index}" }) do |row| %>
          <%= row.with_key(text: t(".emergency_scope_limits"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { scope_limits(proceeding, "emergency") } %>
        <% end %>
      <% end %>
    <% end %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__substantive_level_of_service-#{index}" }) do |row| %>
      <%= row.with_key(text: t(".substantive_level_of_service"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { proceeding.substantive_level_of_service_name } %>
    <% end %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__substantive_scope_limits-#{index}" }) do |row| %>
      <%= row.with_key(text: t(".substantive_scope_limits"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { scope_limits(proceeding, "substantive") } %>
    <% end %>
  <% end %>
<% end %>
