<% read_only = false unless local_assigns.key?(:read_only) %>

<h3 class="govuk-heading-m"><%= t("shared.check_answers.assets.property.heading_own_home") %></h3>
<%= govuk_summary_list(
      card: { title: t("shared.check_answers.assets.property.heading_own_home") },
      actions: !read_only,
      classes: "govuk-!-margin-bottom-9",
      html_attributes: { id: "property-question" },
    ) do |summary_list| %>
  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__own_home" }) do |row| %>
    <%= row.with_key(text: t("shared.check_answers.assets.property#{'.legacy' unless Setting.means_test_review_a?}.own_home#{individual}"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { @legal_aid_application.own_home.blank? ? "" : t("shared.forms.own_home_form.#{@legal_aid_application.own_home}") } %>
    <%= row.with_action(
          text: t("generic.change"),
          href: check_answer_url_for(journey_type, :own_homes, @legal_aid_application),
          visually_hidden_text: t("shared.check_answers.assets.property.own_home#{individual}"),
        ) %>
  <% end %>
<% end %>

<% if @legal_aid_application.own_home? %>
  <h3 class="govuk-heading-m"><%= t("shared.check_answers.assets.property.heading_property_details#{individual}") %></h3>
  <%= govuk_summary_list(
        card: { title: t("shared.check_answers.assets.property.heading_property_details#{individual}") },
        actions: !read_only,
        classes: "govuk-!-margin-bottom-9",
        html_attributes: { id: "property-details-questions" },
      ) do |summary_list| %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__property_value" }) do |row| %>
        <%= row.with_key(text: t("shared.check_answers.assets.property#{'.legacy' unless Setting.means_test_review_a?}.property_value#{individual}"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { gds_number_to_currency(@legal_aid_application.property_value) } %>
        <%= row.with_action(
              text: t("generic.change"),
              href: check_answer_url_for(journey_type, :property_details, @legal_aid_application),
              visually_hidden_text: t("shared.check_answers.assets.property.property_value"),
            ) %>
      <% end %>

      <% if @legal_aid_application.own_home_mortgage? %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__outstanding_mortgage" }) do |row| %>
          <%= row.with_key(text: t("shared.check_answers.assets.property.outstanding_mortgage"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { gds_number_to_currency(@legal_aid_application.outstanding_mortgage_amount) } %>
          <%= row.with_action(
                text: t("generic.change"),
                href: check_answer_url_for(journey_type, :property_details, @legal_aid_application),
                visually_hidden_text: t("shared.check_answers.assets.property.outstanding_mortgage"),
              ) %>
        <% end %>
      <% end %>

      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__shared_ownership" }) do |row| %>
        <%= row.with_key(text: t("shared.check_answers.assets.property.shared_ownership#{individual}"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { @legal_aid_application.shared_ownership.blank? ? "" : t("shared.forms.shared_ownership_form.#{@legal_aid_application.shared_ownership}") } %>
        <%= row.with_action(
              text: t("generic.change"),
              href: check_answer_url_for(journey_type, :property_details, @legal_aid_application),
              visually_hidden_text: t("shared.check_answers.assets.property.shared_ownership#{individual}"),
            ) %>
      <% end %>

      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__percentage_home" }) do |row| %>
        <%= row.with_key(text: t("shared.check_answers.assets.property.percentage_home#{individual}"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { number_to_percentage(@legal_aid_application.percentage_home, precision: 2) } %>
        <%= row.with_action(
              text: t("generic.change"),
              href: check_answer_url_for(journey_type, :property_details, @legal_aid_application),
              visually_hidden_text: t("shared.check_answers.assets.property.percentage_home#{individual}"),
            ) %>
      <% end %>
    <% end %>
<% end %>
