<section class="print-no-break govuk-!-padding-top-6">
  <%= check_answer_change_link(
        name: :second_appeal_heading,
        url: providers_legal_aid_application_second_appeal_path(@legal_aid_application),
        question: t(".heading"),
        read_only:,
      ) %>

  <%= govuk_summary_list(card: { title: t(".heading") }, actions: false, html_attributes: { id: "app-check-your-answers__second_appeal" }) do |summary_list| %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__second_appeal-row" }) do |row| %>
      <%= row.with_key(text: t(".second_appeal_question"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value(text: yes_no(@legal_aid_application.appeal.second_appeal?)) %>
    <% end %>

    <% unless @legal_aid_application.appeal.second_appeal? %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__original_judge_level-row" }) do |row| %>
        <%= row.with_key(text: t(".original_judge_level_question"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value(text: t("original_judge_levels.#{@legal_aid_application.appeal.original_judge_level}")) %>
      <% end %>
    <% end %>

    <% if @legal_aid_application.appeal.court_type? %>
      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__court_type-row" }) do |row| %>
        <%= row.with_key(text: t(".court_type_question"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value(text: t("appeal_court_types.#{@legal_aid_application.appeal.court_type}")) %>
      <% end %>
    <% end %>
  <% end %>
</section>
