<div class="govuk-grid-row" id="app-check-your-answers__<%= individual.class.to_s.downcase %>__student_finance">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><%= t(".heading") %></h3>
  </div>
  <% unless read_only %>
    <div class="govuk-grid-column-one-third align-text-right">
      <p><%= govuk_link_to(t("generic.change"), url, "aria-label": "#{t('generic.change')} #{individual_text}'s #{t('.heading')}") %></p>
    </div>
  <% end %>
</div>

<%= govuk_summary_list(actions: false, classes: "govuk-!-margin-bottom-9") do |summary_list| %>
  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__#{individual.class.to_s.downcase}_student_finance_question" }) do |row| %>
    <%= row.with_key(text: t(".does_your_client", individual_text:), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { yes_no(individual.student_finance?) } %>
  <% end %>

  <% if individual.student_finance? %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__student_finance_annual_amount" }) do |row| %>
      <%= row.with_key(text: t(".how_much"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { gds_number_to_currency(individual.student_finance_amount) } %>
    <% end %>
  <% end %>
<% end %>
