<% read_only = false unless local_assigns[:read_only] %>
<h3 class="govuk-heading-m">
  <%= t(".#{journey_type}.heading") %>
</h3>

<%= govuk_summary_list(
      actions: !read_only,
      classes: "govuk-!-margin-bottom-9",
      html_attributes: { id: "vehicles-questions" },
    ) do |summary_list| %>
  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicles" }) do |row| %>
    <%= row.with_key(text: t(".#{journey_type}.own"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { yes_no(@legal_aid_application.own_vehicle?) } %>
    <%= row.with_action(
          text: t("generic.change"),
          href: check_answer_url_for(journey_type, :vehicles, @legal_aid_application),
          html_attributes: { "aria-label": "#{t('generic.change')} #{t(".#{journey_type}.own")}" },
        ) %>
  <% end %>

  <% if @legal_aid_application.own_vehicle? %>
    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicles_estimated_values" }) do |row| %>
      <%= row.with_key(text: t(".#{journey_type}.estimated_value"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { gds_number_to_currency(@legal_aid_application.vehicle.estimated_value) } %>
      <%= row.with_action(
            text: t("generic.change"),
            href: check_answer_url_for(journey_type, :vehicles_estimated_values, @legal_aid_application),
            html_attributes: { "aria-label": "#{t('generic.change')} #{t(".#{journey_type}.estimated_value")}" },
          ) %>
    <% end %>

    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicles_remaining_payments" }) do |row| %>
      <%= row.with_key(text: t(".#{journey_type}.payment_remaining"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { gds_number_to_currency(@legal_aid_application.vehicle.payment_remaining) } %>
      <%= row.with_action(
            text: t("generic.change"),
            href: check_answer_url_for(journey_type, :vehicles_remaining_payments, @legal_aid_application),
            html_attributes: { "aria-label": "#{t('generic.change')} #{t(".#{journey_type}.payment_remaining")}" },
          ) %>
    <% end %>

    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicles_ages" }) do |row| %>
      <%= row.with_key(text: t(".#{journey_type}.more_than_three_years_old"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { yes_no(@legal_aid_application.vehicle.more_than_three_years_old?) } %>
      <%= row.with_action(
            text: t("generic.change"),
            href: check_answer_url_for(journey_type, :vehicles_ages, @legal_aid_application),
            html_attributes: { "aria-label": "#{t('generic.change')} #{t(".#{journey_type}.more_than_three_years_old")}" },
          ) %>
    <% end %>

    <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicles_regular_uses" }) do |row| %>
      <%= row.with_key(text: t(".#{journey_type}.used_regularly"), classes: "govuk-!-width-one-half") %>
      <%= row.with_value { yes_no(@legal_aid_application.vehicle.used_regularly) } %>
      <%= row.with_action(
            text: t("generic.change"),
            href: check_answer_url_for(journey_type, :vehicles_regular_uses, @legal_aid_application),
            html_attributes: { "aria-label": "#{t('generic.change')} #{t(".#{journey_type}.used_regularly")}" },
          ) %>
    <% end %>
  <% end %>
<% end %>
