<% read_only = false unless local_assigns[:read_only] %>
<div class="govuk-grid-row" id="app-check-your-answers__vehicles">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><%= t(".#{journey_type}.heading") %></h3>
  </div>
  <div class="govuk-grid-column-one-third">
    <% if !read_only %>
      <% if @legal_aid_application.vehicles.any? %>
        <p><%= govuk_link_to t("generic.change"), providers_legal_aid_application_means_add_other_vehicles_path(@legal_aid_application), class: "govuk-link-right" %></p>
      <% else %>
        <p><%= govuk_link_to t("generic.change"), check_answer_url_for(journey_type, :vehicles, @legal_aid_application), class: "govuk-link-right" %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= govuk_summary_list(
      card: { title: t(".#{journey_type}.heading") },
      actions: !read_only,
      html_attributes: { id: "vehicles-questions" },
    ) do |summary_list| %>
  <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__own-vehicle" }) do |row| %>
    <%= row.with_key(text: t(".providers.own#{individual}"), classes: "govuk-!-width-one-half") %>
    <%= row.with_value { yes_no(@legal_aid_application.own_vehicle?) } %>
  <% end %>
<% end %>

<% if @legal_aid_application.vehicles.any? %>
  <% @legal_aid_application.vehicles.each_with_index do |vehicle, index| %>
    <% action_link = govuk_link_to(t("generic.change"),
                                   providers_legal_aid_application_means_vehicle_detail_path(@legal_aid_application, vehicle),
                                   visually_hidden_suffix: t(".providers.vehicle_index", sequence: index + 1),
                                   id: "app-check-your-answers__vehicle__#{index}_change_link") %>
    <%= govuk_summary_list(
          card: { title: t(".providers.vehicle_index", sequence: index + 1),
                  actions: read_only ? [] : [action_link] },
          html_attributes: { id: "vehicle-questions__#{index}" },
        ) do |summary_list| %>

      <% if @legal_aid_application.applicant.has_partner_with_no_contrary_interest? %>
        <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicles_owner" }) do |row| %>
          <%= row.with_key(text: t(".#{journey_type}.owner"), classes: "govuk-!-width-one-half") %>
          <%= row.with_value { t(".providers.options.#{vehicle.owner}") } %>
        <% end %>
      <% end %>

      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicle__#{index}_estimated_values" }) do |row| %>
        <%= row.with_key(text: t(".#{journey_type}.estimated_value"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { gds_number_to_currency(vehicle.estimated_value) } %>
      <% end %>

      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicle__#{index}_remaining_payments" }) do |row| %>
        <%= row.with_key(text: t(".#{journey_type}.payment_remaining"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { gds_number_to_currency(vehicle.payment_remaining) } %>
      <% end %>

      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicle__#{index}_ages" }) do |row| %>
        <%= row.with_key(text: t(".#{journey_type}.more_than_three_years_old"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { yes_no(vehicle.more_than_three_years_old?) } %>
      <% end %>

      <%= summary_list.with_row(html_attributes: { id: "app-check-your-answers__vehicle__#{index}_regular_uses" }) do |row| %>
        <%= row.with_key(text: t(".#{journey_type}.used_regularly"), classes: "govuk-!-width-one-half") %>
        <%= row.with_value { yes_no(vehicle.used_regularly) } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
