<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption"><%= t('.current_application') %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><%= t('.applicant_name') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.created_at') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.application_ref') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.certificate_type') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.status') %></th>
        </tr>
      </thead>

      <% legal_aid_applications.each do |application| %>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= link_to_application (application.applicant_full_name || t('generic.undefined')), application %>
            </td>
            <td class="govuk-table__cell"><%= l(application.created_at.to_date, format: :short_date) %></td>
            <td class="govuk-table__cell"><%= application.application_ref %></td>
            <td class="govuk-table__cell">
              <% if application.used_delegated_functions? %>
                <%= t('.emergency') %>
                <% if application.substantive_application_deadline_on? %>
                  <br>
                  <span class="govuk-body-s">
                    <%= t('.substantive_due', date: l(application.substantive_application_deadline_on, format: :short_date)) %>
                  </span>
                <% end %>
              <% else %>
                <%= t('.substantive') %>
              <% end %>
            </td>
            <td class="govuk-table__cell">
              <%= gov_uk_tag text: application.enum_t(:summary_state), type: application.summary_state %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <% if local_assigns[:pagy] %>
      <div class="govuk-body pagination-container">
        <%== pagy_nav(pagy) if pagy.pages > 1 %>
        <span class="page-info"><%== pagy_info(pagy)&.chomp %></span>
      </div>
    <% end %>
  </div>
</div>
