<div id="<%= proceeding_type.code%>" class="govuk-grid-row proceeding-item" style="display: block;">
  <span class="proceeding_type_description" style="display:none;" ><%= proceeding_type.description %></span>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-caption-m">
      <%= proceeding_type.ccms_category_law %>  > <%= proceeding_type.ccms_matter %>
    </div>
    <span class="govuk-body"><%= proceeding_type.code%> <%= proceeding_type.meaning %></span>
  </div>

  <div class="govuk-grid-column-one-third" style="text-align:right;">
    <input  type="hidden"
            name="proceeding_type"
            value="<%= proceeding_type.code %>"
            id="proceedingType<%= proceeding_type.code %>" />
    <div class="govuk-!-padding-bottom-2"></div>
    <input  type="button"
            value="Select and continue"
            class="govuk-button proceeding-link"
            data-endpoint="/provider/legal_aid_applications"
            data-method=post
            data-input="#proceedingType` + proceedingCode+ `" />
  </div>
</div>
