  <% content_for :navigation do %>
    <!-- no nav needed here -->
  <% end %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-padding-top-4"></div>
      <h1 class="govuk-heading-xl"><%= t('.heading_1') %></h1>
      <h3 class="govuk-heading-m"><%= t('.make_new_application') %></h3>
      <p>
        <%= t('.basic_details_para') %>
      </p>
      <%= button_to(
            t('generic.start_now'),
            providers_legal_aid_applications_path,
            class: 'govuk-button govuk-button--start',
            id: 'start'
          ) %>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Current applications</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Client's name</th>
            <th class="govuk-table__header" scope="col">Date started</th>
            <th class="govuk-table__header" scope="col">Case reference</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>

        <% @applications.each do |application| %>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= application.applicant.full_name %></th>
              <td class="govuk-table__cell"><%= l(application.created_at.to_date) %></th>
              <td class="govuk-table__cell"><%= application.application_ref %></th>
              <td class="govuk-table__cell">In progress</td>
            </tr>
          <% end  %>
        </tbody>
      </table>
    </div>
  </div>
