<%= page_template(
      page_title: t('.heading_1'),
      back_link: :none
    ) do %>

  <h2 class="govuk-heading-m"><%= t('.make_new_application') %></h2>
  <p>
    <%= t('.basic_details_para') %>
  </p>

  <%= link_to(start_button_label(:start_now),
              providers_declaration_path,
              class: 'govuk-button govuk-button--start',
              role: 'button',
              id: 'start',
              method: :get
      ) %>

<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      <%= t('.current_applications') %>
      <%= link_to t('.search_applications'),
                  search_providers_legal_aid_applications_path,
                  class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-1' %>
    </h3>
  </div>
</div>

<%= render 'legal_aid_applications', legal_aid_applications: @legal_aid_applications, pagy: @pagy %>
