<% if @announcements.present?
     @announcements.each do |message|
       if message.display_type == "gov_uk" %>
         <%= govuk_notification_banner(title_text: message.gov_uk_header_bar.presence || t("generic.important")) do |nb|
               nb.with_heading(text: message.heading,
                               link_text: message.link_display,
                               link_href: message.link_url)
               concat tag.p(class: "govuk-body") { message.body }
             end %>
       <% elsif message.display_type == "moj" %>
          <%= moj_alert(type: :information, heading: message.heading, body: message.body, dismiss_href: v1_dismiss_announcements_path(params: { id: message.id, return_to: request.fullpath })) %>
       <% end
     end
   end %>
<%= page_template(page_title: t(".heading_1"), back_link: :none, column_width: "full") do %>
  <div class="govuk-button-group">
    <%= govuk_button_link_to(t("generic.new_app"), providers_declaration_path, html_attributes: { id: "start" }) %>
  </div>
<% end %>
<%= render "legal_aid_applications", legal_aid_applications: @legal_aid_applications, pagy: @pagy %>
