<%= page_template(
      page_title: t('.heading_1'),
      back_link: :none
    ) do %>

  <h2 class="govuk-heading-m"><%= t('.make_new_application') %></h2>
  <p>
    <%= t('.basic_details_para') %>
  </p>
  <%= button_to(
        t('generic.start_now'),
        providers_legal_aid_applications_path,
        class: 'govuk-button govuk-button--start',
        id: 'start'
      ) %>

<% end %>

<%= render 'legal_aid_applications', legal_aid_applications: @legal_aid_applications, pagy: @pagy %>
