<%= page_template page_title: t(".title"), template: :basic do %>

  <%= form_with(method: :get, local: true) do |form| %>

    <%= render partial: "shared/error" if @error %>

    <%= form.govuk_text_field(
          :search_term,
          label: { text: "Search applications", size: "xl", tag: "h1" },
          hint: { text: t(".hint") },
          width: "two-thirds",
          value: @search_term,
        ) %>

    <%= form.govuk_submit t(".search_button") %>
  <% end %>
<% end %>

<% if @legal_aid_applications && @legal_aid_applications.any? %>
  <h3 class="govuk-heading-m"><%= t(".search_results") %></h3>
  <%= render "legal_aid_applications", legal_aid_applications: @legal_aid_applications, pagy: @pagy %>
<% elsif @search_term.present? %>
  <h3 class="govuk-heading-m"><%= t(".empty_result") %></h3>
<% end %>
