<%= page_template page_title: t('.page_heading'), template: :basic do %>

  <%= form_with(
        builder: GOVUKDesignSystemFormBuilder::FormBuilder,
        url: providers_legal_aid_application_no_outgoings_summary_path,
        model: @form,
        method: :patch,
        local: true
      ) do |form| %>

    <fieldset class="govuk-fieldset">
      <%= govuk_fieldset_header t('.page_heading') %>

      <p class="gov-body"><%= t('.subheading.text') %></p>
      <%= list_from_translation_path('.no_outgoings_summaries.show.subheading') %>

      <h2 class="govuk-heading-l"><%= t('.is_this_correct') %></h2>

      <%= form.govuk_collection_radio_buttons :no_outgoings_summaries,
                                              yes_no_options,
                                              :value,
                                              :label,
                                              legend: {text: '', size: 'l', tag: 'h2'} %>

      <%= next_action_buttons_with_form(
              url: providers_legal_aid_application_no_outgoings_summary_path,
              show_draft: true
          ) %>

    </fieldset>
  <% end %>
<% end %>
