<%
  transaction_link = link_to_accessible(
    link_text,
    providers_legal_aid_application_outgoing_transactions_path(transaction_type: name),
    class: 'govuk-body transaction-type-link',
    suffix: "for #{t "transaction_types.names.providers.#{name}"}"
  )
  form_group_error_class = error.present? ? 'govuk-form-group--error' : ''
  error_message = error.present? ? error.first : ''
%>
<li id="<%= "#{name}" %>" class="<%= form_group_error_class %>">
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number"><%= number %>. </span>
    <%= t("transaction_types.names.providers.#{name}") %>
    <% if I18n.exists? "transaction_types.hints.#{name}" %>
      <span class="govuk-hint" style="margin-bottom: 0px">
        <%= t("transaction_types.hints.#{name}") %>
      </span>
    <% end %>
    <% if error_message %>
      <span id='<%= "error-#{name}" %>' class="govuk-error-message"><%= error_message %></span>
    <% end %>
  </h2>
  <%= content_tag(:div, class: 'app-task-list__items', id: "list-item-#{name}") do %>
    <% if bank_transactions.present? %>
      <%= render 'providers/bank_transactions/list_selected', bank_transactions: bank_transactions %>
      <%= transaction_link %>
    <% else %>
      <p class="app-task-list__item">
        <%= transaction_link %>
      </p>
    <% end %>
  <% end %>
</li>
