<%= page_template page_title: t('.page_heading'), show_errors_for: @legal_aid_application  do %>

<%
  errors = @legal_aid_application.errors.messages
%>

  <p class="govuk-body">
    <%= t('.payment_types') %>
  </p>

  <p class="govuk-body">
    <%= t('.you_need_to') %>
  </p>

  <p class="govuk-body">
    <%= list_from_translation_path '.outgoings_summary.index' %>
  </p>

  <ol class="app-task-list">
    <% @legal_aid_application.transaction_types.debits.each_with_index do |transaction_type, index| %>
      <%= render(
            'outgoing_type_item',
            name: transaction_type.name,
            number: index + 1,
            link_text: t(".select.#{transaction_type.name}"),
            bank_transactions: @bank_transactions[transaction_type],
            error: errors[transaction_type.name.to_sym]
          ) %>
    <% end %>

    <% if @legal_aid_application.transaction_types.debits.count < TransactionType.debits.count %>
      <%= render partial: 'add_other_outgoings' %>
    <% end %>
  </ol>

  <% if @legal_aid_application.cash_transactions.debits.exists? %>
    <div class="govuk-!-padding-bottom-4"></div>

    <h2 class="govuk-heading-l"><%= t('.other_heading') %></h2>

    <p class="gov-body"><%= t('.following_payments') %></p>
  <% end %>

  <% if @legal_aid_application.cash_transactions.debits.exists? %>
    <%= render partial: 'shared/cash_transactions' %>
  <% end %>

  <div class="govuk-!-padding-bottom-6"></div>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_outgoings_summary_index_path,
        show_draft: true
      ) %>
<% end %>
