<%= form_with(
      model: @form,
      url: form_path,
      method: :patch,
      local: true,
    ) do |form| %>

  <%= page_template page_title:, template: :basic, form: do %>
    <span class="govuk-caption-l"><%= caption %></span>
    <%= form.govuk_fieldset legend: { tag: "h1", size: "xl", text: page_title } do %>
      <%= form.hidden_field :transaction_type_id %>

      <% t(".inset_paras").each_line do |para| %>
        <p class="govuk-body"><%= para %></p>
      <% end %>


      <%= render "shared/means/cost_of_living_and_disregarded_benefits" %>
      <%= form.govuk_text_field :description,
                                label: { text: t(".benefits_description") },
                                width: "full" %>
      <%= form.govuk_text_field :amount,
                                width: "one-quarter",
                                label: { text: t(".benefits_amount") },
                                prefix_text: "£" %>
      <%= form.govuk_collection_radio_buttons :frequency,
                                              RegularTransaction.frequencies_for(:benefits),
                                              :itself,
                                              ->(option) { t("transaction_types.frequencies.#{option}") },
                                              legend: { tag: "h2", size: "s", text: t(".benefits_frequency") } %>
    <% end %>
    <%= next_action_buttons(show_draft: false, form:) %>
  <% end %>
<% end %>
