<% form_group_error_class = @mandatory_evidence_errors.present? ? "govuk-form-group--error" : "" %>

<%= form_with(
      model: @upload_form,
      url: providers_legal_aid_application_uploaded_evidence_collection_path,
      method: :patch,
      local: true,
    ) do |form| %>

  <% if @uploaded_evidence_collection.errors.any? %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          <%= t("generic.errors.problem_text") %>
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <% @uploaded_evidence_collection.errors.each do |error| %>
              <li>
                <%= govuk_link_to error.type, "##{error.attribute}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: "shared/forms/error_summary_hidden", locals: { field_id: "uploaded-evidence-collection-original-file-field" } %>

  <%= form.govuk_fieldset legend: { text: page_title, tag: "h1", size: "xl" } do %>

    <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-4">
      <%= evidence_message(@required_documents, @legal_aid_application, @evidence_type_translation) %>
    </div>

    <div class="dropzone__upload">
      <div class="govuk-form-group script hidden <%= form_group_error_class %>" id="dropzone-form-group" aria-labelledby="dropzone-label">
        <label class="govuk-label govuk-label--m" id="dropzone-label">
          <%= t(".upload_file") %>
        </label>
        <div class="govuk-hint"><%= t(".size_hint") %></div>
        <% if @mandatory_evidence_errors %>
            <p id="dropzone-mandatory-error" class='govuk-error-message dropzone-error govuk-!-margin-bottom-1'>
              <% @mandatory_evidence_errors.each do |error| %>
                <span class="govuk-visually-hidden">Error:</span>
                <%= error.message %><br>
              <% end %>
            </p>
        <% end %>

        <span class="hidden" aria-hidden="true" id="application-id"><%= @upload_form.model.legal_aid_application_id %></span>
        <span class="hidden" aria-hidden="true" id="dropzone-url" data-url="/v1/uploaded_evidence_collections"></span>
        <p id="dropzone-file-error" class="govuk-error-message dropzone-error hidden">
          <span class="govuk-visually-hidden">Error:</span>
        </p>
        <div class="dropzone" id="dropzone-form">
          <div class="dz-message" data-dz-message>
            <p class="govuk-body govuk-!-padding-top-2 script"><%= t(".dropzone_message") %></p>
            <button id="dz-upload-button" class="govuk-button govuk-button--secondary script" tabindex="0"><%= t(".choose_files_btn") %></button>
          </div>
        </div>
      </div>

      <div class="fallback no-script govuk-!-margin-bottom-4">
        <% if @mandatory_evidence_errors %>
          <% @mandatory_evidence_errors.each do |error| %>
            <p class='govuk-error-message govuk-!-margin-top-1'><%= error.message %></p>
          <% end %>
        <% end %>
        <%= form.govuk_file_field :original_file, label: { text: t("generic.attach_file"), size: "m" },
                                                  hint: { text: t(".size_hint") },
                                                  classes: ["govuk-file-upload #{form_group_error_class}"] %>
        <%= form.govuk_submit(
              t("generic.upload"),
              id: "upload",
              value: "Upload",
              name: "upload_button",
              secondary: true,
            ) %>
      </div>
    </div>

    <% if @successfully_deleted %>
      <span role="alert" class="govuk-visually-hidden"><%= @successfully_deleted %></span>
    <% end %>
    <% if @error_message || @successful_upload %>
      <span role="alert" class="govuk-visually-hidden"><%= @successful_upload %><%= @error_message %></span>
    <% end %>
  <% end %>
<% end %>
