<div id="files-errors-container" role="alert" tabindex="-1"></div>
<% new_head_title = if @successfully_deleted
                      @successfully_deleted
                    elsif @error_message || @successful_upload
                      "#{@successful_upload} #{@error_message}"
                    else
                      t(".h1-heading")
                    end %>

<% if @successfully_deleted %>
  <% notification_banner_title = t("generic.success") %>
  <% notification_banner_text = @successfully_deleted %>
<% end %>

<%= page_template(
      page_title: t(".h1-heading"),
      head_title: new_head_title,
      template: :basic,
      notification_banner_title:,
      notification_banner_success: true,
      notification_banner_text:,
      back_link: { path: providers_legal_aid_application_merits_task_list_path(@legal_aid_application) },
    ) do %>

  <%= render partial: "upload_evidence" %>

  <%= form_with(
        model: @submission_form.presence || false,
        url: providers_legal_aid_application_uploaded_evidence_collection_path,
        method: :patch,
        local: true,
      ) do |form| %>

    <div id="uploaded-files-table-container" data-uploading="<%= t("generic.uploading") %>">
      <%= render partial: "uploaded_files", locals: { attachments: @legal_aid_application.uploaded_evidence_collection.original_attachments } %>
    </div>
    <div aria-live="assertive" class="govuk-visually-hidden" id="file-upload-status-message"></div>
    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
