<% content_for(:panel) do %>
  <%= govuk_panel(title_text: t(".page-heading")) do %>
    <%= t(".sub_title") %><br>
    <strong><%= @legal_aid_application.application_ref %></strong>
  <% end %>
<% end %>

<%= page_template page_title: t(".what_happens_next"), back_link: :none do %>
  <p class="govuk-body">
    <%= t(".warning.application_deadline_date") %><%= @legal_aid_application.substantive_application_deadline_on %>.
  </p>
  <%= govuk_button_link_to(
        t(".back_home"),
        submitted_providers_legal_aid_applications_path,
        id: "continue",
      ) %>
<% end %>
