<% page_title = t(".page_title") %>

<%= page_template page_title:, template: :basic do %>

  <h1 class="govuk-heading-xl"><%= page_title %></h1>
  <% if @relationship_to_child.nil? %>
    <p class="govuk-body"><%= t(".paragraph") %></p>
  <% end %>

  <%= render("shared/check_answers/relationship_to_child") %>

  <%= next_action_buttons_with_form(
        url: providers_merits_task_list_check_who_client_is_path(@proceeding),
        method: :patch,
        show_continue: !@relationship_to_child.nil?,
        show_draft: true,
      ) %>

<% end %>
