<%= form_with(
      model: @form,
      url: providers_legal_aid_application_means_has_dependants_path(@legal_aid_application),
      method: :patch,
      local: true,
    ) do |form| %>

  <% if @legal_aid_application.applicant.has_partner_with_no_contrary_interest?
       individual = "your client or their partner"
       details = "as a dependant"
     else
       individual = "your client"
       details = "if they have one"
     end %>

  <%= page_template page_title: t(".page_title", individual:), form:, template: :basic do %>

    <%= form.govuk_collection_radio_buttons :has_dependants,
                                            yes_no_options,
                                            :value,
                                            :label,
                                            legend: {
                                              text: t(".page_title", individual:),
                                              tag: "h1",
                                              size: "xl",
                                            } do %>
        <p class="govuk-body govuk-!-margin-top-4">
          <%= t(".info") %>
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <% t(".list", individual:).each_line do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>

        <%= govuk_inset_text do %>
          <p class="govuk-body">
            <%= t(".extra_info", details:) %>
          </p>
        <% end %>

    <% end %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
