<%= page_template page_title: t(".heading"), back_link: :none do %>
  <% if @show_sign_in %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="govuk-form-group">
        <%= f.label :username, class: "govuk-label" %>
        <%= f.text_field :username, autofocus: true, class: "govuk-input govuk-input--width-20" %>
      </div>

      <div class="govuk-form-group">
        <%= f.label :password, class: "govuk-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "govuk-input govuk-input--width-20" %>
      </div>

      <div class="actions govuk-button-group">
        <%= f.govuk_submit t(".button") %>
        <%= govuk_link_to(t(".entra_login"), "/auth/admin_entra_id") %>
      </div>
    <% end %>
  <% else %>
    <%= govuk_link_to(t(".entra_login"), "/auth/admin_entra_id") %>
  <% end %>
<% end %>
