<%= form_with(
      model: @form,
      url: providers_legal_aid_application_has_dependants_path(@legal_aid_application),
      method: :patch,
      local: true
  ) do |form| %>

  <%= page_template page_title: t('.page_title'), form: form, template: :basic do %>

    <%= form.govuk_collection_radio_buttons :has_dependants,
                                            yes_no_options,
                                            :value,
                                            :label,
                                            legend: {
                                                text: t('.page_title'),
                                                tag: 'h1',
                                                size: 'xl'
                                            } do %>
        <p class="govuk-body govuk-!-margin-top-4">
          <%= t('.info') %>
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <% t('.list').each_line do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>

        <div class="govuk-inset-text">
          <p class="govuk-body">
            <%= t('.extra_info') %>
          </p>
        </div>

    <% end %>

    <%= next_action_buttons(
            show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
            form: form
        ) %>
  <% end %>
<% end %>
