<%= page_template(
      page_title: t(".heading_1"),
      show_errors_for: @legal_aid_application,
      back_link: {},
    ) %>

<% error_message = @legal_aid_application.errors[:"organisation-search-input"]&.to_sentence %>
<% form_group_error_class = error_message.present? ? "govuk-form-group--error" : "" %>
<% input_error_class = error_message.present? ? "govuk-input--error" : "" %>

<div id="search-field" class="govuk-form-group govuk-!-margin-top-0 govuk-!-margin-bottom-0 <%= form_group_error_class %>">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    <label class="govuk-heading-m govuk-!-margin-bottom-0" for="organisation-search-input">
      <%= t ".heading_2" %>
      <div class="govuk-hint govuk-!-margin-top-0 govuk-!-width-two-thirds">
        <%= t(".search_help_example") %>
        <span class="govuk-visually-hidden">Enter search term, results will automatically return</span>
      </div>
    </label>
  </h2>

  <div class="govuk-grid-row search-field govuk-!-margin-top-0">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
      <%= govuk_error_message(error_message) %>
      <input class="govuk-input <%= input_error_class %>" id="organisation-search-input" name="organisation-search-input" type="text" autocomplete="off">
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-top-2 clear-search">
      <p><%= govuk_link_to t(".clear_search"), "#", class: "govuk-!-font-size-19", id: "clear-organisation-search" %></p>
    </div>
  </div>
</div>

<input id="legal-framework-api-host"
       class="hidden"
       data-uri="<%= Rails.configuration.x.legal_framework_api_host_for_js %>"
       value="">

<%= form_with(
      url: providers_legal_aid_application_opponent_existing_organisations_path,
      local: true,
    ) do |form| %>
  <div class="govuk-grid-row govuk-!-margin-top-0">
    <div id="organisation-list" class="govuk-grid-column-two-thirds govuk-list govuk-!-margin-bottom-0">
        <%= form.govuk_radio_buttons_fieldset :id, legend: { text: nil, hidden: true } do %>
          <% @organisations.each do |organisation| %>
            <div id="<%= organisation.ccms_opponent_id %>" class="govuk-grid-row organisation-item">
              <%= form.govuk_radio_button(
                    :id,
                    organisation.ccms_opponent_id,
                    label: { text: organisation.name },
                    hint: { text: organisation.ccms_type_text },
                  ) %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="govuk-grid-row no-organisation-items display-none govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-body"><%= t ".no_results" %></span>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= next_action_buttons(form:, show_draft: true) %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <p><%= govuk_link_to(t(".cannot_find_organisation"), new_providers_legal_aid_application_opponent_new_organisation_path(@legal_aid_application), class: "govuk-!-font-size-19", id: "new-organisation-entry") %></p>
  </div>
</div>

<div id="screen-reader-messages" class="govuk-visually-hidden" aria-live="polite" aria-atomic="true" role="alert"></div>
