<div class="interruption-panel">
  <%= page_template(page_title: t('.title'), column_width: 'full', template: :basic) do %>
    <%= page_heading(size: 'l') %>
    <div class="maximize-text-width">
      <p class="govuk-body"><%= t '.sub_heading' %></p>
      <%= list_from_translation_path '.use_ccms.show.online_banking_consent' %>
    </div>

    <div>
      <%= link_to t('.continue_in_ccms'), 'https://portal.legalservices.gov.uk', class: 'govuk-button white-button', role: 'button' %>
    </div>
    <%= link_to t('.back_to_applications'), providers_legal_aid_applications_path, class: 'govuk-body black_text_on_focus' %>
  <% end %>
</div>
