<% if @successfully_saved
     new_head_title = t(".success_message")
     notification_banner_title = t("generic.success")
     notification_banner_success = true
     notification_banner_text = t(".success_message")
     notification_banner_body = t(".go_back_html", link: back_path)
   else
     new_head_title = t(".page_title")
   end %>

<%= form_with(model: @form,
              url: providers_cooky_path,
              method: :patch,
              local: true) do |form| %>

  <%= page_template page_title: t(".page_title"),
                    head_title: new_head_title,
                    notification_banner_title:,
                    notification_banner_success:,
                    notification_banner_text:,
                    notification_banner_body:,
                    template: :basic,
                    form: do %>

    <h1 class="govuk-heading-l"><%= t(".page_title") %></h1>

    <p class="govuk-body"><%= t(".cookies_are_files") %></p>
    <p class="govuk-body"><%= t(".we_use_cookies") %></p>

    <%= form.govuk_radio_buttons_fieldset :cookies_enabled,
                                          legend: { size: "m", tag: "h2", text: t(".heading_2") } do %>

      <p class="govuk-body"><%= t(".we_use_ga") %></p>
      <p class="govuk-body"><%= t(".we_do_not_allow") %></p>
      <p class="govuk-body"><%= t(".google_analytics") %></p>

      <ul class="govuk-list govuk-list--bullet">
        <% t(".list").each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>

      <%= form.govuk_radio_button :cookies_enabled, true, link_errors: true, label: { text: t(".use_this_cookie") } %>
      <%= form.govuk_radio_button :cookies_enabled, false, label: { text: t(".do_not_use") } %>
    <% end %>

    <h2 class="govuk-heading-m"><%= t(".heading_3") %></h2>
    <p class="govuk-body"><%= t(".these_essential_cookies") %></p>
    <p class="govuk-body"><%= t(".they_always_need") %></p>

    <p class="govuk-body"><%= govuk_link_to(t(".find_out_more_link"), "https://www.gov.uk/help/cookie-details") %></p>

    <%= form.govuk_submit(t(".save_changes_btn")) %>
  <% end %>
<% end %>
