<% new_head_title = if @success
                      t('.success_message')
                    else
                      t('.page_title')
                    end %>
<%= form_with(model: @form,
              url: providers_cooky_path,
              method: :patch,
              local: true) do |form| %>

  <%= page_template page_title: t('.page_title'), head_title: new_head_title, template: :basic, form: form do %>

    <% if @success %>
      <div class="moj-banner">
        <div class="moj-banner__message">
          <h2 class="govuk-heading-m"><%= t('.success_message') %></h2>
        </div>
      </div>
<!--    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">-->
<!--      <div class="govuk-notification-banner__header">-->
<!--        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">-->
<!--          Success-->
<!--        </h2>-->
<!--      </div>-->
<!--      <div class="govuk-notification-banner__content">-->
<!--        <h3 class="govuk-notification-banner__heading">-->
<!--          Training outcome recorded and trainee withdrawn-->
<!--        </h3>-->
<!--        <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there's a problem.</p>-->
<!--      </div>-->
<!--    </div>-->
    <% end %>

    <h1 class="govuk-heading-l"><%= t('.page_title') %></h1>

    <p class="govuk-body"><%= t('.cookies_are_files') %></p>
    <p class="govuk-body"><%= t('.we_use_cookies') %></p>

    <h2 class="govuk-heading-m"><%= t('.heading_2') %></h2>
    <p class="govuk-body"><%= t('.we_use_ga') %></p>
    <p class="govuk-body"><%= t('.we_do_not_allow') %></p>
    <p class="govuk-body"><%= t('.google_analytics') %></p>

    <%= list_from_translation_path('.cookies.show') %>

    <div class="govuk-!-padding-2"></div>

    <%= form.govuk_radio_buttons_fieldset :cookies_enabled,
                                          legend: { size: 'm', tag: 'h2', text: t('.heading_2'), hidden: true } do %>
      <%= form.govuk_radio_button :cookies_enabled, true, link_errors: true, label: {text: t('.use_this_cookie')} %>
      <%= form.govuk_radio_button :cookies_enabled, false, label: {text: t('.do_not_use')} %>
    <% end %>

    <div class="govuk-!-padding-2"></div>

    <h2 class="govuk-heading-m"><%= t('.heading_3') %></h2>
    <p class="govuk-body"><%= t('.these_essential_cookies') %></p>
    <p class="govuk-body"><%= t('.they_always_need') %></p>

    <%= link_to_accessible(t('.find_out_more_link'), 'https://www.gov.uk/help/cookie-details', class: 'govuk-link govuk-body') %>

    <div class="govuk-!-padding-2"></div>

    <%= form.submit(t('.save_changes_btn'), class: 'govuk-button form-button') %>

  <% end %>
<% end %>
