<%= page_template(
      page_title: t('forms.address_selection.heading'),
      template: :basic
    ) do %>

  <%= form_with(
        model: @form,
        scope: :address_selection,
        url: providers_legal_aid_application_address_selection_path(@legal_aid_application),
        method: :patch,
        local: true
      ) do |form| %>

    <%= form.govuk_fieldset legend: {text: page_title, tag: 'h1', size: 'xl'} do %>

      <p class="govuk-label">
        <%= t('generic.address.postcode') %>
      </p>
      <p class='govuk-body govuk-!-font-weight-bold' role='alert'>
        <%= @form.postcode.insert(-4, " ") %>
        <%= link_to_accessible(
              t('generic.change'),
              providers_legal_aid_application_address_lookup_path(@legal_aid_application),
              class: 'govuk-body change-link change-postcode-link',
              suffix: 'postcode'
            ) %>
      </p>
      <%= form.hidden_field :postcode %>

      <% @addresses.each_with_index do |address, index| %>
        <%= hidden_field_tag 'address_selection[list][]', address.to_json, id: "address_selection_list_#{index}" %>
      <% end %>

      <div class="govuk-!-padding-bottom-2"></div>

      <%# group_error_class = @form.errors[:lookup_id].any? ? 'govuk-form-group--error' : '' %>
<!--      <div class="govuk-form-group <%#= group_error_class %>">-->
        <%# if @form.errors[:lookup_id].any? %>
          <%#= content_tag(:span, @form.errors[:lookup_id].first, class: 'govuk-error-message') do %>
            <%#= content_tag(:span, I18n.translate('helpers.accessibility.error'), class: 'govuk-visually-hidden') + @form.errors[:lookup_id].first %>
          <%# end %>
        <%# end %>
        <%= form.govuk_collection_select :lookup_id,
                                         @address_collection,
                                         :id,
                                         :address,
                                         label: {text: t('.select_address_label')} %>
<!--      </div>-->

      <p><%= link_to_accessible t('.link_text'), providers_legal_aid_application_address_path(@legal_aid_application), class: 'govuk-link' %></p>

    <% end %>
    <%= next_action_buttons continue_id: 'select-address-button', show_draft: true, form: form %>
  <% end %>
<% end %>
