<%= page_template page_title: t('.heading'), template: :basic do %>

  <%= form_with(
        builder: GOVUKDesignSystemFormBuilder::FormBuilder,
        model: @form,
        url: providers_legal_aid_application_substantive_application_path,
        method: :patch,
        local: true
      ) do |form| %>

      <%= form.govuk_radio_buttons_fieldset(
          :substantive_application,
          legend: { size: 'xl', text: t('.heading') },
          hint: { text: t('.information_on_next_actions')}
      ) do %>

        <%= form.govuk_radio_button(:substantive_application, true, label: {text: t('generic.yes')} ) %>

        <%= form.govuk_radio_button(:substantive_application, false, label: {text:  t('.no_start_later')} ) do %>
          <p class="govuk-body">
            <%= t('.must_submit_by', deadline: @form.substantive_application_deadline_on) %>
          </p>
        <% end %>

      <% end %>

    <div class="govuk-!-padding-bottom-4"></div>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
