<div class="modal modal-dialog" id="<%= application.application_ref %>-modal" tabindex="0">
  <div class="modal-content" aria-modal="true" aria-hidden="true" role="dialog" aria-label="Confirm delete application">
    <span class="close close-modal" aria-label="Close modal">&times;</span>
    <h1 class="govuk-heading-l modal-dialog" id="modal-title-<%= index %>"><%= t(".page_title") %></h1>
    <div class="govuk-panel__body">
      <ul class="govuk-list govuk-!-margin-bottom-4">
        <li>
          <strong><%= t(".applicant") %>: </strong>
          <%= application.applicant_full_name %>
        </li>
        <li>
          <strong><%= t(".reference") %>: </strong>
          <%= application.application_ref %>
        </li>
      </ul>
    </div>

    <%= govuk_warning_text(text: t(".warning")) %>

    <span class="hidden" aria-hidden="true" id="<%= application.application_ref %>-id"><%= application.id %></span>
    <button class="govuk-button govuk-button--warning confirm-delete-btn modal-dialog"><%= t(".yes_button") %></button>
    <button class="govuk-button govuk-!-margin-left-3 close-modal modal-dialog"><%= t(".no_button") %></button>
  </div>
</div>
