<dialog class="app-modal" id="modal-<%= application.id %>">
  <div class="modal-content">
    <h1 class="govuk-heading-l"><%= t(".page_title") %></h1>

    <%= govuk_summary_list(actions: false, classes: "govuk-!-display-inline govuk-summary-list--no-border") do |summary_list|
          summary_list.with_row do |row|
            row.with_key { t(".applicant") }
            row.with_value { application.applicant_full_name }
          end
          summary_list.with_row do |row|
            row.with_key { t(".reference") }
            row.with_value { application.application_ref }
          end
        end %>

    <%= govuk_warning_text(text: t(".warning")) %>
  </div>

  <div class='govuk-button-group'>
    <button class="govuk-button govuk-button--warning" data-modal-delete-close-target="modal-<%= application.id %>"><%= t(".yes_button") %></button>
    <button class="govuk-button app-modal-close" data-modal-close-target="modal-<%= application.id %>"><%= t(".no_button") %></button>
  </div>

</dialog>
