<% success_class = local_assigns[:success] ? "govuk-notification-banner--success" : ""
   header = local_assigns[:success] ? t("generic.success") : t("generic.important")
   link_to = false unless local_assigns.key?(:link_to) %>
<div class="govuk-notification-banner <%= success_class %>" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      <%= header %>
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      <%= heading_text %>
    </h3>
    <% if link_to %>
      <p class="govuk-body"><a class="govuk-notification-banner__link" href="<%= link_to %>"><%= link_text %></a></p>
    <% end %>
  </div>
</div>
