<%
 conditional_id = "#{question.attribute}_conditional"
 has_error = form.errors[question.attribute].any? || form.errors[question.attribute_details].any?
%>
<div class="govuk-form-group <%= has_error ? 'govuk-form-group--error' : '' %>">
  <div id="<%= question.attribute %>" class="govuk-radios govuk-radios--conditional" data-module="radios">
      <%= form.govuk_collection_radio_buttons(
            question.attribute,
            [true, false],
            inline: true,
            title: { size: :m, text: question.title },
            input_attributes: question.show_details_when ? { question.show_details_when.to_s => { 'data-aria-controls' => conditional_id } } : nil
          ) %>

    <% always_showing = question.show_details_when.nil? %>
    <%= content_tag(:div, id: conditional_id, class: always_showing ? nil : 'govuk-radios__conditional--hidden') do %>
      <% if question.attribute == :bail_conditions_set %>
        <%= form.govuk_text_area(
              question.attribute_details,
              id: question.attribute_details,
              rows: 5,
              label: bail_conditions_titles['yes'],
              'data-bail-conditions-yes' => bail_conditions_titles['yes'],
              'data-bail-conditions-no' => bail_conditions_titles['no']
            ) %>
      <% else %>
        <%= form.govuk_text_area question.attribute_details, id: question.attribute_details, rows: 5 %>
      <% end %>
    <% end %>
  </div>
</div>
