<%= page_template page_title: t('.h1-heading'), template: :basic do %>
  <%= form_with(
        model: @form,
        url: providers_legal_aid_application_client_received_legal_help_path,
        method: :patch,
        local: true
      ) do |form| %>

    <%= govuk_form_group(
          input: :client_received_legal_help,
          show_error_if: @form.errors.any?
        ) do %>

      <%= govuk_fieldset_header(content_for(:page_title)) %>

      <%= govuk_error_message(form.object.errors[:client_received_legal_help].first) %>

      <div class="govuk-radios govuk-radios--conditional" data-module="radios">
        <%= form.govuk_radio_button(:client_received_legal_help, true) %>
        <%= form.govuk_radio_button(:client_received_legal_help, false,
                                    'data-aria-controls' => 'conditional-false',
                                    checked: @form.client_received_legal_help.to_s == 'false') %>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-false">
          <%= form.govuk_text_area :application_purpose, rows: 5 %>
        </div>
      </div>

    <% end %>

    <%= next_action_buttons(show_draft: true, form: form) %>
  <% end %>
<% end %>
