<%= page_template page_title: t('.heading'), template: :basic do %>
    <%= form_with(
          model: @form,
          url: providers_legal_aid_application_open_banking_consents_path(@legal_aid_application),
          method: :patch,
          local: true
      ) do |form| %>

    <%= govuk_form_group(input: :provider_received_citizen_consent, show_error_if: @form.errors.present?) do %>
      <%= govuk_fieldset_header page_title %>

      <div class="govuk-!-padding-bottom-4"></div>

      <p class="govuk-body">
        <%= t('.info') %>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <% t('.list').each_line do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>

      <%= form.govuk_radio_button(
              :provider_received_citizen_consent,
              true,
              label: t('generic.yes')
          ) %>

      <%= form.govuk_radio_button(
              :provider_received_citizen_consent,
              false,
              label: t('generic.no')
          ) %>

    <% end %>

    <%= next_action_buttons(
            show_draft: true,
            form: form
        ) %>
  <% end %>
<% end %>
