<%= form_with(
      model: @form,
      url: providers_legal_aid_application_open_banking_consents_path(@legal_aid_application),
      method: :patch,
      local: true
    ) do |form| %>

    <%= page_template page_title: t('.heading'), form: form, template: :basic do %>

    <%= form.govuk_radio_buttons_fieldset :provider_received_citizen_consent,
                                          legend: {size: 'xl', tag: 'h1', text: page_title} do %>

      <p class="govuk-body govuk-!-padding-top-4">
        <%= t('.info') %>
      </p>

      <%= list_from_translation_path('.open_banking_consents.show') %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('.details_summary') %>
          </span>
        </summary>
        <div class="govuk-details__text">
          <% t('.details_content').each_line do |item| %>
            <p><%= item %></p>
          <% end %>

          <%= list_from_translation_path('.open_banking_consents.show.details') %>
        </div>
      </details>

      <%= form.govuk_radio_button(
              :provider_received_citizen_consent,
              true,
              link_errors: true,
              label: {text: t('.radio_yes')}
          ) %>

      <%= form.govuk_radio_button(
              :provider_received_citizen_consent,
              false,
              label: {text: t('.radio_no')}
          ) %>

      <div class="govuk-!-padding-bottom-5"></div>

      <%= next_action_buttons(
              show_draft: true,
              form: form
          ) %>
    <% end %>
  <% end %>
<% end %>
