<%= form_with(
      model: @form,
      url: providers_legal_aid_application_open_banking_consents_path(@legal_aid_application),
      method: :patch,
      local: true,
    ) do |form| %>

    <%= page_template page_title: t(".heading"), form:, template: :basic do %>

      <%= form.govuk_radio_buttons_fieldset(:provider_received_citizen_consent,
                                            caption: { text: t("generic.client_means_caption"), size: "l" },
                                            classes: "govuk-!-margin-bottom-5",
                                            legend: { size: "xl", tag: "h1", text: t(".heading") }) do %>

        <p><%= t(".info") %></p>

        <%= form.govuk_radio_button(:provider_received_citizen_consent, true, link_errors: true, label: { text: t("generic.yes") }) %>
        <%= form.govuk_radio_button(:provider_received_citizen_consent, false, label: { text: t("generic.no") }) %>
      <% end %>
    <% end %>

  <%= next_action_buttons(show_draft: true, form:) %>
<% end %>
