<%= page_template(page_title: t(".title")) do %>

  <p class="govuk-body">
    <%= t(".activity") %>
  </p>

  <h2 class="govuk-heading-m">
    <%= t(".section_2.heading") %>
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body"><%= @applicant.email %></p>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
      <%= govuk_link_to(
            t("generic.change"),
            providers_legal_aid_application_email_address_path(anchor: :email),
            class: "govuk-!-font-size-19",
          ) %>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_about_the_financial_assessment_path,
        method: :patch,
        show_draft: true,
        continue_button_text: t(".send_client_link"),
      ) %>
<% end %>
