<% content_for(:navigation) { provider_back_link } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"><%= t '.title' %></h1>

    <p class="govuk-body"><%= t '.para_1' %></p>

    <p class="govuk-body"><%= t '.para_2' %></p>

    <h2 class="govuk-heading-m"><%= t '.list.title' %></h2>

    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li><%= t '.list.item_1' %></li>
        <li><%= t '.list.item_2' %></li>
        <li><%= t '.list.item_3' %></li>
        <li><%= t '.list.item_4' %></li>
      </ul>
    </p>

    <h2 class="govuk-heading-m">
      <%= t '.section_1.heading' %>
    </h2>

    <p>
      <%= t '.section_1.text' %>
    </p>

    <%= button_to t('generic.submit'), submit_providers_legal_aid_application_about_the_financial_assessment_path, class: 'govuk-button' %>

  </div>
</div>
