<%= form_with(model: @form,
              url: providers_legal_aid_application_means_capital_disregards_mandatory_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>
  <% individual = @legal_aid_application.applicant.has_partner_with_no_contrary_interest? ? "partner" : "client" %>
  <%= page_template page_title: t(".h1-heading"), template: :basic, form: do %>
    <h1 class="govuk-heading-xl"><%= page_title %></h1>
    <p class="govuk-body govuk-!-margin-bottom-6"><%= t(".paragraph.#{individual}") %></p>

    <%= form.govuk_check_boxes_fieldset :mandatory_capital_disregards,
                                        legend: { text: t(".h2-heading.#{individual}"), size: "l", tag: "h1" },
                                        hint: { text: t(".hint-text_html") },
                                        form_group: { class: @form.errors[:mandatory_capital_disregards].any? ? "govuk-form-group--error" : "" } do %>
      <div class="deselect-group" data-deselect-ctrl="#providers-means-capital-disregards-mandatory-form-none-selected-true-field">
        <% Providers::Means::CapitalDisregards::MandatoryForm::DISREGARD_TYPES.each_with_index do |disregard_type, idx| %>
          <%= form.govuk_check_box :mandatory_capital_disregards,
                                   disregard_type.to_s,
                                   link_errors: idx.zero?,
                                   label: { text: t(".#{disregard_type}") },
                                   hint: { text: t(".#{disregard_type}_hint", default: "") } %>
        <% end %>
      </div>

      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box :mandatory_capital_disregards,
                               :none_of_these,
                               exclusive: true,
                               label: { text: t(".none_of_these") } %>

    <% end %>

    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
