<%= form_with(
      url: providers_legal_aid_application_has_other_opponent_path,
      model: @form,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template page_title: t(".page_title", count: pluralize(@legal_aid_application.opponents.count, "opponent").to_s),
                    template: :basic,
                    form: do %>
    <% if @legal_aid_application.opponents.count > 0 %>
      <h1 class="govuk-heading-xl">
        <%= t(".existing", count: pluralize(@legal_aid_application.opponents.count, "opponent").to_s) %>
      </h1>

      <%= govuk_table do |table|
            table.with_caption(html_attributes: { class: "govuk-visually-hidden" }, text: t(".table_caption"))

            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(text: t("providers.application_merits_task.has_other_opponents.show.name"))
                row.with_cell(text: t("providers.application_merits_task.has_other_opponents.show.type"))
                row.with_cell(colspan: 2, scope: "colgroup") do
                  tag.span("Change or remove opponent", class: "govuk-visually-hidden")
                end
              end
            end

            table.with_body do |body|
              @legal_aid_application.opponents.order(:created_at).each do |opponent|
                body.with_row do |row|
                  row.with_cell(text: opponent.full_name)
                  row.with_cell(text: opponent_type_description(opponent))
                  row.with_cell do
                    unless opponent.exists_in_ccms?
                      govuk_link_to(
                        t("generic.change"),
                        opponent_url(@legal_aid_application, opponent),
                        class: "change-link",
                        "aria-label": opponent.full_name,
                      )
                    end
                  end
                  row.with_cell do
                    govuk_link_to(
                      t("generic.remove"),
                      providers_legal_aid_application_has_other_opponent_path(@legal_aid_application, opponent_id: opponent.id),
                      method: :delete,
                      class: "change-link",
                      "aria-label": opponent.full_name,
                    )
                  end
                end
              end
            end
          end %>

    <% end %>
    <%= form.govuk_collection_radio_buttons :has_other_opponents,
                                            yes_no_options,
                                            :value,
                                            :label,
                                            legend: { text: t("providers.application_merits_task.has_other_opponents.show.add_another"), size: "l", tag: "h2" } %>

  <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
