<%= form_with(
      model: @form,
      url: providers_legal_aid_application_emergency_default_path,
      method: :patch,
      local: true,
    ) do |form| %>
  <%= page_template template: :basic, form: do %>
    <span class="govuk-caption-xl"><%= position_in_array(@proceeding) %></span>
    <h1 class="govuk-heading-xl"><%= @proceeding.meaning %></h1>

    <h2 class="govuk-heading-m"><%= t(".h2_header") %></h2>

    <p><strong><%= t(".los_header") %></strong> <%= form.object.emergency_level_of_service_name %></p>
    <p><strong><%= t(".scope_header") %></strong> <%= form.object.delegated_functions_scope_limitation_meaning %></p>
    <p><strong><%= t(".scope_description_header") %></strong> <%= form.object.delegated_functions_scope_limitation_description %></p>

    <div class="govuk-!-padding-2"></div>

    <%= form.govuk_radio_buttons_fieldset :accepted_emergency_defaults,
                                          inline: false,
                                          legend: { size: "m", tag: "h2", text: t(".question") } do %>

      <%= form.hidden_field :emergency_level_of_service %>
      <%= form.hidden_field :emergency_level_of_service_name %>
      <%= form.hidden_field :emergency_level_of_service_stage %>
      <%= form.hidden_field :delegated_functions_scope_limitation_meaning %>
      <%= form.hidden_field :delegated_functions_scope_limitation_description %>
      <%= form.hidden_field :delegated_functions_scope_limitation_code %>

      <% emergency_scope_limitation = form.object.model.scope_limitations.find_by(scope_type: :emergency) %>

      <%= form.govuk_radio_button :accepted_emergency_defaults, true, label: { text: t("generic.yes") }, link_errors: true do %>
        <% if form.object.additional_params.find { |ap| ap["name"] == "hearing_date" }.present? %>
          <%= render(
                partial: "shared/scope_limitations/hearing_date",
                locals: {
                  form:,
                  field_name: :hearing_date,
                  field_value: emergency_scope_limitation&.hearing_date&.to_s(:date_picker),
                },
              ) %>
        <% elsif form.object.additional_params.find { |ap| ap["name"] == "limitation_note" }.present? %>
          <%= render(
                partial: "shared/scope_limitations/limitation_note",
                locals: {
                  form:,
                  field_name: :limitation_note,
                  field_value: emergency_scope_limitation&.limitation_note,
                  scope: form.object.default_scope,
                },
              ) %>
        <% end %>
      <% end %>
      <%= form.govuk_radio_button :accepted_emergency_defaults, false, label: { text: t("generic.no") } %>
    <% end %>
    <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
