<%= form_with(model: @form,
              url: providers_merits_task_list_does_client_have_parental_responsibility_path(@proceeding),
              method: :patch,
              local: true) do |form| %>
  <%= page_template page_title: t(".page_title"), template: :basic, form: do %>
    <% options = [
         [:court_order, t(".choice_one")],
         [:parental_responsibility_agreement, t(".choice_two")],
         ["", t(".choice_three")],
       ] %>
    <%= form.govuk_collection_radio_buttons :relationship_to_child,
                                            options,
                                            :first,
                                            :second,
                                            legend: { text: page_title, tag: "h1", size: "xl" },
                                            caption: { text: @proceeding.meaning, size: "xl" } do %>
                                              <p class="govuk-body"><%= t(".paragraph") %></p>
                                            <% end %>
    <%= next_action_buttons show_draft: true, form: %>
  <% end %>
<% end %>
