<li id="<%= proceeding_type.code %>" class="govuk-grid-row proceeding-item govuk-!-margin-bottom-0" tabindex="0">
  <div class="govuk-grid-column-two-thirds text-column" aria-hidden="true">
    <h3 class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-4"><%= proceeding_type.meaning %></h3>
    <span class="govuk-caption-m">
      <%= proceeding_type.ccms_category_law %> &gt; <%= proceeding_type.ccms_matter %>
    </span>
  </div>

  <div class="govuk-grid-column-one-third control-column">
    <%= button_to_accessible(
          t('generic.select_and_continue'),
          providers_legal_aid_application_proceedings_type_path(
            legal_aid_application_id: @legal_aid_application,
            id: proceeding_type
          ),
          method: :patch,
          tabindex: '-1',
          class: 'govuk-button proceeding-link govuk-!-margin-top-4',
          "aria-label"=>"Select #{proceeding_type.meaning.gsub(/[^0-9a-z ]/i, '')} and continue"
        ) %>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full text-column">
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full govuk-!-margin-bottom-0" style="width: 100%;">
    </div>
  </div>
</li>
