<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption"><%= t('.latest_applications') %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><%= t('.applicant_name') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.created_at') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.application_ref') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.status') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.provider_username') %></th>
          <th class="govuk-table__header" scope="col"></th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @applications.each do |application| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell case-full-name"><%= application.applicant_full_name || t('generic.undefined') %></td>
            <td class="govuk-table__cell"><%= l(application.created_at.to_date, format: :long_date) %></td>
            <td class="govuk-table__cell case-reference-number"><%= application.application_ref %></td>
            <td class="govuk-table__cell"><%= application.enum_t(:state) %></td>
            <td class="govuk-table__cell"><%= mail_to application.provider.email, application.provider.username %></td>
            <td class="govuk-table__cell">
              <%= t('.discarded', date: application.discarded_at.strftime('%d-%m-%Y')) if application.discarded? %>
              <%= button_to_accessible(
                t('.delete'),
                admin_legal_aid_application_path(application.id),
                method: :delete,
                class: 'govuk-button govuk-button--warning request-delete-button',
                "data-application-id": application.id,
                "data-original-text": t('.delete'),
                "data-delete-name": "#{t('.applicant_name')}: #{application.applicant_full_name || t('generic.undefined')}",
                "data-delete-ref": "#{t('.application_ref')}: #{application.application_ref}",
                "data-delete-message": t('.warning.delete')
              ) if destroy_enabled? %>
             </td>
            <td class="govuk-table__cell">
              <%= link_to_accessible t('.data_view'), admin_legal_aid_applications_submission_path(application), class: 'govuk-button govuk-!-margin-bottom-0' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if local_assigns[:pagy] %>
      <div class="govuk-body pagination-container">
        <%== pagy_nav(pagy) if pagy.pages > 1 %>
        <span class="page-info"><%== pagy_info(pagy)&.chomp %></span>
      </div>
    <% end %>
  </div>
</div>
