<%= page_template(
      page_title: t('.heading_1'),
      column_width: :full,
      back_link: :none
    ) do %>

  <p><%= link_to t('.edit_settings'), admin_settings_path, class: 'govuk-link' %></p>

    <%= button_to(
          t('generic.create_test_applications'),
          create_test_applications_admin_legal_aid_applications_path,
          method: :post,
          class: 'govuk-button'
        ) if create_test_applications_enabled? %>

  <%= button_to(
        t('.delete_all'),
        destroy_all_admin_legal_aid_applications_path,
        method: :delete,
        class: 'govuk-button destructive'
      ) if @applications.present? && destroy_enabled? %>
<% end %>

<% if @applications.present? %>
  <%= render('legal_aid_applications') %>
<% else %>
  <h2><%= t('.no_applications') %></h2>
<% end %>
