<%= page_template(
      page_title: t(".heading_1"),
      column_width: :full,
      back_link: :none,
    ) do %>
  <%= render partial: "shared/error" if @error %>

  <div id="confirm-delete" class="govuk-error-summary" tabindex="-1" data-module="govuk-error-summary" data-cancel-text="<%= t(".cancel_delete") %>" hidden>
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        <span id="delete-message"></span>
      </h2>
      <div class="govuk-body-m" id="delete-case-details">
        <p id="delete-case-name"></p>
        <p id="delete-case-ref"></p>
      </div>

      <%= govuk_inset_text(text: t(".warning.delete_consequence")) %>

      <%= if destroy_enabled?
            govuk_button_to(
              t(".confirm_delete"),
              nil,
              method: :delete,
              warning: true,
              id: "confirm-delete-button",
              disabled: "true",
            )
          end %>
    </div>
  </div>

  <%= if create_test_applications_enabled?
        govuk_button_to(
          t("generic.create_test_applications"),
          create_test_applications_admin_legal_aid_applications_path,
          method: :post,
        )
      end %>

  <%= if @applications.present? && destroy_enabled?
        govuk_button_to(
          t(".delete_all"),
          destroy_all_admin_legal_aid_applications_path,
          method: :delete,
          warning: true,
          class: "request-delete-button",
          "data-original-text": t(".delete_all"),
          "data-application-id": "destroy_all",
          "data-delete-message": t(".warning.delete_all"),
        )
      end %>
<% end %>

<%= form_with(
      url: admin_application_search_path,
      method: :post,
      local: true,
    ) do |form| %>

    <%= form.govuk_text_field :search,
                              label: { text: t(".search.label") },
                              hint: { text: t(".search.hint") },
                              width: 20,
                              value: params["search"] || "" %>
    <%= form.govuk_submit t("generic.search") %>
<% end %>

<% if @applications.present? %>
  <%= render "legal_aid_applications", pagy: @pagy %>
<% else %>
  <h2 class="govuk-heading-m"><%= t(".no_applications") %></h2>
<% end %>
