<%= page_template(
      page_title: t('.heading_1'),
      column_width: :full,
      back_link: :none
    ) do %>
  <%= render partial: 'shared/error' if @error %>

  <div id="confirm-delete" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-cancel-text="<%= t('.cancel_delete') %>" hidden>
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <span id="delete-message"></span>
    </h2>
    <div class="govuk-body-m" id="delete-case-details">
      <p id="delete-case-name"></p>
      <p id="delete-case-ref"></p>
    </div>
    <div class="govuk-error-summary__body govuk-inset-text">
      <%= t('.warning.delete_consequence') %>
    </div>
    <%= button_to_accessible(
          t('.confirm_delete'),
          nil,
          method: :delete,
          class: 'govuk-button govuk-button--warning govuk-!-margin-bottom-1 govuk-!-margin-top-4',
          id: 'confirm-delete-button',
          disabled: 'true'
        ) if destroy_enabled? %>
  </div>

  <%= button_to_accessible(
        t('generic.create_test_applications'),
        create_test_applications_admin_legal_aid_applications_path,
        method: :post,
        class: 'govuk-button'
      ) if create_test_applications_enabled? %>

  <%= button_to_accessible(
        t('.delete_all'),
        destroy_all_admin_legal_aid_applications_path,
        method: :delete,
        class: 'govuk-button govuk-button--warning request-delete-button',
        "data-original-text": t('.delete_all'),
        "data-application-id": 'destroy_all',
        "data-delete-message": t('.warning.delete_all')
      ) if @applications.present? && destroy_enabled? %>
<% end %>

<%= form_with(
      url: admin_application_search_path,
      method: :post,
      local: true
    ) do |form| %>

    <%= form.govuk_text_field :search,
                              label: {text: t('.search.label')},
                              hint: {text: t('.search.hint')},
                              width: 20,
                              value: params['search'] || '' %>
    <%= form.govuk_submit t('generic.search') %>
<% end %>

<% if @applications.present? %>
  <%= render 'legal_aid_applications', pagy: @pagy %>
<% else %>
  <h2 class="govuk-heading-m"><%= t('.no_applications') %></h2>
<% end %>
