<%= page_template(page_title: t(".page_title"), template: :basic, column_width: "full") do %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl"><%= t(".page_title") %></h2>

        <p class="govuk-body">
         <%= t(".para1") %>
        </p>

        <p class="govuk-body">
          <%= t(".para2") %>
        </p>

        <p class="govuk-body">
          <% unless @legal_aid_application.applicant_full_name.blank? %>
            <%= t(".name") %>
            <strong>
              <%= @legal_aid_application.applicant_full_name %>
            </strong>
            <br>
          <% end %>

          <%= t(".reference_number") %>
          <strong>
            <%= @legal_aid_application.application_ref %>
          </strong>
        </p>

        <%= @task_list.render %>

        <p class="govuk-body">
          <%= govuk_button_link_to t("generic.back_to_your_applications"), submitted_providers_legal_aid_applications_path, secondary: true, role: "button" %>
        </p>
      </div>
    </div>
<% end %>
