<div id="flash" aria-live="assertive" aria-atomic="true">
  <% if flash[:error] %>
    <div class="govuk-error-summary">
      <h2 class="govuk-error-summary__title"><%= flash[:error] %></h2>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <%= govuk_notification_banner(title_text: t("generic.important")) do |nb|
          nb.with_heading(text: flash[:notice])
        end %>
  <% end %>

  <% if flash[:hash] && flash[:hash].symbolize_keys! %>
    <% if flash[:hash][:text] && flash[:hash][:heading_text] %>
      <%= govuk_notification_banner(title_text: flash[:hash][:title_text],
                                    success: flash[:hash][:success]) do |nb| %>
        <% nb.with_heading(text: flash[:hash][:heading_text],
                           link_text: flash[:hash][:link_text],
                           link_href: flash[:hash][:link_href]) %>
        <p><%= flash[:hash][:text] %></p>
      <% end %>
    <% elsif flash[:hash][:heading_text] %>
      <%= govuk_notification_banner(title_text: flash[:hash][:title_text],
                                    success: flash[:hash][:success]) do |nb|
            nb.with_heading(text: flash[:hash][:heading_text],
                            link_text: flash[:hash][:link_text],
                            link_href: flash[:hash][:link_href])
          end %>
    <% else %>
      <%= govuk_notification_banner(title_text: flash[:hash][:title_text],
                                    success: flash[:hash][:success],
                                    text: flash[:hash][:text]) %>
    <% end %>
    <% flash.clear %>
  <% end %>

  <% if flash[:moj_success] %>
    <div role="region" class="moj-alert moj-alert--success" data-module="moj-alert">
      <div>
        <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
          <path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
        </svg>
      </div>
      <div class="moj-alert__content">
        <%= flash[:moj_success] %>
      </div>
      <div class="moj-alert__action">
        <button class="moj-alert__dismiss" hidden>Dismiss</button>
      </div>
    </div>
    <% flash.clear %>
  <% end %>
</div>
