<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
  <head>
    <%= render partial: "layouts/google_tag_manager" if cookies_enabled? %>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title><%= html_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= capybara_lockstep if defined?(Capybara::Lockstep) %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c">

    <%= favicon_link_tag image_path("images/favicon.ico"), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag image_path("images/favicon.svg"), type: "image/svg+xml", sizes: "any" %>
    <%= favicon_link_tag image_path("images/govuk-icon-mask.svg"), rel: "mask-icon", color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag image_path("images/govuk-icon-180.png"), rel: "apple-touch-icon", type: nil %>

    <meta property="og:image" content="<%= image_path("govuk-opengraph-image.png") %>">
  </head>

  <body class="govuk-template__body ">
    <%= render partial: "layouts/google_tag_manager_no_script" if google_tag_present? %>
    <script nonce="<%= request.content_security_policy_nonce %>">
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <%= render partial: "layouts/header" %>

    <%= govuk_service_navigation(service_name: "Apply for civil legal aid", service_url: home_path, current_path: request.fullpath) do |sn|
          if @scope.in?(%i[in_progress submitted voided delete search])
            sn.with_navigation_item(text: t(".service_navigation.your_applications"), href: home_path, active_when: submitted_providers_legal_aid_applications_path)
            sn.with_navigation_item(text: t(".service_navigation.search"), href: search_providers_legal_aid_applications_path)
          elsif @scope.eql?(:admin)
            sn.with_navigation_item(text: t(".service_navigation.applications"), href: admin_root_path, active_when: admin_root_path)
            sn.with_navigation_item(text: t(".service_navigation.edit_settings"), href: admin_settings_path)
            sn.with_navigation_item(text: t(".service_navigation.ccms_queue"), href: admin_ccms_queues_path)
            sn.with_navigation_item(text: t(".service_navigation.submitted_applications_report"), href: admin_submitted_applications_report_path, active_when: admin_submitted_applications_report_path)
            sn.with_navigation_item(text: t(".service_navigation.feedback"), href: admin_feedback_path, active_when: admin_feedback_path)
            sn.with_navigation_item(text: t(".service_navigation.reports"), href: admin_reports_path)
            sn.with_navigation_item(text: t(".service_navigation.user_admin"), href: admin_user_dashboard_path)
            sn.with_navigation_item(text: t(".service_navigation.site_banner"), href: admin_site_banners_path)
          end
        end %>

    <div class="govuk-width-container">

      <% feedback_text = if Setting.out_of_hours?
                           t(".header.out_of_hours_phase_banner_html")
                         else
                           t(".header.phase_banner_html", link: govuk_link_to(t(".header.feedback"), new_feedback_path, new_tab: true))
                         end %>
      <%= govuk_phase_banner(
            tag: phase_banner_tag,
            text: feedback_text,
            classes: "no-print",
            html_attributes: { role: "complementary" },
          ) %>

      <div class="govuk-grid-row" role="navigation">
        <div class="govuk-grid-column-one-half show-empty">
          <%= content_for(:navigation) %>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="language-switcher">
            <%= content_for(:language_switcher) if Setting.allow_welsh_translation? %>
          </p>
        </div>
      </div>

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div id="print-logo">
          <%= image_tag("laa_logo.svg", alt: "LAA logo", width: "276px", height: "40px") %>
        </div>

        <%= yield %>
      </main>

    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
