<%= form_with(model: @form,
              url: providers_legal_aid_application_means_capital_disregards_discretionary_path(@legal_aid_application),
              method: :patch,
              local: true) do |form| %>
  <% individual = @legal_aid_application.applicant.has_partner_with_no_contrary_interest? ? "partner" : "client" %>
  <%= page_template page_title: t(".h1-heading"), template: :basic, form: do %>
    <h1 class="govuk-heading-xl"><%= page_title %></h1>
    <p><%= t(".details.#{individual}") %></p>
    <%= form.govuk_check_boxes_fieldset :discretionary_capital_disregards,
                                        legend: { text: t(".h2-heading.#{individual}"), size: "l", tag: "h2" },
                                        form_group: { class: @form.errors.any? ? "govuk-form-group--error" : "" } do %>
      <div class="govuk-hint"><%= t(".hint") %></div>
      <div class="govuk-hint"><%= t("generic.select_all_that_apply") %></div>
      <div class="deselect-group" data-deselect-ctrl="#providers-means-capital-disregards-discretionary-form-none-selected-true-field">
        <% Providers::Means::CapitalDisregards::DiscretionaryForm::DISREGARD_TYPES.each_with_index do |disregard_type, index| %>
          <%= form.govuk_check_box(
                :discretionary_capital_disregards,
                disregard_type.to_s,
                link_errors: index.zero?,
                label: { text: t("providers.means.capital_disregards.discretionary.#{disregard_type}") },
                hint: { text: t("providers.means.capital_disregards.discretionary.#{disregard_type}_hint", default: "") },
              ) %>
        <% end %>
      </div>

      <%= form.govuk_radio_divider %>
      <%= form.govuk_check_box :none_selected, true, "", multiple: false, label: { text: t(".none_of_these") } %>
    <% end %>

  <%= next_action_buttons(show_draft: true, form:) %>
  <% end %>
<% end %>
